<script setup>
import { computed, ref } from 'vue';

import useWizard from 'src/wizard/useWizard.js';

import { statementDateString } from 'src/pages/Disclosure/common/statementDateString.js';
import employmentColumns from './employmentColumns.js';

import ConfirmationDialog from 'src/components/ConfirmationDialog.vue';
import EditableSetTable from 'src/components/wizardInputs/EditableSetTable/EditableSetTable.vue';
import EmploymentIncomeForm from './EmploymentIncomeForm.vue';
import FormOpts from 'src/components/wizardInputs/FormOpts.vue';
import InputRadioYesNo, { YES, NO } from 'src/components/InputRadioYesNo.vue';

defineOptions({
  name: 'employment-income',
});

const modalOpen = ref(false);

const wizard = useWizard();

const hasEmploymentIncomeKey = 'hasEmploymentIncome';
const employmentIncomeTemplateKey = 'employmentIncomeArray';

const hasIncomeFieldUtils = wizard.field(hasEmploymentIncomeKey);
const employmentIncomeFieldSetUtils = wizard.fieldSet(
  employmentIncomeTemplateKey,
);

const rows = computed(() => employmentIncomeFieldSetUtils.getAllData().value);

function handleAddNewIncome() {
  return employmentIncomeFieldSetUtils.add();
}

function updateHasEmploymentIncome(value) {
  const userHasStartedIncomeEntry =
    employmentIncomeFieldSetUtils.getAllData().value?.length > 0;

  if (value === NO) {
    if (userHasStartedIncomeEntry) {
      modalOpen.value = true;
      return;
    }
    hasIncomeFieldUtils.set(NO);
  } else {
    handleAddNewIncome();

    hasIncomeFieldUtils.set(YES);
  }
}

/** Deletes row and returns true on success */
function handleDeleteRow(rowIndex) {
  employmentIncomeFieldSetUtils.remove(rowIndex);

  if (employmentIncomeFieldSetUtils.getAllData().value?.length < 1) {
    hasIncomeFieldUtils.set(NO);
  }

  return true;
}

function userConfirmedModalClear() {
  employmentIncomeFieldSetUtils.removeAll();
  hasIncomeFieldUtils.set(NO);
  modalOpen.value = false;
}

function handleSave() {
  wizard.save();
}
</script>

<template>
  <p>
    Report any compensation you received from either an employer or a self-owned
    business. Some examples of compensation typically include:
  </p>

  <ul>
    <li>Wages</li>
    <li>Commissions (e.g. sales commissions)</li>
    <li>Stock options</li>
  </ul>

  <p>
    These forms of compensation may be from partnership, joint venture, sole
    proprietorship, associations, unions, or other business or commercial
    entities.
  </p>

  <p>
    Did the filer, spouse, registered domestic partner or dependent earn
    employment income of $2,400 or more between
    {{ statementDateString() }}?
  </p>

  <FormOpts :focus-first="true">
    <InputRadioYesNo
      v-bind="hasIncomeFieldUtils.binds.value"
      @update:modelValue="updateHasEmploymentIncome"
    />
    <template v-if="hasIncomeFieldUtils.value() === YES && rows?.length">
      <EditableSetTable
        label="income"
        :columns="employmentColumns"
        :rows="rows"
        :add-fn="handleAddNewIncome"
        :delete-fn="handleDeleteRow"
        @save="handleSave"
      >
        <template #form="{ currentlyEditingIdx }">
          <EmploymentIncomeForm
            :key="currentlyEditingIdx"
            contact-form-label="Work Contact"
            :data-index="currentlyEditingIdx"
            :template-key="employmentIncomeTemplateKey"
          />
        </template>
      </EditableSetTable>
    </template>
  </FormOpts>

  <ConfirmationDialog
    v-model:open="modalOpen"
    title="Clear all entries?"
    primary-btn-label="Yes, clear all"
    negative-btn-label="Cancel"
    @primary-clicked="userConfirmedModalClear"
    @negative-clicked="modalOpen = false"
  >
    Are you sure you want to clear all entries? This action cannot be undone.
  </ConfirmationDialog>
</template>
