@import "quasar.variables.scss";
// app global css in SCSS form

ul {
  line-height: 1.8;
}

/* Quasar default overrides */

.q-tooltip {
  font-size: 1em; // Adjust size as needed
}

.q-menu-opened .q-page-container {
  // Additional 8px on default padding of 300px
  @media screen and (min-width: 1024px) {
    padding-left: 308px !important;
  }
}

.q-field__control-container {
  margin-left: 12px;
  margin-right: 12px;
}

.q-field__label {
  color: var(--q-dark);
}

.q-field__messages {
  white-space: break-spaces;
}

/* Accessible (high viz) Focus */

button:focus,
a:focus,
.q-item:focus {
  outline: 4px solid var(--q-primary) !important;
  outline-offset: -4px;
}

button:focus::before,
a:focus::before,
.q-item:focus::before {
  position: absolute;
  outline: 2px solid white;
  pointer-events: none;
}

.q-page-container:focus,
.q-layout:focus,
.q-dialog__backdrop:focus,
.q-dialog__inner:focus {
  outline: none !important;
}

.q-field .q-field__input:focus,
.q-field .q-field__input.q-field:focus-within {
  outline: none !important;
}

a:focus,
.q-field__native:focus,
.q-btn:focus {
  outline-offset: 2px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none !important;
}

.q-field:focus-within > .q-field__inner {
  outline: 4px solid var(--q-primary) !important;
  outline-offset: -4px;
}

.q-field__inner:focus-within .q-field__append {
  padding-right: 8px;
  outline: none !important;
  border: none !important;
}

.q-field__inner .q-field__append {
  transition: padding 0.3s;
}

// Column spacing
#wizard {
  .col-6,
  .col-sm-3,
  .col-sm-6,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    margin-right: 0;
    padding-right: 8px;
  }
}

/* Added Color bg classes */

.bg-light-positive {
  background-color: $light-positive;
}

.bg-light-negative {
  background-color: $light-negative;
}

.bg-dark-green {
  background-color: $dark-green;
}

/* Custom (not from Quasar) Utility classes */

/* Size, spacing, and alignment */

.w-full {
  width: 100%;
}

.clip {
  overflow: clip;
}

.no-wrap {
  white-space: nowrap;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.space-between {
  align-content: space-between;
}

.self-center {
  align-self: center;
}

/* Borders */

.border-primary {
  border: 1px solid $primary;
}

.border-black {
  border: 1px solid black;
}

.border-white {
  border: 1px solid white;
}

/* Text */

.text-sm {
  font-size: 0.875rem;
}

.text-base {
  font-size: 1rem;
}

.text-lg {
  font-size: 1.25rem;
}

.text-xl {
  font-size: 1.5rem;
}

.text-2xl {
  font-size: 2rem;
}
