<script setup>
import { ref, watch } from 'vue';
import useSubmissions from 'src/composables/api/useSubmissions.js';
import PInfoDialog from 'src/library/PInfoDialog.vue';

defineOptions({
  name: 'delete-draft-modal',
});

const props = defineProps({
  isOpen: {
    type: Boolean,
    required: true,
  },
  filer: {
    type: Object,
    required: true,
  },
  drafts: {
    type: Array,
    required: true,
  },
});

const emit = defineEmits(['close']);

const { deleteDraft } = useSubmissions();

const draftToDelete = ref(null);

async function deleteDraftAndClose() {
  try {
    await deleteDraft(draftToDelete.value);

    window.location.reload();
  } catch (error) {
    console.error(error);
  }
}

function close() {
  emit('close');
}

function setDraftToDelete() {
  const { person_id: personId } = props.filer;
  const { submission_id: draftId } =
    props.drafts.find((draft) => +draft.submission.person_id === +personId)
      ?.submission ?? {};

  draftToDelete.value = draftId;
}

watch(
  () => props.isOpen,
  (isOpen) => isOpen && setDraftToDelete(),
);
</script>

<template>
  <p-info-dialog
    title="Are you sure you want to delete your draft disclosure?"
    :is_open="isOpen"
    :hide_trigger="true"
    @close="close"
  >
    <template #default>
      <p>
        The draft financial affairs disclosure for {{ filer.name }} will be
        permanently deleted.
      </p>
    </template>
    <template #actions>
      <p-accessible-button primary label="No, keep my draft!" @click="close" />
      <p-accessible-button
        label="Yes, delete my draft."
        @click="deleteDraftAndClose"
      />
    </template>
  </p-info-dialog>
</template>
