<script setup>
defineOptions({
  name: 'help-modal',
});

defineProps({
  isOpen: {
    type: Boolean,
    required: true,
  },
});

const emit = defineEmits(['close']);

function close() {
  emit('close');
}
</script>

<template>
  <p-info-dialog :is_open="isOpen" :hide_trigger="true" @close="close">
    <p>
      If you filed a financial affairs disclosure statement in 2020 or later,
      you will be able to import data from your previous year's filing.
    </p>
    <p>
      If you filed with us before January 1, 2020, consider printing out a copy
      of your most recent F-1 to assist in filing.
    </p>
  </p-info-dialog>
</template>
