<script setup>
import { computed, ref } from 'vue';
import { ROUTE_NAMES } from 'src/router/routeNames';
import AccessibleIcon from 'components/AccessibleIcon.vue';
import DeleteDraftModal from 'src/pages/Home/DeleteDraftModal.vue';
import HelpModal from 'src/pages/Home/HelpModal.vue';
import PAccessibleButton from 'src/library/PAccessibleButton.vue';
import useFiler from 'src/composables/api/useFiler.js';
import useSubmissions from 'src/composables/api/useSubmissions.js';
import useTitle from 'src/composables/useTitle.js';

defineOptions({
  name: 'index-page',
});

const { drafts: computedDrafts } = useSubmissions();
const { setPageTitle } = useTitle();
const { selectedFiler } = useFiler();

setPageTitle('Home');

const draftExists = computed(() => computedDrafts.value?.length > 0);

const helpModalIsOpen = ref(false);
const deleteDraftModalIsOpen = ref(false);

const icons = [
  { name: 'domain', label: 'Business icon' },
  { name: 'home', label: 'Home icon' },
  { name: 'attach_money', label: 'Money icon' },
];

const submissionId = computed(
  () => computedDrafts.value?.[0]?.submission.submission_id,
);
/*
  TODO:
    - If multiple drafts exist, allow user to select one, for continue or delete, using a modal
    - If no drafts exist, show a button to start a new disclosure
    - If 1 draft exists, show a button to continue the draft  (or delete it)
*/
</script>

<template>
  <div
    class="flex column items-center"
    style="min-width: none; max-width: 800px; margin: 0 auto"
  >
    <head1>Financial Affairs Disclosure</head1>

    <section class="row">
      <accessible-icon
        v-for="(icon, index) in icons"
        :key="index"
        :name="icon.name"
        color="primary"
        size="lg"
      />
    </section>

    <q-card class="row q-mt-md q-pa-lg w-full">
      <q-card-section class="q-pa-none text-center w-full">
        <h2 class="q-pt-none q-mt-none">
          {{ draftExists ? "Continue your" : "Start a new" }} Financial Affairs
          Disclosure
        </h2>

        <p>
          Learn more about
          <a href="#" @click="helpModalIsOpen = true">
            importing data from the previous year
            <q-icon name="help" color="secondary" size="xs" />
            <q-tooltip>Click for more information</q-tooltip>
          </a>
        </p>

        <div class="row justify-center">
          <p-accessible-button
            primary
            :to="
              draftExists
                ? {
                  name: ROUTE_NAMES.DISCLOSURE_FORM,
                  params: {
                    submissionId,
                  },
                }
                : { name: ROUTE_NAMES.DISCLOSURE_DETERMINATION_FORM }
            "
            :label="draftExists ? 'Continue' : 'Start'"
            :button-tooltip="`${
              draftExists ? 'Continue a' : 'Start a new'
            } disclosure form`"
          />
          <p-accessible-button
            v-if="draftExists"
            rounded
            flat
            text-color="primary"
            class="q-ml-md"
            label="Delete draft"
            button-tooltip="Delete your existing disclosure form draft"
            @click="deleteDraftModalIsOpen = true"
          />
        </div>
      </q-card-section>
    </q-card>

    <section class="q-mt-sm text-left" style="width: 100%">
      <router-link :to="{ name: ROUTE_NAMES.MY_SUBMISSIONS }">
        View previous Financial Affairs Disclosures
      </router-link>
    </section>

    <help-modal :is-open="helpModalIsOpen" @close="helpModalIsOpen = false" />
    <delete-draft-modal
      :filer="selectedFiler"
      :drafts="computedDrafts"
      :is-open="deleteDraftModalIsOpen"
      @close="deleteDraftModalIsOpen = false"
    />
  </div>
</template>
