<script setup>
defineOptions({
  name: 'import-information',
});
</script>

<template>
  <p>
    In the future, you will be able to import data from your previous year's
    filing. This system does not allow importing this year because the filing
    requirements have changed significantly. If you filed with us before January
    1, 2020, consider printing out a copy of your most recent F-1 to assist in
    filing.
  </p>
</template>
