<script setup>
// import { computed } from 'vue';
// import wizardStepProps from 'src/wizard/wizardStepProps.js';
// import RadioYesNo from 'components/wizardInputs/RadioYesNo.vue';

defineOptions({
  name: 'debt',
});

// const props = defineProps({
//   ...wizardStepProps,
// });
</script>

<template>
  <p>
    Disclose relationships that you and your qualified family members had with
    businesses, organizations, associations, unions, governmental bodies and
    other entities. You will be asked to identify the entity and describe the
    nature of the relationship when the filer or a qualified family member:
  </p>

  <ul>
    <li>Owned a 10% or greater financial interest.</li>
    <li>
      Served as an officer, director, general partner or trustee (don’t include
      your elected or appointed office for which you are completing the
      Financial Affairs Disclosure).
    </li>
  </ul>
  <p>All relationships require disclosure of:</p>

  <ul>
    <li>
      Payments the entity received in the preceding 12 months from the
      government unit where the filer seeks or holds office.
    </li>
    <li>
      Name of all business clients or customers who paid the entity $12,000 or
      more in the preceding 12 months.
    </li>
  </ul>
  <p>
    Additionally when you or a qualified family member own 10% or more of a
    business, you are required to disclose the business's Washington real estate
    holdings valued at over $24,000.
  </p>

  <p>
    Next we will guide you through disclosing each interest or affiliation...
  </p>
</template>
