<script setup>
import { computed, ref } from 'vue';

import useWizard from 'src/wizard/useWizard.js';

import { statementDateString } from 'src/pages/Disclosure/common/statementDateString.js';
import columns from './investmentAccountsColumns.js';

import ConfirmationDialog from 'src/components/ConfirmationDialog.vue';
import EditableSetTable from 'src/components/wizardInputs/EditableSetTable/EditableSetTable.vue';
import FormOpts from 'src/components/wizardInputs/FormOpts.vue';
import InputRadioYesNo, { YES, NO } from 'src/components/InputRadioYesNo.vue';
import InvestmentAccountsForm from './InvestmentAccountsForm.vue';

defineOptions({
  name: 'investment-accounts',
});

const modalOpen = ref(false);

const wizard = useWizard();

const hasKey = 'hasInvestmentAccounts';
const templateKey = 'investmentAccountArray';

const hasFieldUtils = wizard.field(hasKey);
const fieldSetUtils = wizard.fieldSet(templateKey);

const rows = computed(() => fieldSetUtils.getAllData().value);

function handleAddNew() {
  return fieldSetUtils.add();
}

function updateHas(value) {
  const userHasStartedEntry = fieldSetUtils.getAllData().value?.length > 0;

  if (value === NO) {
    if (userHasStartedEntry) {
      modalOpen.value = true;
      return;
    }
    hasFieldUtils.set(NO);
  } else {
    handleAddNew();

    hasFieldUtils.set(YES);
  }
}

/** Deletes row and returns true on success */
function handleDeleteRow(rowIndex) {
  fieldSetUtils.remove(rowIndex);

  if (fieldSetUtils.getAllData().value?.length < 1) {
    hasFieldUtils.set(NO);
  }

  return true;
}

function userConfirmedModalClear() {
  fieldSetUtils.removeAll();
  hasFieldUtils.set(NO);
  modalOpen.value = false;
}

function handleSave() {
  wizard.save();
}
</script>

<template>
  <p>
    Show the name of each bank, investment firm in which you or a qualified
    family member held an investment account worth more than $2,400.
  </p>

  <p>
    <strong>
      Note: This section only covers investment accounts managed by a broker or
      fiduciary.
    </strong>
    In a broker-directed or fiduciary-managed investment account, the investor
    does not make decisions about which stocks, bonds or securities are invested
    in. If the filer or qualified family member recommends or decides which
    stocks, bonds or securities are invested in, these should be reported as
    self-directed investments in the next section.
  </p>

  <p>Common investment account types include:</p>

  <ul>
    <li>Pensions (e.g. PERS, LEOFF, etc.)</li>
    <li>Employer retirement system account</li>
    <li>Individual Retirement Account (IRA)</li>
    <li>401k</li>
    <li>Mutual funds</li>
    <li>College savings (529) plans</li>
    <li>
      For each investment firm you will be asked to indicate the nature and
      value of all accounts more than $2,400.
    </li>
  </ul>

  <p>
    Did the filer, spouse, registered domestic partner or dependent have an
    investment account between {{ statementDateString() }}?
  </p>

  <FormOpts :focus-first="true">
    <InputRadioYesNo
      :model-value="hasFieldUtils.value()"
      :rules="hasFieldUtils.self.rules"
      @update:modelValue="updateHas"
    />

    <template v-if="hasFieldUtils.value() === YES && rows?.length">
      <EditableSetTable
        label="institution"
        :columns="columns"
        :rows="rows"
        :add-fn="handleAddNew"
        :delete-fn="handleDeleteRow"
        @save="handleSave"
      >
        <template #form="{ currentlyEditingIdx }">
          <InvestmentAccountsForm
            :key="currentlyEditingIdx"
            :template-key="templateKey"
            :data-index="currentlyEditingIdx"
          />
        </template>
      </EditableSetTable>
    </template>
  </FormOpts>

  <ConfirmationDialog
    v-model:open="modalOpen"
    title="Clear all entries?"
    primary-btn-label="Yes, clear all"
    negative-btn-label="Cancel"
    @primary-clicked="userConfirmedModalClear"
    @negative-clicked="modalOpen = false"
  >
    Are you sure you want to clear all entries? This action cannot be undone.
  </ConfirmationDialog>
</template>
