<template>
  <div>
    <v-text-field
      v-model="source.address"
      :label="label"
      :rules="validations.required"
    >
    </v-text-field>
    <v-text-field
      v-model="source.city"
      label="City"
      style="max-width: 50em;"
      :rules="validations.required"
    >
    </v-text-field>
    <v-text-field
      style="max-width: 3em;"
      v-model="source.state"
      label="State"
      :rules="validations.stateRules"
    >
    </v-text-field>
    <v-text-field
      style="max-width: 11em;"
      v-model="source.postcode"
      label="Zip code"
      :rules="validations.postcodeRules"
    >
    </v-text-field>
  </div>
</template>

<script>
  export default {
    name: "Address",
    props: {
      value: Object,
      required: Boolean,
      label: {
        type: String,
        default: "Address",
      },
    },
    data() {
      return {
        source: {
          address: "",
          city: "",
          state: "",
          postcode: ""
        },
        validations: {
          required: [
            v => !!v || !this.required || 'Required',
            v => !v || v.length <= 255 || 'Too long',
          ],
          stateRules: [
            v => !!v || !this.required || 'Required',
            v => !v || /^[A-Za-z]{2}$/.test(v) || 'Invalid',
            v => !v || v.length <= 255 || 'Too long'
          ],
          postcodeRules: [
            v => !!v || !this.required || 'Required',
            v => !v || v.length <= 255 || 'Too long'
          ],
        },
      }
    },
    watch: {
      value(newValue) {
        if (newValue) {
          this.source=newValue;
        }
        else {
          this.source={};
        }
      }
    },
    created() {
      if (this.value) {
        this.source = this.value;
      }
    },
  }
</script>

<style scoped>

</style>