<template>
  <v-layout row wrap>
    <v-flex  v-for="item in filteredItems" :key="`tile_${item.title}`">
      <v-card hover @click.stop="clickItem(item)" style="width: 100%">
        <v-card-title><h3>{{item.title}}</h3><v-spacer></v-spacer><v-icon :to="item.link">{{item.icon}}</v-icon></v-card-title>
        <v-card-text>
          <p>{{item.description}}</p>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
  import {mapState} from 'vuex';
  export default {
    name: "CardNavigation",
    props: ['items'],
    mounted() {
    },
    computed: {
      ...mapState(['user']),
      filteredItems() {
        if (this.items) {
          return this.items.filter((r) => {
            return this.hasAccess(r);
          });
        }
        else {
          return [];
        }
      }
    },
    methods: {
      clickItem(item) {
        if(item.href) {
          window.location = item.href;
        }
        else if(item.link) {
          this.$router.push(item.link);
        }
      },
      hasAccess(menuItem) {
        let access = null;
        if (menuItem.hasOwnProperty('access')) {
          let right = menuItem.access;
          if (this.user && this.user.rights) {

            access = this.user.rights.hasOwnProperty(right) && this.user.rights[right];
          } else {
            access = false;
          }
        } else {
          access = true;
        }
        return access;
      },
    }
  }
</script>

<style scoped>
  .layout .flex {
    margin: 0.5em;
  }

</style>