<template>
  <div class="datePickerDiv">
    <v-menu
      v-model="menu"
      :close-on-content-click="false"
      :nudge-right="40"
      transition="scale-transition"
      offset-y
      min-width="290px"
    >
      <template v-slot:activator="{ on }">
        <v-text-field
          v-model="dateString"
          :rules="dateRules"
          :required="required"
          :clearable="clearable"
          :disabled="disabled"
          :label="label"
          lazy-validation
          prepend-icon="event"
          v-on="on"
          @change="dateSelected"
        ></v-text-field>
      </template>
      <v-date-picker v-model="date" :max="maxDate" :min="minDate" @input="dateSelected"></v-date-picker>
    </v-menu>
  </div>
</template>

<script>
  import moment from 'moment'
  export default {
    name: "DatePicker",
    props: {
      value: String,
      label: {
        type: String,
        value:'Select Date'
      } ,
      required: {
        type: Boolean,
        value: false
      },
      disabled: {
        type: Boolean,
        value: false
      },
      clearable: {
        type: Boolean,
        value: false
      },
      minDate: String,
      minDateModifier: {
        type: Object,
        value: {}
      },
      minDateErrorPrefix: String,
      maxDate: String,
      maxDateModifier: {
        type: Object,
        value: {}
      },
      maxDateErrorPrefix: String,
    },
    data() {
      return {
        valid: true,
        menu: false,
        dateString: null,
        dateRules: [
          d => (d===null||d.length===0)||new RegExp("^(0?[1-9]|1[012])[/-](0?[1-9]|[12][0-9]|3[01])[/-](\\d{4})$").test(d) ||
            'Please enter valid date (MM/DD/YYYY)',
          d => (!!d || !this.required) || this.label + ' required. (e.g. MM/DD/YYYY)',
          d => !this.minDateString || (d===null||d.length===0) || this.getFormattedDate(d) >= this.minDateString || this.minDatePrefix + this.getFormattedDateString(this.minDateString),
          d => !this.maxDateString || (d===null||d.length===0) || this.getFormattedDate(d) <= this.maxDateString || this.maxDatePrefix + this.getFormattedDateString(this.maxDateString),
        ]
      }
    },
    computed: {
      //keep from getting a billion errors in console when we enter invalid dates...
      date: {
        get() {
          let f = this.dateRules[0];
          if (this.dateString &&  f(this.dateString)===true) {
            return this.getFormattedDate(this.dateString);
          }
          else if (!this.dateString){
            return null;
          }
          return this.value;
        },
        set(value) {
          if (value) {
            this.dateString = this.getFormattedDateString(value);
          }
          else {
            this.dateString = null;
          }
        }
      },
      maxDateString() {
        if (this.maxDateModifier) {
          let date = new moment(this.maxDate).add(new moment.duration(this.maxDateModifier));
          return date.format('YYYY-MM-DD');
        }
        if (this.maxDate) {
          return this.maxDate;
        }
        return null;
      },
      maxDatePrefix() {
        return this.maxDateErrorPrefix || 'Latest date allowed: ';
      },
      minDatePrefix() {
        return this.minDateErrorPrefix || 'Earliest date allowed: ';
      },
      minDateString() {
        if (this.minDateModifier) {
          let date = new moment(this.minDate).add(new moment.duration(this.minDateModifier));
          return date.format('YYYY-MM-DD');
        }
        if (this.minDate) {
          return this.minDate;
        }
        return null;
      },
    },
    mounted() {
      this.dateString = this.value;
      this.setUp();
    },
    methods: {
      getFormattedDateString(date) {
        if (date) {
          let m = moment(date);
          return m.format('MM/DD/YYYY')
        }
        return null;
      },
      getFormattedDate(dateString) {
        if (dateString) {
          let m = moment(dateString, 'MM/DD/YYYY');
          return m.format('YYYY-MM-DD');
        }
        return null;
      },
      setUp() {
        this.dateString = this.getFormattedDateString(this.value);
        this.setLabel();
      },
      setLabel() {
        let width = 10;
        let len = this.label.length;
        width = Math.max(10, (3 * len)/4 + 1);
        width+='em';
        let dpClass = document.getElementsByClassName('datePickerDiv');
        let i = 0;
        for (i = 0; i< dpClass.length; i++){
          dpClass[i].style.maxWidth=width;
        }
      },
      dateSelected() {
        this.menu=false;
        this.$emit('input', this.date);
      },
    },
    watch: {
      value: function() {
        this.setUp();
      }
    }
  }
</script>

<style lang="scss" scoped>
  .datePickerDiv{
    max-width: 20em;
  }
</style>