<template>
  <div>
    <v-text-field
      v-model="email"
      @input="onInput()"
      type="email"
      :label="label"
      :rules="validations.emailRules"
    >
    </v-text-field>
  </div>
</template>

<script>
  export default {
    name: "EmailAddress",
    props: {
      value: String,
      required: Boolean,
      label: {
        type: String,
        default: 'Email',
      }
    },
    data() {
      return {
        email: "",
        validations: {
          emailRules: [
            v => !!v || !this.required || 'Required',
            v => !v || /.+@.+\..+/.test(v) || 'Emails must be in the form of myemail@example.com'
          ],
        }
      }
    },
    created() {
      this.email = this.value;
    },
    methods: {
      onInput() {
        this.$emit('input', this.email);
      }
    }
  }
</script>

<style scoped>

</style>