<template>
  <div>
    <v-autocomplete :items="filteredOffices" :rules="validation.required" item-text="offtitle" item-value="offcode"
                    v-model="item.office_code" @change="onOfficeChange()" label="Office" :disabled="disabled" />
    <v-autocomplete :disabled="!item.office_code || disabled"
                    :items="jurisdictions" item-text="name" item-value="jurisdiction_id"
                    v-model="item.jurisdiction_id" @change="onJurisdictionChange()" label="Jurisdiction" />
    <v-autocomplete v-show="item.multiPosition" :disabled="disabled && hasPositionData"
                    :items="positions" item-text="title" item-value="position_id"
                    v-model="item.position_id" @change="onPositionChange()" label="Position" />
  </div>
</template>

<script>
  import {mapState} from 'vuex';
  import {app} from "../main";

  export default
  {
    name: "OfficeSelect",
    props: {
      item: Object,
      disabled: {
        type: Boolean,
        default: false
      },
      electiveOfficesOnly: {
        type: Boolean,
        default: false
      },
    },
    data() {
      return {
        jurisdictions: [],
        offices:[],
        positions: [],
        hasPositionData: false
      }
    },
    computed: {
      ...mapState(['validation']),
      filteredOffices() {
        if (this.electiveOfficesOnly) {
          return this.offices.filter(o => ![14, 15, 16].includes(o.jurisdiction_category))
        }
        return this.offices;
      }
    },
    created() {
      app.$container.dataService.query('offices', data => {
        this.offices = data;
      });
      if (this.item.office_code) {
        this.jurisdictionLoad();
      }
      this.hasPositionData = !!this.item.position_id
    },
    methods: {
      onOfficeChange() {
        this.item.jurisdiction_id = "";
        this.item.jurisdiction = "";
        this.item.position_id = "";
        this.item.position = "";
        let selOffice = this.offices.find(o => o.offcode === this.item.office_code);
        this.item.office = selOffice.offtitle;
        this.jurisdictionLoad();
      },
      onJurisdictionChange() {
        this.item.position_id = "";
        this.item.position = "";
        let selelctedJurisdiction = this.jurisdictions.find(j => j.jurisdiction_id === this.item.jurisdiction_id );
        this.item.jurisdiction = selelctedJurisdiction.name;
        this.positionLoad();
      },
      onPositionChange() {
        let selPosition = this.positions.find(o => o.position_id === this.item.position_id);
        this.item.position = selPosition.title;
      },
      jurisdictionLoad() {
        app.$container.dataService.query('jurisdictions', data => {
          if (data.length === 1) {
            this.item.jurisdiction_id = data[0].jurisdiction_id;
          }
          this.jurisdictions = data;
        }, {office_code: this.item.office_code});
        this.positionLoad();
      },
      positionLoad() {
        app.$container.dataService.query('positions', data => {
          this.item.multiPosition = data.length > 1;
          if (data.length === 1) {
            this.item.position_id = data.position_id;
          }
          this.positions = data;
          if (data.length > 1) {
            this.positions.unshift({ title: 'TBD', position_id: null});
          }
        }, {jurisdiction_id: this.item.jurisdiction_id, office_code: this.item.office_code});
      },
    }
  }
</script>

<style scoped>

</style>