<template>
  <div class="PasteDialog">
    <v-btn rounded tabindex="-1" @click="openEntry()">{{buttonText}}</v-btn>
    <v-dialog v-model="bulkEntryDialog" width="50%">
      <v-card>
        <v-card-title>{{bulkEntryTitle}}</v-card-title>
        <v-card-text>
          <slot name="default"></slot>
          <v-textarea v-model="textList"
                      :label="label"
                      :message="message"
                      outlined
                      :placeholder="placeholder"
                      no-resize
          ></v-textarea>
          <v-checkbox v-model="overwriteText" label="Overwrite your existing payments."></v-checkbox>
        </v-card-text>
        <v-card-actions>
          <v-btn color="primary" @click="onOkay()">Add</v-btn>
          <v-btn @click="onClose()">Close</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
  import {mapActions} from 'vuex';
  export default {
    name: "BulkEntryTextArea",
    props: {
      value: Array,
      buttonText: {
        type: String,
        default: "Paste From Spreadsheet"
      },
      bulkEntryTitle: String,
      placeholder: {
        type: String,
      },
      label: {
        type: String,
        default: 'Paste data copied from spreadsheet',
      },
      message: {
        type: String,
      },
      propertiesList: {
        type: Array,
        default: () => ["agency", "purpose"]
      },
      nextAfterImport: {
        type: Boolean,
        default: false
      }
    },
    data() {
      return {
        bulkEntryDialog: false,
        textList: "",
        payments: [],
        overwriteText: false
      }
    },
    created() {
      if (this.textList) {
        this.textList = "";
      }
      this.payments = this.value;
    },
    methods: {
      ...mapActions(['wizardNext']),
      openEntry() {
        this.bulkEntryDialog = true;
      },
      onClose() {
        this.bulkEntryDialog = false;
        this.textList = "";
        this.overwriteText = false;
      },
      onOkay() {
        if (this.overwriteText) {
          this.payments.splice(0, this.payments.length);
        }
        let rows = [];
        rows = this.textList.split("\n").filter(function (el) {
          return el !== "";
        });
        let paymentProperties = [];
        rows.forEach((item) => {
          paymentProperties = item.split("\t");
          let newPayment = {};
          newPayment[this.propertiesList[0]] = paymentProperties[0];
          newPayment[this.propertiesList[1]] = paymentProperties[1];
          this.payments.push(newPayment);
        });
        this.textList = "";
        this.bulkEntryDialog = false;
        this.overwriteText = false;
        if (this.nextAfterImport) {
          this.wizardNext(false);
        }
      }
    }
  }
</script>

<style scoped>
  .PasteDialog {
    display: inline-block;
  }
</style>