<template>
  <div class="StatementHistory">
    <h2>Financial Statement History</h2>
      <v-toolbar class="d-print-none">
        <form @submit.prevent="doSearch">
          <v-text-field type="search" v-model="search_text" append-icon="search"></v-text-field>
        </form>
        <v-btn color="primary" text :disabled="!person.person_id" @click="addStatement()"><v-icon>add</v-icon>Add Statement</v-btn>
     </v-toolbar>
    <v-card v-if="person.person_id">
      <v-card-title>
        <h3>{{person.name}}</h3>
      </v-card-title>
      <v-card-text>
        <address v-if="person.address">
          {{person.address}}<br/>
          {{person.city}}, {{person.state}} {{person.postcode}}
        </address>
        <address>
          {{person.email}}
          <span v-if="person.phone"><br/>{{person.phone}}</span>
        </address>

        <v-tabs color="primary">
          <v-tab key="statements">Financial Statements</v-tab>
          <v-tab key="logs">Financial Statement Logs</v-tab>
          <v-tab key="submissions" @click="selectedSubmissions=[]">Submission History</v-tab>
          <v-tab-item key="statements">
            <v-data-table
              :items="statements"
              :footer-props="{'items-per-page-options':[25, 50, 100, 200, 500]}"
              :headers="[
            {text: 'Start', value: 'period_start'},
            {text: 'End', value: 'period_end'},
            {text: 'Submitted', value: 'first_filed_at'},
            {text: 'Actions', value: 'actions'},
          ]"
            >
              <template v-slot:item.actions="{item}">
                <v-btn @click="tryDelete(item.statement_id)" icon title="Delete"><v-icon>delete</v-icon></v-btn>
                <v-btn @click="tryEdit(item.statement_id)" icon title="Edit"><v-icon>edit</v-icon></v-btn>
                <v-btn icon @click="showLogsForStatement(item.statement_id)" title="Logs"><v-icon>list</v-icon></v-btn>
                <v-btn v-if="item.submission_id" :to="{ name:'submission-view', params: {submission_id: item.submission_id }}" icon title="View">
                  <v-icon>visibility</v-icon></v-btn>
              </template>
            </v-data-table>
          </v-tab-item>
          <v-tab-item key="logs">
            <StatementLogs ref="logs" :id="person.person_id" id_type="person_id" />
          </v-tab-item>
          <v-tab-item key="submissions">
            <p>* indicates a current submission</p>
            <v-data-table
              :items="submissions"
              v-model = "selectedSubmissions"
              item-key="submission_id"
              show-select
              :footer-props="{'items-per-page-options':[25, 50, 100, 200, 500]}"
              :headers="[
            {text: 'Start', value: 'period_start'},
            {text: 'End', value: 'period_end'},
            {text: 'Submitted', value: 'submitted_at'},
            {text: 'Type', value: 'orig_amend'},
            {text: 'Published', value: 'published'},
            {text: 'Actions', value: 'actions'}
               ]">
              <template v-slot:item.published="{item}">
                <span>{{item.published | yesNo}}</span>
              </template>
              <template v-slot:item.actions="{item}">
                <v-btn :to="{ name:'submission-view', params: {submission_id: item.submission_id }}" icon><v-icon>visibility</v-icon></v-btn>
              </template>
              <template v-slot:item.orig_amend="{item}">
                {{item.orig_amend}}<span v-if="item.is_current"> *</span>
              </template>
            </v-data-table>
            <v-btn @click="showPublishDialog=true">Set published...</v-btn>
            <v-dialog v-model="showPublishDialog">
              <v-card>
                <v-card-title>
                  Publish
                </v-card-title>
                <v-card-text>
                  Set the selected submissions as:
                  <v-radio-group v-model="publish">
                    <v-radio :value="true" label="published"></v-radio>
                    <v-radio :value="false" label="unpublished"> </v-radio>
                  </v-radio-group>
                  <v-text-field
                    v-model="memo"
                    label="Memo"
                  ></v-text-field>
                </v-card-text>
                <v-card-actions>
                  <v-btn @click="setSubmissionPublished">Confirm</v-btn>
                  <v-btn @click="showPublishDialog=false">Cancel</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-tab-item>
        </v-tabs>
      </v-card-text>
    </v-card>

    <!-- Find person -->
    <v-dialog v-model="showSearchResults">
      <v-form @submit.prevent="closeResults">

        <v-card>
          <v-card-title>Search Results</v-card-title>
          <v-card-text>
            <v-data-table
                :items="searchResults"
                :headers="[
                  {text: 'Name', value: 'name'},
                  {text: 'Office', value: 'office'},
                  {text: 'Last Filed', value: 'last_filed'}
                ]"
            >
              <template v-slot:item.name="{item}">
                <router-link @click.native="closeResults()" :to="`/person/${item.person_id}`">{{item.name}}</router-link>
              </template>
            </v-data-table>
          </v-card-text>
          <v-card-actions>
            <v-btn type="submit" @click="closeResults()">Close</v-btn>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-dialog>

    <v-dialog v-model="showLogs">
      <v-card>
        <StatementLogs :id="selectedStatementId" id_type="fa_statement_id" />
        <v-card-actions>
          <v-btn @click="showLogs=false">Close</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <DataEntryWizard ref="dataEntryWizard"/>
    <RemoveStatement ref="removeStatement"/>
  </div>
  
</template>

<script>
  import {app} from "../main";
  import {mapState, mapActions} from 'vuex'
  import Vue from 'vue';
  import DataEntryWizard from "../dataentry/DataEntryWizard";
  import RemoveStatement from "./RemoveStatement";
  import StatementLogs from "../components/StatementLogs";
  export default {
    name: "Person",
    components: {StatementLogs, RemoveStatement, DataEntryWizard},
    data() {
      return {
        wire: new Vue(),
        search_text: "",
        showSearchResults: false,
        searchResults: [],
        person_id: "",
        showLogs: false,
        selectedStatementId: null,
        selectedSubmissions: [],
        showPublishDialog: false,
        memo: "",
        publish: true,
      }
    },
    computed: {
      ...mapState(['person', 'statements', 'submissions']),
    },
    mounted() {
      if (this.$route.params.person_id) {
        this.loadPerson(this.$route.params.person_id);
      }
      app.$container.wire.$on('app.refresh-person-statements', person_id => {
        this.loadPerson(person_id);
      });
    },
    watch: {
      '$route' (to)  {
        if (to.params.hasOwnProperty('person_id')) {
          this.loadPerson(to.params.person_id);
        }
        else {
          this.person_id="";
        }
      },
    },
    methods: {
      ...mapActions(['loadPerson']),
      doSearch() {
        this.showSearchResults = true;
        this.$nextTick(() => {
          app.$container.dataService.adminQuery(
            'person_search',
            data => {
              this.searchResults = data;
            },
            { search: this.search_text }
          );
        })
      },
      tryDelete(statement_id) {
        this.$refs['removeStatement'].remove(statement_id);
      },
      tryEdit(statement_id) {
        this.$refs['dataEntryWizard'].editStatement(statement_id);
      },
      showLogsForStatement(statement_id) {
        this.selectedStatementId = statement_id;
        this.showLogs = true;
      },
      closeResults() {

        this.showSearchResults=false;
        this.search_text="";

      },
      addStatement() {
        this.$refs['dataEntryWizard'].addStatement();
      },
      setSubmissionPublished() {
        let ids = this.selectedSubmissions.map(e => e.submission_id);
        app.$container.dataService.post('service/financial-affairs/submission/many/process/publish',
          () => {
            this.showPublishDialog = false;
            this.selectedSubmissions = [];
            this.loadPerson(this.$route.params.person_id);
            if (this.$refs['logs'] && this.$route.params.person_id) {
              this.$refs['logs'].getStatementLogs('person_id', this.$route.params.person_id);
            }
          }, {ids: ids, publish : this.publish, memo: this.memo}, {}
        );
      }
    }
  }
</script>

<style scoped>

</style>