<template>
  <div class="PersonInformation">
    <v-card>
      <v-card-title>
        <h2>{{ person.name }}</h2>
      </v-card-title>
      <v-card-text>
          <address v-if="person.address">
              {{ person.address }}
              <br />{{ person.city | suffix(",")}} {{ this.person.state }} {{ person.postcode }}
          </address>
        <p> {{ person.email }} </p>
        <p> {{ person.filer_id }}<br/>
        <span v-if="person.voter_id"> Voter ID: {{ person.voter_id }} </span>
        </p>
        <v-tabs color="primary">
          <v-tab key="candidacies">Candidacies</v-tab>
          <v-tab key="offices">Offices Held</v-tab>
          <v-tab key="fa">Financial Statements</v-tab>
          <v-tab-item key="candidacies">
            <v-data-table :items="candidacies"
                          :headers="[
                            {text: 'Election', value: 'election_code'},
                            {text: 'Office', value: 'office' },
                            {text: 'Jurisdiction', value: 'jurisdiction' },
                            {text: 'Filer ID', value: 'filer_id'},
                            {text: 'Committee', value: 'committee' },
                            {text: 'FA Filed', value: 'fa_first_filed' },
                          ]"
                          hide-default-footer
                          disable-pagination
              >
              <template v-slot:item.committee="{item}">
                <a target="_blank" :href="`/campaigns/committee?committee_id=${item.committee_id}`">{{item.committee}}</a>
              </template>

            </v-data-table>
          </v-tab-item>
          <v-tab-item key="offices">
            <v-data-table :items="officials"
                          :headers="[
                            { text: 'Office', value: 'office' },
                            { text: 'Jurisdiction', value: 'jurisdiction' },
                          ]"
                          hide-default-footer
                          disable-pagination
            >
            </v-data-table>

          </v-tab-item>
          <v-tab-item key="fa">
            <v-data-table
              :items="statements"
              :headers="[
                { text: 'Starting', value: 'period_start'},
                { text: 'Ending', value: 'period_end' },
                { text: 'Filer ID', value: 'filer_id' },
                { text: 'Submitted', value: 'first_filed_at' },
              ]"
              hide-default-footer
              disable-pagination
              >

            </v-data-table>
          </v-tab-item>
        </v-tabs>
        <slot name="details"></slot>
      </v-card-text>
      <v-card-actions>
        <slot name="actions"></slot>
      </v-card-actions>
    </v-card>

  </div>
</template>

<script>
  import {app} from "../main";

  export default {
    name: "PersonInformation",
    props: {
      personProp: null,
    },
    data() {
      return {
        person: {},
        candidacies: [],
        officials: [],
        statements: [],
        person_id: '',
      }
    },
    methods: {
      getPersonInfo(person_id, personCallback) {
        this.person_id = person_id;
        app.$container.dataService.coreAdminQuery('person', data => {
            if(data.length > 0) {
              this.person = data[0];
            }
            else {
              this.person = {};
            }
            if (personCallback) {
              personCallback(this.person);
            }
          },
          {person_id: person_id});
        app.$container.dataService.coreAdminQuery('person-candidacies', data => {
            this.candidacies = data;
          },
          {person_id: person_id});
        app.$container.dataService.coreAdminQuery('person-officials', data => {
          this.officials = data;
        },
          {person_id: person_id}
        );
        app.$container.dataService.coreAdminQuery('person-fa-statements', data => {
            this.statements = data;
          },
          {person_id: person_id}
        );

      }
    },
    mounted() {
      if (this.personProp) {
        this.getPersonInfo(this.personProp);
      }
      app.$container.wire.$on('app.person-updated', () => {
        this.getPersonInfo(this.person_id);
      });
    }
  }
</script>

<style scoped>
</style>