<template>
  <span>the filer, spouse, registered domestic partner or dependent</span>
</template>

<script>
  export default {
    name: "QualifiedFamilyMember.vue"
  }
</script>

<style scoped>

</style>