<template>
  <div>
    <v-radio-group v-model="addressChoice" @change="onAddressChoice()" row >
      <v-radio label="Address" value="address"></v-radio>
      <v-radio label="Parcel number" value="parcel"></v-radio>
      <v-radio label="Legal description" value="description"></v-radio>
      <v-radio v-if="hasExemption" label="Exempt or exemption request pending" value="exempt"></v-radio>
    </v-radio-group>
    <div v-if="addressChoice === 'address'">
      <v-text-field label="Address" v-model="location.address"></v-text-field>
      <v-text-field label="City" v-model="location.city"></v-text-field>
      <v-text-field label="Zip" v-model="location.zip"></v-text-field>
    </div>
    <div v-if="addressChoice === 'parcel'">
      <v-text-field label="Parcel number" v-model="location.parcel"></v-text-field>
      <v-autocomplete :items="validation.counties" label="County" item-text="county" item-value="county" v-model="location.county"></v-autocomplete>
    </div>
    <div v-if="addressChoice === 'description'">
      <v-text-field label="Legal description" v-model="location.legal_description"></v-text-field>
      <v-autocomplete :items="validation.counties" label="County" item-text="county" item-value="county" v-model="location.county"></v-autocomplete>
    </div>
    <div v-if="addressChoice === 'exempt'">
      <v-text-field label="City" v-model="location.city"></v-text-field>
      <v-text-field label="Type of Residence" v-model="location.residence_type" hint="Such as single-family or multi-family" persistent-hint></v-text-field>
    </div>
  </div>
</template>

<script>
  import {mapState} from 'vuex';
  import {app} from "../main";

  export default
  {
    name: "RealEstateLocationEntry",
    props: {
      property: Object,
      hasExemption: {
        type: Boolean,
        default: false,
      }
    },
    data() {
      return {
        location: {},
        addressChoice: ""

      }
    },
    computed: {
      ...mapState(['validation']),
    },
    created() {
      this.location = this.property;

      if (this.location.exempt_from_disclosure && !this.hasExemption) {
        this.location.exempt_from_disclosure = false;
        this.location.city = null;
        this.location.residence_type = null;
      }

      if (this.location.county && !this.validation.counties) {
        this.validation.counties = [this.location.county];
      }

      if(this.location.county){
        if(this.location.parcel){
          this.addressChoice = 'parcel';
        } else {
          this.addressChoice = 'description';
        }
      } else {
        if(this.location.exempt_from_disclosure) {
          this.addressChoice = 'exempt'
        } else {
          this.addressChoice = 'address';
        }
      }
      if (!this.validation.counties || this.validation.counties.length === 1) {
        app.$container.dataService.query('counties', data => {
          this.validation.counties = data;
        });
      }
    },

    methods: {
      onAddressChoice() {
        this.location.state= "WA";
        if (this.addressChoice === 'exempt') {
          delete this.location.address;
          delete this.location.parcel;
          delete this.location.legal_description;
          delete this.location.county;
          delete this.location.zip;
          this.location.exempt_from_disclosure = true;
        }
        if (this.addressChoice === 'parcel' || this.addressChoice === 'description') {
          delete this.location.address;
          delete this.location.city;
          delete this.location.zip;
          delete this.location.residence_type;
          delete this.location.exempt_from_disclosure;
        }
        if (this.addressChoice === 'address') {
          delete this.location.legal_description;
          delete this.location.parcel;
          delete this.location.county;
          delete this.location.residence_type;
          delete this.location.exempt_from_disclosure;
        }
        if (this.addressChoice === 'parcel') {
          delete this.location.legal_description;
          delete this.location.exempt_from_disclosure;
        }
        if (this.addressChoice === 'description') {
          delete this.location.parcel;
          delete this.location.exempt_from_disclosure;
        }
      },
    }
  }
</script>

<style scoped>

</style>