<template>
  <v-dialog v-model="showConfirmDialog">
   <v-card>
     <v-card-title>
      Remove Financial Affairs Disclosure Statement?
     </v-card-title>
     <v-card-text>
       <p>
         Are you sure you want to remove the statement for <strong>{{person.name}}</strong> covering
         {{statement.period_start | dateFormat}} through {{statement.period_end | dateFormat}}.
       </p>
       <p><strong>Note:</strong> Statements should not be removed if we have used them.  Please only use this
       tool for correcting incorrectly entered data, for example you accidentally recorded the receipt of a financial
       affairs statement for the wrong person.
       </p>
       <p>
         This action cannot be undone!
       </p>
     </v-card-text>
     <v-card-actions>
       <v-btn :disabled="!statementLoaded && (statement.retain_until || statement.hold_for)" @click="doRemoveStatement()">Delete</v-btn>
       <v-btn @click="cancel()">Cancel</v-btn>
     </v-card-actions>
   </v-card>
  </v-dialog>
</template>

<script>

  import {mapActions, mapState} from 'vuex';

  export default {
    name: "RemoveStatement",
    data() {
      return {
        attempted: false,
        showConfirmDialog: false,
        statement_id: ""
      }
    },
    computed: {
      ...mapState(['statement', 'person']),
      loadedStatementID() {
        return this.statement.statement_id;
      },
      statementLoaded() {
        return this.statement.statement_id === this.statement_id;
      }
    },
    watch: {
      loadedStatementID() {

        if (this.attempted && !this.statement.statement_id) {
          this.showConfirmDialog = false;
        }
      }
    },
    methods: {
      ...mapActions(['getStatement', 'removeStatement']),
      cancel() {
        this.showConfirmDialog = false;
      },
      remove(statement_id) {
        this.attempted=false;
        this.showConfirmDialog = true;
        this.statement_id = statement_id;
        if (statement_id) {
          this.getStatement(statement_id);
        }
      },
      doRemoveStatement() {
        this.attempted = true;
        this.removeStatement(this.statement_id);
      }
    }
  }
</script>

