<template>
  <v-card v-if="logs.length>0">
    <v-card-text>
      <h3>Statement Logs</h3>
      <v-data-table
        :items="logs"
        :footer-props="{'items-per-page-options':[25, 50, 100, 200, 500]}"
        :headers="[
          { text: 'Statement Id', value: 'fa_statement_id'},
          { text: 'Submission Id', value: 'submission_id' },
          { text: 'Repno', value: 'repno'},
          { text: 'Action', value: 'action' },
          { text: 'Message', value: 'message'},
          { text: 'User', value: 'user_name' },
          { text: 'Updated At', value: 'updated_at'},
        ]">
        <template v-slot:item.updated_at="{item}">
          {{item.updated_at | dateTimeFormat}}
        </template>
      </v-data-table>
    </v-card-text>
  </v-card>
</template>

<script>
  import {app} from "../main";

  export default {
    name: "StatementLogs",
    props: {
      id_type: String,
      id: Number,
    },
    data() {
      return {
        logs: []
      }
    },
    watch: {
      id() {
        this.getStatementLogs(this.id_type, this.id);
      }
    },
    created() {
      if (this.id && this.id_type){
        this.getStatementLogs(this.id_type, this.id);
      }
      app.$container.wire.$on('getStatementLogs', () => {
        this.getStatementLogs(this.id_type, this.id);
      });
    },
    methods: {
      getStatementLogs(id_type, id){

        app.$container.dataService.adminQuery('fa_statement_logs',
        result => {
          this.logs = result;
        }, { 'id_type' : id_type, 'id' : id});
      }
    }
  }
</script>