<template>
  <div>

    <v-card elevated>
      <v-card-title>{{person.name}}</v-card-title>
      <v-card-text>
        <div>
          <div v-if="person.address">
            {{person.address}}<br/>
            {{person.city}}, {{person.state}} {{person.postcode}}
          </div>
          <div v-if="person.phone">{{person.phone}}</div>
          <div v-if="bestEmail">{{bestEmail}}</div>
        </div>

      <div v-if="hasReportingModification">
        Residential address reporting modification claimed.
      </div>

      </v-card-text>
    </v-card>
    <v-card>
      <v-card-text>
          <h2>{{statement.filing_status_name}} Statement</h2>
        <p>Covering {{statement.period_start | dateFormat}} - {{statement.period_end| dateFormat}}</p>
        <v-list >
          <v-subheader>Offices</v-subheader>
          <v-list-item v-for="(office,index) in offices" :key="`office_${index}`">
            <v-list-item-content>
              <v-list-item-title>{{office.office}}</v-list-item-title>
              <v-list-item-subtitle>{{office.jurisdiction_name}}{{office.jurisdiction}}</v-list-item-subtitle>
              <v-list-item-subtitle v-if="office.address">{{office.address}}<br>{{office.city}} {{office.state}}  {{office.postcode}}</v-list-item-subtitle>
              <v-list-item-subtitle v-if="office.phone">{{office.phone}}</v-list-item-subtitle>
              <v-list-item-subtitle v-if="office.email">{{office.email}}</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-list>
        <v-list v-if="candidacies.length">
          <v-subheader>Candidacies</v-subheader>
          <v-list-item v-for="(candidacy, index) in candidacies" :key="`candidacy_${index}`">
            <v-list-item-content>
              <v-list-item-title>{{candidacy.office}}</v-list-item-title>
              <v-list-item-subtitle>{{candidacy.jurisdiction}}</v-list-item-subtitle>
              <v-list-item-subtitle v-if="candidacy.address">{{candidacy.address}}<br>{{candidacy.city}} {{candidacy.state}}  {{candidacy.postcode}}</v-list-item-subtitle>
              <v-list-item-subtitle v-if="candidacy.phone">{{candidacy.phone}}</v-list-item-subtitle>
              <v-list-item-subtitle v-if="candidacy.email">{{candidacy.email}}</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
  import { mapState }from 'vuex'
  export default {
    name: "Statement",
    props: {
      legacy: {
        type: Boolean,
        value: false
      },
    },
    data() {
      return {
      }
    },
    computed: {
      ...mapState(['statement', 'person', 'offices', 'candidacies', 'submission']),
      hasReportingModification() {
        return this.statement.reporting_modifications
            && this.statement.reporting_modifications.residential_address === true
            && !this.statement.judge_or_law_enforcement;
      },
      bestEmail() {
        if (this.submission && this.submission.certification_email ) {
          return this.submission.certification_email
        } else {
          return this.person.email
        }
      }
    },

  }
</script>

<style scoped>

</style>