<template>
  <v-textarea v-model="textList"
              :label="label"
              @input="onInput()"
              :messages="message"
              outlined
              :placeholder="placeholder"
  ></v-textarea>
</template>

<script>
  export default {
    name: "StringList.vue",
    props: {
      value: Array,
      placeholder: {
        type: String,
      },
      label: {
        type: String,
        default: 'List',
      },
      message: {
        type: String,
      }
    },
    data () {
      return {
        textList: "",
        arrayList: []
      }
    },
    created() {
      let arrayList = [];
      if (this.value && this.value.length) {
        this.filteredValue = this.value.filter(function (el) { return el !== ""});
        this.filteredValue.forEach(element => {
          arrayList += element + "\n";
        });
      }
      this.textList = arrayList;
    },
    methods: {
      onInput() {
        this.arrayList = this.textList.split("\n").filter(function (el) {
          return el !== "";
        });
        this.$emit('input', this.arrayList);
      }
    }
  }
</script>

<style scoped>

</style>