<template>
  <v-card>
    <v-card-title><h2>Verification</h2></v-card-title>
    <v-card-text>
      <v-text-field type="number" label="Year" v-model="year">
        <template v-slot:append-outer>
          <v-btn color="primary" @click="loadList()">Load list by year</v-btn>
        </template>
      </v-text-field>
      <v-data-table
        :items="verification"
        :footer-props="{'items-per-page-options':[50, 100, 200]}"
        :headers="[
          { text: 'Name', value: 'name' },
          { text: 'Email', value: 'certification_email' },
          { text: 'Submitted Date', value: 'submitted_at'},
          { text: 'Source', value: 'source'},
        ]">
        <template v-slot:item.submitted_at="{item}">
          {{item.submitted_at | dateFormat}}
        </template>
        <template v-slot:item.name="{item}">
          <div v-if="item.source==='legacy'">
            <router-link :to="{ name: 'legacy-submission',  params: { person_id : 'unknown', submission_id: item.submission_id}}">
              {{item.name}}
            </router-link>
          </div>
          <div v-else>
            <router-link :to="{ name: 'unverified-submission',  params: { person_id : 'unknown', submission_id: item.submission_id}}">
              {{item.name}}
            </router-link>
          </div>
        </template>
      </v-data-table>

    </v-card-text>
  </v-card>
</template>

<script>
  import {app} from "@/main";
  export default {
    name: "UnverifiedStatements",
    data() {
      return {
        verification: [],
        year: null
      }
    },
    mounted() {
      this.loadList();
    },
    methods: {
      loadList () {
        if (this.year === "") {
          this.year = null;
        }
        app.$container.dataService.adminQuery('fa_unverified_submissions', data => {
            this.verification = data;
          },
          {year: this.year});
      }
    }
  }
</script>

<style scoped>

</style>