<template>
  <div>
    <v-select @change="onChange()"
              :items="ranges"
              v-model="range"
              :label="label"
              :rules="validationRules"
              :messages="selectMessage"
              ref="select"
    >
    </v-select>
  </div>
</template>

<script>
  import { mapState } from 'vuex';
  import globalFilters from '../filters';
  export default {
    name: "ValueRange",
    props: {
      value: String,
      required: {
        type: Boolean,
        default: true
      },
      label: String,
      displayPeriod: {
        type: Boolean,
        default: true,
      },
      message: String,
    },
    data() {
      return {
        range: '',
        source: {},
        sourceLabel: {},
      }
    },
    computed: {
      ...mapState(['validation', 'statement']),
      selectMessage() {
        let filters = globalFilters.filters;
        let messages = this.message ? [this.message] : [];
        if (this.displayPeriod) {
          let periodMessage = `between ${filters.dateFormatShort(this.statement.period_start)} and ${filters.dateFormatShort(this.statement.period_end)}`;
          messages.push(periodMessage);
        }
        return messages;
      },
      validationRules() {
        return this.required ? this.validation.required : [];
      },
      ranges() {
        if(this.required) {
          return this.validation.monetary_ranges.filter(r => r.value);
        }
        else {
          return this.validation.monetary_ranges;
        }
      }
    },
    created() {
      this.range = this.value;
      this.sourceLabel = this.label;
    },
    mounted() {
      this.$refs.select.$on('keydown', this.onKeydown);
    },
    methods: {
      onChange() {
        this.$emit('input', this.range);
      },
      onKeydown(e) {
        // prevent keyboard event from submitting form
        e.preventDefault();
        if (e.keyCode === 40 || e.keyCode === 13) {
          // activate only if the menu is not open
          if (!this.$refs.select.isMenuActive) {
            this.$refs.select.isMenuActive = !this.$refs.select.isMenuActive;
          }
        }
      }
    }
  }
</script>

<style scoped>

</style>
