<template>
  <div>
    <v-dialog fullscreen v-model="similarPeopleDialog">
      <v-card>
        <v-card-title>
          Verify Statement
          <v-spacer></v-spacer>
          <v-btn icon @click="similarPeopleDialog=false"><v-icon>close</v-icon></v-btn>
        </v-card-title>
        <v-card-text>
          <v-row>
            <v-col>
              <Statement :legacy="legacy"/>
            </v-col>
            <v-col>

              <PersonInformation v-show="!personDetailsHidden" ref="personInfo">
                <template v-slot:actions>
                <div>
                  <p v-if="isMatched">Matched</p>
                  <p v-else-if="selectedPerson.person_id === person.person_id">
                    Filer suggested this match.
                  </p>
                  <p v-else-if="person.person_id === -1 ">
                    <strong>Warning: </strong>Filer suggested no matching person
                  </p>
                  <p v-else-if="person.person_id !== selectedPerson.person_id">
                    <strong>Warning:</strong> Filer suggested a different person as a match
                  </p>
                <v-btn color="accent" v-if="!isMatched" @click="showMatches()">
                  Not Matched
                </v-btn>

                  </div>
                </template>
              </PersonInformation>

              <v-card v-if="!personListHidden">
                <v-card-title>Possible Matches</v-card-title>
                <v-card-text>
                  <v-form @submit.prevent="doSearch(true)">
                    <v-text-field label="Search" v-model="search">
                      <template v-slot:append-outer>
                        <v-btn type="submit" color="primary">Search</v-btn>
                      </template>
                    </v-text-field>
                  </v-form>
                  <v-data-table
                    :items-per-page="5"
                    :headers=
                      "[
                          { text: 'Name', value: 'name' },
                          { text: '', value: 'recommended'},
                          { text: 'City', value: 'city' },
                          { text: 'Compare', value: 'compare' },
                        ]"
                    :items="matches">

                    <template v-slot:item.compare="{item}">
                      <v-btn color="primary" @click="comparePerson(item)"><v-icon>compare_arrows</v-icon></v-btn>
                    </template>
                    <template v-slot:item.recommended="{item}">
                      <span v-if="item.person_id === person.person_id">*</span>
                    </template>
                  </v-data-table>
                  <v-toolbar flat>
                    <v-btn color="accent" @click="selectNoMatch()">No Matching Person</v-btn>
                  </v-toolbar>
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions>
          <v-btn color="primary" :disabled="!personChoiceMade && !isMatched" @click="tryToVerify()">Verify Disclosure</v-btn>
          <v-btn @click="closeVerifyDialog()">Close</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="showVerifyConfirm">
      <v-form @submit.prevent="verifyPerson()">
        <v-card >
          <v-card-title>Verify Submission?</v-card-title>
          <v-card-text>
            <p>You are about to verify this submission.  </p>
            <div v-if="!legacy">
              <div>
                <p>What should be done with the disclosure statement?</p>
                <v-radio-group v-model="admin_data.file" :messages="['Returning the statement puts it back into a draft state so that the user can make changes and\n'+
'                submit a corrected statement.']">
                  <v-radio label="File" :value="true"></v-radio>
                  <v-radio label="Return" :value="false"></v-radio>
                </v-radio-group>
                <div v-show="!admin_data.file">
                  <DatePicker v-model="admin_data.period_start" label="Period start" ></DatePicker>
                  <DatePicker v-model="admin_data.period_end" label="Period end" ></DatePicker>
                </div>
              </div>
              <div>
                <p>Update candidacy records based on data?</p>
                <v-radio-group :disabled = "candidacies.length === 0" v-model="admin_data.candidacies">
                  <v-radio label="Yes" :value="true"></v-radio>
                  <v-radio label="No" :value="false"></v-radio>
                </v-radio-group>
              </div>
              <div>
                <p>Update officals records based on data?</p>
                <v-radio-group :disabled="offices.length === 0" v-model="admin_data.offices">
                  <v-radio label="Yes" :value="true"></v-radio>
                  <v-radio label="No" :value="false"></v-radio>
                </v-radio-group>
              </div>
              <div>
                <v-text-field label="Message" v-model="admin_data.message"/>
              </div>
            </div>
            <p>In addition, the following actions will be performed.</p>
            <ul>
              <li v-if="!this.selectedPerson.person_id && !isMatched">A new person will be created<span v-if="selectedPerson.name"> for {{selectedPerson.name}}.</span></li>
              <li v-if="!this.selectedPerson.filer_id && !isMatched">A new filer ID will be assigned automatically.</li>
              <li v-if="this.selectedPerson.person_id || isMatched">The Financial Affairs Disclosure will be assigned to <span v-if="selectedPerson.person_id">{{selectedPerson.name}}.</span><span v-else>the filer.</span></li>
            </ul>

            <p>These actions cannot be undone.</p>
          </v-card-text>
          <v-card-actions>
            <v-btn type="submit" color="primary" >Verify</v-btn>
            <v-btn @click="cancelVerification()">Cancel</v-btn>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-dialog>
  </div>
</template>

<script>
  import {app} from "@/main";
  import {mapState} from 'vuex';
  import PersonInformation from "./PersonInformation";
  import Statement from "./Statement";
  import DatePicker from "@/components/DatePicker";
  export default {
    name: "Verification",
    props: {
      legacy: {
        type: Boolean,
        value: false
      },
    },
    components: {DatePicker, Statement, PersonInformation},
    data() {
      return {
        similarPeopleDialog: false,
        showResults: false,
        matches: [],
        search: "",
        personListHidden: false,
        personDetailsHidden: true,
        proceedButton: false,
        selectedPerson: {},
        person_id: "",
        showVerifyConfirm: false,
        admin_data: {
          file: true,
          candidacies: true,
          offices: true,
          message: "",
        },
        newPerson: {
          person_id: "",
        },
        personChoiceMade: false,
      }
    },
    computed: {
      ...mapState(['statement', 'submission', 'person', 'validation', 'offices', 'candidacies']),
      submission_id() {
        if (this.legacy) {
          return this.statement.submission_id;
        }
        return this.submission ? this.submission.submission_id : null;
      },
      isMatched() {
        return this.submission.person_id > 0;
      }
    },
    methods: {
      doSearch(resetChoice) {
        if (resetChoice) {
          this.personChoiceMade = false;
        }
        app.$container.dataService.adminQuery('person_search', result => {
          this.showResults = true;
          this.matches = result;
          if(this.selectedPerson && this.selectedPerson.person_id){
            this.selectedPerson = this.matches.find(p => p.person_id === this.selectedPerson.person_id) ?
              this.matches.find(p => p.person_id === this.selectedPerson.person_id) : this.selectedPerson
          }
        }, {search: this.search});
      },
      comparePerson(person) {
        this.personListHidden = true;
        this.personDetailsHidden = false;
        this.selectedPerson = person;
        this.personChoiceMade = true;

        this.$refs['personInfo'].getPersonInfo(person.person_id);
      },
      showMatches() {
        this.personListHidden = false;
        this.personDetailsHidden = true;
        this.personChoiceMade = false;
      },
      selectNoMatch() {
        this.selectedPerson = this.newPerson;
        this.personChoiceMade = true;
        this.tryToVerify();
      },
      viewPersonList() {
        this.personDetailsHidden = true;
        this.personListHidden = false;
        this.personChoiceMade = false;
      },
      closeVerifyDialog() {
        if (!this.showResults || this.personDetailsHidden){
          this.similarPeopleDialog=false;
        }
        this.viewPersonList();
      },
      cancelVerification() {
        this.showVerifyConfirm = false;
        if (!this.selectedPerson.person_id) {
          this.personChoiceMade = false;
        }
      },
      verifyPerson() {
        let admin_data = {
          submission_id: this.submission_id,
          person_id: this.selectedPerson.person_id,
          file: this.admin_data.file,
          candidacies: this.admin_data.candidacies,
          offices: this.admin_data.offices,
          legacy: this.legacy,
          message: this.admin_data.message,
          period_start: this.admin_data.period_start,
          period_end: this.admin_data.period_end
        };

        app.$container.dataService.post(
          'service/financial-affairs/submission/' + this.submission_id + '/process/verify',
          result => {
            if (result.data.success) {
              this.$router.push({name: 'admin.unverified-statements'});
              this.showVerifyConfirm=false;
              this.similarPeopleDialog = false;
              this.showResults=false;
              if (result.data.error) {
                alert(result.data.error);
              }
            }
          },
          admin_data
        )
      },
      tryToVerify() {
        this.admin_data.file = true;
        this.admin_data.offices = this.offices.length > 0;
        this.admin_data.candidacies = this.candidacies.length > 0;
        this.showVerifyConfirm = true;
        this.admin_data.message = "";
        this.admin_data.period_start = this.statement.period_start;
        this.admin_data.period_end = this.statement.period_end;
      },
      doVerification() {
        this.similarPeopleDialog = true;
        this.search = this.person.name;
        if (this.isMatched) {
          this.$nextTick(() => this.$refs['personInfo'].getPersonInfo(this.submission.person_id));
          this.personDetailsHidden=false;
          this.personListHidden = true;
        }
        else {
          if (this.person.person_id > 0) {
            this.$nextTick(() => this.$refs['personInfo'].getPersonInfo(this.person.person_id));
            this.personDetailsHidden = false;
            this.personListHidden = true;
            this.selectedPerson = this.person;
            this.personChoiceMade = true;
          }
          this.doSearch();
        }
      }
    },
    created() {
      if (this.isMatched) {
        this.$refs['personInfo'].getPersonInfo(this.submission.person_id);
      }
    }
  }
</script>

<style scoped>

</style>