<template>
    <v-select multiple :items="validation.relation_code" :rules="validation.selectAtLeastOne" :label="label" v-model="who" @change="onInput"></v-select>
</template>

<script>
  import {mapState} from 'vuex';
  export default {
    name: "Who",
    data() {
      return {
        who: [],
      }
    },
    props: {
      value: Array,
      label: String,
    },
    computed: {
      ...mapState(['validation']),
    },
    created() {
      this.who = this.value;
    },
    methods: {
      onInput() {
        this.$emit('input', this.who);
      }
    }
  }
</script>

<style scoped>

</style>