<template>
  <v-app id="inspire">
    <v-navigation-drawer
        v-model="drawer"
        app
    >
      <v-list dense>
        <v-list-item v-for="item in filteredItems" :key="item.title" @click="clickItem(item)">
          <v-list-item-action>
            <v-icon>{{item.icon}}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>{{item.title}}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar
        app
        color="primary"
        dark
        class="d-print-none"
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title class="hidden-print-only d-none d-sm-block">Financial Affairs</v-toolbar-title>
      <v-spacer/>

      <PersonSelect></PersonSelect>

      <div class="pdc-logo-div">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="pdc-logo-source">
          <defs>
            <g id="pdc-logo-path">
              <path d="M129.6,49.8L129.6,49.8L129.6,49.8L129.6,49.8c-0.1,0-0.2,0-0.4,0c-4-0.2-7.3-3.7-7.3-7.9c0-4.4,3.4-7.9,7.6-7.9
                    c4.2,0,7.6,3.5,7.6,7.9c0,1.8-0.6,3.4-1.5,4.7h19.3c0.3-1.6,0.4-3.2,0.4-4.8c0-15.3-11.5-27.7-25.7-27.7c-10.4,0-19.4,6.7-23.4,16.3
                    V0.6H86.7v43.5l0,0c0,4-3.5,7.3-7.8,7.3c-4.3,0-7.8-3.3-7.8-7.3c0-4,3.5-7.3,7.8-7.3c1.7,0,3.3,0.6,4.6,1.4V18.3
                    c-1.5-0.2-3-0.4-4.6-0.4c-11.4,0-21.3,6.6-25.4,15.9c-3.7-10.2-14-17.6-26.1-17.6c-15,0-27.1,11.2-27.5,25.2l0,0v0.6v43.3h19.5V42.1
                    c0-4.1,3.6-7.5,8-7.5s8,3.4,8,7.5c0,4.1-3.6,7.5-8,7.5c-1.8,0-3.5-0.6-4.8-1.5v19.4c1.6,0.3,3.2,0.4,4.8,0.4
                    c11.4,0,21.3-6.6,25.4-15.9c3.7,10.2,14,17.6,26.1,17.6c12.6,0,23.3-8.1,26.5-19c3.3,10.8,12.7,18.7,23.8,18.9v0.1H173V49.9h-43.4
                    V49.8z"/>
            </g>
          </defs>
        </svg>
        <svg viewBox="0 0 173 86" id="pdc-logo-container">
          <use xlink:href="#pdc-logo-path"></use>
        </svg>
      </div>
    </v-app-bar>
    <v-content v-if="$browserDetect.isIE">
      <v-card color="yellow" style="width:95%">
        <v-card-text>
          The PDC Financial Affairs filing system uses modern web features that are not available in Internet Explorer.
          You can file using Microsoft's Edge browser or any other modern browser such as Google Chrome, Firefox or Safari.
        </v-card-text>
      </v-card>
    </v-content>
    <v-content v-else>
      <v-container v-if="currentRoute.name==='tasks'" fluid grid-list-lg>
        <card-navigation :items="menuItems"/>
      </v-container>
      <v-container fluid>

        <router-view v-if="authenticated"/>
        <StatementWizard ref="statement-wizard" v-if="authenticated"/>
      </v-container>
      <v-dialog persistent v-model="dataServicePending" width="300" class="data-loading-dialog">
        <v-card >
          <v-card-text>
            Saving data. Please stand by...
            <v-progress-linear
                indeterminate
                color="primary"
                class="mb-0"
            ></v-progress-linear>
          </v-card-text>
        </v-card>
      </v-dialog>
    </v-content>
    <v-footer
        color="primary"
        app
    >
      <span class="white--text">&copy; 2019</span>
      <v-spacer></v-spacer>
      <span><InfoDialog color="primary" light depressed info="ApplicationHelp" label="Help"/></span>
    </v-footer>
  </v-app>
</template>

<script>
  import {app} from "./main";
  import {mapActions, mapState} from 'vuex';
  import CardNavigation from "./components/CardNavigation";
  import PersonSelect from "./person/PersonSelect";
  import StatementWizard from "./statement/StatementWizard";
  import InfoDialog from "./info/InfoDialog";
  export default {
    components: {PersonSelect, StatementWizard, CardNavigation,InfoDialog},
    data() {
      return {
        drawer: false,
        // Items that should appear in the top menu.
        menuItems: [
          {
            icon: 'home',
            title: 'My PDC',
            href: "/"
          },
          {
            icon: 'info',
            title: 'PDC web site',
            href: 'https://www.pdc.wa.gov',
          },
          {
            icon: 'list',
            title: 'My submissions',
            link: '/my-submissions',
            access: 'fin_affairs'
          },
          {
            icon: 'settings',
            title: 'Administration',
            href: '/my-pdc/staff',
            access: 'access_wapdc_data',
          },
          {
            icon: 'power_settings_new',
            title: 'Logout',
            href: '/user/logout',
          },
        ],
        dataServicePending: false,
        authenticated: false,
      };
    },
    computed: {
      ...mapState(['user', 'statement']),
      currentRoute() {
        return this.$route;
      },
      filteredItems() {
        return this.menuItems.filter((r) => {
          return this.hasAccess(r);
        });
      }
    },
    created() {
      app.$container.wire.$on('App.startWizard', (step) => {
        this.startWizard(step);
      })
    },
    methods: {
      ...mapActions(['getUserInfo', 'setPerson', 'setSelectedPerson', 'getThresholds']),
      clickItem(item) {
        if(item.href) {
          window.location = item.href;
        }
        else if(item.link) {
          this.$router.push(item.link);
        }
      },
      hasAccess(menuItem) {
        let access = null;
        if (menuItem.hasOwnProperty('access')) {
          let right = menuItem.access;
          if (this.user && this.user.rights) {

            access = this.user.rights.hasOwnProperty(right) && this.user.rights[right];
          } else {
            access = false;
          }
        } else {
          access = true;
        }
        return access;
      },
      authenticate() {
        app.$container.dataService.get('public/service/financial-affairs/auth-check', result => {
          let r = result.data;
          if (r.hasOwnProperty('authenticated') && r['authenticated']) {
            this.user.rights = r.permissions;
            this.authenticated = true;
            this.user.persons = r.authorizations.person;

            // Relies on setSelected person to update/remove the session storage
            if (sessionStorage.getItem('person_id') && this.user.persons && this.user.persons.length) {
              // Look for a match in the person authorization records
              const storedId = sessionStorage.getItem('person_id')
              let p = this.user.persons.find(x => x.person_id.toString() === storedId);
              if (p && (p.person_id !== -1 || p.submission_id)) {
                // If found, set selected person and update name
                this.setSelectedPerson(p);
              } else {
                // Not found, the set to the first one.
                this.setSelectedPerson(this.user.persons[0]);
              }
            } else if (this.user.persons && this.user.persons.length) {
              // Only authorizations, pick the first one
              this.setSelectedPerson(this.user.persons[0]);
            } else if (sessionStorage.getItem('person_id')) {
              // Only session storage, just remove.
              this.setSelectedPerson(null);

            }
            app.$container.wire.$emit('app.authentication');

            if (this.reauthenticate) {
              window.location.reload();
            }
          } else {
            window.setTimeout(this.authenticate, 5000);
          }
        });
      },
      startWizard(step='') {
        if (this.$refs['statement-wizard']) {
          if (step) {
            this.$refs['statement-wizard'].activate(step);
          } else if (this.statement && this.statement.draft_state && this.statement.draft_state.step) {
            this.$refs['statement-wizard'].activate(this.statement.draft_state.step);
          } else {
            this.$refs['statement-wizard'].startWizard();
          }
        }
      },
    },
    mounted() {
      app.$container.wire.$on('app.userInfo', this.authenticate);
      app.$container.wire.$on('DataService.pending', pending => {
        this.dataServicePending = pending;
      });
      this.getUserInfo();
      this.getThresholds();
    },
    props: {
      source: String
    }
  }
</script>

<style lang="scss">
  @import 'main.scss';
  footer {
    padding: 1em;
  }
  .data-loading-dialog {
    z-index: 999;
  }
</style>
