<script setup>
import AssetRows from '../common/AssetRows.vue';
import FormOpts from 'src/components/wizardInputs/FormOpts.vue';

defineOptions({
  name: 'property-table',
});

defineProps({
  fieldArrayKey: {
    type: String,
    required: true,
  },
  itemIndex: {
    type: Number,
    required: true,
  },
});
</script>

<template>
  <FormOpts :hide-hints="true">
    <div class="row">
      <!-- <dropdown-filtered
        v-bind="dropdownBinds('heldBy')"
        class="col-12 col-sm-6"
        :options="relationCode"
        label="Received By"
      />

      <text-input
        class="col-12 col-sm-6"
        label="Name of institution"
        v-bind="textBinds('institutionName')"
      /> -->
    </div>

    <div class="row">
      <!-- <text-input
        class="col-12 col-sm-6"
        label="Street Address"
        v-bind="textBinds('streetAddress')"
      />
      <text-input
        class="col-12 col-sm-6"
        label="City"
        v-bind="textBinds('city')"
      />
      <text-input
        class="col-6 col-sm-3"
        label="State"
        mask="AA"
        v-bind="textBinds('state')"
      />
      <text-input
        class="col-6 col-sm-3"
        label="ZIP"
        mask="#####"
        v-bind="textBinds('zip')"
      /> -->
    </div>
  </FormOpts>

  <AssetRows
    v-bind="$props"
    title="Investments"
    subset-array-key="investmentArray"
    :template="['type']"
    :required-field-keys="['type']"
  >
    <template #row="{ row }">
      <q-input
        v-model="row.type"
        autocomplete="off"
        class="col-12 col-md-4"
        hint="stocks, bonds, securities, commodities, etc"
        lazy-rules
        label="Account type"
        :rules="[
          (v) => (v?.length <= 50 && v !== '') || 'Must be 1-50 characters',
        ]"
        :maxlength="50"
      />
    </template>
  </AssetRows>
</template>
