<script setup>
import { computed, ref } from 'vue';

import useWizard from 'src/wizard/useWizard.js';

import { statementDateString } from 'src/pages/Disclosure/common/statementDateString.js';

import propertyColumns from './propertyColumns.js';

import ConfirmationDialog from 'src/components/ConfirmationDialog.vue';
import EditableSetTable from 'src/components/wizardInputs/EditableSetTable/EditableSetTable.vue';
import ExternalLink from 'src/components/ExternalLink.vue';
import FormOpts from 'src/components/wizardInputs/FormOpts.vue';
import InputRadioYesNo, { YES, NO } from 'src/components/InputRadioYesNo.vue';
import PropertyForm from './PropertyForm/PropertyForm.vue';

defineOptions({
  name: 'income-disclosure',
});

const wizard = useWizard();

const modalOpen = ref(false);

const hasKey = 'ownsRealEstate';
const templateKey = 'propertyArray';

const hasFieldUtils = wizard.field(hasKey);
const fieldSetUtils = wizard.fieldSet(templateKey);

const rows = computed(() => fieldSetUtils.getAllData().value);

function handleAddNew() {
  return fieldSetUtils.add();
}

function updateHas(value) {
  const userHasStartedEntry = fieldSetUtils.getAllData().value?.length > 0;

  if (value === NO) {
    if (userHasStartedEntry) {
      modalOpen.value = true;
      return;
    }
    hasFieldUtils.set(NO);
  } else {
    handleAddNew();

    hasFieldUtils.set(YES);
  }
}

/** Deletes row and returns true on success */
function handleDeleteRow(rowIndex) {
  fieldSetUtils.remove(rowIndex);

  if (fieldSetUtils.getAllData().value?.length < 1) {
    hasFieldUtils.set(NO);
  }

  return true;
}

function userConfirmedModalClear() {
  fieldSetUtils.removeAll();
  hasFieldUtils.set(NO);
  modalOpen.value = false;
}

function handleSave() {
  wizard.save();
}
</script>

<template>
  <p>
    Only disclose property located in Washington state that had an assessed
    value of more than $12,000 during the reporting period.
  </p>

  <p>
    Examples are farms, homes, vacation cabins, inherited property, rental
    property, unimproved land and mineral rights.
  </p>

  <p>
    If you choose to disclose property address
    <strong>DO NOT USE</strong> rural route or box numbers.
  </p>

  <p>
    <strong>It will be helpful to ask yourself these three questions:</strong>
  </p>
  <ul>
    <li>
      What property did I or a qualified family member sell or otherwise divest
      any financial interest in (give away, lose through legal judgment, etc.)
      during the reporting period?
    </li>
    <li>
      What property did I or a qualified family member buy or otherwise acquire
      any financial interest in (inherit, be given, acquire through a
      lease/purchase agreement, etc.) during the reporting period?
    </li>
    <li>
      What other property did I or a qualified family member own, fully or
      partially, any financial interest in during the entire reporting period?
    </li>
  </ul>

  <p>
    <ExternalLink href="https://app.leg.wa.gov/RCW/default.aspx?cite=42.17A.710"
    >RCW 42.17A.710(1)(h)-(j)</ExternalLink
    >
  </p>

  <p>
    Did the filer, spouse, registered domestic partner or dependent own property
    in Washington state between {{ statementDateString() }}?
  </p>

  <FormOpts :focus-first="true">
    <InputRadioYesNo
      :model-value="hasFieldUtils.value()"
      :rules="hasFieldUtils.self.rules"
      @update:modelValue="updateHas"
    />
  </FormOpts>

  <template v-if="hasFieldUtils.value() === YES && rows?.length">
    <EditableSetTable
      label="property"
      :columns="propertyColumns"
      :rows="rows"
      :add-fn="handleAddNew"
      :delete-fn="handleDeleteRow"
      @save="handleSave"
    >
      <template #form="{ currentlyEditingIdx }">
        <PropertyForm
          :key="currentlyEditingIdx"
          :template-key="templateKey"
          :data-index="currentlyEditingIdx"
        />
      </template>
    </EditableSetTable>

    <ConfirmationDialog
      v-model:open="modalOpen"
      title="Clear all entries?"
      primary-btn-label="Yes, clear all"
      negative-btn-label="Cancel"
      @primary-clicked="userConfirmedModalClear"
      @negative-clicked="modalOpen = false"
    >
      Are you sure you want to clear all entries? This action cannot be undone.
    </ConfirmationDialog>
  </template>
</template>
