<script setup>
import { computed, ref, onMounted, nextTick } from 'vue';
import { Notify } from 'quasar';

import useWizard from 'src/wizard/useWizard.js';

import {
  monetaryRanges,
  noneOpt,
} from 'src/pages/Disclosure/common/options.js';

import AccessibleIcon from 'components/AccessibleIcon.vue';
import FormOpts from 'src/components/wizardInputs/FormOpts.vue';
import InputDropdown from 'components/InputDropdown.vue';
import PaginatedNestedRows from 'src/components/wizardInputs/PaginatedNestedRows.vue';

defineOptions({
  name: 'asset-rows',
});

const props = defineProps({
  fieldArrayKey: {
    type: String,
    required: true,
  },
  dataIndex: {
    type: Number,
    required: true,
  },
  subsetArrayKey: {
    type: String,
    required: true,
  },
  requiredFieldKeys: {
    type: Array,
    default: () => [],
  },
  template: {
    type: Array,
    required: true,
  },
  rowLabel: {
    type: String,
    default: 'Investment',
  },
  highestValueLabel: {
    type: String,
    default: 'Highest Value',
  },
  incomeValueLabel: {
    type: String,
    default: 'Income',
  },
});

const firstLoad = ref(true);

const wizard = useWizard();

const subsetArrayUtils = wizard
  .fieldSet(props.fieldArrayKey)
  .get(props.dataIndex);

const subsetArray = computed({
  get: () => subsetArrayUtils.getValue(props.subsetArrayKey) || [],
  set: (newValue) => {
    subsetArrayUtils.setValue(props.subsetArrayKey, newValue);
    if (newValue.length === 0) addInvestment();
  },
});

/** Add a new investment row, copying the highest value and income from the previous row */
function addInvestment() {
  const obj = {
    value: '',
    income: '',
  };

  for (const key of props.template) {
    obj[key] = '';
  }

  const isNotFirst = subsetArray.value.length > 0;

  if (isNotFirst) {
    const lastRow = subsetArray.value.slice(-1)[0];

    const requiredFields = [...props.requiredFieldKeys, 'value', 'income'];

    // verify that the last row has all required fields filled out
    const isLastRowComplete = requiredFields.every(
      (field) => lastRow[field] !== '',
    );

    if (!isLastRowComplete) {
      const tidyKeys = requiredFields.map((key) =>
        key.replace(/([A-Z])/g, ' $1').toLowerCase(),
      );
      Notify.create({
        position: 'center',
        type: 'negative',
        message: `Please complete required fields: ${tidyKeys.join(', ')}`,
      });
      return;
    }

    obj.value = lastRow?.value;
    obj.income = lastRow?.income;
  }

  subsetArray.value = [...subsetArray.value, obj];
}

/** Remove row */
function removeInvestment(index) {
  subsetArray.value = subsetArray.value.filter((_, i) => i !== index);
}

onMounted(() => {
  if (subsetArray.value?.length < 1) {
    addInvestment();
  }

  // Prevents autofocus clashes
  nextTick(() => (firstLoad.value = false));
});
</script>

<template>
  <PaginatedNestedRows
    class="q-mt-lg"
    :title="title"
    :row-label="rowLabel"
    :rows="subsetArray"
    @add="addInvestment"
  >
    <template #row="{ row, rowIndex }">
      <div class="row">
        <div class="col-12 col-sm-11">
          <FormOpts class="row q-mb-sm" :focus-first="!firstLoad">
            <slot name="row" :row="row" />

            <InputDropdown
              v-model="row.value"
              stack-label
              class="col-12 col-md-4"
              :label="highestValueLabel"
              :options="monetaryRanges"
              :enable-filter="false"
              :rules="[(v) => v !== null || 'Required']"
              @update:modelValue="wizard.validateStep(null, { innerOnly: true })"
            />

            <InputDropdown
              v-model="row.income"
              stack-label
              class="col-12 col-md-4"
              :label="incomeValueLabel"
              :options="[noneOpt, ...monetaryRanges]"
              :enable-filter="false"
              :rules="[(v) => v !== null || 'Required']"
              @update:modelValue="wizard.validateStep(null, { innerOnly: true })"
            />
          </FormOpts>
        </div>

        <div class="col-12 col-sm-grow" style="align-content: center">
          <p-accessible-button
            class="q-mx-auto"
            style="display: flex; align-content: center; padding: 8px"
            tooltip="Delete"
            @click="removeInvestment(rowIndex)"
          >
            <AccessibleIcon name="delete" size="sm" color="negative" />
          </p-accessible-button>
        </div>
      </div>
    </template>
  </PaginatedNestedRows>
</template>
