<script setup>
defineOptions({
  name: 'assets-and-interest',
});
</script>

<template>
  <p>
    Disclose financial holdings, investments and other intangible property.
    These assets commonly include bank accounts, investment accounts, stocks,
    bonds, pensions and trusts.
  </p>

  <ul>
    <li>
      <strong>Bank accounts:</strong> An account at a bank, savings and loan,
      credit union or other financial institution over $24,000 in value
    </li>
    <li>
      <strong>Insurance policies</strong>: Insurance policies that have a cash
      or loan value of over $24,000 in value. This does not include term life
      insurance
    </li>
    <li>
      <strong>Broker-directed investment accounts</strong>: Accounts over $2,400
      where you or the qualified family member do not control the selection of
      holdings
    </li>
    <li>
      <strong>Self-directed investments</strong>: List of all stocks, bonds,
      securities and commodi ties over $2,400 where you or a qualified family
      member control the selection of holdings
    </li>
    <li>
      <strong>Other financial assets</strong>: Loans, trusts and educational
      investment accounts
    </li>
  </ul>

  <p>
    Next we will guide you through disclosing each of these types of assets...
  </p>
</template>
