<script setup>
import InputText from 'components/InputText.vue';

defineOptions({
  name: 'contact-form',
});

defineProps({
  positionDataUtils: Object,
});
</script>

<template>
  <div class="row">
    <InputText
      v-model="positionDataUtils.vModel('email').value"
      :rules="positionDataUtils.rules('email')"
      class="col-12 col-sm-6 col-md-5"
      label="Email"
    />

    <InputText
      v-model="positionDataUtils.vModel('streetAddress').value"
      :rules="positionDataUtils.rules('streetAddress')"
      class="col-12 col-sm-6 col-md-7"
      label="Street Address"
    />
  </div>

  <div class="row">
    <InputText
      v-model="positionDataUtils.vModel('city').value"
      :rules="positionDataUtils.rules('city')"
      class="col-12 col-sm-6 col-md-5"
      label="City"
    />

    <InputText
      v-model="positionDataUtils.vModel('state').value"
      :rules="positionDataUtils.rules('state')"
      class="col-12 col-sm-6 col-md-2"
      label="State"
      mask="AA"
    />

    <InputText
      v-model="positionDataUtils.vModel('zip').value"
      :rules="positionDataUtils.rules('zip')"
      class="col-12 col-sm-6 col-md-2"
      label="ZIP"
      mask="#####"
    />

    <InputText
      v-model="positionDataUtils.vModel('phone').value"
      :rules="positionDataUtils.rules('phone')"
      class="col-12 col-sm-6 col-md-3"
      label="Phone"
      mask="###-###-####"
    />
  </div>
</template>
