<script setup>
import { computed, ref } from 'vue';

import usePositionForm from './usePositionForm';
import useWizard from 'src/wizard/useWizard.js';

import rules from 'src/utils/rules.js';

import FormOpts from 'src/components/wizardInputs/FormOpts.vue';
import ContactForm from 'pages/Disclosure/common/ContactForm.vue';
import InputDropdown from 'components/InputDropdown.vue';
import InfoBox from 'components/InfoBox.vue';

defineOptions({
  name: 'position-form',
});

const props = defineProps({
  dataIndex: {
    type: Number,
    required: true,
  },
  templateKey: {
    type: String,
    required: true,
  },
  fetchedOffices: {
    type: Array,
    default: () => [],
  },
  fetchedElections: {
    type: Array,
    required: false,
    default: () => [],
  },
  contactFormLabel: {
    type: String,
    required: false,
    default: 'Contact',
  },
  hideEndDate: {
    type: Boolean,
    required: false,
    default: false,
  },
});

const wizard = useWizard();

const positionDataUtils = wizard
  .fieldSet(props.templateKey)
  .get(props.dataIndex);

const {
  electionOptions,
  electionSelection,
  officeOptions,
  officeSelection,
  jurisdictionOptions,
  jurisdictionSelection,
  positionOptions,
  positionSelection,
} = usePositionForm({
  fetchedElections: props.fetchedElections,
  fetchedOffices: props.fetchedOffices,
  templateKey: props.templateKey,
  dataIndex: props.dataIndex,
});

const startDate = computed({
  get: () => positionDataUtils.getValue('startDate'),
  set: (d) => positionDataUtils.setValue('startDate', d),
});

const endDate = computed({
  get: () => (props.hideEndDate ? null : positionDataUtils.getValue('endDate')),
  set: (v) => {
    const isCurrentlyHeld = v === 'Currently held';

    if (!isCurrentlyHeld) {
      positionDataUtils.setValue('endDate', v);
    } else {
      positionDataUtils.setValue('endDate', null);
    }

    positionDataUtils.setValue('isCurrentlyHeld', isCurrentlyHeld);
  },
});

const clearEndDateRef = ref(0);

const isCurrentlyHeld = computed({
  get: () =>
    props.hideEndDate ? null : positionDataUtils.getValue('isCurrentlyHeld'),
  set: (v) => {
    if (!!v) {
      endDate.value = 'Currently held';
      clearEndDateRef.value += 1;
    }
    positionDataUtils.setValue('isCurrentlyHeld', v);
  },
});

// Sort by highest election date first
const sortedElectionOptions = computed(() => {
  return [...electionOptions.value].sort((a, b) => {
    return a.label < b.label ? 1 : -1;
  });
});
</script>

<template>
  <FormOpts :hide-hints="true">
    <div class="row">
      <InputDropdown
        v-if="fetchedElections?.length"
        v-model="electionSelection"
        :rules="[
          (v) =>
            fetchedElections?.length ? rules.requiredOptionObject(v) : true,
        ]"
        class="col-12 col-sm-6 col-md-6"
        :options="sortedElectionOptions"
        label="Elections"
        autocomplete="nope"
        :return-option="true"
      />

      <InputDropdown
        v-model="officeSelection"
        :rules="[rules.requiredOptionObject]"
        class="col-12 col-sm-6 col-md-6"
        :options="officeOptions"
        label="Office"
        :use-input="true"
        autocomplete="nope"
        :return-option="true"
      />

      <InputDropdown
        v-model="jurisdictionSelection"
        :rules="[rules.requiredOptionObject]"
        class="col-12 col-sm-6 col-md-6"
        :options="jurisdictionOptions"
        label="Jurisdiction"
        :use-input="true"
        autocomplete="nope"
        :return-option="true"
      />

      <InputDropdown
        v-if="positionOptions.length"
        v-model="positionSelection"
        :rules="[
          (v) =>
            positionOptions?.length ? rules.requiredOptionObject(v) : true,
        ]"
        class="col-12 col-sm-6 col-md-6"
        :options="positionOptions"
        label="Position"
        :use-input="true"
        autocomplete="nope"
        :return-option="true"
      />

      <p-date-picker
        v-model="startDate"
        class="q-pt-sm col-6 col-sm-3"
        label="Start Date"
        stack-label
        :required="true"
      />

      <p-date-picker
        v-if="!hideEndDate"
        :key="clearEndDateRef"
        :model-value="endDate"
        class="q-pt-sm col-6 col-sm-3"
        label="End Date"
        stack-label
        :not-applicable="isCurrentlyHeld"
        valid-custom-string="Currently held"
        @update:model-value="endDate = $event"
      >
        <template #actions>
          <q-checkbox
            v-model="isCurrentlyHeld"
            label="Currently Held"
            class="col q-my-sm"
          />
        </template>
      </p-date-picker>
    </div>

    <InfoBox type="info" class="q-my-md">
      Because these dates are used to determine the coverage period for your
      disclosure statement, you will not be able to adjust them later.
    </InfoBox>

    <h3 class="q-mb-sm">{{ contactFormLabel }}</h3>
    <ContactForm v-bind="props" :position-data-utils="positionDataUtils" />
  </FormOpts>
</template>

<style>
.q-field__control-container {
  margin-left: 0;
}

.q-field--focused .q-field__control-container {
  margin-left: 12px;
}
</style>
