<script setup>
import { computed } from 'vue';

import { relationCode } from 'src/pages/Disclosure/common/options.js';

import { inputProps } from 'src/components/BaseInput.vue';
import DropdownMultiSelect from 'src/components/Dropdown/DropdownMultiSelect.vue';

defineOptions({
  name: 'who-dropdown',
});

const props = defineProps({
  ...inputProps,
  options: {
    type: Array,
    required: true,
  },
  optionUniqueKey: {
    type: String,
    default: null,
  },
  inline: {
    type: Boolean,
    default: false,
  },
  valueKey: {
    type: String,
    default: null,
  },
});

const emit = defineEmits('update:modelValue');

const selections = computed({
  get: () =>
    relationCode.filter((opt) => props.modelValue?.includes(opt.value)),
  set: (value) => {
    const values = value.map((opt) => opt.value);
    emit('update:modelValue', values);
  },
});

const readableSelections = computed(() => {
  return selections.value?.length > 0
    ? selections.value.map((selection) => selection.label).join(', ')
    : 'None selected';
});
</script>

<template>
  <DropdownMultiSelect
    v-model="selections"
    :rules="rules"
    :label="label"
    :field-display="readableSelections"
    :options="relationCode"
    class="col-12 col-sm-6"
  />
</template>
