<script>
export default {
  name: 'p-user-layout',
};
</script>

<script setup>
import { useApplication } from '@wapdc/pdc-ui/application';
import { computed, ref } from 'vue';

const isInitialized = ref(false);
await useApplication();
isInitialized.value = true;

const props = defineProps({
  maxWidth: {
    type: Number,
    default: null,
  },
  title: {
    type: String,
    Default: null,
  },
});

const containerStyle = computed(() => {
  return props.maxWidth ? `max-width: ${props.maxWidth}px` : '';
});
</script>

<!-- TODO: p-user-header will need to be custom to match parent application -->

<template>
  <q-layout view="lHh Lpr lFf">
    <p-user-header :title="title" />
    <q-page-container
      v-if="isInitialized"
      :style="containerStyle"
      class="q-pa-sm q-pa-md-lg"
    >
      <q-page>
        <router-view />
      </q-page>
    </q-page-container>
  </q-layout>
</template>
