<script setup>
import wizardStepProps from 'src/wizard/wizardStepProps.js';

defineOptions({
  name: 'candidacies',
});

defineProps({
  ...wizardStepProps,
});
// TODO: Get and display values from API
</script>

<template>
  <p>
    Because the answer to this question is used to determine the coverage period
    for your disclosure statement, it cannot be changed.
  </p>
</template>
