<script setup>
import useWizard from 'src/wizard/useWizard.js';

import AssetRows from '../common/AssetRows.vue';
import FormOpts from 'src/components/wizardInputs/FormOpts.vue';
import InputText from 'components/InputText.vue';
import WhoDropdown from 'src/pages/Disclosure/common/WhoDropdown.vue';

defineOptions({
  name: 'insurance-policy-form',
});

const props = defineProps({
  templateKey: {
    type: String,
    required: true,
  },
  dataIndex: {
    type: Number,
    required: true,
  },
});

const wizard = useWizard();

const dataUtils = wizard.fieldSet(props.templateKey).get(props.dataIndex);
</script>

<template>
  <FormOpts :hide-hints="true">
    <div class="row">
      <WhoDropdown
        v-model="dataUtils.vModel('heldBy').value"
        label="Held By"
        class="col-12 col-sm-6"
        :rules="dataUtils.rules('heldBy')"
      />

      <InputText
        v-model="dataUtils.vModel('natureOfHoldings').value"
        :rules="dataUtils.rules('natureOfHoldings')"
        class="col-12 col-sm-6"
        label="Nature of holdings"
      />
    </div>
  </FormOpts>

  <AssetRows
    :data-index="dataIndex"
    :field-array-key="props.templateKey"
    :required-field-keys="['name']"
    :template="['ticker', 'name']"
    row-label="stock"
    subset-array-key="investmentArray"
    title="Stocks"
  >
    <template #row="{ row }">
      <InputText
        v-model="row.ticker"
        class="col-12 col-md-2"
        label="Ticker"
        stack-label
        :rules="[
          (v) => v.length <= 5 || 'Must be 1-5 letters',
          (v) => v.toUpperCase() === v || 'Must be uppercase',
          (v) => /^[A-Z]+$/.test(v) || v === '' || 'Must be letters only',
        ]"
        mask="AAAAA"
      />

      <InputText
        v-model="row.name"
        class="col-12 col-md-2"
        label="Name"
        stack-label
        :rules="[
          (v) => (v.length <= 50 && v !== '') || 'Must be 1-50 characters',
        ]"
        :maxlength="50"
        @update:modelValue="wizard.validateStep(null, { innerOnly: true })"
      />
    </template>
  </AssetRows>
</template>
