<script setup>
import { computed, ref } from 'vue';

import useWizard from 'src/wizard/useWizard.js';

import { statementDateString } from 'src/pages/Disclosure/common/statementDateString.js';
import columns from './publiclyTradedInvestmentsColumns.js';

import ConfirmationDialog from 'src/components/ConfirmationDialog.vue';
import EditableSetTable from 'src/components/wizardInputs/EditableSetTable/EditableSetTable.vue';
import FormOpts from 'src/components/wizardInputs/FormOpts.vue';
import InputRadioYesNo, { YES, NO } from 'src/components/InputRadioYesNo.vue';
import PubliclyTradedInvestmentsForm from './PubliclyTradedInvestmentsForm.vue';

defineOptions({
  name: 'publicly-traded-investments',
});

const wizard = useWizard();

const modalOpen = ref(false);

const hasKey = 'hasPubliclyTradedInvestments';
const templateKey = 'institutionArray';

const hasFieldUtils = wizard.field(hasKey);
const fieldSetUtils = wizard.fieldSet(templateKey);

const rows = computed(() => fieldSetUtils.getAllData().value);

function handleAddNew() {
  return fieldSetUtils.add();
}

function updateHas(value) {
  const userHasStartedEntry = fieldSetUtils.getAllData().value?.length > 0;

  if (value === NO) {
    if (userHasStartedEntry) {
      modalOpen.value = true;
      return;
    }
    hasFieldUtils.set(NO);
  } else {
    handleAddNew();

    hasFieldUtils.set(YES);
  }
}

/** Deletes row and returns true on success */
function handleDeleteRow(rowIndex) {
  fieldSetUtils.remove(rowIndex);

  if (fieldSetUtils.getAllData().value?.length < 1) {
    hasFieldUtils.set(NO);
  }

  return true;
}

function userConfirmedModalClear() {
  fieldSetUtils.removeAll();
  hasFieldUtils.set(NO);
  modalOpen.value = false;
}

function handleSave() {
  wizard.save();
}
</script>

<template>
  <p>
    List all publicly traded stocks, bonds and commodities that you or a
    qualified family member held worth more than $2,400. Include investments
    that were held only during a portion of the reporting period. Include all
    investments held through:
  </p>

  <ul>
    <li>day trading accounts</li>
    <li>self-directed brokerage investment accounts</li>
    <li>self-directed retirement accounts</li>
    <li>529 college savings accounts</li>
  </ul>

  <p>
    For each item listed, provide a description, a value (the highest value
    during the period), and where appropriate, an income.
  </p>

  <p>
    Investments that are not made through public exchanges will be asked for in
    the next section.
  </p>

  <p>
    Did the filer, spouse, registered domestic partner or dependent have
    publicly traded investments between
    {{ statementDateString() }}?
  </p>

  <FormOpts :focus-first="true">
    <InputRadioYesNo
      :model-value="hasFieldUtils.value()"
      :rules="hasFieldUtils.self.rules"
      @update:modelValue="updateHas"
    />
    <template v-if="hasFieldUtils.value() === YES && rows?.length">
      <EditableSetTable
        label="group"
        :columns="columns"
        :rows="rows"
        :add-fn="handleAddNew"
        :delete-fn="handleDeleteRow"
        @save="handleSave"
      >
        <template #form="{ currentlyEditingIdx }">
          <PubliclyTradedInvestmentsForm
            :key="currentlyEditingIdx"
            :template-key="templateKey"
            :data-index="currentlyEditingIdx"
          />
        </template>
      </EditableSetTable>
    </template>
  </FormOpts>

  <ConfirmationDialog
    v-model:open="modalOpen"
    title="Clear all entries?"
    primary-btn-label="Yes, clear all"
    negative-btn-label="Cancel"
    @primary-clicked="userConfirmedModalClear"
    @negative-clicked="modalOpen = false"
  >
    Are you sure you want to clear all entries? This action cannot be undone.
  </ConfirmationDialog>
</template>
