<script setup>
import { computed, ref } from 'vue';

import { shallowClone } from 'src/utils/object.js';
import actionsColumn from 'src/components/wizardInputs/EditableSetTable/actionsColumn.js';
import useViewport from 'src/composables/useViewport';

import AccessibleIcon from 'src/components/AccessibleIcon.vue';
import FormBottomActions from './FormBottomActions.vue';
import FormTopActions from './FormTopActions.vue';
import PTable from 'src/components/PTable/PTable.vue';

defineOptions({
  name: 'editable-set-table',
});

const props = defineProps({
  columns: Array,
  rows: Array,
  label: String,
  addFn: Function,
  deleteFn: Function,
  breakpoints: {
    type: Object,
    default: () => ({
      xs: 450,
      sm: 650,
      md: 800,
    }),
  },
});

const emit = defineEmits(['save', 'navigate']);

const NULL_INDEX = -1;
const currentlyEditingIdx = ref(0);

const { width } = useViewport();

const mappedRows = computed(() => {
  const emptyFieldString = '–';
  const addIndexToRow = (row, index) => ({ ...row, itemId: index });

  const formatCellValues = (row) => {
    return Object.entries(row).reduce((acc, [key, value]) => {
      const formatFn = props.columns.find((col) => col.key === key)?.format;
      if (formatFn) {
        acc[key] = formatFn(value) || emptyFieldString;
        return acc;
      }

      acc[key] = value || emptyFieldString;
      return acc;
    }, {});
  };

  const rows = shallowClone(props.rows);

  return rows.map(formatCellValues).map(addIndexToRow);
});

const responsiveColumns = computed(() => {
  const cols = shallowClone(props.columns).map(mapColProperties);
  cols.push(actionsColumn);

  function mapColProperties(col) {
    if (col.width) col.style = resizeCol(col, col.width);
    col.name = col.key;
    col.field = col.key;
    col.sortable ??= false;
    return col;
  }

  function resizeCol(col, width) {
    col.style = `width: ${width}`;
    col.headerStyle = `width: ${width}`;
  }

  const largeScreen = width.value > props.breakpoints.md;
  const mediumScreen = width.value > props.breakpoints.sm;
  const smallScreen = width.value > props.breakpoints.xs;

  function filterOccludedCols(col) {
    return col.responsiveBehavior?.md?.occlude !== true;
  }

  function setColWidth(col, size) {
    if (col.responsiveBehavior?.[size]?.width) {
      resizeCol(col, col.responsiveBehavior[size].width);
    }
  }

  if (largeScreen) {
    return cols;
  }

  if (mediumScreen) {
    const mdCols = cols.filter(filterOccludedCols);
    mdCols.forEach((col) => setColWidth(col, 'md'));

    return mdCols;
  }

  if (smallScreen) {
    const smCols = cols.filter(filterOccludedCols);
    smCols.forEach((col) => setColWidth(col, 'sm'));

    return smCols;
  }

  // Viewport is <= props.breakpoints.xs
  const xsCols = cols.filter(filterOccludedCols);
  xsCols.forEach((col) => setColWidth(col, 'xs'));
});

const computedButtonStyle = computed(() => {
  if (width.value <= props.breakpoints.sm) {
    return 'padding: 0.5rem';
  }
  return 'padding: 0.35rem';
});

const computedIconSize = computed(() => {
  return width.value <= props.breakpoints.sm ? 'xs' : 'sm';
});

function handleAddRow() {
  const newIndex = props.addFn();
  currentlyEditingIdx.value = newIndex;
  return newIndex;
}

function handleEdit(itemId) {
  currentlyEditingIdx.value = itemId;
}

function handleSave() {
  emit('save');
  currentlyEditingIdx.value = NULL_INDEX;
}

function handleSaveAndAdd() {
  const indexToRestore = handleAddRow();
  emit('save');
  currentlyEditingIdx.value = indexToRestore;
}

function handleDelete(idx) {
  currentlyEditingIdx.value = NULL_INDEX;
  props.deleteFn(idx);
  emit('save');
}
</script>

<template>
  <template v-if="currentlyEditingIdx === NULL_INDEX">
    <PTable
      wrap-cells
      :flat="false"
      :columns="responsiveColumns"
      :rows="mappedRows"
      :title="title"
      class="q-mb-lg full-width"
      row-key="itemId"
      :auto-width="false"
      record-label-as-plural="items"
      custom-empty-message="No entries added"
    >
      <template #actions="{ itemId }">
        <p-accessible-button
          :style="computedButtonStyle"
          tooltip="Edit"
          @click="handleEdit(itemId)"
        >
          <AccessibleIcon name="edit" :size="computedIconSize" />
        </p-accessible-button>

        <p-accessible-button
          :class="width >= breakpoints.sm ? 'q-ml-sm' : ''"
          :style="computedButtonStyle"
          tooltip="Delete"
          @click="handleDelete(itemId)"
        >
          <AccessibleIcon
            name="delete"
            :size="computedIconSize"
            color="negative"
          />
        </p-accessible-button>
      </template>
    </PTable>

    <p-accessible-button @click="handleAddRow">
      <AccessibleIcon
        name="add_circle"
        size="sm"
        class="q-mr-sm"
        role="presentation"
      />
      Add {{ label }}
    </p-accessible-button>
  </template>

  <template v-else>
    <q-card class="q-pa-md">
      <FormTopActions
        :currently-editing-idx="currentlyEditingIdx"
        :item-count="props.rows?.length"
        @prev="currentlyEditingIdx -= 1"
        @next="currentlyEditingIdx += 1"
        @delete="handleDelete"
      />

      <slot name="form" :currently-editing-idx="currentlyEditingIdx" />

      <FormBottomActions
        :label="label"
        @save="handleSave"
        @save-and-add="handleSaveAndAdd"
      />
    </q-card>
  </template>
</template>
