<script setup>
defineOptions({
  name: 'form-bottom-actions',
});

defineProps({
  label: {
    type: String,
    required: true,
  },
});

const emit = defineEmits(['save', 'saveAndAdd']);
</script>

<template>
  <div id="positionFormBottom" class="row q-mt-lg">
    <p-accessible-button
      primary
      :label="`Save ${label}`"
      @click="emit('save')"
    />
    <p-accessible-button
      class="q-ml-md"
      :label="`Save & add another ${label}`"
      @click="emit('saveAndAdd')"
    />
  </div>
</template>
