<script setup>
import { computed } from 'vue';
import AccessibleIcon from 'components/AccessibleIcon.vue';

defineOptions({
  name: 'form-top-actions',
});

const props = defineProps({
  currentlyEditingIdx: {
    type: Number,
    required: true,
  },
  itemCount: {
    type: Number,
    required: true,
  },
  message: {
    type: String,
    default: 'All fields are required unless noted otherwise',
  },
});

const emit = defineEmits(['delete', 'prev', 'next']);

const hasPrev = computed(() => props.currentlyEditingIdx > 0);
const hasNext = computed(() => props.currentlyEditingIdx < props.itemCount - 1);
</script>

<template>
  <div class="row text-lg text-bold q-mb-sm">
    <div class="col-shrink">
      {{ currentlyEditingIdx + 1 }} of {{ itemCount }}
    </div>
    <div class="col grow"></div>
    <div class="col-shrink items-end">
      <p-accessible-button
        :disabled="!hasPrev"
        style="padding: 0"
        tooltip="Previous entry"
        @click="emit('prev')"
      >
        <AccessibleIcon name="chevron_left" size="sm" />
      </p-accessible-button>

      <p-accessible-button
        :disabled="!hasNext"
        class="q-ml-sm"
        style="padding: 0"
        tooltip="Next entry"
        @click="emit('next')"
      >
        <AccessibleIcon name="chevron_right" size="sm" />
      </p-accessible-button>

      <p-accessible-button
        class="q-ml-md"
        style="padding: 0"
        tooltip="Delete"
        @click="emit('delete', currentlyEditingIdx)"
      >
        <AccessibleIcon name="delete" size="sm" color="negative" />
      </p-accessible-button>
    </div>
  </div>
  <p v-if="message">{{ message }}</p>
</template>
