<script setup>
import { computed, ref } from 'vue';

import useWizard from 'src/wizard/useWizard.js';

import columns from './businessesOwnedColumns.js';

import ConfirmationDialog from 'src/components/ConfirmationDialog.vue';
import EditableSetTable from 'src/components/wizardInputs/EditableSetTable/EditableSetTable.vue';
import FormOpts from 'src/components/wizardInputs/FormOpts.vue';
import InputRadioYesNo, { YES, NO } from 'src/components/InputRadioYesNo.vue';
import BusinessesOwnedForm from './BusinessesOwnedForm.vue';

defineOptions({
  name: 'businessed-owned',
});

const modalOpen = ref(false);

const wizard = useWizard();

const hasKey = 'hasBusinessesOwned';
const templateKey = 'ownedBusinessesArray';

const hasFieldUtils = wizard.field(hasKey);
const fieldSetUtils = wizard.fieldSet(templateKey);

const rows = computed(() => fieldSetUtils.getAllData().value);

function handleAddNew() {
  return fieldSetUtils.add();
}

const hasBusinessesOwned = computed({
  get: () => hasFieldUtils.value(),
  set: (value) => {
    const userHasStartedEntry = fieldSetUtils.getAllData().value?.length > 0;

    if (value === NO) {
      if (userHasStartedEntry) {
        modalOpen.value = true;
        return;
      }
      hasFieldUtils.set(NO);
    } else {
      handleAddNew();

      hasFieldUtils.set(YES);
    }
  },
});

/** Deletes row and returns true on success */
function handleDeleteRow(rowIndex) {
  fieldSetUtils.remove(rowIndex);

  if (fieldSetUtils.getAllData().value?.length < 1) {
    hasFieldUtils.set(NO);
  }

  return true;
}

function userConfirmedModalClear() {
  fieldSetUtils.removeAll();
  hasFieldUtils.set(NO);
  modalOpen.value = false;
}

function handleSave() {
  wizard.save();
}
</script>

<template>
  <p>
    Disclose all businesses in which filer or a qualified family member held a
    10% or greater financial interest. For each of these businesses you will be
    asked to disclose:
  </p>

  <ul>
    <li>Operating and legal name</li>
    <li>Percentage of business owned</li>
    <li>Description of the business</li>
    <li>All payments from government agencies where you seek or hold office</li>
    <li>Payments from other government agencies of $12,000 or more</li>
    <li>
      Payments from business customers other than individual persons of $12,000
      or more
    </li>
    <li>Washington real estate owned valued at more than $24,000</li>
  </ul>

  <p>
    Did the filer, spouse, registered domestic partner or dependent own a
    business between July 11, 2023 and July 10, 2024?
  </p>

  <FormOpts :focus-first="true">
    <InputRadioYesNo
      v-model="hasBusinessesOwned"
      :rules="hasFieldUtils.self.rules"
      @update:modelValue="updateHas"
    />

    <template v-if="hasFieldUtils.value() === YES && rows?.length">
      <EditableSetTable
        label="business"
        :columns="columns"
        :rows="rows"
        :add-fn="handleAddNew"
        :delete-fn="handleDeleteRow"
        @save="handleSave"
      >
        <template #form="{ currentlyEditingIdx }">
          <BusinessesOwnedForm
            :key="currentlyEditingIdx"
            :template-key="templateKey"
            :data-index="currentlyEditingIdx"
          />
        </template>
      </EditableSetTable>
    </template>
  </FormOpts>

  <ConfirmationDialog
    v-model:open="modalOpen"
    title="Clear all entries?"
    primary-btn-label="Yes, clear all"
    negative-btn-label="Cancel"
    @primary-clicked="userConfirmedModalClear"
    @negative-clicked="modalOpen = false"
  >
    Are you sure you want to clear all entries? This action cannot be undone.
  </ConfirmationDialog>
</template>
