<template>
  <v-app>
    <v-app-bar
            app
            color="primary"
            dark
            class="d-print-none"
    >
      <v-toolbar-title class="hidden-print-only d-none d-sm-block">Financial Affairs</v-toolbar-title>
      <v-spacer/>
      <div class="pdc-logo-div">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="pdc-logo-source">
          <defs>
            <g id="pdc-logo-path">
              <path d="M129.6,49.8L129.6,49.8L129.6,49.8L129.6,49.8c-0.1,0-0.2,0-0.4,0c-4-0.2-7.3-3.7-7.3-7.9c0-4.4,3.4-7.9,7.6-7.9
                    c4.2,0,7.6,3.5,7.6,7.9c0,1.8-0.6,3.4-1.5,4.7h19.3c0.3-1.6,0.4-3.2,0.4-4.8c0-15.3-11.5-27.7-25.7-27.7c-10.4,0-19.4,6.7-23.4,16.3
                    V0.6H86.7v43.5l0,0c0,4-3.5,7.3-7.8,7.3c-4.3,0-7.8-3.3-7.8-7.3c0-4,3.5-7.3,7.8-7.3c1.7,0,3.3,0.6,4.6,1.4V18.3
                    c-1.5-0.2-3-0.4-4.6-0.4c-11.4,0-21.3,6.6-25.4,15.9c-3.7-10.2-14-17.6-26.1-17.6c-15,0-27.1,11.2-27.5,25.2l0,0v0.6v43.3h19.5V42.1
                    c0-4.1,3.6-7.5,8-7.5s8,3.4,8,7.5c0,4.1-3.6,7.5-8,7.5c-1.8,0-3.5-0.6-4.8-1.5v19.4c1.6,0.3,3.2,0.4,4.8,0.4
                    c11.4,0,21.3-6.6,25.4-15.9c3.7,10.2,14,17.6,26.1,17.6c12.6,0,23.3-8.1,26.5-19c3.3,10.8,12.7,18.7,23.8,18.9v0.1H173V49.9h-43.4
                    V49.8z"/>
            </g>
          </defs>
        </svg>
        <svg viewBox="0 0 173 86" id="pdc-logo-container">
          <use xlink:href="#pdc-logo-path"></use>
        </svg>
      </div>
    </v-app-bar>


    <v-content>
      <router-view/>
    </v-content>
  </v-app>
</template>

<script>

export default {
  name: 'App',
  data: () => ({
    //
  }),
};
</script>

<style>
  @import 'sass/main.scss';
</style>
