<script setup>
import { computed } from 'vue';
import { useRoute } from 'vue-router';

import useFiler from 'composables/api/useFiler.js';
import useTitle from 'composables/useTitle.js';
import useViewport from 'src/composables/useViewport';

import BackButton from 'components/GlobalSubHeader/BackButton/BackButtonWrapper.vue';
import FilerDropdownWrapper from 'components/GlobalSubHeader/Filer/FilerDropdownWrapper.vue';
import GlobalSubHeaderMobile from './GlobalSubHeaderMobile.vue';

defineOptions({
  name: 'global-sub-header',
});

const { subtitle, tagline } = useTitle();
const route = useRoute();

const { isXsViewport } = useViewport();
const { selectedFiler, locked } = useFiler();

/* Subtitle overtakes back button if it exists */
const showSubtitle = computed(() => subtitle.value?.trim()?.length);
const showTagline = computed(
  () => showSubtitle.value && tagline.value?.trim()?.length,
);
const showBackButton = computed(
  () => !showSubtitle.value && route.meta.backButton,
);
</script>

<template>
  <component
    :is="isXsViewport ? GlobalSubHeaderMobile : 'p-toolbar'"
    class="q-py-sm"
    anchor="top"
    :anchor-offset-px="50"
    :style="{
      borderBottom: `${showSubtitle ? '1px solid lightgray' : 'none'}`,
      backgroundColor: 'white',
    }"
  >
    <template #left>
      <back-button v-if="showBackButton" />

      <div v-if="showSubtitle" class="items-center q-my-none q-pl-sm text-base">
        <strong>{{ subtitle }}</strong>
        <span v-if="selectedFiler?.name && locked">
          for {{ selectedFiler.name }}</span
        >
      </div>
      <div
        v-if="showTagline"
        class="items-center q-my-none q-pl-sm text-italic text-caption text-weight-light"
        style="max-width: 330px"
      >
        {{ tagline }}
      </div>
    </template>
    <template #right>
      <div class="q-pa-sm">
        <filer-dropdown-wrapper v-if="!locked" :is-xs-viewport="isXsViewport" />
      </div>
    </template>
  </component>
</template>
