<script setup>
defineOptions({
  name: 'global-sub-header-mobile',
});
</script>

<template>
  <div
    style="margin-left: -0.5rem; margin-right: -0.5rem;"
    class="row q-px-sm"
  >
    <div class="col items-center">
      <slot name="left" />
    </div>
    <div class="col-auto flex items-center justify-end">
      <slot name="right" />
    </div>
  </div>
</template>
