<script setup>
import BackButton from 'components/GlobalSubHeader/BackButton.vue';
import useTitle from 'composables/useTitle.js';
import { useRoute } from 'vue-router';
import { computed } from 'vue';

/*
 * This component is used handle conditional rendering of the back button
 * or the subtitle depending on the current route and the presence of a subtitle.
 *
 * Conditions:
 * - If there is a subtitle, only the subtitle is shown, and a light gray border is added to the
 *   global subheader.
 * - If there is no subtitle and the route depth is greater than 0, only the back button is shown.
 * - If there is no subtitle and the route depth is 0 or undefined, neither the back button nor
 *   the subtitle are shown.
 */

defineOptions({
  name: 'subtitle-back-btn-wrapper',
});

const { subtitle } = useTitle();
const route = useRoute();

const showSubtitle = computed(() => subtitle.value?.trim()?.length);
const showBackButton = computed(
  () => !showSubtitle.value && route.meta.depth > 0,
);
</script>

<template>
  <div class="row items-center">
    <back-button v-if="showBackButton" />
    <span v-if="showSubtitle" class="items-center q-my-none text-subtitle1">{{ subtitle }}</span>
  </div>
</template>
