<script setup>
import AccessibleIcon from 'components/AccessibleIcon.vue';
import useSubmissions from 'src/composables/api/useSubmissions.js';
import useTitle from 'src/composables/useTitle.js';
import { ROUTE_NAMES } from 'src/router/routeNames';
import { computed } from 'vue';

defineOptions({
  name: 'index-page',
});

const { drafts: computedDrafts } = useSubmissions();
const { setPageTitle } = useTitle();

setPageTitle('Home');

const draftExists = computed(() => computedDrafts.value?.length > 0);

const icons = [
  { name: 'domain', label: 'Business icon' },
  { name: 'home', label: 'Home icon' },
  { name: 'attach_money', label: 'Money icon' },
];

function showHelp() {
  // TODO: Implement help modal
  console.log('Help clicked');
}
</script>

<template>
  <q-page
    class="flex column items-center"
    style="min-width: none; max-width: 800px; margin: 0 auto"
  >
    <h1>Financial Affairs Disclosure</h1>

    <section name="icons" class="row">
      <AccessibleIcon
        v-for="(icon, index) in icons"
        :key="index"
        :name="icon.name"
        color="primary"
        size="lg"
      />
    </section>

    <q-card class="row q-mt-md q-pa-lg" style="width: 100%">
      <q-card-section class="q-pa-none text-center" style="width: 100%">
        <h2 class="q-pt-none q-mt-none">
          {{ draftExists ? "Continue your" : "Start a new" }} Financial Affairs
          Disclosure
        </h2>
        <p>
          Learn more about
          <a href="#" @click="showHelp">
            importing data from the previous year
            <q-icon name="help" color="secondary" size="xs" role="button" />
            <q-tooltip>Click for more information</q-tooltip>
          </a>
        </p>
        <PAccessibleButton
          rounded
          color="primary"
          text-color="white"
          flat
          style="background-color: var(--q-primary)"
          :to="{ name: ROUTE_NAMES.DISCLOSURE_FORM }"
          :label="draftExists ? 'Continue' : 'Start'"
          :button-tooltip="`${
            draftExists ? 'Continue a' : 'Start a new'
          } disclosure form`"
        />
      </q-card-section>
    </q-card>
    <section
      name="previous-disclosures"
      class="q-mt-sm text-left"
      style="width: 100%"
    >
      <router-link :to="{ name: ROUTE_NAMES.MY_SUBMISSIONS }">
        View previous Financial Affairs Disclosures
      </router-link>
    </section>
  </q-page>
</template>
