<script setup>
import { computed, ref } from 'vue';

import useWizard from 'src/wizard/useWizard.js';

import { statementDateString } from 'src/pages/Disclosure/common/statementDateString.js';
import columns from './insurancePolicyColumns.js';

import ConfirmationDialog from 'src/components/ConfirmationDialog.vue';
import EditableSetTable from 'src/components/wizardInputs/EditableSetTable/EditableSetTable.vue';
import FormOpts from 'src/components/wizardInputs/FormOpts.vue';
import InputRadioYesNo, { YES, NO } from 'src/components/InputRadioYesNo.vue';
import InsurancePolicyForm from './InsurancePolicyForm.vue';

defineOptions({
  name: 'insurance-policy',
});

const modalOpen = ref(false);

const wizard = useWizard();

const hasKey = 'hasInsurance';
const templateKey = 'insuranceArray';

const hasFieldUtils = wizard.field(hasKey);
const fieldSetUtils = wizard.fieldSet(templateKey);

const rows = computed(() => fieldSetUtils.getAllData().value);

function handleAddNew() {
  return fieldSetUtils.add();
}

function updateHas(value) {
  const userHasStartedEntry = fieldSetUtils.getAllData().value?.length > 0;

  if (value === NO) {
    if (userHasStartedEntry) {
      modalOpen.value = true;
      return;
    }
    hasFieldUtils.set(NO);
  } else {
    handleAddNew();

    hasFieldUtils.set(YES);
  }
}

/** Deletes row and returns true on success */
function handleDeleteRow(rowIndex) {
  fieldSetUtils.remove(rowIndex);

  if (fieldSetUtils.getAllData().value?.length < 1) {
    hasFieldUtils.set(NO);
  }

  return true;
}

function userConfirmedModalClear() {
  fieldSetUtils.removeAll();
  hasFieldUtils.set(NO);
  modalOpen.value = false;
}

function handleSave() {
  wizard.save();
}
</script>

<template>
  <p>
    Report any insurance policies with a
    <strong>cash value or loan</strong> value of over $24,000. These are
    typically insurance policies that you can borrow against or use as
    collateral for a loan. They may include life insurance policies, annuities
    or disability insurance. This does not include term life insurance.
  </p>

  <p>
    Did the filer, spouse, registered domestic partner or dependent own an
    insurance policy with a cash value of more than $24,000 between
    {{ statementDateString() }}?
  </p>

  <FormOpts :focus-first="true">
    <InputRadioYesNo
      :model-value="hasFieldUtils.value()"
      :rules="hasFieldUtils.self.rules"
      @update:modelValue="updateHas"
    />
    <template v-if="hasFieldUtils.value() === YES && rows?.length">
      <EditableSetTable
        label="institution"
        :columns="columns"
        :rows="rows"
        :add-fn="handleAddNew"
        :delete-fn="handleDeleteRow"
        @save="handleSave"
      >
        <template #form="{ currentlyEditingIdx }">
          <InsurancePolicyForm
            :key="currentlyEditingIdx"
            :template-key="templateKey"
            :data-index="currentlyEditingIdx"
          />
        </template>
      </EditableSetTable>
    </template>
  </FormOpts>

  <ConfirmationDialog
    v-model:open="modalOpen"
    title="Clear all entries?"
    primary-btn-label="Yes, clear all"
    negative-btn-label="Cancel"
    @primary-clicked="userConfirmedModalClear"
    @negative-clicked="modalOpen = false"
  >
    Are you sure you want to clear all entries? This action cannot be undone.
  </ConfirmationDialog>
</template>
