<template>
  <div>
    <v-sheet style="max-width: 150m; height: 100%;">
      <div v-if="true" class="text-center">
        <h2>Financial Affairs Disclosure</h2>
        <p>
          <v-icon color="primary" large>business</v-icon>
          <v-icon color="primary" large>home</v-icon>
          <v-icon color="primary" large>attach_money</v-icon>
        </p>
      </div>


      <v-card
          max-width="800"
          class="mx-auto"
      >
        <v-list>
          <v-subheader></v-subheader>
          <v-list-item>
            <v-list-item-icon>
              <v-btn rounded color="primary" @click="onClickStart">
                <span v-if="!drafts || drafts.length === 0">Start</span>
                <span v-else>Continue...</span>
              </v-btn>
            </v-list-item-icon>
            <v-list-item-content>
              Start or continue a Financial Affairs Disclosure.
              <v-list-item-subtitle caption v-if="!drafts || drafts.length === 0">
                Importing data from the previous year. <info-dialog info="ImportingData"/>
              </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>

        </v-list>
        <v-card-text>
          <v-row justify="center">
            <router-link x-small :to="{ path:'submission-history' }">View previous Financial Affairs Disclosures</router-link>
          </v-row>
        </v-card-text>
      </v-card>
    </v-sheet>

    <v-dialog width="50em" v-model="showResetConfirm">
      <v-card>
        <v-card-title>Start Over Selected Submission</v-card-title>
        <v-card-text>
          <p>
            Resetting the submission will discard all information contained in the selected Financial Affairs Disclosure.  This
            action cannot be undone.
          </p>
        </v-card-text>
        <v-card-actions>
          <v-btn @click="resetItem()" color="primary">Reset</v-btn>
          <v-btn @click="cancelReset()">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="showDraftSelect" >
      <v-card>
        <v-card-title>
          Continue submission
        </v-card-title>
        <v-card-text>
          <v-list elevation="2">
            <v-list-item-group>
              <template v-for="draft in drafts">
                <v-list-item>
                  <v-list-item-icon>
                    <v-btn rounded color="primary" @click="editItem(draft.submission.submission_id)">Continue...</v-btn>
                  </v-list-item-icon>
                  <v-list-item-content>
                    {{draft | draftLabel($options.filters.dateFormatShort)}}
                  </v-list-item-content>
                  <v-list-item-action>
                    <v-btn icon @click.stop="resetPrompt(draft)"><v-icon>delete</v-icon></v-btn>
                  </v-list-item-action>
                </v-list-item>
                <v-divider />
              </template>
              <v-list-item v-if="!selected_person.submission_id || !hasDraft" @click="startNew">
                <v-list-item-icon>
                  <v-btn rounded color="primary" @click="startNew">Start New</v-btn>
                </v-list-item-icon>
                <v-list-item-content>
                  Start a new Financial Affairs Disclosure
                </v-list-item-content>
              </v-list-item>
            </v-list-item-group>
          </v-list>
        </v-card-text>
        <v-card-actions>
          <v-btn @click="onCloseDraftSelect">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
  import {mapState, mapActions} from 'vuex';
  import {app} from "../main";
  import InfoDialog from "@/info/InfoDialog";
  export default {
    name: "MySubmissions",
    components: {InfoDialog},
    data() {
      return {
        showResetConfirm: false,
        showDraftSelect: false,
        drafts: [],
        selectedDraft: "",
        computedCounter: 0,
        curDraft: {submission: null},
        hasDraft: false
      };
    },
    computed: {
      ...mapState(['statements', 'statement', 'submission', 'user', 'person']),
      selected_person() {
        this.computedCounter;
        if(this.user.selected_person) {
          return this.user.selected_person
        }
        else return null;
      },
    },
    created() {
      this.loadDrafts();
      app.$container.wire.$on('SelectedPerson.Changed', () => {
        this.computedCounter++;
        this.selectedDraft = "";
        this.loadDrafts();
      });
      app.$container.wire.$on('App.SubmissionCreated', () => {
        this.computedCounter++;
        this.loadDrafts();
      });
      app.$container.wire.$on('ResetConfirmation.close', this.closeResetDialog);
    },
    methods: {
      ...mapActions(['getDraftSubmission', 'resetSubmission', 'removeSubmissionById', 'setPerson', 'resetLocalSubmissionState']),
      loadDrafts(){
        let me = this;
        let selectedPerson = Object.assign({}, this.user.selected_person);
        let url = 'service/financial-affairs/drafts';
        app.$container.dataService.get(url, result => {
          this.drafts = result.data.drafts;
          result.data.drafts.forEach(function (draft) {
            if (!draft.statement.amends) {
              me.hasDraft = true;
            }
          })
        }, {person_id : selectedPerson.person_id});
      },
      onClickStart() {
        if (!this.drafts || this.drafts.length === 0) {
          this.resetLocalSubmissionState()
          this.startNew();
        } else {
          this.showDraftSelect = true;
        }
      },
      startNew() {
        this.selectedDraft = "";
        this.startWizard();
      },
      editItem(submission_id) {
        this.selectedDraft = submission_id;
        this.startWizard();
      },
      resetPrompt(draft) {
        this.curDraft = draft;
        this.showResetConfirm = true;
      },
      cancelReset() {
        this.showResetConfirm = false;
        this.curDraft = {};
      },
      resetItem() {
        let submission_id = this.curDraft.submission.submission_id;
        this.hasDraft = false;
        this.removeSubmissionById(submission_id).then(
          () => {
            this.showResetConfirm = false;
            this.user.selected_person.submission_id = null;
            this.computedCounter++;
            this.loadDrafts();
            if (this.drafts.length === 0) {
              this.showDraftSelect = false;
            }
          });
      },
      onCloseDraftSelect() {
        this.selectedDraft = "";
        this.showDraftSelect = false;
      },
      startWizard() {
        this.getDraftSubmission({"start": true, "submission_id": this.selectedDraft});
        this.showDraftSelect = false;
        if (this.user.selected_person && this.user.selected_person.person_id > 0) {
          let selectedPerson = Object.assign({}, this.user.selected_person);
          this.setPerson(selectedPerson);
        }
      },
      closeResetDialog() {
        this.showResetConfirm=false;
        this.startWizard();
      },
    },
    filters: {
      draftLabel(draft, formatter) {
        let label = "";
        label += draft.statement.amends ? "Amendment of a previously submitted report by " : "Draft for ";
        label += draft.submission.name + " covering ";
        label += draft.statement.period_start ? formatter(draft.statement.period_start) + ' through '
          + formatter(draft.statement.period_end) : 'a new statement period';
        return label;
      },
    }
  }
</script>

<style scoped>
  .v-list-item__icon {
  width: 9em;
}

@media (max-width: 400px) {
  .v-list-item__icon {
    width: 105px;
  }
}

</style>
