<template>
  <div>
    <v-toolbar flat>
      <v-btn color="primary" @click="showAmend = true">Amend or create report</v-btn>
    </v-toolbar>
    <AttachFile v-if="user.rights.enter_wapdc_data" target_type="fa_submission" :target_id="parseInt(this.$route.params.submission_id)"></AttachFile>
    <Submission />
    <v-dialog v-model="showAmend">
      <v-form @submit.prevent="doAmend()">
        <v-card>
          <v-card-title>
            Amend Financial Affairs Disclosure
          </v-card-title>
          <v-card-text>
            <p><strong>What are you trying to do?</strong></p>
            <v-radio-group v-model="choice">
              <v-radio value="amend"
                label="Make a correction to a report that I have already filed."> </v-radio>
              <v-radio value="carry_forward"
                label="File a new report using the information from this Disclosure Statement."></v-radio>
            </v-radio-group>
          </v-card-text>
          <v-card-actions>
            <v-btn :disabled="!choice" type="submit" color="primary">
              Ok
            </v-btn>
            <v-btn @click="showAmend = false">
              Cancel
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-dialog>
  </div>
</template>

<script>
  import {mapActions, mapState} from 'vuex';
  import Submission from "../statement/Submission";
  import AttachFile from "../components/AttachFile";
  export default {
    name: "Statement.vue",
    components: {Submission, AttachFile},
    data() {
      return {
        showAmend: false,
        choice: false,
      }
    },
    computed: {
      ...mapState(['person', 'user', 'candidacies', 'offices'])
    },
    created() {
      this.getSubmission(this.$route.params.submission_id);
    },
    methods: {
      ...mapActions(['getSubmission', 'amendSubmission', 'getDraftSubmission']),
      doAmend() {
        this.showAmend=false;
        if (this.choice==='amend') {
          this.amendSubmission();
          this.$router.push({path: '/submission-history'});
        }
        else {
          this.getDraftSubmission({start: true, import_id: this.$route.params.submission_id});
        }
      },
    }
  }
</script>

<style scoped>

</style>