<template>
  <div>
    <v-container fluid>
      <h2>
        History of Financial Affairs Disclosures
      </h2>
      <v-card class="bottom-margin">
        <v-card-title>
          Unverified reports
        </v-card-title>
        <v-card-text>
          Financial Affairs Disclosures that are pending review.
          <v-data-table :items="unverified"
                        :headers="[
                      { text: 'Last Updated', value: 'updated_at', width: '30%' },
                      { text: 'Submitted', value: 'submitted_at', width: '30%' },
                      { text: '', value: 'action', width: '5%' },
                    ]"
                        hide-default-footer
                        disable-pagination
          >
            <template v-slot:item.updated_at="{item}">
              {{item.updated_at | dateFormat}}
            </template>
            <template style="" v-slot:item.submitted_at="{item}">
              {{item.submitted_at | dateFormat}}
            </template>
            <template v-slot:item.action="{item}">
              <v-btn :to="{ name:'submission-view', params: {submission_id: item.submission_id }}">View</v-btn>
            </template>
          </v-data-table>
        </v-card-text>
      </v-card>

      <v-card class="bottom-margin">
        <v-card-title>
          Prior Reports
        </v-card-title>
        <v-card-text>
          Financial Affairs Disclosures that have been verified by PDC staff.
          <v-data-table :items="prior"
                        :headers="[
                      { text: 'Reporting Period', value: 'reporting_period', width: '30%' },
                      { text: 'Submitted', value: 'submitted_at', width: '30%' },
                      { text: '', value: 'action', width: '5%' },
                    ]"
                        hide-default-footer
                        disable-pagination
          >
            <template v-slot:item.reporting_period="{item}">
              {{item.period_start | dateFormat}} - {{item.period_end | dateFormat}}
            </template>
            <template v-slot:item.submitted_at="{item}">
              {{item.submitted_at | dateFormat}}
            </template>
            <template v-slot:item.action="{item}">
              <v-btn :to="{ name:'submission-view', params: {submission_id: item.submission_id }}">View</v-btn>
            </template>
          </v-data-table>
        </v-card-text>
      </v-card>

      <v-card class="bottom-margin">
        <v-card-title>
          Legacy Reports
        </v-card-title>
        <v-card-text>
          Financial Affairs Disclosures that were submitted prior to the launch of the new system in 2020.
          <v-data-table :items="legacy"
                        :headers="[
                      { text: 'Filer ID', value: 'filer_id', width: '30%' },
                      { text: 'Submitted', value: 'submitted_at', width: '30%' },
                      { text: '', value: 'action', width: '5%' },
                    ]"
                        hide-default-footer
                        disable-pagination
          >
            <template v-slot:item.submitted_at="{item}">
              {{item.submitted_at | dateFormat}}
            </template>
            <template v-slot:item.action="{item}">
              <v-btn target="_blank" :href="redirectToLegacyDocument(item)">View</v-btn>
            </template>

          </v-data-table>

        </v-card-text>
      </v-card>

    </v-container>

  </div>
</template>

<script>
  import {app} from '@/main';
  import { mapActions, mapState } from 'vuex';

  export default {
    name: "SubmissionHistory.vue",
    data() {
      return {
        unverified: [],
        prior: [],
        legacy: [],
        submissionView: false
      }
    },
    computed: {
      ...mapState(['user'])
    },
    created() {
      this.updateSelectedPerson();
      app.$container.wire.$on('SelectedPerson.Changed', () => {
        this.updateSelectedPerson();
      });
    },
    methods: {
      ...mapActions(['getSubmission']),
      redirectToLegacyDocument(item) {
        let url = app.$container.dataService.service_host + 'financial-affairs/legacy-submission';
        if (item.filing_type === 'electronic') {
          url = url + '?repno=' + item.repno;
        }
        else {
          url = url + '?docid=' +  item.docid;
        }
        return url;
      },
      updateSelectedPerson() {
        let person_id = (this.user.persons && this.user.selected_person) ? this.user.selected_person.person_id : null;
        let url = 'service/financial-affairs/submissions';
        app.$container.dataService.get(url, result => {
            if (result.data.success) {
              this.unverified = result.data.unverified;
              this.prior = result.data.prior;
              this.legacy = result.data.legacy;
            }
          },
          {person_id: person_id});
      }
    }
  }
</script>

<style scoped>
  .bottom-margin {
    margin-bottom: 1em;
  }
</style>