<template>
  <div>
    <v-toolbar>
      <v-btn v-if="!verified" @click="tryVerify()">Verify...</v-btn>
      <div v-else>Submission Verified</div>
      <v-btn v-if="attachments" target="_blank" :href="attachments.file_service_url">View Paper File</v-btn>
    </v-toolbar>
    <Statement :legacy="legacy"/>
    <StatementLogs ref="logs"></StatementLogs>
    <Verification :legacy="legacy" ref="verification"></Verification>
    <Submission></Submission>
  </div>
</template>

<script>
  import {app} from "@/main";
  import { mapActions, mapState }from 'vuex'
  import Verification from "../components/Verification";
  import StatementLogs from "../components/StatementLogs"
  import Statement from "../components/Statement";
  import Submission from "../statement/Submission";
  export default {
    name: "UnverifiedSubmission",
    components: {Statement, Verification, StatementLogs, Submission},
    data() {
      return {
        legacy: false
      }
    },
    computed: {
      ...mapState(['statement', 'submission', 'person', 'user', 'attachments']),
      verified() {
        return this.submission ? this.submission.verified : false;
      }
    },
    watch: {
      '$route' (to)  {
        this.legacy = to.$route.path.includes('legacy');
      },
    },
    mounted() {
      let submission_id = app.$route.params.submission_id;
      let person_id = app.$route.params.person_id;
      this.legacy = this.$route.path.includes('legacy');
      this.getUnverifiedSubmission({submission_id: submission_id, person_id: person_id});
      this.getLogs();
    },
    methods: {
      ...mapActions(['getUnverifiedSubmission']),
      getLogs(){
        let id = app.$route.params.submission_id;
        if (this.$refs['logs'] && id) {
          this.$refs['logs'].getStatementLogs('submission_id', id);
        }
      },
      tryVerify() {
        this.$refs['verification'].doVerification();
      }
    }
  }
</script>

<style scoped>

</style>