<script setup>
import PInfoDialog from 'src/library/PInfoDialog.vue';
import { computed, reactive } from 'vue';

defineOptions({
  name: 'amend-create-dialog',
});

defineProps({
  isOpen: {
    type: Boolean,
    required: true,
  },
});

const state = reactive({
  radioAction: null,
});

const radioActionIsSelected = computed(() => state.radioAction !== null);

const emit = defineEmits(['close', 'submit']);

function submit() {
  emit('submit', state.radioAction);
}

function close() {
  emit('close');
  state.radioAction = null;
}
</script>

<template>
  <p-info-dialog
    :is_open="isOpen"
    title="Amend Financial Affairs Disclosure"
    :hide_trigger="true"
    @close="close"
  >
    <template #default>
      What are you trying to do?
      <q-radio
        v-model="state.radioAction"
        val="amend"
        label="Make a correction to a report that I have already filed."
      />
      <q-radio
        v-model="state.radioAction"
        val="create"
        label="File a new report using the information from this Disclosure Statement."
      />
    </template>

    <template #actions>
      <q-btn
        label="OK"
        color="primary"
        :disable="!radioActionIsSelected"
        @click="submit"
      >
        <q-tooltip v-if="!radioActionIsSelected">
          Please select an action or cancel
        </q-tooltip>
      </q-btn>
      <q-btn label="Cancel" color="secondary" @click="close" />
    </template>
  </p-info-dialog>
</template>
