<script setup>
import AmendCreateDialog from 'src/pages/MySubmissions/Details/AmendCreateDialog.vue';
import { ref } from 'vue';

defineOptions({
  name: 'amend-create-btn',
});

const isOpen = ref(false);

function onSubmit() {
  console.log('todo: submit');
  isOpen.value = false;
}
</script>

<template>
  <q-btn
    color="primary"
    label="Amend or Create Report"
    @click="isOpen = true"
  />
  <amend-create-dialog
    :is-open="isOpen"
    @submit="onSubmit"
    @close="isOpen = false"
  />
</template>
