<script setup>
import { ref, onMounted } from 'vue';

import useSubmissions from 'src/composables/api/useSubmissions.js';

import AmendCreateBtn from 'src/pages/MySubmissions/Details/AmendCreateBtn.vue';
import SubmissionIdentifyingInfo from 'src/pages/MySubmissions/Details/DetailSection/SubmissionIdentifyingInfo.vue';
import SubmissionIncomeInfo from 'src/pages/MySubmissions/Details/DetailSection/SubmissionIncomeInfo.vue';
import SubmissionLobbyingInfo from 'src/pages/MySubmissions/Details/DetailSection/SubmissionLobbyingInfo.vue';
import SubmissionBusinessInfo from 'src/pages/MySubmissions/Details/DetailSection/SubmissionBusinessInfo.vue';
import SubmissionDebtInfo from 'src/pages/MySubmissions/Details/DetailSection/SubmissionDebtInfo.vue';
import SubmissionRealEstateInfo from 'src/pages/MySubmissions/Details/DetailSection/SubmissionRealEstateInfo.vue';
import SubmissionAssetsInfo from 'src/pages/MySubmissions/Details/DetailSection/SubmissionAssetsInfo.vue';

defineOptions({
  name: 'submission-details',
});

const props = defineProps({
  submissionId: {
    type: String,
    required: true,
  },
});

const { getSubmissionById } = useSubmissions();

const submittedReport = ref(null);

onMounted(() => {
  const { submissionId } = props;
  getSubmissionById(submissionId).then((submission) => {
    submittedReport.value = submission;
  });
});
</script>

<template>
  <div>
    <h1>
      Financial Affairs Disclosure - Washington State Public Disclosure
      Commission
    </h1>

    <amend-create-btn />

    <div v-if="submittedReport">
      <submission-identifying-info
        class="q-mb-md"
        :submission="submittedReport"
      />
      <submission-income-info class="q-mb-md" :submission="submittedReport" />
      <submission-assets-info class="q-mb-md" :submission="submittedReport" />
      <submission-real-estate-info
        class="q-mb-md"
        :submission="submittedReport"
      />
      <submission-debt-info class="q-mb-md" :submission="submittedReport" />
      <submission-business-info class="q-mb-md" :submission="submittedReport" />
      <submission-lobbying-info class="q-mb-md" :submission="submittedReport" />
    </div>
  </div>
</template>
