<script setup>
import { computed } from 'vue';

import useViewport from 'src/composables/useViewport';

import { renderWho } from 'src/utils/format.js';

import GovernmentPayments from './Payments/GovernmentPayments.vue';
import OtherGovernmentPayments from './Payments/OtherGovernmentPayments.vue';
import BusinessPayments from './Payments/BusinessPayments.vue';

defineOptions({
  name: 'submission-business-info',
});

const props = defineProps({
  submission: {
    type: Object,
    required: true,
  },
});

const data = computed(() => {
  const data = props.submission?.statement?.business_associations?.data;
  return data || {};
});

const isXsViewport = useViewport();
</script>

<template>
  <q-card>
    <q-card-section>
      <h2 class="q-mt-none">Business</h2>
      <p>
        Business entities where filer owns 10 percent or more, or serves as an
        officer, director or general partner.
      </p>
    </q-card-section>

    <q-card-section v-if="data?.length">
      <template v-for="(biz, index) in data" :key="index">
        <div class="row">
          <div :class="isXsViewport ? 'row' : 'col-4'">
            <div>
              <strong
              >{{ biz.legal_name }} ({{
                renderWho(biz.who, submission)
              }})</strong
              >
            </div>
            <div class="italic">
              <div>{{ biz.address }}</div>
              {{ biz.city }}, {{ biz.state }}
              {{ biz.postcode }}
            </div>
            <div>
              {{ biz.description }}
            </div>
            <div v-if="biz.percentage_of_ownership">
              {{ biz.percentage_of_ownership }}% ownership
            </div>
          </div>

          <div :class="isXsViewport ? 'row' : 'col-8'">
            <government-payments
              :data="biz"
              :period-start="submission.period_start"
              :period-end="submission.period_end"
            />
            <other-government-payments
              :data="biz"
              :period-start="submission.period_start"
              :period-end="submission.period_end"
            />
            <business-payments
              :data="biz"
              :period-start="submission.period_start"
              :period-end="submission.period_end"
            />
          </div>
        </div>
        <hr v-if="index !== data.length - 1" color="#e0e0e0" class="q-my-md" />
      </template>
    </q-card-section>
    <q-card-section v-else>
      There is no business ownership, nor is there involvement as an officer,
      director or general partner.
    </q-card-section>
  </q-card>
</template>
