<script setup>
import { computed } from 'vue';
import { renderIncomeRange, renderWho } from 'src/utils/format.js';

defineOptions({
  name: 'submission-assets-info',
});

const props = defineProps({
  submission: {
    type: Object,
    required: true,
  },
});

const accountsData = computed(() => {
  const data = props.submission?.statement?.accounts?.data;
  return data || [];
});
</script>

<template>
  <q-card>
    <q-card-section>
      <h2 class="q-mt-none">Assets</h2>

      Financial assets and interest income are reported from bank accounts,
      insurance policies, broker-directed investment accounts, self-directed
      investment accounts and other financial assets:
    </q-card-section>

    <q-card-section v-if="accountsData?.length">
      <div class="row">
        <div
          v-for="(account, index) in accountsData"
          :key="index"
          class="col-auto q-pr-lg q-mb-md"
        >
          <strong>{{ account.name }}</strong>

          <template v-if="account.category !== 'stocks'">
            <div class="text-italic">
              <div>{{ account.address }}</div>
              {{ account.city }}, {{ account.state }}
              {{ account.postcode }}
            </div>
            <div>
              <strong>Account Owner:</strong>
              {{ renderWho(account.who, submission) }}
            </div>
            <div>
              <strong>Type:</strong>
              {{ account.assets[0].nature }}
            </div>
            <div>
              <strong>Income:</strong>
              {{ renderIncomeRange(account.assets[0].income) }}
            </div>
            <div>
              <strong>Value:</strong>
              {{ renderIncomeRange(account.assets[0].value) }}
            </div>
          </template>

          <template v-else>
            <div v-for="(stock, j) in account.assets" :key="j">
              <div>
                <strong>{{ stock.ticker }} - {{ stock.name }}</strong>
              </div>
              <div>
                <strong>Income:</strong>
                {{ renderIncomeRange(stock.income) }}
              </div>
              <div>
                <strong>Value:</strong>
                {{ renderIncomeRange(stock.value) }}
              </div>
            </div>
          </template>
        </div>
      </div>
    </q-card-section>

    <q-card-section v-else>
      <div>
        There are no reportable financial assets, including bank accounts,
        insurance policies, broker or self-directed investment accounts or any
        other financial assets.
      </div>
    </q-card-section>
  </q-card>
</template>
