<script setup>
import { computed } from 'vue';
import { renderIncomeRange, renderWho } from 'src/utils/format.js';

defineOptions({
  name: 'submission-lobbying-info',
});

const props = defineProps({
  submission: {
    type: Object,
    required: true,
  },
});

const data = computed(() => {
  const data = props.submission?.statement?.lobbies;
  return data || {};
});
</script>

<template>
  <q-card>
    <q-card-section>
      <h2 class="q-mt-none">Lobbying Activity</h2>
      <p>Compensation received for lobbying activities:</p>
    </q-card-section>
    <q-card-section v-if="data?.length">
      <div class="row">
        <div
          v-for="(lobby, index) in data"
          :key="index"
          class="col-auto q-pr-lg q-mb-md"
        >
          <div>
            <strong>Lobbyist:</strong>
            {{ renderWho(lobby.who, submission) }}
          </div>
          <div>
            <strong>Lobbied for:</strong>
            {{ lobby.for }}
          </div>
          <div>
            <strong>Purpose:</strong>
            {{ lobby.purpose }}
          </div>
          <div>
            <strong>Compensation:</strong>
            {{ renderIncomeRange(lobby.compensation) }}
          </div>
        </div>
      </div>
    </q-card-section>
    <q-card-section v-else>
      No qualifying lobbying activity was done.
    </q-card-section>
  </q-card>
</template>
