<script setup>
import { computed } from 'vue';
import { renderIncomeRange, renderWho } from 'src/utils/format.js';

defineOptions({
  name: 'submission-income-info',
});

const props = defineProps({
  submission: {
    type: Object,
    required: true,
  },
});

const incomeData = computed(() => {
  const data = props.submission?.statement?.income?.data;
  return data || {};
});
</script>

<template>
  <q-card>
    <q-card-section>
      <h2 class="q-mt-none">Income</h2>
      <p>
        Reportable income, including wages, tips, sales commissions, stock
        options, non-investment retirement income and miscellaneous income such
        as legal judgments, rental property income, etc.:
      </p>
      <p v-if="incomeData?.length < 1">
        There is no income from wages, tips, sales commissions, stock options,
        non-investment retirement income or any other miscellaneous income.
      </p>
    </q-card-section>
    <q-card-section else>
      <div class="row">
        <div
          v-for="(incomeSource, index) in incomeData"
          :key="index"
          class="col-auto q-pr-lg q-mb-md"
        >
          <strong>{{ incomeSource.name }}</strong>
          <div class="text-italic">
            <div>{{ incomeSource.address }}</div>
            {{ incomeSource.city }}, {{ incomeSource.state }}
            {{ incomeSource.postcode }}
          </div>
          <div>
            <strong>Earned by:</strong>
            {{ renderWho(incomeSource.who, submission) }}
          </div>
          <div>
            <strong>Income:</strong>
            {{ renderIncomeRange(incomeSource.income) }}
          </div>
          <div><strong>Type:</strong> {{ incomeSource.why }}</div>
        </div>
      </div>
    </q-card-section>
  </q-card>
</template>
