<script setup>
import { computed } from 'vue';
import { renderIncomeRange, renderWho } from 'src/utils/format.js';

defineOptions({
  name: 'submission-debt-info',
});

const props = defineProps({
  submission: {
    type: Object,
    required: true,
  },
});

const data = computed(() => {
  const data = props.submission?.statement?.creditors;
  return data || {};
});
</script>

<template>
  <q-card>
    <q-card-section>
      <h2 class="q-mt-none">Debt</h2>
      <p>Creditors owed more than $2,400:</p>
    </q-card-section>
    <q-card-section v-if="data?.length">
      <div class="row">
        <div
          v-for="(creditor, index) in data"
          :key="index"
          class="col-auto q-pr-lg q-mb-md"
        >
          <div>
            <strong>Creditor name: {{ creditor.name }}</strong>
          </div>
          <div>
            <strong>Owned by: {{ renderWho(creditor.who, submission) }}</strong>
          </div>
          <div class="italic">
            <div>{{ creditor.address }}</div>
            {{ creditor.city }}, {{ creditor.state }}
            {{ creditor.postcode }}
          </div>
          <div>
            <strong>Original amount:</strong>
            {{ renderIncomeRange(creditor.original_amount) }}
          </div>
          <div>
            <strong>Ending amount:</strong>
            {{ renderIncomeRange(creditor.ending_amount) }}
          </div>
          <div>
            <strong>Payment terms:</strong>
            {{ creditor.payment_terms }}
          </div>
          <div>
            <strong>Security given:</strong>
            {{ creditor.security_given }}
          </div>
        </div>
      </div>
    </q-card-section>
    <q-card-section v-else>
      <p>There is no debt owed in excess of $2,400.</p>
    </q-card-section>
  </q-card>
</template>
