<script setup>
import { formatDate } from '@wapdc/pdc-ui/util';

defineOptions({
  name: 'submission-income-info',
});

defineProps({
  submission: {
    type: Object,
    required: true,
  },
});
</script>

<template>
  <div class="row full-width q-my-md w-full">
    <div class="col-8">
      <div class="row">{{ submission.person.name }}</div>
      <div class="row">
        <template v-if="submission.statement.has_spouse">
          Spouse or registered domestic partner:
          {{ submission.statement.spouse }}
        </template>
      </div>
      <div class="row">
        Covering
        {{ formatDate(submission.statement.period_start) }} -
        {{ formatDate(submission.statement.period_end) }}
      </div>
      <div v-if="submission.candidacies?.length" class="row">
        <div class="col">
          <div class="row text-bold">Candidacies:</div>
          <template
            v-for="candidacy in submission.candidacies"
            :key="candidacy"
          >
            <div class="row">
              {{ candidacy.office }} - {{ candidacy.jurisdiction }} -
              {{ candidacy.election }}
            </div>
          </template>
        </div>
      </div>
      <p class="text-dark text-caption">
        * Unless otherwise indicated, all reported information pertains to
        {{ submission.person.name }}.
      </p>
    </div>

    <div class="col-4">
      <div class="q-pa-sm border-black">
        <div class="row">
          <span class="text-bold q-mr-sm">Submitted Date:</span>
          {{ formatDate(submission.submission.submitted_at) }}
        </div>
        <div class="row">
          <span class="text-bold q-mr-sm">Certified by:</span>
          {{ submission.submission.certification_name }}
        </div>
        <div class="row">
          <span class="text-bold q-mr-sm">Email:</span>
          {{ submission.submission.certification_email }}
        </div>
        <div class="row">
          <span class="text-bold q-mr-sm">Phone:</span>
          {{ submission.submission.certification_phone }}
        </div>
      </div>
    </div>
  </div>
</template>
