<script setup>
import { computed } from 'vue';
import { renderIncomeRange, renderWho } from 'src/utils/format.js';

defineOptions({
  name: 'submission-real-estate-info',
});

const props = defineProps({
  submission: {
    type: Object,
    required: true,
  },
});

const data = computed(() => {
  const realEstate = props.submission?.statement?.real_estate;
  return realEstate || [];
});
</script>

<template>
  <q-card>
    <q-card-section>
      <h2 class="q-mt-none">Real Estate</h2>
    </q-card-section>
    <q-card-section v-if="data?.length">
      <div class="row">
        <div
          v-for="(estate, index) in data"
          :key="index"
          class="col-auto q-pr-lg q-mb-md"
        >
          <div class="text-italic">
            <template v-if="estate.location.address">
              <div>{{ estate.location.address }}</div>
              {{ estate.location.city }}, {{ estate.location.state }}
              {{ estate.location.postcode }}
            </template>
            <template v-else-if="estate.location.parcel">
              <div>{{ estate.location.county }} COUNTY</div>
              <div>Parcel number: {{ estate.location.parcel }}</div>
            </template>
            <template v-else-if="estate.location.legal_description">
              <div>{{ estate.location.county }} COUNTY</div>
              <div>{{ estate.location.legal_description }}</div>
            </template>
            <template v-else-if="estate.location.residence_type">
              <div>{{ estate.location.residence_type }}</div>
              {{ estate.location.city }}, {{ estate.location.state }}
            </template>
          </div>
          <div>
            <strong>Owned by:</strong>
            {{ renderWho(estate.who, submission) }}
          </div>
          <div>
            <strong>Assessed Value:</strong>
            {{ renderIncomeRange(estate.assessed_value) }}
          </div>
          <template v-if="estate?.has_creditors">
            <div v-for="(creditor, j) in estate.creditors" :key="j">
              <div>
                <strong>Creditor:</strong>
                {{ creditor.name }}
              </div>
              <div>
                <strong>Address:</strong>
                {{ creditor.address }}
              </div>
              <div>
                <strong>Terms:</strong>
                {{ creditor.terms }}
              </div>
              <div>
                <strong>Security Given:</strong>
                {{ creditor.security_given }}
              </div>
              <div>
                <strong>Original Amount:</strong>
                {{ renderIncomeRange(creditor.original_amount) }}
              </div>
              <div>
                <strong>Current Amount:</strong>
                {{ renderIncomeRange(creditor.current_amount) }}
              </div>
            </div>
          </template>
        </div>
      </div>
    </q-card-section>
    <q-card-section v-else>There is no real estate owned in Washington State.</q-card-section>
  </q-card>
</template>
