<script setup>
import { getCurrentInstance } from 'vue';

defineOptions({
  name: 'accessible-icon',
});

defineProps({
  name: {
    type: String,
    default: null,
  },
  label: {
    type: String,
    default: null,
  },
  size: {
    type: String,
    default: 'lg',
  },
  color: {
    type: String,
    default: 'primary',
  },
  role: {
    type: String,
    default: 'img',
  },
});

const attrs = getCurrentInstance().attrs;
const hasOnClick = Object.keys(attrs).includes('onClick');
</script>

<template>
  <q-icon
    :name="name"
    :color="color"
    :size="size"
    :aria-label="label"
    :class="{ 'cursor-pointer': hasOnClick }"
    :role="role"
  >
    <q-tooltip v-if="label" :delay="200">{{ label }}</q-tooltip>
  </q-icon>
</template>

<style scoped>
/* TODO: Consider additional icon shapes (not all icons will be circular) */
.cursor-pointer:hover {
  border-radius: 50%;
  background-color: rgb(215, 215, 215);
}
</style>
