<script setup>
defineOptions({
  name: 'confirmation-dialog',
});

defineProps({
  open: Boolean,
  title: String,
  primaryBtnLabel: String,
  negativeBtnLabel: String,
});

const emit = defineEmits(['primaryClicked', 'negativeClicked', 'close']);
</script>
<template>
  <p-info-dialog :title="title" :is_open="open" :hide_trigger="true" @close="emit('close')">
    <template #default>
      <slot />
    </template>

    <template #actions>
      <p-accessible-button
        primary
        :label="primaryBtnLabel"
        @click="emit('primaryClicked')"
      />
      <p-accessible-button
        v-if="negativeBtnLabel"
        negative
        :label="negativeBtnLabel"
        @click="emit('negativeClicked')"
      />
    </template>
  </p-info-dialog>
</template>
