<script setup>
import AccessibleIcon from 'src/components/AccessibleIcon.vue';
import useFocusAsHover from 'src/composables/useFocusAsHover.js';

const { focusBinds, hovered } = useFocusAsHover();

defineOptions({
  name: 'external-link',
});

defineProps({
  href: {
    type: String,
    required: true,
  },
});
</script>

<template>
  <a :href="href" target="_blank" v-bind="focusBinds">
    <slot></slot>
    <AccessibleIcon
      style="padding-left: 3px"
      color="dark"
      size="1em"
      name="open_in_new"
      role="presentation"
    />
    <q-tooltip :model-value="hovered" :delay="200"
    >Open external link in new tab or window</q-tooltip
    >
  </a>
</template>
