<script setup>
import ExternalLink from 'src/components/ExternalLink.vue';
import ConfirmationDialog from 'src/components/ConfirmationDialog.vue';

defineProps({
  open: Boolean,
});

defineOptions({
  name: 'help-modal',
});

defineEmits(['close']);
</script>

<template>
  <ConfirmationDialog
    :is_open="open"
    title="Frequently Asked Questions"
    primary-btn-label="OK"
    @primaryClicked="$emit('close')"
    @close="$emit('close')"
  >
    <!-- eslint-disable max-len -->
    <ul>
      <li>
        <ExternalLink
          href="https://www.pdc.wa.gov/who-must-file-personal-financial-affairs-statement"
        >Who must file a personal financial affairs statement?</ExternalLink
        >
      </li>
      <li>
        <ExternalLink href="https://www.pdc.wa.gov/when-are-reports-due-0"
        >When are reports due?</ExternalLink
        >
      </li>
      <li>
        <ExternalLink
          href="https://www.pdc.wa.gov/what-%E2%80%9Creporting-period%E2%80%9D"
        >What is the "reporting period?"</ExternalLink
        >
      </li>
      <li>
        <ExternalLink
          href="https://www.pdc.wa.gov/i%E2%80%99m-running-volunteer-office-why-do-i-have-provide-such-depth-personal-information"
        >
          I’m running for a volunteer office. Why do I have to provide such
          in-depth, personal information?</ExternalLink
        >
      </li>
      <li>
        <ExternalLink
          href="https://www.pdc.wa.gov/will-my-report-be-available-online"
        >Will my report be available online?</ExternalLink
        >
      </li>
      <li>
        <ExternalLink
          href="https://www.pdc.wa.gov/can-i-have-filing-requirement-waived"
        >Can I have the filing requirement waived?</ExternalLink
        >
      </li>
      <li>
        <ExternalLink
          href="https://www.pdc.wa.gov/i%E2%80%99m-judge-do-i-have-report-my-home-address"
        >I’m a judge. Do I have to report my home address?</ExternalLink
        >
      </li>
      <li>
        <ExternalLink href="https://www.pdc.wa.gov/where-f-1a-short-form"
        >Where is the F-1A (short form)?</ExternalLink
        >
      </li>
      <li>
        <ExternalLink
          href="https://www.pdc.wa.gov/learn/publications/personal-financial-affairs-disclosure-instructions"
        >Are instructions available?</ExternalLink
        >
      </li>
      <li>
        <ExternalLink
          href="https://www.pdc.wa.gov/do-i-have-file-electronically-1"
        >Do I have to file electronically?</ExternalLink
        >
      </li>
      <li>
        <ExternalLink
          href="https://www.pdc.wa.gov/are-there-common-mistakes-i-want-avoid"
        >Are there common mistakes I want to avoid?</ExternalLink
        >
      </li>
      <li>
        <ExternalLink
          href="https://www.pdc.wa.gov/i-have-reporting-modification-exempts-me-reporting-clients-my-business-or-organization-how-do-i"
        >I have a reporting modification that exempts me from reporting
          clients of my business or organization. How do I indicate
          that?</ExternalLink
        >
      </li>
    </ul>

    <h3>Need more help?</h3>
    <p><strong>Phone: </strong>(877) 601-2828 | (360) 753-1111</p>
    <p>
      <strong>Office visit: </strong>711 Capitol Way Rm 206 | Olympia, WA
      98504-0908
    </p>
    <p>
      <strong>Email: </strong>
      <a target="_blank" href="mailto:pdc@pdc.wa.gov">pdc@pdc.wa.gov</a>
    </p>
  </ConfirmationDialog>
</template>
