<script setup>
import { computed } from 'vue';
import AccessibleIcon from 'components/AccessibleIcon.vue';

defineOptions({
  name: 'info-box',
});

const props = defineProps({
  type: {
    type: String,
    required: true,
    validator: (value) => ['info', 'positive', 'negative'].includes(value),
  },
});

const iconName = computed(() => {
  const { type } = props;
  const nameMap = {
    info: 'info',
    positive: 'check',
    negative: 'warning',
  };
  return nameMap[type];
});

const iconColor = computed(() => {
  const { type } = props;
  const colorMap = {
    info: '#2b6cb8',
    positive: 'positive',
    negative: 'negative',
  };
  return colorMap[type];
});

const bgColor = computed(() => {
  const { type } = props;
  const colorMap = {
    info: 'info',
    positive: 'light-positive',
    negative: 'light-negative',
  };
  return colorMap[type];
});
</script>

<template>
  <div :class="`rounded-borders q-pa-sm row bg-${bgColor} items-start`">
    <accessible-icon
      :name="iconName"
      :color="iconColor"
      size="md"
      class="col-1 q-pt-xs"
      style="min-width: 24px"
    />
    <div class="col text-body1">
      <slot name="default"></slot>
    </div>
  </div>
</template>
