<script setup>
import { computed, ref } from 'vue';
import BaseInput, {
  inputProps,
  inputEmits,
} from 'src/components/BaseInput.vue';
import useUniqueString from 'src/composables/useUniqueString.js';

defineOptions({ name: 'input-dropdown' });

const props = defineProps({
  ...inputProps,
  options: {
    type: Array,
    required: true,
  },
  optionUniqueKey: {
    type: String,
    default: useUniqueString().get(),
  },
  modelValue: {
    type: [Object, Number, String, Boolean, null],
    required: false,
  },
  inline: {
    type: Boolean,
    default: false,
  },
  valueKey: {
    type: String,
    default: null,
  },
  returnOption: {
    type: Boolean,
    default: false,
  },
  useInput: {
    type: Boolean,
    default: false,
  },
});

const emit = defineEmits(inputEmits);

const filteredOptions = ref(props.options);

/**
 * Filter function for the `<q-select>` component.
 *
 * @param {Object} val The value to filter by
 * @param {Function} update The function to update the filtered options
 */
function filterFn(value, update) {
  const input = value.toLowerCase();

  update(
    (filteredOptions.value = props.options.filter(
      (opt) => opt.label.toLowerCase().indexOf(input) > -1,
    )),
  );
}

const dropdownRef = ref(null);

function getOption(value) {
  return props.options.find((range) => range.value === value);
}

const value = computed({
  get: () => {
    if (props.returnOption) {
      return props.modelValue;
    }

    const match = getOption(props.modelValue);
    return match || null;
  },
  set: (opt) => {
    if (props.returnOption) {
      emit('update:modelValue', opt);
      return;
    }

    const match = props.options.find((range) => range.value === opt.value);
    if (!match) {
      return;
    }
    emit('update:modelValue', match.value);
  },
});

const inputRef = ref(null);
</script>

<template>
  <BaseInput
    v-bind="$props"
    :model-value="value"
    type="text"
    :input-ref="inputRef"
    @update:modelValue="value = $event"
  >
    <template #override="{ set, listeners: overrideListeners }">
      <div ref="dropdownRef">
        <q-select
          ref="inputRef"
          :model-value="value"
          v-bind="$attrs"
          :rules="rules"
          :style="{ width: '100%' }"
          :label="label"
          stack-label
          name="label"
          :options="filteredOptions"
          input-debounce="0"
          :display-value="props.options.find((opt) => opt === value)?.label"
          :use-input="useInput"
          v-on="overrideListeners"
          @blur="filteredOptions = props.options"
          @filter="filterFn"
          @update:modelValue="(v) => set(v)"
        >
          <template #no-option>
            <q-item>
              <q-item-section class="text-grey"> No results </q-item-section>
            </q-item>
          </template>
        </q-select>
      </div>
    </template>
  </BaseInput>
</template>
