<script setup>
import { computed } from 'vue';
import { monetaryRanges } from 'src/pages/Disclosure/common/options.js';
import InputDropdown from 'components/InputDropdown.vue';

defineOptions({
  name: 'input-monetary',
});

const props = defineProps({
  modelValue: {
    type: [Object, Number, String, Boolean, null],
    default: null,
  },
  rules: {
    type: Array,
    required: false,
    default: () => [],
  },
  label: {
    type: String,
    required: true,
  },
  showNoneOption: {
    type: Boolean,
    default: false,
  },
});

const emit = defineEmits('update:modelValue');

const adjustedMonetaryRanges = computed(() =>
  props.showNoneOption
    ? [{ label: 'None', value: '' }, ...monetaryRanges]
    : monetaryRanges,
);

function getMonetaryOptionByValue(value) {
  return adjustedMonetaryRanges.value.find((range) => range.value === value);
}

const compensation = computed({
  get: () => {
    const match = getMonetaryOptionByValue(props.modelValue);
    return match || null;
  },
  set: (opt) => {
    const match = adjustedMonetaryRanges.value.find(
      (range) => range.value === opt.value,
    );
    if (!match) {
      return;
    }
    emit('update:modelValue', match.value);
  },
});
</script>

<template>
  <InputDropdown
    :model-value="compensation"
    :rules="rules"
    class="col-12 col-sm-6"
    :options="adjustedMonetaryRanges"
    :label="label"
    autocomplete="nope"
    @update:model-value="compensation = $event"
  />
</template>
