<script>
export const YES = 'true';
export const NO = 'false';

export default {
  name: 'input-radio-yes-no',
};
</script>

<script setup>
import InputRadio from 'src/components/InputRadio.vue';

const yesNoOptions = [
  { label: 'Yes', value: YES },
  { label: 'No', value: NO },
];

defineProps({
  modelValue: {
    required: true,
  },
  rules: {
    type: Array,
    default: () => [],
  },
});
defineEmits(['update:modelValue']);
</script>

<template>
  <InputRadio
    :model-value="modelValue"
    :rules="rules"
    :options="yesNoOptions"
    value-key="value"
    inline
    @update:modelValue="$emit('update:modelValue', $event)"
  >
    <template #label="{ option }">
      {{ option.label }}
    </template>
  </InputRadio>
</template>
