<script setup>
import { ref } from 'vue';
import BaseInput, {
  inputProps,
  inputEmits,
  inputListeners,
} from 'src/components/BaseInput.vue';
import useUniqueString from 'src/composables/useUniqueString.js';

defineOptions({ name: 'input-radio' });

const props = defineProps({
  ...inputProps,
  options: {
    type: Array,
    required: true,
  },
  optionUniqueKey: {
    type: String,
    default: null,
  },
  modelValue: {
    type: [Object, Number, String, Boolean, null],
    required: false,
  },
  inline: {
    type: Boolean,
    default: false,
  },
  valueKey: {
    type: String,
    default: null,
  },
});

const emit = defineEmits(inputEmits);
const listeners = inputListeners(emit);

const uniqueString = useUniqueString();
const uniqueKey = props.optionUniqueKey || uniqueString.get();

function generateRadioLabel(item) {
  return `radio-item-${uniqueKey}-${item[uniqueKey]}-label`;
}

const inputRef = ref(null);
</script>

<template>
  <BaseInput v-bind="$props" type="text" :input-ref="inputRef" v-on="listeners">
    <template #override="{ listeners: overrideListeners }">
      <q-radio
        v-for="option in options"
        ref="inputRef"
        v-bind="$attrs"
        :key="option[uniqueKey]"
        :model-value="modelValue"
        :rules="rules"
        :class="[
          'col q-mb-sm q-mt-none q-mr-md q-pa-sm',
          { 'row full-width': !inline },
        ]"
        style="margin-left: -1.25em"
        :aria-labelledby="generateRadioLabel(option)"
        :val="option?.[props.valueKey] || option"
        v-on="overrideListeners"
      >
        <q-item-section class="q-ml-sm">
          <q-item-label :id="generateRadioLabel(option)">
            <slot name="label" :option="option" />
          </q-item-label>

          <slot name="sublabel" :option="option" />
        </q-item-section>
      </q-radio>
    </template>
  </BaseInput>
</template>

<style>
.q-radio__inner {
  align-self: flex-start;
}
</style>
