<script setup>
import BaseInput, {
  inputProps,
  inputEmits,
} from 'src/components/BaseInput.vue';

defineOptions({ name: 'input-text' });
defineProps({ ...inputProps });
const emit = defineEmits(inputEmits);
</script>

<template>
  <BaseInput
    v-bind="$props"
    type="text"
    @update:modelValue="emit('update:modelValue', $event)"
  />
</template>
