<script setup>
defineOptions({
  name: 'left-right-spacer',
});

defineProps({
  inRowContext: { type: Boolean, default: false },
});
</script>

<template>
  <div v-if="!inRowContext" class="row">
    <div class="col-shrink content-center">
      <slot name="left"></slot>
    </div>
    <div class="col-grow"></div>
    <div class="col-shrink">
      <slot name="right"></slot>
    </div>
  </div>
  <template v-else>
    <div class="col-shrink content-center">
      <slot name="left"></slot>
    </div>
    <div class="col-grow"></div>
    <div class="col-shrink">
      <slot name="right"></slot>
    </div>
  </template>
</template>
