<script>
export default {
  name: 'p-accessible-button',
};
</script>
<script setup>
import { computed } from 'vue';
const props = defineProps({
  buttonTooltip: { type: String, required: false },
});
const doNotRead = computed(() => {
  return !!props.buttonTooltip;
});
</script>

<template>
  <q-btn
    v-bind="$attrs"
    :aria-haspopup="$attrs['ARIA-HASPOPUP']"
    :aria-expanded="$attrs['ARIA-EXPANDED']"
    :aria-label="buttonTooltip"
  >
    <slot name="default" :aria-hidden="doNotRead"></slot>
    <q-tooltip v-if="buttonTooltip">
      {{ buttonTooltip }}
    </q-tooltip>
  </q-btn>
</template>
