<script setup>
import { reactive } from 'vue';

import useOffice from 'composables/api/useOffice';
import useFiler from 'composables/api/useFiler';
import useWizard from 'src/wizard/useWizard.js';

import columns from './tableColumns.js';

import ClearPositionsConfirmationModal from './ClearPositionsConfirmationModal.vue';
import EditableSetTable from 'src/components/wizardInputs/EditableSetTable/EditableSetTable.vue';
import FormOpts from 'src/components/wizardInputs/FormOpts.vue';
import InfoBox from 'components/InfoBox.vue';
import PositionForm from '../../../common/PositionForm.vue';
import InputRadioYesNo, { YES, NO } from 'src/components/InputRadioYesNo.vue';

defineOptions({
  name: 'public-positions',
});

const wizard = useWizard();

const publicPositiontemplateKey = 'publicOfficePositionArray';
const hasPublicPosHeldKey = 'hasPublicPositionsHeld';

const state = reactive({
  confirmationModalOpen: false,
});

const { offices } = useOffice();

const { selectedFiler } = useFiler();
const fullName = selectedFiler.value.name;

const hasPublicPositionsHeldUtils = wizard.field(hasPublicPosHeldKey);
const positionFieldSetUtils = wizard.fieldSet(publicPositiontemplateKey);

const rows = positionFieldSetUtils.getAllData();

function addNewPosition() {
  return positionFieldSetUtils.add();
}

/** Updates holdsPosition, shows the confirmation modal before clearing to prevent accidental data loss */
function updateHoldsPublicPositions(holdsPosition) {
  const userHasStartedPositionEntry =
    positionFieldSetUtils.getAllData().value?.length > 0;

  if (holdsPosition === NO) {
    if (userHasStartedPositionEntry) {
      state.confirmationModalOpen = true;
      return;
    }
    hasPublicPositionsHeldUtils.set(NO);
  } else {
    if (!userHasStartedPositionEntry) {
      addNewPosition();
    }
    hasPublicPositionsHeldUtils.set(YES);
  }
}

/** Delete position row from table by deleting the position object from the array */
function handleDeleteRow(rowIndex) {
  positionFieldSetUtils.remove(rowIndex);

  if (positionFieldSetUtils.getAllData().value?.length < 1) {
    hasPublicPositionsHeldUtils.set(NO);
  }

  return true;
}

/** Show modal to confirm unrecoverable clearing all positions */
function onModalConfirmClear() {
  positionFieldSetUtils.removeAll();
  hasPublicPositionsHeldUtils.set(NO);
  state.confirmationModalOpen = false;
}
</script>

<template>
  <p>
    Does {{ fullName }} currently or has {{ fullName }} recently held a public
    position (including charter school directorships) that requires filing?
  </p>

  <FormOpts :focus-first="true">
    <InputRadioYesNo
      v-bind="hasPublicPositionsHeldUtils.binds.value"
      @update:modelValue="updateHoldsPublicPositions"
    />
  </FormOpts>

  <InfoBox v-if="hasPublicPositionsHeldUtils.value() !== YES" type="info">
    Because the answer to this question is used to determine the coverage period
    for your disclosure statement, you will not be able to change it once the
    statement has been started.
  </InfoBox>

  <template v-else>
    <div v-if="!offices">
      <p>Loading...</p>
    </div>
    <EditableSetTable
      v-else
      label="position"
      :columns="columns"
      :rows="rows"
      :add-fn="addNewPosition"
      :delete-fn="handleDeleteRow"
    >
      <template #form="{ currentlyEditingIdx }">
        <PositionForm
          :key="currentlyEditingIdx"
          contact-form-label="Work Contact"
          :fetched-offices="offices"
          :data-index="currentlyEditingIdx"
          :template-key="publicPositiontemplateKey"
        />
      </template>
    </EditableSetTable>
  </template>

  <ClearPositionsConfirmationModal
    :open="state.confirmationModalOpen"
    @clear="onModalConfirmClear"
    @close="state.confirmationModalOpen = false"
  />
</template>
