<script setup>
import useWizard from 'src/wizard/useWizard.js';

import { monetaryRanges } from 'src/pages/Disclosure/common/options.js';

import FormOpts from 'src/components/wizardInputs/FormOpts.vue';
import InputDropdown from 'components/InputDropdown.vue';
import InputText from 'components/InputText.vue';
import WhoDropdown from 'src/pages/Disclosure/common/WhoDropdown.vue';

defineOptions({
  name: 'retirement-income-form',
});

const props = defineProps({
  dataIndex: {
    type: Number,
    required: true,
  },
  templateKey: {
    type: String,
    required: true,
  },
});

const wizard = useWizard();

const incomeDataUtils = wizard.fieldSet(props.templateKey).get(props.dataIndex);
</script>

<template>
  <FormOpts :hide-hints="true">
    <div class="row">
      <WhoDropdown
        v-model="incomeDataUtils.vModel('receivedBy').value"
        label="Received By"
        class="col-12 col-sm-6"
        :rules="incomeDataUtils.rules('receivedBy')"
      />

      <InputText
        v-model="incomeDataUtils.vModel('providerName').value"
        :rules="incomeDataUtils.rules('providerName')"
        class="col-12 col-sm-6"
        label="Name of provider"
      />
    </div>

    <div class="row">
      <InputText
        v-model="incomeDataUtils.vModel('natureOfIncome').value"
        :rules="incomeDataUtils.rules('natureOfIncome')"
        class="col-12 col-sm-6"
        label="Nature of Income"
      />

      <InputDropdown
        v-model="incomeDataUtils.vModel('compensation').value"
        :rules="incomeDataUtils.rules('compensation')"
        class="col-12 col-sm-6"
        :options="monetaryRanges"
        label="Total compensation"
        autocomplete="nope"
      />
    </div>

    <h3 class="q-mb-sm">Provider's Address</h3>

    <div class="row">
      <InputText
        v-model="incomeDataUtils.vModel('streetAddress').value"
        :rules="incomeDataUtils.rules('streetAddress')"
        class="col-12 col-sm-6"
        label="Street Address"
      />
      <InputText
        v-model="incomeDataUtils.vModel('city').value"
        :rules="incomeDataUtils.rules('city')"
        class="col-12 col-sm-6"
        label="City"
      />
      <InputText
        v-model="incomeDataUtils.vModel('state').value"
        :rules="incomeDataUtils.rules('state')"
        class="col-6 col-sm-3"
        label="State"
        mask="AA"
      />
      <InputText
        v-model="incomeDataUtils.vModel('zip').value"
        :rules="incomeDataUtils.rules('zip')"
        class="col-6 col-sm-3"
        label="ZIP"
        mask="#####"
      />
    </div>
  </FormOpts>
</template>
