<script setup>
import { computed, ref } from 'vue';

import useWizard from 'src/wizard/useWizard.js';

import { statementDateString } from 'src/pages/Disclosure/common/statementDateString.js';
import retirementColumns from './retirementColumns.js';

import ConfirmationDialog from 'src/components/ConfirmationDialog.vue';
import EditableSetTable from 'src/components/wizardInputs/EditableSetTable/EditableSetTable.vue';
import RetirementIncomeForm from './RetirementIncomeForm.vue';
import FormOpts from 'src/components/wizardInputs/FormOpts.vue';
import InputRadioYesNo, { YES, NO } from 'src/components/InputRadioYesNo.vue';

defineOptions({
  name: 'retirement-income',
});

const modalOpen = ref(false);

const wizard = useWizard();

const hasRetirementIncomeKey = 'hasRetirementIncome';
const retirementIncomeTemplateKey = 'retirementIncomeArray';

const hasIncomeFieldUtils = wizard.field(hasRetirementIncomeKey);
const retirementIncomeFieldSetUtils = wizard.fieldSet(
  retirementIncomeTemplateKey,
);

const rows = computed(() => retirementIncomeFieldSetUtils.getAllData().value);

function handleAddNewIncome() {
  return retirementIncomeFieldSetUtils.add();
}

function updateHasRetirementIncome(value) {
  const userHasStartedIncomeEntry =
    retirementIncomeFieldSetUtils.getAllData().value?.length > 0;

  if (value === NO) {
    if (userHasStartedIncomeEntry) {
      modalOpen.value = true;
      return;
    }
    hasIncomeFieldUtils.set(NO);
  } else {
    handleAddNewIncome();

    hasIncomeFieldUtils.set(YES);
  }
}

/** Deletes row and returns true on success */
function handleDeleteRow(rowIndex) {
  retirementIncomeFieldSetUtils.remove(rowIndex);

  if (retirementIncomeFieldSetUtils.getAllData().value?.length < 1) {
    hasIncomeFieldUtils.set(NO);
  }

  return true;
}

function userConfirmedModalClear() {
  retirementIncomeFieldSetUtils.removeAll();
  hasIncomeFieldUtils.set(NO);
  modalOpen.value = false;
}

function handleSave() {
  wizard.save();
}
</script>

<template>
  <p>
    Report non-investment retirement income over $2,400, such as Social Security
    and military retirement.
  </p>

  <p>
    Income from most retirement accounts, such as pensions (e.g. PERS, LEOFF,
    etc.), 401ks and IRAs, are considered financial assets, and are disclosed
    later as investment in come.
    <strong> Do NOT report these income sources in this section. </strong>
  </p>

  <p>
    Did the filer, spouse, registered domestic partner or dependent receive
    non-investment retirement income of $2,400 or more between
    {{ statementDateString() }}?
  </p>

  <FormOpts :focus-first="true">
    <InputRadioYesNo
      :model-value="hasIncomeFieldUtils.value()"
      :rules="hasIncomeFieldUtils.self.rules"
      @update:modelValue="updateHasRetirementIncome"
    />

    <template v-if="hasIncomeFieldUtils.value() === YES && rows?.length">
      <EditableSetTable
        label="income"
        :columns="retirementColumns"
        :rows="rows"
        :add-fn="handleAddNewIncome"
        :delete-fn="handleDeleteRow"
        @save="handleSave"
      >
        <template #form="{ currentlyEditingIdx }">
          <RetirementIncomeForm
            :key="currentlyEditingIdx"
            contact-form-label="Work Contact"
            :data-index="currentlyEditingIdx"
            :template-key="retirementIncomeTemplateKey"
          />
        </template>
      </EditableSetTable>
    </template>
  </FormOpts>

  <ConfirmationDialog
    v-model:open="modalOpen"
    title="Clear all entries?"
    primary-btn-label="Yes, clear all"
    negative-btn-label="Cancel"
    @primary-clicked="userConfirmedModalClear"
    @negative-clicked="modalOpen = false"
  >
    Are you sure you want to clear all entries? This action cannot be undone.
  </ConfirmationDialog>
</template>
