<script setup>
import { computed, ref } from 'vue';

import useWizard from 'src/wizard/useWizard.js';

import { statementDateString } from 'src/pages/Disclosure/common/statementDateString.js';
import columns from './uncommonColumns.js';

import ConfirmationDialog from 'src/components/ConfirmationDialog.vue';
import EditableSetTable from 'src/components/wizardInputs/EditableSetTable/EditableSetTable.vue';
import UncommonIncomeForm from './UncommonIncomeForm.vue';
import FormOpts from 'src/components/wizardInputs/FormOpts.vue';
import InputRadioYesNo, { YES, NO } from 'src/components/InputRadioYesNo.vue';

defineOptions({
  name: 'employment-income',
});

const modalOpen = ref(false);

const wizard = useWizard();

const hasUncommonIncomeKey = 'hasUncommonIncome';
const uncommonIncomeArrayKey = 'uncommonIncomeArray';

const hasIncomeFieldUtils = wizard.field(hasUncommonIncomeKey);
const uncommonIncomeFieldSetUtils = wizard.fieldSet(uncommonIncomeArrayKey);

const rows = computed(() => uncommonIncomeFieldSetUtils.getAllData().value);

function handleAddNewIncome() {
  return uncommonIncomeFieldSetUtils.add();
}

function updateHasUncommonIncome(value) {
  const userHasStartedIncomeEntry =
    uncommonIncomeFieldSetUtils.getAllData().value?.length > 0;

  if (value === NO) {
    if (userHasStartedIncomeEntry) {
      modalOpen.value = true;
      return;
    }
    hasIncomeFieldUtils.set(NO);
  } else {
    handleAddNewIncome();

    hasIncomeFieldUtils.set(YES);
  }
}

/** Deletes row and returns true on success */
function handleDeleteRow(rowIndex) {
  uncommonIncomeFieldSetUtils.remove(rowIndex);

  if (uncommonIncomeFieldSetUtils.getAllData().value?.length < 1) {
    hasIncomeFieldUtils.set(NO);
  }

  return true;
}

function userConfirmedModalClear() {
  uncommonIncomeFieldSetUtils.removeAll();
  hasIncomeFieldUtils.set(NO);
  modalOpen.value = false;
}

function handleSave() {
  wizard.save();
}
</script>

<template>
  <p>
    Report all other sources from which the filer or a qualified family member
    received $2,400 or more during the reporting period, including:
  </p>

  <ul>
    <li>Non-retirement Social Security payments</li>
    <li>Sale of personal property to a business or government agency</li>
    <li>Strike benefits</li>
    <li>Unemployment compensation</li>
    <li>
      Government assistance or subsidies such as welfare, child support,
      disability compensation
    </li>
    or farm subsidies (not payments received for foster child care)
    <li>Rent or lease payments received</li>
    <li>Partnership income</li>
    <li>Trust payments received</li>
    <li>
      Sales commissions received for sales to a government agency or business
    </li>
    <li>Compensation received for managing a trust</li>
    <li>Income from sales to a business</li>
    <li>
      Honoraria and travel expenses received as compensation for speeches or
      other appearances
    </li>
  </ul>
  <p>
    Did the filer, spouse, registered domestic partner or dependent receive
    uncommon income between {{ statementDateString() }}?
  </p>

  <FormOpts :focus-first="true">
    <InputRadioYesNo
      :model-value="hasIncomeFieldUtils.value()"
      :rules="hasIncomeFieldUtils.self.rules"
      @update:modelValue="updateHasUncommonIncome"
    />

    <template v-if="hasIncomeFieldUtils.value() === YES && rows?.length">
      <EditableSetTable
        label="income"
        :columns="columns"
        :rows="rows"
        :add-fn="handleAddNewIncome"
        :delete-fn="handleDeleteRow"
        @save="handleSave"
      >
        <template #form="{ currentlyEditingIdx }">
          <UncommonIncomeForm
            :key="currentlyEditingIdx"
            contact-form-label="Work Contact"
            :data-index="currentlyEditingIdx"
            :template-key="uncommonIncomeArrayKey"
          />
        </template>
      </EditableSetTable>
    </template>
  </FormOpts>

  <ConfirmationDialog
    v-model:open="modalOpen"
    title="Clear all entries?"
    primary-btn-label="Yes, clear all"
    negative-btn-label="Cancel"
    @primary-clicked="userConfirmedModalClear"
    @negative-clicked="modalOpen = false"
  >
    Are you sure you want to clear all entries? This action cannot be undone.
  </ConfirmationDialog>
</template>
