<script setup>
import useWizard from 'src/wizard/useWizard.js';

import { monetaryRanges } from 'src/pages/Disclosure/common/options.js';

import FormOpts from 'src/components/wizardInputs/FormOpts.vue';
import InputDropdown from 'components/InputDropdown.vue';
import InputText from 'components/InputText.vue';
import WhoDropdown from 'src/pages/Disclosure/common/WhoDropdown.vue';

defineOptions({
  name: 'retirement-income-form',
});

const props = defineProps({
  dataIndex: {
    type: Number,
    required: true,
  },
  templateKey: {
    type: String,
    required: true,
  },
});

const wizard = useWizard();

const incomeDataUtils = wizard.fieldSet(props.templateKey).get(props.dataIndex);
</script>

<template>
  <FormOpts :hide-hints="true">
    <div class="row">
      <WhoDropdown
        v-model="incomeDataUtils.vModel('receivedBy').value"
        label="Received By"
        class="col-12 col-sm-6"
        :rules="incomeDataUtils.rules('receivedBy')"
      />

      <FormOpts class="col-12 col-sm-6" :hide-hints="false">
        <InputText
          v-model="incomeDataUtils.vModel('sourceName').value"
          :rules="incomeDataUtils.rules('sourceName')"
          description="e.g. unemployment income or sales from widgets"
          label="Name of source of income"
        />
      </FormOpts>
    </div>

    <div class="row">
      <FormOpts class="col-12 col-sm-6" :hide-hints="false">
        <InputText
          v-model="incomeDataUtils.vModel('natureOfIncome').value"
          :rules="incomeDataUtils.rules('natureOfIncome')"
          description="e.g. Partnership income"
          class="col-12 col-sm-6"
          label="Nature of how earned"
        />
      </FormOpts>

      <InputDropdown
        v-bind="incomeDataUtils.vBind('compensation')"
        class="col-12 col-sm-6"
        :options="monetaryRanges"
        label="Total compensation"
        autocomplete="nope"
      />
    </div>

    <h3 class="q-mb-sm">Address</h3>

    <div class="row">
      <InputText
        v-model="incomeDataUtils.vModel('streetAddress').value"
        :rules="incomeDataUtils.rules('streetAddress')"
        class="col-12 col-sm-6"
        label="Street Address"
      />
      <InputText
        v-model="incomeDataUtils.vModel('city').value"
        :rules="incomeDataUtils.rules('city')"
        class="col-12 col-sm-6"
        label="City"
      />
      <InputText
        v-model="incomeDataUtils.vModel('state').value"
        :rules="incomeDataUtils.rules('state')"
        class="col-6 col-sm-3"
        label="State"
        mask="AA"
      />
      <InputText
        v-model="incomeDataUtils.vModel('zip').value"
        :rules="incomeDataUtils.rules('zip')"
        class="col-6 col-sm-3"
        label="ZIP"
        mask="#####"
      />
    </div>
  </FormOpts>
</template>
