<template>
  <div>

    <v-menu
        v-model="personMenuActive"
    >
      <template v-slot:activator="{ on }">
        <v-btn
            color="primary"
            depressed
            light
            small
            v-on="on"
        >
          <v-icon>person</v-icon>
          <span class="d-none d-sm-block">{{ selected_user_name }}</span>
        </v-btn>
      </template>

      <v-list dense>
        <v-list-item
            v-for="(item, index) in user.persons"
            :key="index"
            @click="switchPerson(item)"
        >
          <v-list-item-title >{{ item.name }}</v-list-item-title>
        </v-list-item>
        <v-divider></v-divider>
        <v-list-item @click="requestAccess()">
          <v-list-item-title>Request Access</v-list-item-title>
        </v-list-item>
        <v-list-item @click="adminSwitchPerson()" v-if="hasAccess">
          <v-list-item-title >Switch Person</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>

    <v-dialog v-model="newFilerDialog" :persistent="true" max-width="51em">
      <v-card>
        <v-card-title>Have you filed before?</v-card-title>
        <v-card-text>
          <p>Have you previously filed financial affairs disclosure statements with the PDC? If so we will walk you through getting access to your previous filings.</p>
          <v-radio-group v-model="newFiler">
            <v-radio label="Yes" :value="true">Yes</v-radio>
            <v-radio label="No" :value="false">No</v-radio>
          </v-radio-group>
        </v-card-text>
        <v-card-actions>
          <v-btn color="primary" :disabled="newFiler===null" @click="submitNewFiler()">Submit</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="requestAccessDialog" :persistent="true" max-width="51em">
      <v-card>
        <v-card-title>Request Access</v-card-title>
        <v-card-text>
          <p>To get access to financial affairs disclosure statements previously filed please provide an email address that is on file with the PDC.</p>
          <v-text-field v-model="requestEmail" placeholder="Enter Email Here"></v-text-field>
          <span v-show="emailNotFound" style="color:red">Email submitted did not match any we had on record. Please check your submission and try again, or contact the PDC to update your email address.
          <br /><a href="mailto:pdc@pdc.wa.gov">pdc@pdc.wa.gov</a>
          <br />(360) 753-1111</span>
          <span v-show="emailFailed" style="color:red">Email service is down, unable to send email.</span>
        </v-card-text>
        <v-card-actions>
          <v-btn color="primary" @click="submitAccessRequest()">Submit</v-btn>
          <v-btn color="accent" @click="closeRequestAccessDialog()">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="tokenEntryDialog" :persistent="true" max-width="51em">
      <v-card>
        <v-card-title>Security Code</v-card-title>
        <v-card-text>
          <p>We have just sent an email containing a security code to the email address that you just specified. Please enter the security code into the box below.</p>
          <v-text-field v-model="requestToken" placeholder="Enter Security Code Here"></v-text-field>
          <span v-show="tokenFailed" style="color:red">The security code you submitted does not match the code sent to the provided email address, please check the code and try again.</span>
        </v-card-text>
        <v-card-actions>
          <v-btn color="primary" @click="submitAccessToken()">Submit</v-btn>
          <v-btn color="accent" @click="closeTokenEntryDialog()">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="showSwitchPersonDialog" :persistent="true" max-width="51em">
      <v-form @submit.prevent="doSearch()">
        <v-card>
          <v-card-title>Switch Person</v-card-title>
          <v-card-text>
          <v-text-field placeholder="Enter name" v-model="searchName"></v-text-field>
          <v-card-actions>
            <v-btn color="primary" type="submit">Submit</v-btn>
            <v-btn color="accent" @click="closeSwitchPersonDialog()">Cancel</v-btn>
          </v-card-actions>
          </v-card-text>
        </v-card>
      </v-form>
    </v-dialog>

    <!-- Find person -->
    <v-dialog v-model="showSearchResults"  :persistent="true" max-width="51em">
      <v-form @submit.prevent="closeSearchResults">

        <v-card>
          <v-card-title>Search Results</v-card-title>
          <v-card-text>
            <v-radio-group  v-model="selectedPerson">
            <v-radio v-for="(person, index) in matchingNames" :value="index" :key="index" :label="person.name | titleCase">
            </v-radio>
            </v-radio-group>
          </v-card-text>
          <v-card-actions>
            <v-btn color="primary" @click="onPersonChange(selectedPerson)">Submit</v-btn>
            <v-btn color="accent" @click="closeSearchResultsDialog()">Cancel</v-btn>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-dialog>
  </div>
</template>

<script>
  import { mapState, mapActions } from 'vuex';
  import {app} from "@/main";

  export default {
    name: "PersonSelect",
    data() {
      return {
        newFilerDialog: false,
        newFiler: null,
        personMenuActive: false,
        computedCounter: 0,
        requestAccessDialog: false,
        requestEmail: null,
        tokenEntryDialog: false,
        requestToken: null,
        emailFailed: false,
        emailNotFound: false,
        tokenFailed: false,
        showSwitchPersonDialog: false,
        showSearchResults: false,
        searchName: null,
        selectedPerson: null,
        matchingNames: []
      }
    },
    computed: {
      ...mapState(['submission','person','user']),
      selected_user_name() {
        this.computedCounter;
        if(this.user.selected_person) {
          return this.user.selected_person.name
        } else {
          return "New Filer"
        }
      },
      hasAccess() {
        let adminAccess = false;
        adminAccess = this.user.rights && this.user.rights.enter_wapdc_data;
        return adminAccess;
      },
    },
    methods: {
      ...mapActions(['setSelectedPerson','getDraftSubmission']),
      switchPerson(person) {
        this.setSelectedPerson(person);
      },
      adminSwitchPerson() {
        this.showSwitchPersonDialog = true;
      },
      doSearch() {
        this.showSwitchPersonDialog = false;
        this.showSearchResults = true;
        this.$nextTick(() => {
          app.$container.dataService.adminQuery(
              'submission_search',
              data => {
                this.matchingNames = data;
              },
              { search: this.searchName }
          );
        })
      },

      submitNewFiler() {
        localStorage.setItem('onBoarding', "complete");

        if (this.newFiler === true) {
          this.newFilerDialog = false;
          this.requestAccessDialog = true;
        } else if (this.newFiler === false) {
          this.newFilerDialog = false;
        }
      },
      requestAccess() {
        this.requestAccessDialog = true;
      },
      tokenEntry() {
        this.tokenEntryDialog = true;
      },
      closeSwitchPersonDialog() {
        this.showSwitchPersonDialog = false;
      },
      closeSearchResultsDialog() {
        this.showSearchResults=false;
        this.searchResults = [];
        this.searchName = "";
      },
      closeRequestAccessDialog() {
        this.requestAccessDialog = false;
        this.requestEmail = "";
        this.emailFailed = false;
      },
      closeTokenEntryDialog() {
        this.tokenEntryDialog = false;
        this.requestToken = "";
        this.tokenFailed = false;
      },
      onPersonChange(selectedPerson) {
        let person = this.matchingNames[selectedPerson];
        this.showSearchResults=false;
        this.setSelectedPerson(person);
        this.user.locked = true;
        if (person.submission_id) {
          this.getDraftSubmission({submission_id: person.submission_id, start: true});
        }
      },
      submitAccessRequest() {
        app.$container.dataService.post(
            'service/financial-affairs/request-access',
            (result) => {
          this.emailFailed = false;
          this.emailNotFound = false;
          if (result.data.success) {
            this.closeRequestAccessDialog();
            this.tokenEntry();
            this.requestEmail = "";
          } else {
               this.emailNotFound = true;
          }
        },
            {'email': this.requestEmail},
            {},
            () => {
              this.emailFailed = true;
              this.emailNotFound = false;
            });
      },
      submitAccessToken() {
        app.$container.dataService.post('service/financial-affairs/verify-access-request', (result) => {
          if (result.data.success) {

            let tokenSelectedPersonId = result.data.authorizationsAdded.person[0].person_id;

            app.$container.dataService.get('public/service/financial-affairs/auth-check', result => {
              let r = result.data;

              this.user.persons = r.authorizations.person;
              let p = this.user.persons.find(x => x.person_id.toString() == tokenSelectedPersonId);
              if (p) {
                // If found, set selected person and update name
                this.setSelectedPerson(p);
              }
              app.$container.wire.$emit('SelectedPerson.Changed', this.tokenSelectedPerson);

              this.requestToken = "";
              this.tokenFailed = false;
              this.closeTokenEntryDialog();
            });
          } else {
            this.tokenFailed = true;
            this.requestToken = "";
          }
        }, {'token': this.requestToken}, {}, () => {
          this.tokenFailed = true;
          this.requestToken = "";
        });
      }
    },
    created() {
      app.$container.wire.$on('SelectedPerson.Changed', () => {
        this.computedCounter++;
      });
      app.$container.wire.$on('App.SubmissionCreated', () => {
        this.computedCounter++;
      });
      app.$container.wire.$on('app.authentication', () => {
        if (!this.user.persons || this.user.persons.length === 0) {
          if (localStorage.getItem('onBoarding') !== 'complete') {
            this.newFilerDialog = true;
          }
        }
      });
    }
  }
</script>

<style scoped>


</style>