<script setup>
import { computed } from "vue";
import useFocusAsHover from "src/composables/useFocusAsHover.js";

defineOptions({
  name: "p-accessible-button",
});

const props = defineProps({
  tooltip: {
    type: String,
    default: null,
  },
  label: {
    type: String,
    required: false,
  },
  primary: {
    type: Boolean,
    default: false,
  },
  round: {
    type: Boolean,
    default: false,
  },
  secondary: {
    type: Boolean,
    default: false,
  },
  negative: {
    type: Boolean,
    default: false,
  },
});

const { focusBinds, hovered } = useFocusAsHover();

const doNotRead = computed(() => {
  return !!props.tooltip;
});

const buttonColor = computed(() => {
  if (props.primary) {
    return "var(--q-primary)";
  } else if (props.secondary) {
    return "var(--q-secondary)";
  } else if (props.negative) {
    return "var(--q-negative)";
  } else {
    return null;
  }
});

const textColor = computed(() => {
  if (props.primary || props.secondary || props.negative) {
    return "white";
  } else {
    return "var(--q-primary)";
  }
});

const emit = defineEmits(["click"]);
</script>

<template>
  <q-btn
    keys-as-click
    rounded
    flat
    no-caps
    :round="round"
    :label="label"
    v-bind="{ ...$attrs, ...focusBinds }"
    :style="{
      backgroundColor: buttonColor,
      color: textColor,
      padding: round ? 0 : '0 1rem',
    }"
    :aria-haspopup="$attrs['ARIA-HASPOPUP']"
    :aria-expanded="$attrs['ARIA-EXPANDED']"
    :aria-label="tooltip || label"
    @click="emit('click')"
  >
    <slot name="default" :aria-hidden="doNotRead"></slot>
    <q-tooltip :model-value="hovered" v-if="tooltip">
      {{ tooltip }}
    </q-tooltip>
  </q-btn>
</template>
