<script setup>
import PGreenLogo from "@wapdc/quasar-app-extension-pdc-ui/src/components/PGreenLogo.vue";

defineOptions({
  name: "PApp",
});

defineProps({
  title: {
    type: String,
    default: "Washington State Public Disclosure Commission",
  },
  addedUserLinks: {
    type: Array,
    default: () => [],
  },
  pageStyle: {
    type: String,
    default: "",
  },
});
</script>

<template>
  <router-view v-slot="{ Component }">
    <suspense timeout="0">
      <template #default>
        <component
          :is="Component"
          :key="$route.path"
          :title="title"
          :added-user-links="addedUserLinks"
          :page-style="pageStyle"
        >
          <template #subheader>
            <slot name="subheader" />
          </template>
        </component>
      </template>
      <template #fallback>
        <div class="window-height window-width row justify-center items-center">
          <p-green-logo />
          <q-linear-progress indeterminate color="primary" />
        </div>
      </template>
    </suspense>
  </router-view>
</template>
