<script>
export default {
  name: "PDatePicker",
};
</script>
<script setup>
import Moment from "moment";
import { ref, computed, watch } from "vue";

const props = defineProps({
  modelValue: String,
  label: { type: String, default: "Date" },
  rules: {
    type: Array,
    default: () => [],
  },
  required: { type: Boolean, default: false },
  minDate: String,
  maxDate: String,
  message: { type: String, default: "" },
  autofocus: { type: Boolean, default: false },
  maxWidthPx: { type: String, default: null },
  notApplicable: { type: Boolean, default: false },
  validCustomString: { type: String, default: null },
});

const emit = defineEmits(["update:modelValue"]);

// Template reference for focus control.
const input = ref(null);
function focus() {
  if (input.value) {
    input.value.focus();
  }
}
defineExpose({ focus });

function convertDateFromISO(date) {
  if (props.validCustomString && date === props.validCustomString) {
    return date;
  }

  if (date) {
    return new Moment(date, "YYYY-MM-DD").format("MM/DD/YYYY");
  }
  return null;
}

function convertDateToISO(date) {
  if (props.validCustomString && date === props.validCustomString) {
    return date;
  }

  let bool = new RegExp(
    "^(((January?|March?|May?|July?|August?|October?|December?) 31)|((January?|March?|May?|April?|July?|June?|August?|October?|September?|November?|December?) (0?[1-9]|([12]\\d)|30))|(February? (0?[1-9]|1\\d|2[0-8]|(29(?=, ((1[6-9]|[2-9]\\d)(0[48]|[2468][048]|[13579][26])|((16|[2468][048]|[3579][26])00))))))), ((1[6-9]|[2-9]\\d)\\d{2})"
  ).test(date);

  if (date) {
    let m;
    if (bool) {
      m = Moment(date, "MMMM DD, YYYY");
    } else {
      m = new Moment(date, "MM/DD/YYYY");
    }
    return m.isValid() ? m.format("YYYY-MM-DD") : date;
  }
  return null;
}

const dateRules = computed(() => {
  const defaultFormatMessage =
    "Please enter valid date (MM/DD/YY or MM/DD/YYYY)";

  const defaultRequiredMessage =
    props.label + " required. (e.g. MM/DD/YY or MM/DD/YYYY)";

  const validCustomStringErrorMessage = `Please enter valid date (MM/DD/YY or MM/DD/YYYY, or "${props.validCustomString}")`;
  const requiredWithCustomStringMessage = `${props.label} required. (e.g. MM/DD/YY or MM/DD/YYYY, or "${props.validCustomString}")`;

  if (props.validCustomString) {
    return [
      (v) =>
        validateCustomString(v) ||
        validateDateFormat(v) ||
        validCustomStringErrorMessage,
      (v) => validateRequiredDate || requiredWithCustomStringMessage,
    ];
  }

  return [
    (v) => validateDateFormat(v) || defaultFormatMessage,
    (v) => validateRequiredDate(v) || defaultRequiredMessage,
  ];
});

function validateCustomString(date) {
  if (!props.validCustomString && !props.required) {
    return true;
  }
  return date === props.validCustomString;
}

function validateDateFormat(date) {
  const regex1 =
    /^(0?[1-9]|1[012])[/-](0?[1-9]|[12][0-9]|3[01])[/-](\d{4}|\d{2})$/;
  const regex2 =
    /^(((January?|March?|May?|July?|August?|October?|December?) 31)|((January?|March?|May?|April?|July?|June?|August?|October?|September?|November?|December?) (0?[1-9]|([12]\d)|30))|(February? (0?[1-9]|1\d|2[0-8]|(29(?=, ((1[6-9]|[2-9]\d)(0[48]|[2468][048]|[13579][26])|((16|[2468][048]|[3579][26])00))))))), ((1[6-9]|[2-9]\d)\d{2})$/;
  return (
    date === null || date.length === 0 || regex1.test(date) || regex2.test(date)
  );
}

function validateRequiredDate(date) {
  return !!date || !props.required;
}

const showCalendar = ref(false);

const localDate = ref(convertDateFromISO(props.modelValue));
function changeDate() {
  emit("update:modelValue", convertDateToISO(localDate.value));
  showCalendar.value = false;
}
function formatInputDate() {
  if (props.validCustomString && localDate.value === props.validCustomString) {
    return;
  }
  let d = convertDateToISO(localDate.value);
  if (d !== localDate.value) {
    localDate.value = convertDateFromISO(d);
  }
}

/** Enable keyboard access to the calendar popup */
function handleKeydown(event) {
  if (event.key === "ArrowDown") {
    event.preventDefault();
    showCalendar.value = !showCalendar.value;
    focus();
  }
}
</script>

<template>
  <div :style="{ maxWidth: `${maxWidthPx}px` || null }">
    <q-input
      ref="input"
      v-bind="$attrs"
      v-model="localDate"
      :autofocus="autofocus"
      :label="label"
      :rules="dateRules"
      @blur="formatInputDate"
      @keydown="handleKeydown"
      @update:model-value="changeDate"
    >
      <template #default>
        <div
          v-if="$slots.override"
          class="text-base text-italic text-dark content-end q-pb-sm"
          style="margin-left: calc(-100% + 8px)"
        >
          <slot name="override"></slot>
        </div>
      </template>
      <template v-slot:append>
        <q-icon name="event" class="cursor-pointer">
          <q-popup-proxy
            v-model="showCalendar"
            cover
            transition-show="scale"
            transition-hide="scale"
          >
            <q-date
              mask="MM/DD/YYYY"
              v-model="localDate"
              :readonly="notApplicable"
              :class="notApplicable ? 'not-applicable' : ''"
              @update:model-value="changeDate"
            >
              <div>
                <div class="row items-center justify-end">
                  <slot name="actions"></slot>
                  <q-btn v-close-popup label="Close" color="primary" flat />
                </div>
              </div>
            </q-date>
          </q-popup-proxy>
        </q-icon>
      </template>
    </q-input>
  </div>
</template>

<style>
.q-date__content {
  transform: scale(1);
  opacity: 1;
  transition: transform 0.25s ease, opacity 0.25s ease;
}

.not-applicable .q-date__content {
  transform: scale(0.8);
  opacity: 0.5;
  margin-top: 32px;
  max-height: 258px;
  transition: transform 0.25s ease, opacity 0.25s ease;
}

@keyframes fold {
  from {
    transform: scale(0.5);
    opacity: 0.5;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
</style>
