<!--
    // How to use this component:
    // v-model the component with a reactive array of objects (rabbits)
    // then v-model the attributes on given inputs (row.ear, row.foot)
    // these can then be given in the slot using one row or multiple rows (the given example only uses 1 row)
    // the "required_at_least_one_row" flag parameter can be passed in to instantly create the first row without a way to delete it

    const rabbits = ref([])

    <edit-rows class="q-mt-lg" add_label="Rabbit" v-model="rabbits"
               :row-default="{ear: null, foot: null}"
     >
      <template v-slot="{ row }">
        <div class="row q-col-gutter-md">
          <div class="col-12 col-sm">
            <q-input
              lazy-rules
              autofocus
              label="Ear"
              v-model="row.ear"
              :rules="[rules.required]"
            />
          </div>
          <div class="col-12 col-sm">
            <q-input
              lazy-rules
              label="Foot"
              v-model="row.foot"
              :rules="[rules.required]"
            />
          </div>
        </div>
      </template>
    </edit-rows>
 -->

<script>
export default {
  name: "PEditRows",
};
</script>
<script setup>
import { computed } from "vue";
import { useQuasar } from "quasar";
import { ref } from "vue";

// Imports needed for library context:
// import PHaveAny from "./PHaveAny.vue";
// import PAccessibleButton from "./PAccessibleButton.vue";

// New dependency:
import useDebounce from "src/composables/useDebounce.js";

const quasar = useQuasar();

const props = defineProps({
  rows: Array,
  add_label: String,
  required_at_least_one_row: Boolean,
  rowDefault: Object,
  prompt: String,
});
const hasData = defineModel();
const info_dialog_is_open = ref(false);
const local_rows = ref(props.rows ?? []);
const pre_remove_index = ref(-1);

const emit = defineEmits(["update:modelValue"]);

const delayFunc = useDebounce();

// created
if (props.required_at_least_one_row === true && local_rows.value?.length < 1) {
  addRow();
}

function addRow() {
  delayFunc(() => {
    local_rows.value.push(structuredClone(props.rowDefault) ?? {});
    emit("update:modelValue", local_rows.value);
  }, 100);
}

function removeRow(index) {
  local_rows.value.splice(index, 1);

  pre_remove_index.value = -1;
  emit("update:modelValue", local_rows.value);
  info_dialog_is_open.value = false;
}

const responsive_button_margin = computed(() =>
  quasar.screen.width > 600 ? "q-mt-md q-ml-md" : "q-mt-md q-mr-md float-right"
);
</script>

<template>
  <div>
    <p-have-any
      v-if="props.prompt"
      :prompt="props.prompt"
      v-model="hasData"
      :rows="local_rows"
      :row-default="props.rowDefault ?? {}"
    />
    <div v-if="!props.prompt || hasData">
      <q-card
        v-for="(row, index) in local_rows"
        class="row q-pa-sm q-mb-sm"
        :key="index"
      >
        <div class="col-xs-12 col-sm-11">
          <slot :row="local_rows[index]" />
        </div>
        <div class="col-xs-12 col-sm-1">
          <p-info-dialog
            title="Are you sure you want to delete this row?"
            :is_open="info_dialog_is_open"
            :hide_trigger="true"
            @close="info_dialog_is_open = false"
          >
            <template #trigger>
              <p-accessible-button
                v-if="required_at_least_one_row !== true || index !== 0"
                round
                negative
                icon="delete"
                size="sm"
                :button-tooltip="`Remove ${add_label}`"
                :class="responsive_button_margin"
                @click="
                  info_dialog_is_open = true;
                  pre_remove_index = index;
                "
              ></p-accessible-button>
            </template>
            <template #actions>
              <p-accessible-button
                label="Yes"
                negative
                @click="() => removeRow(pre_remove_index)"
                v-close-popup
              />
              <p-accessible-button label="No" primary v-close-popup />
            </template>
          </p-info-dialog>
        </div>
      </q-card>
      <p-accessible-button
        :label="`Add ${add_label}`"
        icon="add"
        primary
        @click="addRow"
        class="q-mt-sm"
      ></p-accessible-button>
    </div>
  </div>
</template>
