<script setup>
import { ref, computed, useSlots } from "vue";

/**
 * @name PInfoDialog
 * @description A dialog component that provides a default trigger and `Ok` close action.
 * The dialog can manage its own state or a parent component can manage the state using the
 * `isOpen` prop.
 */

defineOptions({
  name: "PInfoDialog",
});

const props = defineProps({
  title: {
    type: String,
    default: "Information",
  },
  is_open: {
    type: Boolean,
    default: null,
  },
  hide_trigger: {
    type: Boolean,
    default: false,
  },
  persistent: {
    type: Boolean,
    default: false,
  },
});

const emit = defineEmits(["close", "open"]);

const parent_handles_state = props.is_open !== null;

const info_dialog_is_open = parent_handles_state
  ? ref(props.is_open)
  : ref(false);

const slots = useSlots();
const use_default_trigger = computed(
  () => slots.trigger === undefined && !props.hide_trigger
);
const use_default_actions = computed(() => slots.actions === undefined);

const dialog_is_open = computed(() =>
  parent_handles_state ? props.is_open : info_dialog_is_open.value
);

function close_dialog() {
  parent_handles_state ? emit("close") : (info_dialog_is_open.value = false);
}

function open_dialog() {
  parent_handles_state ? emit("open") : (info_dialog_is_open.value = true);
}
</script>

<template>
  <slot name="trigger" :open="open_dialog"></slot>
  <template v-if="use_default_trigger">
    <q-btn round color="primary" icon="help" size="sm" @click="open_dialog" />
  </template>

  <teleport to="body">
    <q-dialog
      :model-value="dialog_is_open"
      :persistent="props.persistent"
      @hide="close_dialog"
      @show="is_open"
    >
      <q-card>
        <q-card-section>
          <div class="text-h6">{{ props.title }}</div>
        </q-card-section>
        <q-card-section>
          <slot name="default" />
        </q-card-section>
        <q-card-actions class="q-pb-md q-pl-md">
          <slot name="actions" :close="close_dialog" />
          <template v-if="use_default_actions">
            <p-accessible-button primary v-close-popup label="OK" />
          </template>
        </q-card-actions>
      </q-card>
    </q-dialog>
  </teleport>
</template>
