<script setup>
import { onMounted, ref } from "vue";

defineOptions({
  name: "p-toolbar",
});

defineProps({
  anchor: {
    type: String,
    default: "top",
    validator: (value) => ["top", "bottom"].includes(value),
  },
  anchorOffsetPx: {
    type: Number,
    default: 0,
  },
  heightPx: {
    type: Number,
    default: null,
  },
});

const OFFSET_PX = 300;
const needsOffset = ref(false);

const body = document.querySelector("body");

const menuObserver = new MutationObserver((mutations) => {
  const menuIsOpen = body.classList.contains("q-menu-opened");
  needsOffset.value = menuIsOpen;
});

onMounted(() => {
  menuObserver.observe(document.querySelector("body"), {
    attributes: true,
    attributeFilter: ["class"],
  });
});
</script>

<template>
  <div
    ref="thisToolbar"
    class="p-toolbar row items-center justify-end q-px-sm"
    :style="{
      height: `${`${heightPx}px` ?? 'auto'}`,
      width: `calc(100% - ${needsOffset ? OFFSET_PX : 0}px)`,
      position: 'fixed',
      [anchor]: `${anchorOffsetPx || 0}px`,
      left: `${0 + (needsOffset ? OFFSET_PX : 0)}px`,
      zIndex: 999,
      transition: 'all 0.1s',
      ...$attrs.style,
    }"
  >
    <div class="col-auto">
      <slot name="left" />
    </div>
    <div class="col flex-grow" />
    <div class="col-auto">
      <slot name="right" />
    </div>
  </div>
</template>
