<script setup>
import PMenuLink from "@wapdc/quasar-app-extension-pdc-ui/src/components/PMenuLink.vue";
import PWhiteLogo from "src/library/PWhiteLogo.vue";
import { ref, computed, watch } from "vue";
import { onBeforeRouteUpdate } from "vue-router";
import { useApplication } from "@wapdc/pdc-ui/application";
import {
  interceptTabNavigation,
  focusElementById,
} from "src/library/focus.util.js";

defineOptions({
  name: "PUserHeader",
});

const props = defineProps({
  title: {
    type: String,
    required: true,
  },
  addedUserLinks: {
    type: Array,
    default: () => [],
  },
});

const { user, getSetting } = await useApplication();
const apollo_url = getSetting("apollo_url");

const isDevEnv =
  location.hostname === "localhost" || location.hostname.includes(".lndo.");

function staffLoginUrl() {
  if (isDevEnv) {
    return "/user/login?destination=/";
  } else {
    return "/saml/drupal_login/ead_sts_wa_gov";
  }
}

function filerLoginUrl() {
  if (isDevEnv) {
    return "/user/login?destination=/";
  }
  if (
    location.hostname.includes("demo") &&
    location.hostname.includes("pantheonsite.io")
  ) {
    return "/saml/drupal_login/test_secureaccess_wa_gov";
  } else {
    return "/saml/drupal_login/secureaccess_wa_gov";
  }
}

const left_drawer_open = ref(false);

const userIsLoggedIn = () => !!user?.uid;

const mappedUserLinks = props.addedUserLinks.map((link) => {
  return {
    ...link,
    limitTo: userIsLoggedIn,
  };
});

const essential_links = computed(() => [
  {
    title: "My PDC",
    icon: "home",
    link: "/",
  },
  {
    title: "PDC web site",
    icon: "info",
    link: "https://pdc.wa.gov",
  },
  {
    icon: "person",
    title: "Filer Login",
    limitTo: () => !userIsLoggedIn(),
    href: filerLoginUrl(),
  },
  ...mappedUserLinks,
  {
    icon: "power_settings_new",
    title: "Logout",
    limitTo: userIsLoggedIn,
    href: "/user/logout?destination=/",
  },
  {
    icon: "person",
    title: "Staff Login",
    limitTo: () => !userIsLoggedIn(),
    href: staffLoginUrl(),
  },
]);

function allowMenuItem(link) {
  if (link.limitTo === undefined) {
    return true;
  } else {
    return link.limitTo();
  }
}

const allowedLinks = computed(() => {
  return essential_links.value.filter((link) => allowMenuItem(link));
});

const navigateToProfileEdit = () => {
  window.location = apollo_url + "/my-pdc/edit-profile";
};

const firstNavLink = "firstNavLink";
const lastNavLink = "lastNavLink";
const headerMenuToggleButton = "headerMenuToggleButton";
const headerMenuCloseButton = "headerMenuCloseButton";
const headerDetourTriggerSibling = "headerDetourTriggerSibling";

function handleMenuTabPress(event) {
  const eventResponseMap = {
    [headerMenuToggleButton]: {
      next: left_drawer_open.value ? firstNavLink : null,
    },
    [firstNavLink]: {
      prev: headerMenuToggleButton,
    },
    [lastNavLink]: {
      next: headerMenuCloseButton,
    },
    [headerMenuCloseButton]: {
      next: {
        rel: "sibling",
        query: `#${headerMenuToggleButton}`,
        direction: "next",
      },
      prev: lastNavLink,
    },
    [headerDetourTriggerSibling]: {
      prev: left_drawer_open.value ? headerMenuCloseButton : null,
      next: {
        rel: "firstFocusableChild",
        query: ".q-page",
      },
    },
  };

  interceptTabNavigation(event, eventResponseMap);
}

function onMenuFocus(event) {
  const targetId = event.target.id;
  const fromElement = event.relatedTarget;
  if (targetId !== lastNavLink || !fromElement) return;

  let fromElementParent = fromElement;
  while (fromElementParent) {
    if (fromElementParent.classList.contains("q-page-container")) {
      const detourTriggerSibling = document.getElementById(
        headerDetourTriggerSibling
      );
      if (detourTriggerSibling) detourTriggerSibling.focus();
      break;
    }
    fromElementParent = fromElementParent.parentElement;
  }
}

function navLinkIdByIndex(i, len) {
  if (i === 0) return firstNavLink;
  else if (i === len - 1) return lastNavLink;
  return "";
}

function toggleLeftDrawer() {
  left_drawer_open.value = !left_drawer_open.value;
}

watch(left_drawer_open, (leftDrawerIsOpen) => {
  const toggle = leftDrawerIsOpen ? "add" : "remove";
  document.body.classList[toggle]("q-menu-opened");
  if (!leftDrawerIsOpen) {
    focusElementById(headerMenuToggleButton);
  }
});

onBeforeRouteUpdate(() => {
  // Close the drawer before navigating to a new page to prevent layout issues
  left_drawer_open.value = false;
});
</script>

<template>
  <q-header elevated class="print-hide">
    <q-toolbar>
      <q-btn
        flat
        dense
        round
        :id="headerMenuToggleButton"
        icon="menu"
        aria-label="Menu"
        @click="toggleLeftDrawer"
        @keydown.tab="handleMenuTabPress"
      />

      <q-toolbar-title>{{ title }} </q-toolbar-title>
      <div class="q-pr-md">{{ user?.user?.user_name }}</div>
      <q-btn-dropdown
        :id="headerDetourTriggerSibling"
        class="edit-profile-item"
        aria-label="My Profile"
        @keydown.tab="handleMenuTabPress"
      >
        <q-list>
          <q-item v-close-popup clickable @click="navigateToProfileEdit">
            <q-item-section>Edit Profile</q-item-section>
          </q-item>
        </q-list>
      </q-btn-dropdown>
      <div><p-white-logo /></div>
    </q-toolbar>
  </q-header>

  <q-drawer
    v-model="left_drawer_open"
    class="q-pa-md"
    bordered
    @focusin="onMenuFocus"
  >
    <q-list>
      <q-item>
        <q-item-section>
          <q-item-label> Navigation </q-item-label>
        </q-item-section>
        <q-item-section side top>
          <q-btn
            icon="close"
            flat
            round
            dense
            @keydown.tab="handleMenuTabPress"
            :id="headerMenuCloseButton"
            @click="left_drawer_open = !left_drawer_open"
            >Close</q-btn
          >
        </q-item-section>
      </q-item>
      <q-separator />
      <template v-for="(link, index) in allowedLinks" :key="link.title">
        <p-menu-link
          :id="navLinkIdByIndex(index, allowedLinks.length)"
          v-if="allowMenuItem(link)"
          v-bind="link"
          @keydown.tab="handleMenuTabPress"
        />
      </template>
    </q-list>
  </q-drawer>
</template>
<style scoped>
.edit-profile-item,
.edit-profile-item:before,
.edit-profile-item:active {
  box-shadow: none !important;
}
</style>
