<script setup>
import PUserHeader from "./PUserHeader.vue";
import PUserFooter from "./PUserFooter.vue";
import { computed, ref } from "vue";
import { useApplication } from "@wapdc/pdc-ui/application";

defineOptions({
  name: "PUserLayout",
});

const isInitialized = ref(false);
await useApplication();
isInitialized.value = true;

const props = defineProps({
  maxWidth: {
    type: Number,
    default: null,
  },
  title: {
    type: String,
    required: true,
  },
  addedUserLinks: {
    type: Array,
    default: () => [],
  },
  pageStyle: {
    type: String,
    default: "",
  },
});

const containerStyle = computed(() => {
  return props.maxWidth ? `max-width: ${props.maxWidth}px;` : "";
});
</script>

<template>
  <q-layout view="lHh Lpr lFf">
    <p-user-header :title="title" :added-user-links="addedUserLinks" />
    <q-page-container
      v-if="isInitialized"
      class="q-px-sm q-px-md-lg"
      :style="containerStyle"
    >
      <slot name="subheader"></slot>
      <q-page :style="pageStyle">
        <router-view />
      </q-page>
      <p-user-footer />
    </q-page-container>
  </q-layout>
</template>

<style>
.q-layout__shadow:after {
  box-shadow: none !important;
}
</style>
