<script setup>
import { ref } from "vue";
import AccessibleIcon from "src/components/AccessibleIcon.vue";
import HelpModal from "src/components/HelpModal.vue";

const open = ref(false);
</script>

<template>
  <p-toolbar
    anchor="bottom"
    :anchor-offset-px="0"
    :height-px="40"
    class="items-center"
    :style="{ backgroundColor: 'var(--q-primary)', color: 'white' }"
  >
    <template #left>
      <div class="col-auto">&copy; 2024</div>
    </template>

    <template #right>
      <p-accessible-button label="Help" dense primary @click="open = !open">
        <AccessibleIcon class="q-ml-sm" color="white" name="help" size="sm" />
      </p-accessible-button>
      <HelpModal :open="open" @close="open = false" />
    </template>
  </p-toolbar>
</template>
