<script setup></script>

<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1366 768"
    role="img"
    aria-labelledby="logoTitle"
  >
    <title id="logoTitle">MyPDC Logo</title>

    <defs></defs>
    <g id="Layer_1" data-name="Layer 1">
      <path
        class="cls-6"
        d="M1108.16,98.42s-581.62,5-651.28,2.46l-5.29,13.57,11.67,26.52,42.11,2.82,5.22,14.29-30.82,15.08-11.42,30.83,28.3,9.95,7.94,60.53-2.55,38.95-31.93-10.73-38.31,57.06-21.05,17.72-12.52-15.84,20.76-54.18,28.94-45.9-13.7-13.77s-92.72-19.08-102.02-21.86c-9.3-2.78-88.98-39.21-88.98-39.21l-27.61,28.16,4.71,47.48,22.6,28.84,29.58,134.87,20.62,6.74-2.89,16.42-10.55,13.22,6.4,26.14,19.39,8.8-1.28,22.95-25.93,6.83,8.79,35.94,8.45,20.41,39.73-13.95,64.71,31.68,18.81,69.85,38,21.29,55.06-5.8,10.22-16.6,43.34-6.17,45.7,24.48,74.18-21.27,21.83,11.65,99.34-38.34,92.38-17.36,224.31-3.91-23.67-57.64,8.73-463.03Z"
      />
    </g>
    <g id="Layer_3" data-name="Layer 3">
      <path
        class="cls-2"
        d="M1108.16,98.42s-581.62,5-651.28,2.46l-5.29,13.57,11.67,26.52,42.11,2.82,5.22,14.29-30.82,15.08-11.42,30.83,28.3,9.95,7.94,60.53-2.55,38.95-31.93-10.73-38.31,57.06-21.05,17.72-12.52-15.84,20.76-54.18,28.94-45.9-13.7-13.77s-92.72-19.08-102.02-21.86c-9.3-2.78-88.98-39.21-88.98-39.21l-27.61,28.16,4.71,47.48,22.6,28.84,29.58,134.87,20.62,6.74-2.89,16.42-10.55,13.22,6.4,26.14,19.39,8.8-1.28,22.95-25.93,6.83,8.79,35.94,8.45,20.41,39.73-13.95,64.71,31.68,18.81,69.85,38,21.29,55.06-5.8,10.22-16.6,43.34-6.17,45.7,24.48,74.18-21.27,21.83,11.65,99.34-38.34,92.38-17.36,224.31-3.91-23.67-57.64,8.73-463.03Z"
      />
    </g>
    <g id="Layer_4" data-name="Layer 4">
      <g>
        <path
          class="cls-4"
          d="M816.63,428.38c22.47,49.24,60.48,75.15,113.8,73.78,53.35-1.37,90.07-29.11,109.45-79.62.66,1.66,1.22,2.91,1.67,4.2,4.78,13.71,11.75,26.16,21.15,37.26,21.31,25.14,48.58,38.25,81.36,38.5,59.22.45,118.45.11,177.68.19,2.98,0,3.86-.72,3.84-3.78-.13-24.8-.07-49.6-.08-74.4q0-4.47-4.6-4.47c-57.94,0-115.87.02-173.81-.05-3.93,0-7.96-.38-11.78-1.26-18.11-4.21-28.86-21.36-25.35-40.06,3.43-18.27,20.85-30.04,38.96-25.91,17.63,4.02,28.14,21.33,24.66,39.34-.84,4.36-2.79,8.51-4.25,12.82.27.04.66.16,1.04.16,25.5.01,50.99,0,76.49.04,1.8,0,2.3-.74,2.55-2.42,1.69-11.75,1.54-23.49-.08-35.23-3.46-25.01-13.78-46.87-30.96-65.24-17.74-18.96-39.48-30.52-65.58-33.24-17.19-1.79-33.83.49-49.69,7.3-26.8,11.51-45.76,31.09-58.02,57.39-.46.98-1.1,1.88-1.65,2.81-.23-.08-.47-.17-.7-.25v-3.8c0-39.09,0-78.18,0-117.26,0-3.92,0-3.93-3.88-3.93-24.6,0-49.21,0-73.81,0q-4.06,0-4.07,4.06c0,59.32,0,118.65-.05,177.97,0,2.85-.25,5.78-.94,8.53-4.98,20.07-28.14,30.32-47.51,21.14-13.89-6.59-21.09-21.16-17.56-35,4.65-18.21,25.35-28.92,44.23-22.03,2.35.86,4.61,1.96,7.26,3.09,0-1.44,0-2.42,0-3.4,0-16.27.02-32.54.02-48.81,0-9.33,0-18.65-.02-27.98,0-1.35.26-2.74-1.86-3.04-17.62-2.52-35.02-1.47-51.99,3.79-29.41,9.1-52.5,26.44-67.94,53.4-1.56,2.72-2.93,5.55-4.42,8.4-.47-.32-.81-.42-.93-.65-.37-.69-.69-1.42-.99-2.15-7.88-19.41-20.23-35.39-37.17-47.66-32.28-23.38-67.92-29.23-106.05-18.69-27.15,7.5-48.67,23.38-64.43,46.91-11.16,16.67-17.25,35.06-17.34,55.03-.26,60.52-.08,121.03-.16,181.55,0,2.87.78,3.65,3.65,3.64,24.6-.11,49.21-.06,73.81-.06q4.35,0,4.35-4.32c0-58.73-.04-117.46.08-176.19,0-4.18.59-8.59,1.98-12.51,5.94-16.86,25.37-25.72,43.14-20.14,13.17,4.14,23.84,15.82,23.41,30.94-.59,20.99-20.25,34.33-39.96,31.07-4.77-.79-9.3-2.96-14.14-4.55,0,1.18,0,2.55,0,3.93,0,8.23.03,16.47.03,24.7,0,16.17.01,32.34-.01,48.51,0,1.83.1,3.37,2.46,3.58,4.04.34,8.07,1.04,12.12,1.14,14.75.36,29.23-1.35,43.29-6.1,27.75-9.37,49.51-26.2,64.36-51.64,1.72-2.95,3.23-6.03,4.97-9.31Z"
        />
        <path
          class="cls-4"
          d="M816.63,428.38c-1.74,3.27-3.25,6.35-4.97,9.31-14.85,25.43-36.6,42.27-64.36,51.64-14.05,4.75-28.54,6.46-43.29,6.1-4.05-.1-8.07-.79-12.12-1.14-2.36-.2-2.46-1.75-2.46-3.58.03-16.17.02-32.34.01-48.51,0-8.23-.02-16.47-.03-24.7,0-1.38,0-2.75,0-3.93,4.83,1.6,9.37,3.76,14.14,4.55,19.71,3.26,39.37-10.08,39.96-31.07.43-15.11-10.24-26.8-23.41-30.94-17.77-5.59-37.2,3.27-43.14,20.14-1.38,3.93-1.97,8.33-1.98,12.51-.12,58.73-.08,117.46-.08,176.19q0,4.31-4.35,4.32c-24.6,0-49.21-.05-73.81.06-2.87.01-3.65-.77-3.65-3.64.08-60.52-.1-121.03.16-181.55.09-19.97,6.18-38.36,17.34-55.03,15.75-23.53,37.27-39.41,64.43-46.91,38.13-10.54,73.77-4.69,106.05,18.69,16.94,12.27,29.3,28.25,37.17,47.66.3.73.61,1.46.99,2.15.12.22.46.33.93.65,1.49-2.85,2.87-5.67,4.42-8.4,15.43-26.97,38.53-44.3,67.94-53.4,16.98-5.26,34.38-6.31,51.99-3.79,2.12.3,1.86,1.69,1.86,3.04.02,9.33.03,18.65.02,27.98,0,16.27-.01,32.54-.02,48.81,0,.98,0,1.96,0,3.4-2.64-1.13-4.91-2.23-7.26-3.09-18.87-6.9-39.58,3.82-44.23,22.03-3.53,13.83,3.67,28.41,17.56,35,19.37,9.19,42.53-1.07,47.51-21.14.68-2.76.93-5.68.94-8.53.06-59.32.05-118.65.05-177.97q0-4.05,4.07-4.06c24.6,0,49.21,0,73.81,0,3.87,0,3.88.01,3.88,3.93,0,39.09,0,78.18,0,117.26v3.8c.23.08.47.17.7.25.56-.94,1.2-1.83,1.65-2.81,12.26-26.3,31.22-45.88,58.02-57.39,15.86-6.81,32.5-9.09,49.69-7.3,26.1,2.72,47.85,14.28,65.58,33.24,17.19,18.37,27.5,40.24,30.96,65.24,1.62,11.74,1.77,23.47.08,35.23-.24,1.69-.74,2.43-2.55,2.42-25.5-.04-50.99-.03-76.49-.04-.38,0-.77-.12-1.04-.16,1.46-4.31,3.41-8.46,4.25-12.82,3.49-18.02-7.03-35.32-24.66-39.34-18.11-4.13-35.52,7.64-38.96,25.91-3.52,18.71,7.24,35.85,25.35,40.06,3.82.89,7.85,1.26,11.78,1.26,57.94.08,115.87.05,173.81.05q4.59,0,4.6,4.47c0,24.8-.05,49.6.08,74.4.02,3.06-.86,3.78-3.84,3.78-59.23-.09-118.46.26-177.68-.19-32.78-.25-60.05-13.36-81.36-38.5-9.4-11.1-16.37-23.55-21.15-37.26-.45-1.29-1.01-2.54-1.67-4.2-19.38,50.51-56.1,78.25-109.45,79.62-53.32,1.37-91.34-24.55-113.8-73.78Z"
        />
      </g>
      <text class="cls-3" transform="translate(24.76 492.71)">
        <tspan class="cls-5" x="0" y="0">m</tspan>
        <tspan class="cls-1" x="344.09" y="0">y</tspan>
      </text>
    </g>
  </svg>
</template>
<style>
.cls-1 {
  letter-spacing: -0.03em;
}

.cls-2 {
  fill: none;
  stroke: #99c399;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 15px;
}

.cls-3 {
  font-family: IBMPlexSans-SemiBold, "IBM Plex Sans", sans-serif;
  font-size: 402.45px;
  font-weight: 600;
}

.cls-3,
.cls-4 {
  fill: #fff;
}

.cls-5 {
  letter-spacing: -0.03em;
}

.cls-4,
.cls-6 {
  stroke-width: 0;
}

.cls-6 {
  fill: #000;
  fill-opacity: 0;
}
</style>

<style scoped>
svg {
  width: 64px;
  height: auto;
  fill: #fff;
}
</style>
