<script setup>
import { computed } from 'vue';
import { formatDate } from '@wapdc/pdc-ui/util';
import PTable from 'src/components/PTable/PTable.vue';
import ViewBtnCell from './ViewBtnCell.vue';

defineOptions({
  name: 'my-submissions-table',
});

const props = defineProps({
  title: {
    type: String,
    default: 'Table Title',
  },
  description: {
    type: String,
    default: 'Table Description',
  },
  rows: {
    type: Array,
    default: () => [],
  },
  columns: {
    type: Array,
    required: true,
  },
  selectedFilerId: {
    type: Number,
    required: true,
  },
});

const mappedRows = computed(() =>
  props.rows.map((report) => {
    return {
      filerId: report.filer_id,
      submissionId: report.submission_id,
      lastUpdated: report.updated_at,
      submitted: formatDate(report.submitted_at),
      periodStart: report.period_start,
      periodEnd: report.period_end,
      period: `${formatDate(report.period_start)} - ${formatDate(
        report.period_end,
      )}`,
    };
  }),
);

const mappedColumns = computed(() =>
  props.columns.map((column) => {
    return {
      ...column,
      style: 'width: 45%',
      headerStyle: 'width: 45%',
    };
  }),
);

const actionsColumn = {
  name: 'actions',
  labe: 'Actions',
  align: 'left',
  field: 'filerId',
  sortable: false,
  style: 'width: 10%',
  headerStyle: 'width: 10%',
};

function legacyDocUrl(submissionId) {
  const submission = props.rows.find(
    (row) => row.submission_id === submissionId,
  );

  if (!submission) return null;

  const domain = window.location.origin;
  let url = `${domain}/financial-affairs/legacy-submission`;

  if (submission.filing_type === 'electronic') {
    url = `${url}?repno=${submission?.repno}`;
  } else {
    url = `${url}?docid=${submission?.docid}`;
  }

  return url;
}
</script>

<template>
  <p-table
    :flat="false"
    :columns="[...mappedColumns, actionsColumn]"
    :rows="mappedRows"
    :title="title"
    :description="description"
    class="q-mb-lg full-width"
    row-key="filerId"
    :auto-width="false"
    record-label-as-plural="submissions"
  >
    <template #actions="{ submissionId }">
      <ViewBtnCell
        v-if="submissionId"
        :submission-id="submissionId"
        :selected-filer-id="selectedFilerId"
      />
      <q-btn
        v-else
        label="view"
        color="primary"
        target="_blank"
        :href="legacyDocUrl(submissionId)"
      />
    </template>
  </p-table>
</template>
