<script setup>
import { ROUTE_NAMES } from 'src/router/routeNames';

defineOptions({
  name: 'view-btn-cell',
});

defineProps({
  submissionId: {
    type: Number,
    required: true,
  },
  selectedFilerId: {
    type: Number,
    default: -1,
  },
});
</script>

<template>
  <q-btn
    label="view"
    color="primary"
    :to="{
      name: ROUTE_NAMES.SUBMISSION_DETAILS,
      params: { submissionId, selectedFilerId },
    }"
  />
</template>
