<script setup>
import { onMounted, ref, watch } from 'vue';

import MySubmissionsTable from './MySubmissionsTable/MySubmissionsTable.vue';

import useFiler from 'src/composables/api/useFiler';
import useSubmissions from 'src/composables/api/useSubmissions.js';
import useTitle from 'src/composables/useTitle.js';

import { LEGACY, UNVERIFIED, VERIFIED } from 'src/constants/submissions.js';
import { legacyColumns, unverifiedColumns, verifiedColumns } from './MySubmissionsTable/columns';

defineOptions({
  name: 'my-submissions',
});

const { selectedFilerPersonId } = useFiler();
const { getSubmissionsByPersonId } = useSubmissions();
const { setPageTitle } = useTitle();

setPageTitle('My Submissions');

const tableDescriptors = {
  [UNVERIFIED]: {
    columns: unverifiedColumns,
    description: 'Financial Affairs Disclosures that are pending review.',
    title: 'Unverified Reports',
  },
  [VERIFIED]: {
    columns: verifiedColumns,
    description:
      'Financial Affairs Disclosures that have been verified by PDC staff.',
    title: 'Verified Reports',
  },
  [LEGACY]: {
    columns: legacyColumns,
    description:
      'Financial Affairs Disclosures that were submitted prior to the launch ' +
      'of the new system in 2020',
    title: 'Legacy Reports',
  },
};

const submissionsTableData = ref(tableDescriptors);

async function mapSubmissionsToTableDataRows(personId) {
  const personSubmissions = await getSubmissionsByPersonId(personId);

  for (const [key, value] of Object.entries(personSubmissions)) {
    if (!submissionsTableData.value[key]) continue;
    submissionsTableData.value[key].rows = value;
  }
}

watch(selectedFilerPersonId, async (personId) => {
  mapSubmissionsToTableDataRows(personId);
});

onMounted(async () => {
  mapSubmissionsToTableDataRows(selectedFilerPersonId.value);
});
</script>

<template>
  <div class="flex column items-center">
    <head1 class="full-width">History of Financial Affairs Disclosures</head1>
    <my-submissions-table
      v-for="submission of submissionsTableData"
      :key="submission.title"
      :title="submission.title"
      :description="submission.description"
      :columns="submission.columns"
      :rows="submission?.rows || []"
      :selected-filer-id="selectedFiler?.person_id"
    />
  </div>
</template>
