<template>
  <span>
   {{ getOwners(who) }}
  </span>
</template>

<script>
  import {mapState} from 'vuex'
  export default {
    name: "AssetOwner",
    props: ['who'],
    computed: {
      ...mapState(['submission', 'validation']),
    },
    methods: {
      getOwners(who) {
        let displayValues = this.validation.relation_code.map((validationEntry, index, theArray) => {
          if (who.includes(validationEntry.value)) {
            if (theArray[index].value === 'filer'){
              return this.submission.name;
            }
            return theArray[index].text;
          }
        });
        displayValues = displayValues.filter(e => !!e);
        return displayValues.join("; ");
      },
    }
  }
</script>

<style scoped>

</style>