<template>
  <address>
    <span v-if="!location.county">
      <span v-if="!location.exempt_from_disclosure">
      {{ location.address }}<br/>
      {{ location.city }}, WA {{ location.zip }}
      </span>
      <span v-else>
        {{location.residence_type}} in {{location.city}}
      </span>

    </span>
    <span v-else>
      {{ location.county | titleCase | suffix(' County')}}<br/>
      {{ location.parcel | prefix("Parcel number: ") }}{{ location.legal_description | prefix("Legal description: ")}}
    </span>
  </address>
</template>

<script>
  export default {
    name: "RealEstateLocation",
    props: ['location'],
  }
</script>

<style scoped>

</style>