<script setup>
import { computed, ref } from 'vue';

import useWizard from 'src/wizard/useWizard.js';

import columns from './businessesOtherColumns.js';
import { statementDateString } from 'src/pages/Disclosure/common/statementDateString.js';

import ConfirmationDialog from 'src/components/ConfirmationDialog.vue';
import EditableSetTable from 'src/components/wizardInputs/EditableSetTable/EditableSetTable.vue';
import FormOpts from 'src/components/wizardInputs/FormOpts.vue';
import InputRadioYesNo, { YES, NO } from 'src/components/InputRadioYesNo.vue';
import BusinessesOtherForm from './BusinessesOtherForm.vue';

defineOptions({
  name: 'businessed-other',
});

const modalOpen = ref(false);

const wizard = useWizard();

const hasKey = 'hasBusinessesOther';
const templateKey = 'otherBusinessesArray';

const hasFieldUtils = wizard.field(hasKey);
const fieldSetUtils = wizard.fieldSet(templateKey);

const rows = computed(() => fieldSetUtils.getAllData().value);

function handleAddNew() {
  return fieldSetUtils.add();
}

const hasBusinessesOther = computed({
  get: () => hasFieldUtils.value(),
  set: (value) => {
    const userHasStartedEntry = fieldSetUtils.getAllData().value?.length > 0;

    if (value === NO) {
      if (userHasStartedEntry) {
        modalOpen.value = true;
        return;
      }
      hasFieldUtils.set(NO);
    } else {
      handleAddNew();

      hasFieldUtils.set(YES);
    }
  },
});

/** Deletes row and returns true on success */
function handleDeleteRow(rowIndex) {
  fieldSetUtils.remove(rowIndex);

  if (fieldSetUtils.getAllData().value?.length < 1) {
    hasFieldUtils.set(NO);
  }

  return true;
}

function userConfirmedModalClear() {
  fieldSetUtils.removeAll();
  hasFieldUtils.set(NO);
  modalOpen.value = false;
}

function handleSave() {
  wizard.save();
}
</script>

<template>
  <p>
    Disclose all entities for which filer or a qualified family member served as
    an officer, director, general partner, board member or trustee. Entities may
    include:
  </p>

  <ul>
    <li>Corporations</li>
    <li>Unions</li>
    <li>Associations</li>
    <li>Partnerships</li>
    <li>Joint ventures</li>
    <li>Non-profit organizations</li>
    <li>Trusts</li>
  </ul>

  <p>For each of these entities you will be asked to disclose:</p>

  <ul>
    <li>Entity name</li>
    <li>Office name or title</li>
    <li>Description of the organization</li>
    <li>All payments from government agencies where you seek or hold office</li>
    <li>Payments from other government agencies of $12,000 or more</li>
    <li>Payments from business customers of $12,000 or more</li>
  </ul>

  <p>
    Did the filer, spouse, registered domestic partner or dependent operate as
    an officer, director, general partner or board member between
    {{ statementDateString() }}?
  </p>

  <FormOpts :focus-first="true">
    <InputRadioYesNo
      v-model="hasBusinessesOther"
      :rules="hasFieldUtils.self.rules"
    />

    <template v-if="hasFieldUtils.value() === YES && rows?.length">
      <EditableSetTable
        label="business"
        :columns="columns"
        :rows="rows"
        :add-fn="handleAddNew"
        :delete-fn="handleDeleteRow"
        @save="handleSave"
      >
        <template #form="{ currentlyEditingIdx }">
          <BusinessesOtherForm
            :key="currentlyEditingIdx"
            :template-key="templateKey"
            :data-index="currentlyEditingIdx"
          />
        </template>
      </EditableSetTable>
    </template>
  </FormOpts>

  <ConfirmationDialog
    v-model:open="modalOpen"
    title="Clear all entries?"
    primary-btn-label="Yes, clear all"
    negative-btn-label="Cancel"
    @primary-clicked="userConfirmedModalClear"
    @negative-clicked="modalOpen = false"
  >
    Are you sure you want to clear all entries? This action cannot be undone.
  </ConfirmationDialog>
</template>
