<script setup>
import useWizard from 'src/wizard/useWizard.js';

import { statementDateString } from 'src/pages/Disclosure/common/statementDateString.js';

import BusinessBusinessPayments from '../ownership/form/BusinessBusinessPayments.vue';
import BuinessAgencyPayments from '../ownership/form/BusinessAgencyPayments.vue';
import BusinessAgencyBalances from '../ownership/form/BusinessAgencyBalances.vue';
import BusinessInfo from '../ownership/form/BusinessInfo.vue';
import BusinessInterestPayments from '../ownership/form/BusinessInterestPayments.vue';
import BusinessInterestReceipts from '../ownership/form/BusinessInterestReceipts.vue';
import BusinessOfficePayments from '../ownership/form/BusinessOfficePayments.vue';
import BusinessOfficers from '../ownership/form/BusinessOfficers.vue';
import BusinessWaProperty from '../ownership/form/BusinessWaProperty.vue';
import FormOpts from 'src/components/wizardInputs/FormOpts.vue';
import InputRadioYesNo, { YES, NO } from 'src/components/InputRadioYesNo.vue';
import ReportingChoice from '../ownership/form/ReportingChoice.vue';

defineOptions({
  name: 'businesses-other-form',
});

const props = defineProps({
  templateKey: {
    type: String,
    required: true,
  },
  dataIndex: {
    type: Number,
    required: true,
  },
});

const wizard = useWizard();

const dataUtils = wizard.fieldSet(props.templateKey).get(props.dataIndex);

const bankLegalName = dataUtils.getValue('legalName');
const bankDisplayName = bankLegalName?.trim()?.length
  ? bankLegalName
  : 'this business/organization';
</script>

<template>
  <FormOpts :hide-hints="true">
    <BusinessInfo :data-index="dataIndex" :template-key="templateKey" />

    <h4>Type of business</h4>
    <p>Is {{ bankDisplayName }} a bank or commercial lending institution?</p>
    <InputRadioYesNo v-bind="dataUtils.vBind('isLendingInstitution')" />

    <template v-if="dataUtils.getValue('isLendingInstitution') === YES">
      <ReportingChoice :data-index="dataIndex" :template-key="templateKey" />

      <template v-if="dataUtils.getValue('reportingChoice') === 'balances'">
        <p>
          Disclose the name, address, and occupation of every director and
          officer of the business, excluding the filer, spouse, registered
          domestic partner or dependent.
        </p>
        <p>
          Does this business have any other directors or officers besides the
          filer, spouse, registered domestic partner or dependent?
        </p>
        <InputRadioYesNo v-bind="dataUtils.vBind('hasOfficers')" />

        <BusinessOfficers
          v-if="dataUtils.getValue('hasOfficers') === YES"
          :data-index="dataIndex"
          :template-key="templateKey"
        />

        <h4>Agency Balances</h4>
        <p>
          Did this business have financial accounts with a government agency
          where the filer seeks or holds a position between
          {{ statementDateString() }}?
        </p>
        <InputRadioYesNo v-bind="dataUtils.vBind('hasAgencyBalances')" />

        <BusinessAgencyBalances
          v-if="dataUtils.getValue('hasAgencyBalances') === YES"
          :data-index="dataIndex"
          :template-key="templateKey"
        />
      </template>

      <template v-if="dataUtils.getValue('reportingChoice') === 'interest'">
        <p>
          Did this business pay interest exceeding $2900 to government agency
          where filer seeks or holds a position between
          {{ statementDateString() }}?
        </p>
        <InputRadioYesNo
          v-bind="dataUtils.vBind('hasBusinessInterestPayments')"
        />

        <BusinessInterestPayments
          v-if="dataUtils.getValue('hasBusinessInterestPayments') === YES"
          :data-index="dataIndex"
          :template-key="templateKey"
        />

        <p>
          Did this business receive loan interest payments exceeding $2900 from
          a government agency where filer seeks or holds a position between
          {{ statementDateString() }}?
        </p>
        <InputRadioYesNo
          v-bind="dataUtils.vBind('hasBusinessInterestReceipts')"
        />

        <BusinessInterestReceipts
          v-if="dataUtils.getValue('hasBusinessInterestReceipts') === YES"
          :data-index="dataIndex"
          :template-key="templateKey"
        />
      </template>
    </template>

    <template v-else-if="dataUtils.getValue('isLendingInstitution') === NO">
      <h4>Affiliated government agency payments</h4>
      <p>
        Did this business receive any payments between
        {{ statementDateString() }} from a government agency where filer seeks
        or holds a position?
      </p>
      <InputRadioYesNo v-bind="dataUtils.vBind('hasOfficePayments')" />

      <p>
        List all payments received between {{ statementDateString() }} from a
        government agency where filer seeks or holds a position.
      </p>
      <BusinessOfficePayments
        v-if="dataUtils.getValue('hasOfficePayments') === YES"
        :data-index="dataIndex"
        :template-key="templateKey"
      />

      <h4>Other government agency payments</h4>
      <p>
        Did this business receive any reportable payments of $12,000 or more
        between {{ statementDateString() }} from a government agency other than
        where filer seeks or holds a position?
      </p>
      <InputRadioYesNo v-bind="dataUtils.vBind('hasAgencyPayments')" />

      <p>
        List the agency and purpose of payments of $12,000 or more received
        between {{ statementDateString() }} from a government agency
        <strong> other than </strong> where filer seeks or holds a position.
      </p>
      <BuinessAgencyPayments
        v-if="dataUtils.getValue('hasAgencyPayments') === YES"
        :data-index="dataIndex"
        :template-key="templateKey"
      />

      <h4>Business payments</h4>
      <p>
        Did this business receive any reportable payments of $12,000 or more
        between {{ statementDateString() }} from a business customer?
      </p>
      <InputRadioYesNo v-bind="dataUtils.vBind('hasBusinessPayments')" />

      <p>
        List the business and purpose of payments of $12,000 or more received
        between {{ statementDateString() }} from a business customer.
      </p>

      <BusinessBusinessPayments
        v-if="dataUtils.getValue('hasBusinessPayments') === YES"
        :data-index="dataIndex"
        :template-key="templateKey"
      />
    </template>

    <h4>Real Estate</h4>
    <p>
      Did this business own any Washington real estate valued at over $24,000
      between {{ statementDateString() }}?
    </p>
    <InputRadioYesNo v-bind="dataUtils.vBind('hasWaProperty')" />

    <BusinessWaProperty
      v-if="dataUtils.getValue('hasWaProperty') === YES"
      :data-index="dataIndex"
      :template-key="templateKey"
    />
  </FormOpts>
</template>
