<script setup>
import { computed, ref } from 'vue';

import useWizard from 'src/wizard/useWizard.js';

import columns from './columns.js';
import { statementDateString } from 'src/pages/Disclosure/common/statementDateString.js';

import ConfirmationDialog from 'src/components/ConfirmationDialog.vue';
import EditableSetTable from 'src/components/wizardInputs/EditableSetTable/EditableSetTable.vue';
import FormOpts from 'src/components/wizardInputs/FormOpts.vue';
import InputRadioYesNo, { YES, NO } from 'src/components/InputRadioYesNo.vue';
import LobbyForm from './LobbyForm.vue';

defineOptions({
  name: 'debt',
});

const modalOpen = ref(false);

const wizard = useWizard();

const hasKey = 'hasLobbies';
const templateKey = 'lobbies';

const hasFieldUtils = wizard.field(hasKey);
const fieldSetUtils = wizard.fieldSet(templateKey);

const rows = computed(() => fieldSetUtils.getAllData().value);

function handleAddNew() {
  return fieldSetUtils.add();
}

const hasLobbies = computed({
  get() {
    return `${hasFieldUtils.value()}`;
  },
  set(value) {
    const userHasStartedEntry = fieldSetUtils.getAllData().value?.length > 0;

    if (value === NO) {
      if (userHasStartedEntry) {
        modalOpen.value = true;
        return;
      }
      hasFieldUtils.set(NO);
    } else {
      handleAddNew();
      hasFieldUtils.set(YES);
    }
  },
});

/** Deletes row and returns true on success */
function handleDeleteRow(rowIndex) {
  fieldSetUtils.remove(rowIndex);

  if (fieldSetUtils.getAllData().value?.length < 1) {
    hasFieldUtils.set(NO);
  }

  return true;
}

function userConfirmedModalClear() {
  fieldSetUtils.removeAll();
  hasFieldUtils.set(NO);
  modalOpen.value = false;
}

function handleSave() {
  wizard.save();
}
</script>

<template>
  <p>Typical types of compensation include:</p>

  <ul>
    <li>Salary for time spent lobbying</li>
    <li>Legal fees paid for lobbying-related services</li>
    <li>Travel payments</li>
  </ul>

  <p>
    Did the filer, spouse, registered domestic partner or dependent promote or
    oppose state legislation rules, rates or standards for compensation or
    deferred compensation (other than pay for currently held public office)
    between {{ statementDateString() }}?
  </p>

  <FormOpts :focus-first="true">
    <InputRadioYesNo v-model="hasLobbies" :rules="hasFieldUtils.self.rules" />

    <template v-if="hasLobbies === YES && rows?.length">
      <EditableSetTable
        label="lobbyist"
        :columns="columns"
        :rows="rows"
        :add-fn="handleAddNew"
        :delete-fn="handleDeleteRow"
        @save="handleSave"
      >
        <template #form="{ currentlyEditingIdx }">
          <LobbyForm
            :key="currentlyEditingIdx"
            :template-key="templateKey"
            :data-index="currentlyEditingIdx"
          />
        </template>
      </EditableSetTable>
    </template>
  </FormOpts>

  <ConfirmationDialog
    v-model:open="modalOpen"
    title="Clear all entries?"
    primary-btn-label="Yes, clear all"
    negative-btn-label="Cancel"
    @primary-clicked="userConfirmedModalClear"
    @negative-clicked="modalOpen = false"
  >
    Are you sure you want to clear all entries? This action cannot be undone.
  </ConfirmationDialog>
</template>
