<script setup>
import useWizard from 'src/wizard/useWizard.js';

import { monetaryRanges } from 'src/pages/Disclosure/common/options.js';

import FormOpts from 'src/components/wizardInputs/FormOpts.vue';
import InputDropdown from 'src/components/InputDropdown.vue';
import InputText from 'components/InputText.vue';
import WhoDropdown from 'src/pages/Disclosure/common/WhoDropdown.vue';

defineOptions({
  name: 'debt-form',
});

const props = defineProps({
  templateKey: {
    type: String,
    required: true,
  },
  dataIndex: {
    type: Number,
    required: true,
  },
});

const wizard = useWizard();

const dataUtils = wizard.fieldSet(props.templateKey).get(props.dataIndex);
</script>

<template>
  <FormOpts :hide-hints="true">
    <div class="row">
      <WhoDropdown
        v-bind="dataUtils.vBind('who')"
        label="Lobbyist"
        class="col-12 col-sm-6"
      />

      <InputText
        v-bind="dataUtils.vBind('lobbiedFor')"
        class="col-12 col-sm-6"
        label="Lobbied for"
      />

      <InputText
        v-bind="dataUtils.vBind('purpose')"
        class="col-12 col-sm-6"
        label="Purpose"
      />

      <InputDropdown
        v-bind="dataUtils.vBind('compensation')"
        class="col-12 col-sm-6"
        :options="monetaryRanges"
        label="Compensation received"
      />
    </div>
  </FormOpts>
</template>
