<script setup>
import AccessibleDropdown from 'components/Dropdown/AccessibleDropdown.vue';
import DropdownItem from 'components/Dropdown/DropdownItem.vue';
</script>

<template>
  <dt><h2>Accessible Dropdown</h2></dt>
  <dd>
    Wraps Quasar <code>q-btn-dropdown</code> to add application styling and
    improve keyboard support
  </dd>

  <AccessibleDropdown :aria-toggle-label="'Label for button'">
    <template #label>
      <span>Label for button</span>
    </template>
    <template #default>
      <DropdownItem label="Item 1" @on-click="console.log('Item 1 clicked')" />
      <DropdownItem label="Item 1" @on-click="console.log('Item 2 clicked')" />
      <DropdownItem label="Item 1" @on-click="console.log('Item 3 clicked')" />
    </template>
  </AccessibleDropdown>
</template>
