<script setup>
import BackButton from 'src/components/GlobalSubHeader/BackButton/BackButton.vue';

const goToRoute = {
  name: 'styleguide',
  description: '[target page description]',
};
</script>

<template>
  <dt><h2>Back Button</h2></dt>
  <dd>Circular button with a back arrow icon</dd>

  <BackButton :name="goToRoute.name" :description="goToRoute.description" />
</template>
