<script setup></script>

<template>
  <dt><h2>Card</h2></dt>
  <dd>Quasar <code>q-card</code> component</dd>

  <q-card>
    <q-card-section>
      <h3 class="q-mt-none">Card title</h3>
      <q-card-main>
        <p>Content</p>
      </q-card-main>
    </q-card-section>
  </q-card>
</template>
