<script setup>
import { ref } from 'vue';

const date = ref(new Date());
</script>
<template>
  <dt><h2>Date Picker</h2></dt>
  <dd>
    PDC-UI Component wrapping `q-date` to provide popup behavior and date
    formatting
  </dd>

  <p-date-picker
    v-model="date"
    label="Date"
    filled
    color="primary"
    style="width: 200px"
  />
</template>
