<script setup>
import { computed, ref } from 'vue';

import DropdownMultiSelect from 'src/components/Dropdown/DropdownMultiSelect.vue';

const options = ref([
  {
    label: 'Option 1',
    value: 'option1',
  },
  {
    label: 'Option 2',
    value: 'option2',
  },
  {
    label: 'Option 3',
    value: 'option3',
  },
  {
    label: 'Option 4',
    value: 'option4',
  },
]);

const selections = ref([]);
const readableSelections = computed(() => {
  return selections.value?.length > 0
    ? selections.value.map((selection) => selection.label)?.join(', ')
    : 'None selected';
});
</script>

<template>
  <dt><h2>Dropdown Multi Select</h2></dt>
  <dd>Dropdown allowing multiple selections</dd>

  <DropdownMultiSelect
    v-model="selections"
    label="Cool Label"
    :field-display="readableSelections"
    class="col-12 col-sm-6"
    :options="options"
    :start-focused="true"
  />
</template>
