<script setup>
import { computed, reactive } from 'vue';

import EditableSetTable from 'src/components/wizardInputs/EditableSetTable/EditableSetTable.vue';
import InputText from 'src/components/InputText.vue';

defineOptions({
  name: 'editable-set-table-guide',
});

const fieldArrayKey = 'employmentIncomeArray';

const fields = reactive({
  hasEmploymentIncome: {
    name: 'hasEmploymentIncome',
    rules: [null],
    apiName: 'hasEmploymentIncome',
    blocking: false,
    initialValue: null,
    value: true,
  },
  [fieldArrayKey]: {
    name: fieldArrayKey,
    apiName: fieldArrayKey,
    blocking: false,
    initialValue: null,
    value: [],
  },
});

function setFieldValue(fieldName, newValue, idx) {
  fields[fieldArrayKey].value[idx][fieldName].value = newValue;
}

function getField(fieldName, idx) {
  return fields?.[fieldArrayKey].value?.[idx]?.[fieldName];
}

const receivedBy = {
  key: 'receivedBy',
  label: 'Received By',
  align: 'left',
  sortable: false,
  width: '25%',
  responsiveBehavior: {
    sm: { width: '30%' },
    xs: { width: '33%' },
  },
};

const employerName = {
  key: 'employerName',
  label: 'Employer Name',
  align: 'left',
  sortable: false,
  width: '25%',
  responsiveBehavior: {
    sm: { width: '30%' },
    xs: { width: '33%' },
  },
};

const occupation = {
  key: 'occupation',
  label: 'Occupation',
  align: 'left',
  sortable: false,
  width: '25%',
  responsiveBehavior: {
    md: { width: '25%' },
    sm: { occlude: true },
  },
};

const columns = [receivedBy, employerName, occupation];

// We need to produce key-value pairs for each row, e.g `{ columnName: someValue }`
const rows = computed(() => {
  const data = fields[fieldArrayKey].value;

  return data.map((row) => {
    const keys = Object.keys(row);

    return keys.reduce((acc, key) => {
      acc[key] = row[key].value;

      return acc;
    }, {});
  });
});

function getInputBinds(fieldName, idx) {
  return {
    field: getField(fieldName, idx),
    setFieldValue: (value) => setFieldValue(fieldName, value, idx),
  };
}

/**
 * In a step with a correctly defined templated field, something like
 * this is used:
 * ```
 function handleAddNewIncome() {
    const newIndex = newFromTemplate(employmentIncomeArrayKey);
    state.currentlyEditingIdx = newIndex;
}
  ```
 */
function handleAdd() {
  fields[fieldArrayKey].value.push({
    receivedBy: {
      name: 'receivedBy',
      rules: [null],
      apiName: 'receivedBy',
      blocking: false,
      initialValue: null,
      value: null,
    },
    employerName: {
      name: 'employerName',
      rules: [null, null, null],
      apiName: 'employerName',
      blocking: false,
      initialValue: null,
      value: null,
    },
    occupation: {
      name: 'occupation',
      rules: [null],
      apiName: 'occupation',
      blocking: false,
      initialValue: null,
      value: null,
    },
  });

  const newIndex = fields[fieldArrayKey].value.length - 1;
  return newIndex;
}

function handleDelete(idx) {
  fields[fieldArrayKey].value.splice(idx, 1);
}

function handleSave() {
  console.log('save');
}
</script>

<template>
  <dt><h2>EditableSetTable Guide</h2></dt>
  <dd>
    A table wrapper featuring addable, editable, and deletable rows. Edits via a
    definable form in the 'form' slot
  </dd>

  <EditableSetTable
    label="example entry"
    :columns="columns"
    :rows="rows"
    :add-fn="handleAdd"
    @save="handleSave"
    @delete="handleDelete"
  >
    <template #form="{ currentlyEditingIdx }">
      <div class="row">
        <InputText
          class="col-12 col-sm-6 q-pt-md"
          label="Received By"
          v-bind="getInputBinds('receivedBy', currentlyEditingIdx)"
        />

        <InputText
          class="col-12 col-sm-6 q-pt-md"
          label="Employer"
          v-bind="getInputBinds('employerName', currentlyEditingIdx)"
        />

        <InputText
          class="col-12 col-sm-6 q-pt-md"
          label="Occupation"
          v-bind="getInputBinds('occupation', currentlyEditingIdx)"
        />
      </div>
    </template>
  </EditableSetTable>
</template>
