<script setup>
import { ref } from 'vue';
import rules from '@wapdc/pdc-ui/rules';
import PEditRows from 'src/library/PEditRows.vue';

defineOptions({
  name: 'edit-rows-guide',
});

const rabbits = ref([]);
</script>

<template>
  <dt><h2>Edit Rows Guide</h2></dt>
  <dd>PDC UI provides a component for editing rows of data</dd>

  <PEditRows
    v-model="rabbits"
    class="q-mt-lg"
    add_label="Rabbit"
    :row-default="{ ear: null, foot: null }"
  >
    <template #default="{ row }">
      <div class="row q-col-gutter-md">
        <div class="col-12 col-sm">
          <q-input
            v-model="row.ear"
            lazy-rules
            autofocus
            label="Ear"
            :rules="[rules.required]"
          />
        </div>
        <div class="col-12 col-sm">
          <q-input
            v-model="row.foot"
            lazy-rules
            label="Foot"
            :rules="[rules.required]"
          />
        </div>
      </div>
    </template>
  </PEditRows>
</template>
