<script setup>
import PInfoDialog from 'src/library/PInfoDialog.vue';
import { computed, reactive } from 'vue';

defineOptions({
  name: 'modal-guide',
});

const state = reactive({
  radioAction: '',
  isOpen: false,
});

const radioActionIsSelected = computed(() => state.radioAction !== '');

function close() {
  state.radioAction = '';
  state.isOpen = false;
}
</script>
<template>
  <dt><h2>Modal Dialog</h2></dt>
  <dd>
    Modified pdc-ui component wrapping Quasar <code>q-dialog</code> to provide a
    modal dialog with a title, content, and actions.
  </dd>

  <q-btn label="Open Modal" color="primary" @click="state.isOpen = true" />

  <p-info-dialog
    :is_open="state.isOpen"
    title="Modal Example"
    :hide_trigger="true"
    @close="close"
  >
    <template #default>
      What are you trying to do?
      <div class="flex col">
        <q-radio v-model="state.radioAction" val="amend" label="Make a choice" />
        <q-radio
          v-model="state.radioAction"
          val="create"
          label="I don't want to make a choice"
        />
      </div>
    </template>

    <template #actions>
      <q-btn
        label="OK"
        color="primary"
        :disable="!radioActionIsSelected"
        @click="close"
      >
        <q-tooltip v-if="!radioActionIsSelected">
          Please select an action or cancel
        </q-tooltip>
      </q-btn>
      <q-btn label="Cancel" color="secondary" @click="close" />
    </template>
  </p-info-dialog>
</template>
