<script setup>
import PAccessibleButton from 'src/library/PAccessibleButton.vue';
</script>

<template>
  <dt><h2>Accessible Button</h2></dt>
  <dd>
    Wraps Quasar <code>q-btn</code> to add application styling and hover tooltip
  </dd>
  <div class="flex row">
    <div class="flex col">
      <PAccessibleButton
        rounded
        color="primary"
        text-color="white"
        flat
        class="bg-primary"
        label="Button"
        button-tooltip="Tooltip text"
      />
    </div>

    <div class="flex col">
      <PAccessibleButton
        color="secondary"
        text-color="white"
        label="Button"
        button-tooltip="Tooltip text"
      />
    </div>

    <div class="flex col">
      <PAccessibleButton rounded label="Button" button-tooltip="Tooltip text" />
    </div>

    <div class="flex col">
      <PAccessibleButton label="Button" button-tooltip="Tooltip text" />
    </div>
  </div>
</template>
