<script setup>
import AccessibleDropdownGuide from './AccessibleDropdownGuide.vue';
import BackButtonGuide from './BackButtonGuide.vue';
import CardGuide from './CardGuide.vue';
import DatePickerGuide from './DatePickerGuide.vue';
import DropdownMultiSelectGuide from './DropdownMultiSelectGuide.vue';
import EditableSetTableGuide from './EditableSetTableGuide.vue';
import EditRowsGuide from './EditRowsGuide.vue';
import ModalGuide from './ModalGuide.vue';
import PAccessibleButtonGuide from './PAccessibleButtonGuide.vue';
import TableExpandableGuide from './TableExpandableGuide.vue';
import TableGuide from './TableGuide.vue';
import TextInputGuide from './TextInputGuide.vue';
</script>

<template>
  <page
    class="flex column"
    style="min-width: none; max-width: 800px; margin: 0 auto"
  >
    <dl id="styleguide">
      <dt><h1>Style Guide</h1></dt>
      <dd>Component usage and design reference</dd>

      <AccessibleDropdownGuide />
      <BackButtonGuide />
      <CardGuide />
      <DatePickerGuide />
      <DropdownMultiSelectGuide />
      <EditableSetTableGuide />
      <EditRowsGuide />
      <ModalGuide />
      <PAccessibleButtonGuide />
      <TableExpandableGuide />
      <TableGuide />
      <TextInputGuide />
    </dl>
  </page>
</template>

<style>
dl#styleguide > dd {
  margin-bottom: 1em;
}
</style>
