<script setup>
import PTable from 'src/components/PTable/PTable.vue';
import PAccessibleButton from 'src/library/PAccessibleButton.vue';

defineOptions({
  name: 'table-guide',
});

const rows = [
  {
    itemId: 1,
    lastUpdated: '2021-01-01',
  },
  {
    itemId: 2,
    lastUpdated: '2021-01-03',
  },
];

const columns = [
  {
    name: 'itemId',
    label: 'Item ID',
    align: 'left',
    field: 'itemId',
    sortable: true,
    style: 'width: 45%',
    headerStyle: 'width: 45%',
  },
  {
    name: 'lastUpdated',
    label: 'Last Updated',
    align: 'left',
    field: 'lastUpdated',
    sortable: true,
    style: 'width: 45%',
    headerStyle: 'width: 45%',
  },
];

const actionsColumn = {
  name: 'actions',
  label: 'Actions',
  align: 'left',
  field: 'itemId',
  sortable: false,
  style: 'width: 10%',
  headerStyle: 'width: 10%',
};

function handleClick(itemId) {
  console.log(itemId);
}
</script>

<template>
  <dt><h2>Table</h2></dt>
  <dd>
    Wraps Quasar <code>q-table</code> to improve keyboard accessibility, provide
    an actions column slot, and add expandable rows.
  </dd>

  <p-table
    :flat="false"
    :columns="[...columns, actionsColumn]"
    :rows="rows"
    :title="title"
    description="Table description"
    class="q-mb-lg full-width"
    row-key="filerId"
    :auto-width="false"
    record-label-as-plural="items"
  >
    <template #actions="{ itemId }">
      <PAccessibleButton
        :label="`Log ${itemId}`"
        button-tooltip="Console logs a value"
        @click="handleClick(itemId)"
      />
    </template>
  </p-table>
</template>
