<script setup>
import { computed, reactive } from 'vue';
import InputText from 'src/components/InputText.vue';
import PTable from 'src/components/PTable/PTable.vue';
import PAccessibleButton from 'src/library/PAccessibleButton.vue';

defineOptions({
  name: 'table-guide',
});

const rows = reactive([
  {
    itemId: 1,
    lastUpdated: '2021-01-01',
    species: 'Salmon',
  },
  {
    itemId: 2,
    lastUpdated: '2021-01-03',
    species: 'Sturgeon',
  },
]);

const columns = [
  {
    name: 'itemId',
    label: 'Item ID',
    align: 'left',
    field: 'itemId',
    sortable: true,
    style: 'width: 30%',
    headerStyle: 'width: 30%',
  },
  {
    name: 'lastUpdated',
    label: 'Last Updated',
    align: 'left',
    field: 'lastUpdated',
    sortable: true,
    style: 'width: 30%',
    headerStyle: 'width: 30%',
  },
  {
    name: 'species',
    label: 'Species',
    align: 'left',
    field: 'species',
    sortable: true,
    style: 'width: 30%',
    headerStyle: 'width: 30%',
  },
];

const actionsColumn = {
  name: 'actions',
  label: 'Actions',
  align: 'left',
  field: 'itemId',
  sortable: false,
  style: 'width: 10%',
  headerStyle: 'width: 10%',
};

function handleClick(itemId) {
  console.log(itemId);
}

const bind = (rowIndex) => ({
  label: 'Species',
  modelValue: computed(() => rows[rowIndex].species),
  rules: [(val) => !!val || 'Required.'],
});
</script>

<template>
  <dt><h2>Table with expandable rows</h2></dt>
  <dd>Same components as above, shown with expandable rows.</dd>

  <p-table
    :flat="false"
    :columns="[...columns, actionsColumn]"
    :rows="rows"
    :title="title"
    description="Table with expandable rows"
    class="q-mb-lg full-width"
    row-key="filerId"
    :auto-width="false"
    record-label-as-plural="items"
    :expandable="true"
  >
    <template #actions="{ itemId }">
      <PAccessibleButton
        primary
        :label="`Log ${itemId}`"
        button-tooltip="Console logs a value"
        @click="handleClick(itemId)"
      />
    </template>

    <template #expanded="row">
      <p>
        This is for demonstration purposes. Anything can go inside an expanded
        row.
      </p>
      <q-section>
        <q-card>
          <q-card-section>
            <h3 class="q-mt-none">Expansion of row #{{ row.itemId }}</h3>
            <q-card-main>
              <InputText
                v-bind="bind(row.itemId - 1)"
                :set-field-value="(v) => (rows[row.itemId - 1].species = v)"
              />
            </q-card-main>
          </q-card-section>
        </q-card>
      </q-section>
    </template>
  </p-table>
</template>
