<script setup>
import { ref } from 'vue';
import InputText from 'src/components/InputText.vue';

const userInput = ref('');
</script>

<template>
  <dt><h2>Text Input</h2></dt>
  <dd>
    Quasar <code>q-input</code> component wrapped with props for use with wizard
  </dd>

  <InputText v-model="userInput" label="User Input" />
</template>
