<script setup>
import useFocusAsHover from 'src/composables/useFocusAsHover.js';

defineOptions({
  name: 'menu-toggle-btn',
});

defineProps({
  minimized: {
    type: Boolean,
    default: false,
  },
});

const emit = defineEmits(['toggle-minimize']);

const { focusBinds, hovered } = useFocusAsHover();
</script>

<template>
  <q-btn
    style="min-height: 50px; width: 50px; z-index: 10"
    flat
    dense
    square
    :icon="
      minimized ? 'keyboard_double_arrow_left' : 'keyboard_double_arrow_right'
    "
    aria-label="Toggle Table of Contents"
    v-bind="focusBinds"
    @click="emit('toggle-minimize')"
  >
    <q-tooltip :model-value="hovered" :delay="200">
      {{ minimized ? "Expand" : "Collapse" }}
      Table of Contents
    </q-tooltip>
  </q-btn>
</template>
