<script setup>
import { computed, ref, onMounted } from 'vue';

defineOptions({
  name: 'nested-step-container',
});

const props = defineProps({
  section: Object,
  isCurrentSection: Boolean,
});

const expanded = ref(false);

const white = 'white';
const lightGreen = '#e9f0e8';
const primaryColor = 'var(--q-primary)';
const defaultBorderColor = 'var(--q-secondary)';

const containerComputedStyle = computed(() => ({
  'font-weight': props.isCurrentSection ? 'bold' : 'normal',
}));

const headerComputedStyle = computed(() => [
  'border-left: 1px solid; border-right: 1px solid;',
  {
    'background-color': props.isCurrentSection ? primaryColor : white,
    'border-color': props.isCurrentSection ? primaryColor : defaultBorderColor,
    color: props.isCurrentSection ? white : 'black',
  },
]);

const insetListComputedStyle = computed(() => ({
  'background-color': props.isCurrentSection ? lightGreen : white,
  color: props.isCurrentSection ? 'black' : 'black',
}));

onMounted(() => {
  if (props.isCurrentSection) {
    expanded.value = true;
  }
});
</script>

<template>
  <q-expansion-item
    v-model="expanded"
    :label="section.title"
    :class="{ active: isCurrentSection }"
    :style="containerComputedStyle"
    :header-style="headerComputedStyle"
    @click.stop
    @keydown.enter.stop
  >
    <q-list :style="insetListComputedStyle">
      <slot name="items" :steps="section.steps" />
    </q-list>
  </q-expansion-item>
</template>

<style>
.active .q-item__section--side {
  color: white;
}
</style>
