<script setup>
import { STEP_STATUS } from '../../constants';

import AccessibleIcon from 'components/AccessibleIcon.vue';

defineOptions({
  name: 'step-item-icon',
});

const props = defineProps({
  step: Object,
  useContrast: Boolean,
});

const ACTIVE_STEP_ICON_COLOR = 'white';

const stepStatusToIconMap = {
  [STEP_STATUS.COMPLETED]: {
    name: 'check_circle',
    color: 'positive',
  },
  [STEP_STATUS.INCOMPLETE]: {
    name: 'tonality',
    color: 'negative',
  },
  [STEP_STATUS.NOT_STARTED]: {
    name: 'radio_button_unchecked',
    color: 'negative',
  },
  info: {
    name: 'check_circle',
    color: 'positive',
  },
};

function getStatusIconBinds(step) {
  if (!step?.meta) return;

  const { isValid, isDirty, noFields } = step.meta;

  let status = STEP_STATUS.NOT_STARTED;

  if (noFields) {
    status = 'info';
  } else if (isValid) {
    status = STEP_STATUS.COMPLETED;
  } else if (isDirty) {
    status = STEP_STATUS.INCOMPLETE;
  }

  const binds = stepStatusToIconMap[status];
  return {
    ...binds,
    color: props.useContrast ? ACTIVE_STEP_ICON_COLOR : binds.color,
  };
}
</script>
<template>
  <AccessibleIcon
    v-bind="getStatusIconBinds(step)"
    size="xs"
    role="presentation"
    class="q-pa-none q-ma-none q-ml-sm"
  />
</template>
