<script setup>
import { computed } from 'vue';

import { ACTIVE_STEP_CLASSNAME } from '../../constants';

import StepItemIcon from './StepItemIcon.vue';
import LeftRightSpacer from 'components/LeftRightSpacer.vue';

defineOptions({
  name: 'step-item',
});

const props = defineProps({
  step: Object,
  isCurrentStep: Boolean,
  nested: Boolean,
});

const emit = defineEmits(['click']);

const isActiveTopLevel = computed(() => props.isCurrentStep && !props.nested);
const isActiveNested = computed(() => props.isCurrentStep && props.nested);

const defaultBorderColor = '#a3a3a3';
const primaryColor = 'var(--q-primary)';

const computedStepItemStyle = computed(() => [
  'border-left: 1px solid; border-right: 1px solid;',
  {
    'background-color: unset; color: var(--q-dark)': isActiveNested.value,
    'border-color': isActiveTopLevel.value ? primaryColor : defaultBorderColor,
  },
]);
</script>
<template>
  <q-item
    v-if="step"
    v-ripple
    tabindex="0"
    :active="isActiveTopLevel"
    :class="['q-my-auto', { nested, [ACTIVE_STEP_CLASSNAME]: isCurrentStep }]"
    :style="computedStepItemStyle"
    :clickable="true"
    @click="emit('click')"
  >
    <LeftRightSpacer :in-row-context="true">
      <template #left>
        <q-item-label
          class="self-center"
          :style="[
            'max-width: 180px',
            'overflow: hidden',
            'white-space: wrap',
            { 'font-weight': isCurrentStep ? 'bold' : 'normal' },
          ]"
        >
          {{ step.title }}
        </q-item-label>
      </template>

      <template #right>
        <StepItemIcon :step="step" :use-contrast="isActiveTopLevel" />
      </template>
    </LeftRightSpacer>
  </q-item>
</template>

<style scoped>
.q-item {
  min-height: fit-content;
  padding: 0.65rem 1rem;
  color: var(--q-dark);
}

.nested {
  padding: 0.5em;
  padding-left: 2rem;
  padding-right: 1rem;
  margin: unset;
}

.nested:hover {
  text-decoration: underline;
}

.q-item__label {
  margin: 0 auto;
}

.q-item--active {
  background-color: var(--q-primary);
  color: white;
  font-weight: bold;
}
</style>
