<script setup>
import useWizard from 'src/wizard/useWizard.js';
import NestedStepContainer from './NestedStepContainer.vue';
import StepItem from './StepItem.vue';

defineOptions({
  name: 'table-of-contents-list',
});

const wizard = useWizard();
const tableOfContents = wizard.tableOfContents;

function getIsCurrentSection(section) {
  return wizard.status.currentSectionIndex === section.order;
}

function getIsCurrentStep(section, step) {
  return (
    getIsCurrentSection(section) &&
    wizard?.status?.currentStepIndex === step?.order
  );
}

function setCurrentStep(section, step) {
  if (!section || !step || step.meta.isHidden) return;

  if (wizard.status.currentStep.meta.isBlocking) {
    wizard.validateStep(wizard.status.currentStep);
    return false;
  }

  const sectionIndex = section.order;
  const stepIndex = step.order;
  wizard.setCurrentStep({ sectionIndex, stepIndex });
  return true;
}
</script>
<template>
  <q-list
    class="qa-py-xl"
    tabindex="-1"
    :style="{
      'max-width': '275px',
      'min-width': '275px',
    }"
  >
    <div v-for="section in tableOfContents" :key="section.title">
      <NestedStepContainer
        v-if="section.nest"
        :section="section"
        :is-current-section="getIsCurrentSection(section)"
      >
        <template #items="{ steps }">
          <StepItem
            v-for="step in steps"
            :key="step.title"
            :nested="true"
            :step="step"
            keys-as-click
            :is-current-step="getIsCurrentStep(section, step)"
            @click="setCurrentStep(section, step)"
          />
        </template>
      </NestedStepContainer>

      <StepItem
        v-else
        :step="section.steps[0]"
        :is-current-step="getIsCurrentStep(section, section.steps[0])"
        @click="setCurrentStep(section, section.steps[0])"
      />
    </div>
  </q-list>
</template>
