<script setup>
import { ref } from 'vue';

import LeftRightSpacer from 'components/LeftRightSpacer.vue';
import MenuToggleBtn from './MenuToggleBtn.vue';
import StepItemIcon from './StepItemIcon.vue';
import TableOfContentsList from './TableOfContentsList.vue';

defineOptions({
  name: 'wizard-table-of-contents',
});

const minimized = ref(false);
</script>

<template>
  <div v-if="minimized">
    <q-card-section>
      <div class="bg-dark-green text-white clip rounded-borders">
        <MenuToggleBtn :minimized @toggle-minimize="minimized = !minimized" />
      </div>
    </q-card-section>
  </div>

  <q-card-section v-else class="col-auto">
    <div class="clip rounded-borders" style="border-bottom: 1px solid #a3a3a3">
      <q-toolbar class="text-white q-pr-none bg-dark-green">
        <LeftRightSpacer :in-row-context="true">
          <template #left>
            <q-toolbar-title class="text-bold">Overview</q-toolbar-title>
          </template>

          <template #right>
            <MenuToggleBtn
              style="border-left: 1px solid white"
              :minimized="minimized"
              @toggle-minimize="minimized = !minimized"
            />
          </template>
        </LeftRightSpacer>
      </q-toolbar>

      <TableOfContentsList />
    </div>

    <div class="row q-mt-sm justify-end items-center">
      <div class="col-auto">
        <StepItemIcon :step="{ meta: { isValid: true, isDirty: true } }" />
        Completed
      </div>
      <div class="col-auto q-ml-sm text-xl">|</div>
      <div class="col-auto">
        <StepItemIcon :step="{ meta: { isValid: false, isDirty: true } }" />
        Incomplete
      </div>
    </div>
  </q-card-section>
</template>
