<script setup>
import { computed, nextTick } from 'vue';
import { useQuasar } from 'quasar';

import useWizard from 'src/wizard/useWizard.js';

import { ACTIVE_STEP_CLASSNAME } from '../../constants';

import AccessibleDropdown from 'components/Dropdown/AccessibleDropdown.vue';
import AccessibleIcon from 'src/components/AccessibleIcon.vue';
import TableOfContentsList from './TableOfContentsList.vue';

defineOptions({
  name: 'wizard-table-of-contents-mobile',
});

defineProps({
  computedTableOfContents: Object,
});

const { screen } = useQuasar();

const wizard = useWizard();

const isVeryNarrowScreen = computed(() => screen.width < 400);

/** Focus the active step when the dropdown ToC is expanded. */
function focusStep() {
  const activeStep = document.querySelector(`.${ACTIVE_STEP_CLASSNAME}`);
  if (activeStep) {
    nextTick(() => activeStep.focus());
  }
}
</script>

<template>
  <AccessibleDropdown class="q-mb-sm" @on-expand="focusStep">
    <template #label>
      <AccessibleIcon
        class="q-mr-sm"
        name="list"
        role="presentation"
        size="sm"
      />
      <template v-if="!isVeryNarrowScreen">Overview</template>
    </template>

    <template #default>
      <TableOfContentsList
        class="clip rounded-borders"
        style="border-bottom: 1px solid #a3a3a3; border-top: 1px solid #a3a3a3"
        :sections="computedTableOfContents"
        :current-section-index="currentSectionIndex"
        :current-step-index="currentStepIndex"
        :set-active-step="wizard.setCurrentStep"
      />
    </template>
  </AccessibleDropdown>
</template>
