<script setup>
import { ref } from 'vue';

import useWizard from 'src/wizard/useWizard';

import InfoBox from 'components/InfoBox.vue';
import InvalidSteps from 'src/pages/Disclosure/common/InvalidSteps.vue';

defineOptions({
  name: 'review',
});

const wizard = useWizard();

const { getInvalidSteps, queueAction } = wizard;
const invalidSteps = ref([]);

queueAction(() => {
  invalidSteps.value = getInvalidSteps();
});
</script>

<template>
  <InfoBox class="q-mb-md" type="info">
    <strong>Time saving tip</strong>
    <p class="q-mb-none">
      After fixing any errors, click "Review" in the menu to return to this
      screen.
    </p>
  </InfoBox>

  <InvalidSteps v-if="invalidSteps?.length > 0" :invalid-steps="invalidSteps" />
</template>
