<script setup>
defineOptions({
  name: 'col-header',
});

defineProps({
  headerProps: {
    type: Object,
    default: () => {},
  },
  expandable: {
    type: Boolean,
    default: false,
  },
});
</script>

<template>
  <q-tr>
    <q-th v-if="expandable"></q-th>
    <q-th
      v-for="{ name, label, sortable } in headerProps.cols"
      :key="name"
      :props="headerProps"
      :tabindex="sortable ? 0 : -1"
    >
      {{ label }}
    </q-th>
  </q-tr>
</template>
