<script setup>
import { computed } from 'vue';
import ColHeader from './ColHeader.vue';

defineOptions({
  name: 'p-table',
});

const props = defineProps({
  title: {
    type: String,
    default: null,
  },
  description: {
    type: String,
    default: null,
  },
  rows: {
    type: Array,
    default: () => [],
  },
  columns: {
    type: Array,
    required: true,
  },
  recordLabelAsPlural: {
    type: String,
    default: 'Records',
  },
  customEmptyMessage: {
    type: String,
    default: null,
  },
  autoWidth: {
    type: Boolean,
    default: true,
  },
  expandable: {
    type: Boolean,
    default: false,
  },
});

const expandToggleColWidthPercent = 5;

const mappedColumns = computed(() => {
  const { autoWidth, expandable, columns } = props;

  // Account for width of expandable column (added in ColHeader)
  const ceiling = 100 - (expandable ? expandToggleColWidthPercent : 0);

  const numColumns = columns.length;
  const columnWidth = Math.floor(ceiling / numColumns);

  return columns.map((column) => {
    if (!autoWidth) {
      return column;
    }
    return {
      ...column,
      style: `width: ${columnWidth}%`,
      headerStyle: `width: ${columnWidth}%`,
    };
  });
});

const actionsCellClassName = 'actions-cell';

function handleRowClick(event, row) {
  if (event.target.closest(`.${actionsCellClassName}`)) {
    return;
  }
  if (props.expandable) {
    row.expanded = !row.expanded;
  }
}
</script>

<template>
  <q-table
    flat
    :columns="mappedColumns"
    :hide-pagination="rows.length < 5"
    :rows-per-page-options="[5]"
    :rows="rows"
    :title="title"
    class="q-mb-lg q-pt-none full-width"
    :rows-per-page-label="`${recordLabelAsPlural} per page`"
  >
    <template v-if="description || title" #top-left>
      <div class="col">
        <h2 v-if="title" class="q-ma-none q-mb-sm">{{ title }}</h2>
        <p v-if="description" class="q-ma-none">
          {{ description }}
        </p>
      </div>
    </template>

    <template #header="headerProps">
      <col-header
        v-keys-as-click
        :header-props="headerProps"
        :expandable="expandable"
      />
    </template>

    <template #body="{ cols, row }">
      <q-tr
        v-keys-as-click
        :class="{ 'cursor-pointer': expandable }"
        :tabindex="expandable ? 0 : null"
        @click="(e) => handleRowClick(e, row)"
      >
        <q-td
          v-if="expandable"
          :style="`width: ${expandToggleColWidthPercent}%`"
        >
          <q-icon
            :name="row.expanded ? 'keyboard_arrow_down' : 'keyboard_arrow_up'"
          />
        </q-td>
        <q-td v-for="col in cols" :key="col.name" :props="col.props">
          <template v-if="col.name === 'actions'">
            <div :class="[actionsCellClassName, 'flex justify-end']">
              <slot name="actions" v-bind="row"></slot>
            </div>
          </template>
          <template v-else-if="typeof col.format === 'function'">
            {{ col.format(col.value) }}
          </template>
          <template v-else>{{ col.value }}</template>
        </q-td>
      </q-tr>

      <q-tr v-if="row.expanded">
        <q-td :colspan="cols.length + 1">
          <slot name="expanded" v-bind="row"></slot>
        </q-td>
      </q-tr>
    </template>

    <template #no-data>
      <div class="text-italic text-secondary">
        <template v-if="!customEmptyMessage">
          No {{ recordLabelAsPlural }} found
        </template>
        <template v-else>{{ customEmptyMessage }}</template>
      </div>
    </template>
  </q-table>
</template>
