// Override the theme to make accent buttons have black text
body .v-btn:not(.v-btn--outline).accent
{
  color: #000;
}
svg#pdc-logo-source {
  display: none;
}
svg#pdc-logo-container {
  width: 4em;
  vertical-align: top;
}
g#pdc-logo-path {
  fill: white;
}

.v-application .theme--light.v-label,
.v-application .theme--light.v-card .v-card__text,
.v-application .theme--light.v-list-item .v-list-item__subtitle
{
  color: rgba(0,0,0, 0.95)
}

@media print{
  div.application {
    background-color: white !important;
  }
  div.application nav.primary {
    background-color: white !important;
    box-shadow: none;
  }
  div.application nav.v-toolbar--fixed {
    position: relative;
    padding: 1em !important;
  }
  div.application--wrap main.v-content {
    display: block;
    padding: 1em !important;
  }
  div.application .v-toolbar__content {
    display: block;
  }
  #access {
    display: none;
  }
  div.pdc-logo-div {
    display: block !important;
    margin-left: 1em;
    padding-top: 0.5em;
  }
  svg#pdc-logo-container {
    width: 8em !important;
  }
  g#pdc-logo-path {
    fill: black !important;
  }
}
