<script setup>
import { computed } from 'vue';
import { useRoute } from 'vue-router';
import { ROUTE_NAMES } from 'src/router/routeNames';
import BackButton from './BackButton.vue';

defineOptions({
  name: 'back-button-wrapper',
});

/*
 * This component is used to create a 'back' button. This is not
 * a navigation history back button, but a hierarchical *up* button that
 * will take the user to a route with a depth of currentRouteDepth - 1.
 *
 * Siblings with lower depth values will be the current route's back
 * button target. If no siblings are found, the closest ancestor with
 * a depth of n-1 will be used.
 *
 * See `src/router/routes.js`.
 */

const route = useRoute();

const routeTree = route.matched;
const routesLength = routeTree.length;

const currentRoute = route.matched[routesLength - 1];
const currentParent = route.matched[routesLength - 2];

const currentRouteDepth = currentRoute.meta.depth;

const homeRoute = routeTree
  .find((r) => r.name === 'root')
  ?.children.find((r) => r.name === ROUTE_NAMES.HOME);

const goToRoute = computed(() => {
  const currentRouteDepth = currentRoute.meta.depth;

  let target = null;
  let parent = currentParent;

  while (parent && !target) {
    const siblings = parent.children || [];
    target = siblings.find(
      (route) => route.meta.depth === currentRouteDepth - 1,
    );

    if (!target) {
      parent = routeTree.find((r) => r.name === parent.name)?.parent;
    }
  }

  if (target) {
    return {
      name: target.name,
      description: target.meta.description,
    };
  }

  return {
    name: homeRoute.name,
    description: homeRoute.meta.description,
  };
});
</script>

<template>
  <BackButton
    v-if="currentRouteDepth > 0"
    :name="goToRoute.name"
    :description="goToRoute.description"
  />
</template>
