<script setup>
import useFocusAsHover from 'src/composables/useFocusAsHover.js';

defineOptions({
  name: 'back-button',
});

defineProps({
  name: {
    type: Object,
    required: true,
  },
  description: {
    type: String,
    required: true,
  },
});

const { focusBinds, hovered } = useFocusAsHover();
</script>

<template>
  <q-btn
    flat
    auto-close
    rounded
    size="md"
    dense
    text-color="dark"
    class="q-pa-sm"
    style="border: 1px solid #ccc"
    :to="{ name }"
    color="secondary"
    icon="arrow_back"
    :aria-label="`Go to ${description}`"
    v-bind="focusBinds"
  >
    <q-tooltip
      :model-value="hovered"
      anchor="bottom start"
      :offset="[-100, 5]"
      transition-show="jump-right"
      transition-hide="jump-left"
    >
      Go to {{ description }}
    </q-tooltip>
  </q-btn>
</template>
