<script setup>
import { computed, ref } from 'vue';

import useWizard from 'src/wizard/useWizard.js';

import columns from './debtColumns.js';

import ConfirmationDialog from 'src/components/ConfirmationDialog.vue';
import DebtForm from './DebtForm.vue';
import EditableSetTable from 'src/components/wizardInputs/EditableSetTable/EditableSetTable.vue';
import FormOpts from 'src/components/wizardInputs/FormOpts.vue';
import InputRadioYesNo, { YES, NO } from 'src/components/InputRadioYesNo.vue';

defineOptions({
  name: 'debt',
});

const modalOpen = ref(false);

const wizard = useWizard();

const hasKey = 'hasDebt';
const templateKey = 'debtArray';

const hasFieldUtils = wizard.field(hasKey);
const fieldSetUtils = wizard.fieldSet(templateKey);

const rows = computed(() => fieldSetUtils.getAllData().value);

function handleAddNew() {
  return fieldSetUtils.add();
}

const hasDebt = computed({
  get() {
    return `${hasFieldUtils.value()}`;
  },
  set(value) {
    const userHasStartedEntry = fieldSetUtils.getAllData().value?.length > 0;

    if (value === NO) {
      if (userHasStartedEntry) {
        modalOpen.value = true;
        return;
      }
      hasFieldUtils.set(NO);
    } else {
      handleAddNew();
      hasFieldUtils.set(YES);
    }
  },
});

/** Deletes row and returns true on success */
function handleDeleteRow(rowIndex) {
  fieldSetUtils.remove(rowIndex);

  if (fieldSetUtils.getAllData().value?.length < 1) {
    hasFieldUtils.set(NO);
  }

  return true;
}

function userConfirmedModalClear() {
  fieldSetUtils.removeAll();
  hasFieldUtils.set(NO);
  modalOpen.value = false;
}

function handleSave() {
  wizard.save();
}
</script>

<template>
  <p>
    Does the filer, spouse, registered domestic partner or dependent currently
    owe $2,400 or more to any creditor?
  </p>

  <p>
    Filers must report all debts of $2,400 or more owed by themselves or a
    qualified family member during the reporting period, including any debts
    owed to individuals, lending institutions, businesses and local, state and
    federal governments.
  </p>

  <p>Common items reported in this section are:</p>

  <ul>
    <li>
      Loans: bank or finance company, home improvement or line of credit, auto,
      RV, boat and student
    </li>
    <li>Margin accounts with stockbroker</li>
    <li>Loans against insurance</li>
    <li>Judgment against or lien against property</li>
    <li>Mortgages for property outside of Washington state</li>
    <li>Loans to your campaign committee with personal liability</li>
    <li>Business debts with personal liability</li>
    <li>Taxes in arrears</li>
    <li>Co-signed notes</li>
  </ul>

  <p>
    <strong>Do not report</strong> credit card debt, revolving charge accounts
    or debts arising from a retail installment transaction. Do not report debts
    owed by a business unless the filer or qualified family member is personally
    liable. Mortgages on real estate in Washington state should be reported in
    the real estate section.
  </p>

  <p>
    Do you have any creditors that are owed $2,400 or more by the filer, spouse,
    registered domestic partner or dependent.
  </p>

  <FormOpts :focus-first="true">
    <InputRadioYesNo v-model="hasDebt" :rules="hasFieldUtils.self.rules" />

    <template v-if="hasDebt === YES && rows?.length">
      <EditableSetTable
        label="debt"
        :columns="columns"
        :rows="rows"
        :add-fn="handleAddNew"
        :delete-fn="handleDeleteRow"
        @save="handleSave"
      >
        <template #form="{ currentlyEditingIdx }">
          <DebtForm
            :key="currentlyEditingIdx"
            :template-key="templateKey"
            :data-index="currentlyEditingIdx"
          />
        </template>
      </EditableSetTable>
    </template>
  </FormOpts>

  <ConfirmationDialog
    v-model:open="modalOpen"
    title="Clear all entries?"
    primary-btn-label="Yes, clear all"
    negative-btn-label="Cancel"
    @primary-clicked="userConfirmedModalClear"
    @negative-clicked="modalOpen = false"
  >
    Are you sure you want to clear all entries? This action cannot be undone.
  </ConfirmationDialog>
</template>
