<script setup>
import useWizard from 'src/wizard/useWizard.js';

import { monetaryRanges } from 'src/pages/Disclosure/common/options.js';

import FormOpts from 'src/components/wizardInputs/FormOpts.vue';
import InputDropdown from 'src/components/InputDropdown.vue';
import InputText from 'components/InputText.vue';
import WhoDropdown from 'src/pages/Disclosure/common/WhoDropdown.vue';

defineOptions({
  name: 'debt-form',
});

const props = defineProps({
  templateKey: {
    type: String,
    required: true,
  },
  dataIndex: {
    type: Number,
    required: true,
  },
});

const wizard = useWizard();

const dataUtils = wizard.fieldSet(props.templateKey).get(props.dataIndex);
</script>

<template>
  <FormOpts :hide-hints="true">
    <div class="row">
      <WhoDropdown
        v-bind="dataUtils.vBind('who')"
        label="Held By"
        class="col-12 col-sm-6"
      />

      <InputText
        v-bind="dataUtils.vBind('creditorName')"
        class="col-12 col-sm-6"
        label="Creditor name"
      />
    </div>

    <div class="row">
      <InputDropdown
        v-bind="dataUtils.vBind('originalAmount')"
        class="col-12 col-sm-6"
        :options="monetaryRanges"
        label="Original amount"
      />
      <InputDropdown
        v-bind="dataUtils.vBind('endingAmount')"
        class="col-12 col-sm-6"
        :options="monetaryRanges"
        label="Ending amount"
      />
    </div>

    <FormOpts :hide-hints="false" class="row">
      <InputText
        v-bind="dataUtils.vBind('paymentTerms')"
        class="col-12 col-sm-6"
        label="Payment terms"
        description="ex. 25 years at 8%"
      />
      <InputText
        v-bind="dataUtils.vBind('typeOfDebt')"
        class="col-12 col-sm-6"
        label="Type of debt"
        description="e.g. auto loan, student loan, second mortgage, etc."
      />
    </FormOpts>

    <div class="row">
      <InputText
        v-bind="dataUtils.vBind('streetAddress')"
        class="col-12 col-sm-6"
        label="Street Address"
      />
      <InputText
        v-bind="dataUtils.vBind('city')"
        class="col-12 col-sm-6"
        label="City"
      />
      <InputText
        v-bind="dataUtils.vBind('state')"
        class="col-6 col-sm-3"
        label="State"
        mask="AA"
      />
      <InputText
        v-bind="dataUtils.vBind('zip')"
        class="col-6 col-sm-3"
        label="ZIP"
        mask="#####"
      />
    </div>
  </FormOpts>
</template>
