<script setup>
import { computed, onMounted } from 'vue';

import useCounties from 'src/composables/api/useCounties.js';
import useWizard from 'src/wizard/useWizard.js';

import {
  PROPERTY_ID_TYPES,
  inferPropertyIdType,
} from '../../realEstate.helpers';
import { washingtonRealEstateStep } from 'src/pages/Disclosure/phaseTwo/steps/RealEstate/realEstate.js';
import rules from 'src/utils/rules.js';

import InputDropdown from 'src/components/InputDropdown.vue';
import InputRadio from 'src/components/InputRadio.vue';
import InputText from 'src/components/InputText.vue';

defineOptions({
  name: 'property-id',
});

const props = defineProps({
  templateKey: {
    type: String,
    required: true,
  },
  dataIndex: {
    type: Number,
    required: true,
  },
});

const wizard = useWizard();

const isJudgeOrLawEnforcementUtil = ['true', true].includes(
  wizard
    .fieldRaw(washingtonRealEstateStep.fields.isJudgeOrLawEnforcement)
    .value(),
);

const hasOtherReportingModificationUtil = ['true', true].includes(
  wizard
    .fieldRaw(washingtonRealEstateStep.fields.hasOtherReportingModification)
    .value(),
);

const isExempt = computed(() => {
  return isJudgeOrLawEnforcementUtil || hasOtherReportingModificationUtil;
});

const propertyIdTypeOptions = computed(() => {
  const base = [
    { label: 'Address', value: PROPERTY_ID_TYPES.ADDRESS },
    { label: 'Parcel Number', value: PROPERTY_ID_TYPES.PARCEL },
    { label: 'Legal Description', value: PROPERTY_ID_TYPES.LEGAL_DESCRIPTION },
  ];

  const exemptionOpt = {
    label: 'Exempt or exemption request pending',
    value: PROPERTY_ID_TYPES.EXEMPT,
  };

  return isExempt.value ? [...base, exemptionOpt] : base;
});

const propertyFieldSetUtils = wizard.fieldSet(props.templateKey);
const propertyDataSetUtils = propertyFieldSetUtils.get(props.dataIndex);

/** "Deep Value" setter/getter: Manages dataset `location` field properties */
function locationUtil(deepKey) {
  return {
    getDeepValue: () => propertyDataSetUtils?.getValue?.('location')?.[deepKey],
    setDeepValue: (v) => {
      const locationData = propertyDataSetUtils.getValue('location') || {};
      locationData[deepKey] = v;
      propertyDataSetUtils.setValue('location', locationData);
    },
  };
}

/** Vue binding for deep value setter/getter */
function propertyDeepValueBind(deepKey) {
  return {
    modelValue: locationUtil(deepKey).getDeepValue(),
    'onUpdate:modelValue': (v) => locationUtil(deepKey).setDeepValue(v),
  };
}

const propertyIdType = computed({
  get: () => locationUtil('propertyIdType').getDeepValue(),
  set: (v) => {
    const location = { propertyIdType: v };

    if (v === PROPERTY_ID_TYPES.EXEMPT) {
      location.state = 'WA';
      location['exempt_from_disclosure'] = true;
    }

    propertyDataSetUtils.setValue('location', location);
  },
});

const countyOpts = await useCounties();

onMounted(() => {
  const locationData = propertyDataSetUtils.getValue('location') || {};

  if (!propertyIdType.value) {
    const inferredType = inferPropertyIdType({ location: locationData });
    propertyIdType.value = inferredType;
  }

  [
    'address',
    'city',
    'zip',
    'parcel',
    'county',
    'legal_description',
    'residence_type',
    'exempt_from_disclosure',
  ].forEach((field) => {
    if (locationData[field]) {
      locationUtil(field).setDeepValue(locationData[field]);
    }
  });

  if (locationUtil('exempt_from_disclosure').getDeepValue() === true) {
    locationUtil('propertyIdType').setDeepValue(PROPERTY_ID_TYPES.EXEMPT);
  }

  locationUtil('state').setDeepValue('WA');
});
</script>

<template>
  <div class="row">
    <p>
      Report the address, parcel number or legal description of the property, or
      indicate if you have a reporting modification or exemption, or are
      pursuing a modification, for a personal residential property.
    </p>
  </div>

  <div class="row">
    <InputRadio
      v-model="propertyIdType"
      :rules="[rules.required]"
      :options="propertyIdTypeOptions"
      label="Property ID Type"
      class="col-12"
      inline
      value-key="value"
    >
      <template #label="{ option }">
        {{ option.label }}
      </template>
    </InputRadio>
  </div>

  <template
    v-if="
      locationUtil('propertyIdType').getDeepValue() ===
        PROPERTY_ID_TYPES.ADDRESS
    "
  >
    <div class="row">
      <InputText
        v-bind="propertyDeepValueBind('address')"
        :rules="[rules.requiredString]"
        class="col-12 col-md-7 col-sm-12"
        label="Street Address"
      />

      <InputText
        v-bind="propertyDeepValueBind('city')"
        :rules="[rules.requiredString]"
        class="col-12 col-md-3 col-sm-6"
        label="City"
      />

      <InputText
        v-bind="propertyDeepValueBind('zip')"
        :rules="[rules.required, rules.exactLength(5)]"
        class="col-12 col-md-2 col-sm-6"
        label="ZIP"
        mask="#####"
      />
    </div>
  </template>

  <div
    v-if="
      locationUtil('propertyIdType').getDeepValue() === PROPERTY_ID_TYPES.PARCEL
    "
    class="row"
  >
    <InputText
      v-bind="propertyDeepValueBind('parcel')"
      :rules="[rules.requiredString]"
      class="col-12 col-sm-6"
      label="Parcel number"
    />

    <InputDropdown
      v-bind="propertyDeepValueBind('county')"
      :rules="[rules.required]"
      class="col-12 col-sm-6"
      :options="countyOpts"
      label="County"
      name="county"
    />
  </div>

  <div
    v-if="
      locationUtil('propertyIdType').getDeepValue() === PROPERTY_ID_TYPES.EXEMPT
    "
    class="row"
  >
    <InputText
      v-bind="propertyDeepValueBind('city')"
      class="col-12 col-sm-6"
      label="City"
      :rules="[rules.requiredString]"
    />

    <InputText
      v-bind="propertyDeepValueBind('residence_type')"
      :rules="[rules.requiredString]"
      class="col-12 col-sm-6"
      label="Type of residence"
      hint="Single family, multi-family, etc."
    />
  </div>

  <div
    v-if="
      locationUtil('propertyIdType').getDeepValue() ===
        PROPERTY_ID_TYPES.LEGAL_DESCRIPTION
    "
    class="row"
  >
    <InputText
      v-bind="propertyDeepValueBind('legal_description')"
      :rules="[rules.requiredString]"
      class="col-12 col-sm-6"
      label="Legal description"
    />

    <InputDropdown
      v-bind="propertyDeepValueBind('county')"
      :rules="[rules.required]"
      class="col-12 col-sm-6"
      :options="countyOpts"
      label="County"
    />
  </div>
</template>
