<script setup>
import { computed } from 'vue';

import useWizard from 'src/wizard/useWizard.js';

import { statementDateString } from 'src/pages/Disclosure/common/statementDateString.js';

import InputRadioYesNo from 'src/components/InputRadioYesNo.vue';

defineOptions({
  name: 'property-sale',
});

const props = defineProps({
  templateKey: {
    type: String,
    required: true,
  },
  dataIndex: {
    type: Number,
    required: true,
  },
  hasPurchaser: {
    type: Object,
    required: true,
  },
});

const wizard = useWizard();

const propertyDataSetUtils = wizard
  .fieldSet(props.templateKey)
  .get(props.dataIndex);

const hasPurchaser = computed({
  get: () => String(propertyDataSetUtils.getValue('sold')),
  set: (v) => {
    propertyDataSetUtils.setValue('sold', v);

    const purchaserDataToSet =
      v === 'true' ? { parentIndex: props.dataIndex } : null;

    propertyDataSetUtils.setValue('purchaser', purchaserDataToSet);
  },
});
</script>

<template>
  <p class="q-mb-none">
    Did the filer, spouse, registered domestic partner or dependent purchase the
    property between {{ statementDateString() }}?
  </p>

  <InputRadioYesNo v-bind="propertyDataSetUtils.vBind('purchased')" />

  <p class="q-mb-none">
    Did the filer, spouse, registered domestic partner or dependent sell the
    property between {{ statementDateString() }}?
  </p>

  <InputRadioYesNo
    v-model="hasPurchaser"
    :rules="propertyDataSetUtils.vBind('sold').rules"
  />
</template>
