<script setup>
import useWizard from 'src/wizard/useWizard.js';

import { monetaryRanges } from 'src/pages/Disclosure/common/options.js';
import rules from 'src/utils/rules.js';

import InputText from 'src/components/InputText.vue';
import InputDropdown from 'src/components/InputDropdown.vue';

defineOptions({
  name: 'property-purchaser',
});

const props = defineProps({
  templateKey: {
    type: String,
    required: true,
  },
  dataIndex: {
    type: Number,
    required: true,
  },
});

const wizard = useWizard();

const propertyDataSetUtils = wizard
  .fieldSet(props.templateKey)
  .get(props.dataIndex);

function purchaserDeepValueBind(deepKey) {
  return {
    modelValue: propertyDataSetUtils.getValue('purchaser')?.[deepKey],
    'onUpdate:modelValue': (v) => {
      const purchaserData = propertyDataSetUtils.getValue('purchaser') || {};
      purchaserData[deepKey] = v;
      propertyDataSetUtils.setValue('purchaser', purchaserData);
    },
  };
}
</script>

<template>
  <div class="row">
    <InputDropdown
      v-bind="purchaserDeepValueBind('sale_amount')"
      class="col-12 col-md-6 col-sm-6"
      :options="monetaryRanges"
      label="Sale amount"
      :rules="[rules.required]"
    />

    <InputText
      class="col-12 col-md-6 col-sm-6"
      label="Buyer name"
      v-bind="purchaserDeepValueBind('name')"
      :rules="[rules.requiredString]"
    />
  </div>

  <div class="row">
    <InputText
      class="col-12 col-sm-6 col-md-6"
      label="Address"
      v-bind="purchaserDeepValueBind('address')"
      :rules="[rules.requiredString]"
    />

    <InputText
      class="col-12 col-sm-6 col-md-2"
      label="City"
      v-bind="purchaserDeepValueBind('city')"
      :rules="[rules.requiredString]"
    />
    <InputText
      class="col-12 col-sm-6 col-md-2"
      label="State"
      mask="AA"
      v-bind="purchaserDeepValueBind('state')"
      :rules="[rules.requiredString, rules.state]"
    />
    <InputText
      class="col-12 col-sm-6 col-md-2"
      label="ZIP"
      v-bind="purchaserDeepValueBind('postcode')"
      mask="#####"
      :rules="[rules.required, rules.exactLength(5), rules.numbersOnly]"
    />
  </div>
</template>
