<script setup>
import { computed } from 'vue';

import useWizard from 'src/wizard/useWizard.js';

import {
  noneOpt,
  monetaryRanges,
} from 'src/pages/Disclosure/common/options.js';
import { statementDateString } from 'src/pages/Disclosure/common/statementDateString.js';

import PropertyId from './PropertyId.vue';
import PropertySale from './PropertySale.vue';
import PropertyPurchaser from './PropertyPurchaser.vue';
import PropertyMortgages from './PropertyMortgages.vue';

import InputDropdown from 'src/components/InputDropdown.vue';
import InputRadioYesNo from 'src/components/InputRadioYesNo.vue';
import FormOpts from 'src/components/wizardInputs/FormOpts.vue';
import WhoDropdown from 'src/pages/Disclosure/common/WhoDropdown.vue';

defineOptions({
  name: 'property-form',
});

const props = defineProps({
  templateKey: {
    type: String,
    required: true,
  },
  dataIndex: {
    type: Number,
    required: true,
  },
});

const wizard = useWizard();

const dataUtils = wizard.fieldSet(props.templateKey).get(props.dataIndex);

const hasMortgages = computed({
  get: () => String(dataUtils.getValue('hasMortgage')),
  set: (v) => {
    dataUtils.setValue('hasMortgage', v);
    dataUtils.setValue('hasCreditors', v);
  },
});
</script>

<template>
  <FormOpts :hide-hints="true">
    <h2>Property Identification</h2>
    <div class="row">
      <WhoDropdown
        v-model="dataUtils.vModel('who').value"
        :rules="dataUtils.rules('who')"
        label="Held By"
        class="col-12 col-sm-6"
      />

      <InputDropdown
        v-model="dataUtils.vModel('assessedValue').value"
        :rules="dataUtils.rules('assessedValue')"
        class="col-12 col-sm-6"
        :options="[noneOpt, ...monetaryRanges]"
        label="Assessed Value"
      />
    </div>

    <PropertyId
      :template-key="props.templateKey"
      :data-index="props.dataIndex"
    />

    <h2>Property Ownership</h2>
    <PropertySale
      :template-key="props.templateKey"
      :data-index="props.dataIndex"
    />

    <template v-if="['true', true].includes(dataUtils.getValue('sold'))">
      <h2>Purchaser Information</h2>
      <PropertyPurchaser
        :template-key="props.templateKey"
        :data-index="props.dataIndex"
      />
    </template>

    <h2>Mortgages</h2>
    <p>
      Did the property have a mortgage between
      {{ statementDateString() }}?
    </p>
    <InputRadioYesNo v-model="hasMortgages" />

    <PropertyMortgages
      v-if="hasMortgages === 'true'"
      :template-key="props.templateKey"
      :data-index="props.dataIndex"
    />
  </FormOpts>
</template>
