<script setup>
import { computed, watch } from 'vue';

import useWizard from 'src/wizard/useWizard.js';

import { monetaryRanges } from 'src/pages/Disclosure/common/options.js';
import rules from 'src/utils/rules.js';

import AccessibleIcon from 'src/components/AccessibleIcon.vue';
import FormOpts from 'src/components/wizardInputs/FormOpts.vue';
import InputDropdown from 'src/components/InputDropdown.vue';
import InputText from 'src/components/InputText.vue';
import LeftRightSpacer from 'src/components/LeftRightSpacer.vue';

defineOptions({
  name: 'property-mortgages',
});

const props = defineProps({
  templateKey: {
    type: String,
    required: true,
  },
  dataIndex: {
    type: Number,
    required: true,
  },
});

const wizard = useWizard();

const propertyDataSetUtils = wizard
  .fieldSet(props.templateKey)
  .get(props.dataIndex);

const mortgageObj = {
  name: '',
  address: '',
  city: '',
  state: '',
  postcode: '',
  terms: '',
  security_given: '',
  original_amount: null,
  current_amount: null,
  parentIndex: props.dataIndex,
};

const mortgages = computed({
  get: () =>
    (propertyDataSetUtils.getValue('creditors') || [{ ...mortgageObj }]).map(
      mapIndexToMortgage,
    ),
  set: (v) => {
    propertyDataSetUtils.setValue('creditors', v);
  },
});

function setMortgageValue(index, field, value) {
  const updatedMortgages = [...mortgages.value];
  updatedMortgages[index][field] = value;
  mortgages.value = updatedMortgages;
}

function mapIndexToMortgage(mortgage, index) {
  return {
    ...mortgage,
    itemIndex: index,
  };
}

function handleAddRow() {
  mortgages.value = [...mortgages.value, { ...mortgageObj }];
}

function handleDelete(index) {
  mortgages.value = mortgages.value.filter((_, i) => i !== index);
}

watch(
  () => mortgages.value,
  (newVal) => {
    if (newVal.length === 0) {
      handleAddRow();
    }
  },
  { immediate: true },
);
</script>

<template>
  <template v-for="mortgage in mortgages" :key="mortgage.length">
    <q-card class="q-px-md q-pt-sm q-mb-md">
      <LeftRightSpacer class="q-pt-sm q-mt-none">
        <template #left>
          <h3 class="q-mt-none">Mortgage #{{ mortgage.itemIndex + 1 }}</h3>
        </template>
        <template #right>
          <p-accessible-button
            class="q-ml-md"
            style="padding: 0"
            tooltip="Delete"
            @click="handleDelete(mortgage.itemIndex)"
          >
            <AccessibleIcon name="delete" size="sm" color="negative" />
          </p-accessible-button>
        </template>
      </LeftRightSpacer>

      <div class="row">
        <InputText
          :model-value="mortgage.name"
          class="col-12 col-sm-6"
          label="Creditor's Name"
          :rules="[rules.requiredString]"
          @update:model-value="
            setMortgageValue(mortgage.itemIndex, 'name', $event)
          "
        />
      </div>

      <div class="row">
        <InputText
          :model-value="mortgage.address"
          class="col-12 col-sm-6 col-md-6"
          label="Address"
          :rules="[rules.requiredString]"
          @update:model-value="
            setMortgageValue(mortgage.itemIndex, 'address', $event)
          "
        />

        <InputText
          :model-value="mortgage.city"
          class="col-12 col-sm-6 col-md-2"
          label="City"
          :rules="[rules.requiredString]"
          @update:model-value="
            setMortgageValue(mortgage.itemIndex, 'city', $event)
          "
        />
        <InputText
          :model-value="mortgage.state"
          class="col-12 col-sm-6 col-md-2"
          label="State"
          :rules="[rules.requiredString]"
          mask="AA"
          @update:model-value="
            setMortgageValue(mortgage.itemIndex, 'state', $event)
          "
        />
        <InputText
          :model-value="mortgage.postcode"
          class="col-12 col-sm-6 col-md-2"
          label="ZIP"
          :rules="[rules.required, rules.exactLength(5)]"
          mask="#####"
          @update:model-value="
            setMortgageValue(mortgage.itemIndex, 'postcode', $event)
          "
        />
      </div>

      <FormOpts :hide-hints="false" class="row">
        <InputText
          :model-value="mortgage.terms"
          class="col-12 col-sm-6"
          label="Payment terms"
          description="e.g. 25 years at 7%"
          :rules="[rules.requiredString]"
          @update:model-value="
            setMortgageValue(mortgage.itemIndex, 'terms', $event)
          "
        />
        <InputText
          :model-value="mortgage.security_given"
          class="col-12 col-sm-6"
          label="Type of debt"
          description="e.g. auto loan, student loan, second mortgage, etc."
          :rules="[rules.requiredString]"
          @update:model-value="
            setMortgageValue(mortgage.itemIndex, 'security_given', $event)
          "
        />
      </FormOpts>

      <div class="row">
        <InputDropdown
          :model-value="mortgage.original_amount"
          class="col-12 col-sm-6"
          :options="monetaryRanges"
          :rules="[rules.required]"
          label="Original amount"
          @update:model-value="
            setMortgageValue(mortgage.itemIndex, 'original_amount', $event)
          "
        />

        <InputDropdown
          :model-value="mortgage.current_amount"
          class="col-12 col-sm-6"
          :options="monetaryRanges"
          :rules="[rules.required]"
          label="Current amount"
          @update:model-value="
            setMortgageValue(mortgage.itemIndex, 'current_amount', $event)
          "
        />
      </div>
    </q-card>
  </template>

  <p-accessible-button class="q-my-sm" @click="handleAddRow">
    <AccessibleIcon
      name="add_circle"
      size="sm"
      class="q-mr-sm"
      role="presentation"
    />
    Add another mortgage for this property
  </p-accessible-button>
</template>
