<template>
  <div>
    <p>Report any insurance policies with a <strong>cash value or loan value</strong> of over $24,000.  These are typically
    insurance policies that you can borrow against or use as collateral for a loan. They may include life insurance policies,
    annuities or disability insurance. This does not include term life insurance.
    </p>
  </div>
</template>

<script>
  export default {
    name: "AccountsInsuranceInfo"
  }
</script>

<style scoped>

</style>