<template>
  <div>
    <p>Show the name of each bank, investment firm in which you or a qualified family member held an investment
      account worth more than $2,400.
    </p>

    <p><strong>Note: This section only covers investment accounts managed by a broker or fiduciary.</strong>
      In a broker-directed or fiduciary-managed investment account, the investor does not make decisions about which stocks, bonds or
      securities are invested in.  If the filer or qualified family member recommends or decides which stocks, bonds
      or securities are invested in, these should be reported as self-directed investments in the next section.</p>

    <p>Common investment account types include:</p>

    <ul>
      <li>Pensions (e.g. PERS, LEOFF, etc.) </li>
      <li>Employer retirement system account </li>
      <li>Individual Retirement Account (IRA)</li>
      <li>401k</li>
      <li>Mutual funds</li>
      <li>College savings (529) plans</li>
    </ul>

    <p>
      For each investment firm you will be asked to indicate the nature and value of all accounts more than $2,400.
    </p>

  </div>
</template>

<script>
  export default {
    name: "AccountsInvestmentInfo"
  }
</script>

<style scoped>

</style>