<template>
  <div class="pa-4">
  <h2>Tips for adding stocks quickly</h2>
  <p>To provide stock data as quickly as possible, try the following: </p>
  <ol>
    <li>Enter stocks by order of their value and income. These fields will retain their values after you submit a stock, making it easier to supply another of the same value and income.</li>
    <li>In the case of bonds or self-directed investments that do not have ticker symbols, you do not need to supply a ticker. Simply leave the field blank.</li>
    <li>To edit an stock in the list, simply click the item.</li>
    <li>The stock list is accessible by keyboard. You can use the tab button to access each item and press enter to interact with them individually.</li>
  </ol>
  </div>
</template>

<script>
  export default {
    name: "AccountsAddStockTips"
  }
</script>

<style scoped>

</style>
