<template>
  <div>
    <p>
      List all publicly traded stocks, bonds and commodities that you or a qualified family member held worth more than $2,400.
      Include investments that were held only during a portion of the reporting period.  Include
      all investments held through:
    </p>
    <ul>
      <li>day trading accounts</li>
      <li>self-directed brokerage investment accounts</li>
      <li>self-directed retirement accounts</li>
      <li>529 college savings accounts</li>
    </ul>
    <p>
      For each item listed, provide a description, a value (the highest value during the period),
      and where appropriate, an income.
    </p>
    <p>Investments that are <em>not</em> made through public exchanges will be asked for in the next section. </p>
  </div>
</template>

<script>
  export default {
    name: "AccountsSelfManaged"
  }
</script>

<style scoped>

</style>