<template>
  <div>
    <p>
      Show the name of each company, partnership, corporation, association, etc. in which you or
      a qualified family member have an investment valued at more than $2,400. Do not report publicly traded stocks here.
    </p>
    <ul>
      <li>Interest in a business development company</li>
      <li>Interest in a profit-sharing program</li>
      <li>Stock options or appreciation rights held or exercised during the reporting period</li>
    </ul>
    <p>
      For each item listed, provide a description, the highest value during the period
      and, where appropriate, an income amount.
    </p>
  </div>
</template>

<script>
  export default {
    name: "AccountsSelfManaged"
  }
</script>

<style scoped>

</style>