<template>
  <div>
    <p>Report other uncommon financial assets including:</p>
    <ul>
      <li>Loans owed to the filer or a qualified family member by individuals, candidates, political committees, businesses, associations,
        churches, etc. (Do not include accounts receivable due in the normal course of business)</li>
      <li>Legal judgments due the filer or a qualified family member</li>
    </ul>
  </div>
</template>

<script>
  export default {
    name: "AccountsOther"
  }
</script>

<style scoped>

</style>