<template>
  <div>
    <p>Report the name and address of each bank, savings and loan, credit union or other financial institution
      at which {{person.name}} or a qualified family member held an account over $24,000.
    </p>
    <p>For each institution you will be asked to report each account over $24,000 during the reporting period. Typical account types include:</p>
    <ul>
      <li>Savings</li>
      <li>Checking</li>
      <li>Certificates of Deposit</li>
    </ul>
    <p>The value reported should be the account's highest value during the reporting period.</p>
  </div>
</template>

<script>
  import {mapState} from 'vuex';
  export default {
    name: "AccountsBankInfo",
    computed: {
      ...mapState(['person'])
    }
  }
</script>

<style scoped>

</style>