<template>
  <div class="faq">
    <h2>Frequently asked questions</h2>
    <p><a href="https://www.pdc.wa.gov/learn/reporting-personal-financial-information" target="_blank">Click here</a> to find out who must file a personal financial affairs disclosure and when, and answers to many other common questions.</p>

    <div>
      <ContactPDC></ContactPDC>
    </div>
  </div>
</template>

<script>
  import ContactPDC from "../info/ContactPDC";
  export default {
    name: "FAQ",
    components: {ContactPDC}
  }
</script>

<style scoped>

</style>