<template>
  <div>
    <p>
      Disclose the name, address, and occupation of every director and officer of {{selectedBusiness.legal_name}}
      excluding <QualifiedFamilyMember></QualifiedFamilyMember>.
    </p>
  </div>
</template>

<script>
  import {mapState} from 'vuex'
  import QualifiedFamilyMember from "@/components/QualifiedFamilyMember";
  export default {
    name: "BusinessOfficerHelp",
    components: {QualifiedFamilyMember},
    computed: {
      ...mapState(['statement', 'person']),
      selectedBusiness() {
        let selectedIndex = this.statement.draft_state.state.selectedIndex;
        return this.statement.business_associations.data[selectedIndex];
      },
    },
  }
</script>

<style scoped>

</style>