<template>
  <div class="narrative">
    <p>
      Disclose all businesses in which {{person.name}} or a qualified family member held a 10% or greater financial interest.
      For each of these businesses you will be asked to disclose:
    </p>
    <ul>
      <li>Operating and legal name</li>
      <li>Percentage of business owned</li>
      <li>Description of the business</li>
      <li>All payments from government agencies where you seek or hold office</li>
      <li>Payments from other government agencies of $12,000 or more</li>
      <li>Payments from business customers other than individual persons of $12,000 or more</li>
      <li>Washington real estate owned valued at more than $24,000</li>
    </ul>
  </div>
</template>

<script>
  import { mapState} from 'vuex';
  export default {
    name: "BusinessOwnerInfo",
    computed: {
      ...mapState(['person'])
    }
  }
</script>

<style scoped>

</style>