<template>
  <div>
    <p>Disclose all entities for which {{person.name}} or a qualified family member served as an officer, director,
      general partner, board member or trustee. Entities may include:
    </p>
    <ul>
      <li>Corporations</li>
      <li>Unions</li>
      <li>Associations</li>
      <li>Partnerships</li>
      <li>Joint ventures</li>
      <li>Non-profit organizations</li>
      <li>Trusts</li>
    </ul>
    <p>
      For each of these entities you will be asked to disclose:
    </p>
    <ul>
      <li>Entity name</li>
      <li>Office name or title</li>
      <li>Description of the organization</li>
      <li>All payments from government agencies where you seek or hold office</li>
      <li>Payments from other government agencies of $12,000 or more</li>
      <li>Payments from business customers of $12,000 or more</li>
    </ul>
  </div>
</template>

<script>
  import {mapState} from 'vuex';
  export default {
    name: "BusinessOfficerInfo",
    computed: {
      ...mapState(['person'])
    }
  }
</script>

<style scoped>

</style>