<template>
  <div>
    <h2>Debt</h2>
    <p>Does <QualifiedFamilyMember></QualifiedFamilyMember> currently owe $2,400 or more to any creditor?</p>
    <p>
      Filers must report all debts of $2,400 or more owed by themselves or a qualified family member
      during the reporting period, including any debts owed to individuals, lending institutions, businesses
      and local, state and federal governments.
    </p>
    <p>
      Common items reported in this section are:
    </p>
    <ul class="mb-4">
      <li>Loans: bank or finance company, home improvement or line of credit, auto, RV, boat and student</li>
      <li>Margin accounts with stockbroker</li>
      <li>Loans against insurance</li>
      <li>Judgment against or lien against property</li>
      <li>Mortgages for property outside of Washington state</li>
      <li>Loans to your campaign committee with personal liability</li>
      <li>Business debts with personal liability</li>
      <li>Taxes in arrears</li>
      <li>Co-signed notes</li>
    </ul>
    <p>
      <strong>Do not report</strong> credit card debt, revolving charge accounts or debts arising from a retail installment transaction.
      Do not report debts owed by a business unless the filer or qualified family member is personally liable.
      Mortgages on real estate in Washington state should be reported in the real estate section.
    </p>
  </div>
</template>

<script>

import QualifiedFamilyMember from "@/components/QualifiedFamilyMember";

export default {
  name: "CreditorInfo.vue",
  components: {QualifiedFamilyMember}
}
</script>

<style scoped>

</style>