<template>
  <div class="faq">
    <h2>Frequently Asked Questions</h2>
    <div>
      <ul>
        <li><a href="https://www.pdc.wa.gov/who-must-file-personal-financial-affairs-statement" target="_blank">Who must file a personal financial affairs statement?</a></li>
        <li><a href="https://www.pdc.wa.gov/when-are-reports-due-0" target="_blank">When are reports due?</a></li>
        <li><a href="https://www.pdc.wa.gov/what-%E2%80%9Creporting-period%E2%80%9D" target="_blank">What is the "reporting period?"</a></li>
        <li><a href="https://www.pdc.wa.gov/i%E2%80%99m-running-volunteer-office-why-do-i-have-provide-such-depth-personal-information" target="_blank">I’m running for a volunteer office. Why do I have to provide such in-depth, personal information?</a></li>
        <li><a href="https://www.pdc.wa.gov/will-my-report-be-available-online" target="_blank">Will my report be available online?</a></li>
        <li><a href="https://www.pdc.wa.gov/can-i-have-filing-requirement-waived" target="_blank">Can I have the filing requirement waived?</a></li>
        <li><a href="https://www.pdc.wa.gov/i%E2%80%99m-judge-do-i-have-report-my-home-address" target="_blank">I’m a judge. Do I have to report my home address?</a></li>
        <li><a href="https://www.pdc.wa.gov/where-f-1a-short-form" target="_blank">Where is the F-1A (short form)?</a></li>
        <li><a href="https://www.pdc.wa.gov/learn/publications/personal-financial-affairs-disclosure-instructions" target="_blank">Are instructions available?</a></li>
        <li><a href="https://www.pdc.wa.gov/do-i-have-file-electronically-1" target="_blank">Do I have to file electronically?</a></li>
        <li><a href="https://www.pdc.wa.gov/are-there-common-mistakes-i-want-avoid" target="_blank">Are there common mistakes I want to avoid?</a></li>
        <li><a href="https://www.pdc.wa.gov/i-have-reporting-modification-exempts-me-reporting-clients-my-business-or-organization-how-do-i" target="_blank">I have a reporting modification that exempts me from reporting clients of my business or organization. How do I indicate that?</a></li>
      </ul>
    </div>
    <div>
    <ContactPDC></ContactPDC>
    </div>
  </div>
</template>

<script>
  import ContactPDC from "../info/ContactPDC";
  export default {
    name: "FAQ",
    components: {ContactPDC}
  }
</script>

<style scoped>

</style>