<template>
  <v-card elevation="0">
    <v-card-text>
      <p>If you filed a financial affairs disclosure statement in 2020 or later, you will be able to import data from your previous year's filing.</p>
      <p>If you filed with us before January 1, 2020, consider printing out a copy of your most recent F-1 to assist in filing.</p>
    </v-card-text>
  </v-card>
</template>

<script>
  export default {
    name: "ImportingDataInfo"
  }
</script>

<style scoped>

</style>