<template>
  <div>
    <p>Report all other sources from which the filer or a qualified family member received $2,400 or more during
    the reporting period, including:</p>
    <ul>
      <li>Non-retirement Social Security payments</li>
      <li>Sale of personal property to a business or government agency</li>
      <li>Strike benefits</li>
      <li>Unemployment compensation</li>
      <li>Government assistance or subsidies such as welfare, child support, disability compensation or farm subsidies
        (not payments received for foster child care)</li>
      <li>Rent or lease payments received</li>
      <li>Partnership income</li>
      <li>Trust payments received</li>
      <li>Sales commissions received for sales to a government agency or business</li>
      <li>Compensation received for managing a trust</li>
      <li>Income from sales to a business</li>
      <li>Honoraria and travel expenses received as compensation for speeches or other appearances</li>
    </ul>
  </div>
</template>

<script>
  export default {
    name: "IncomeOtherInfo"
  }
</script>

<style scoped>

</style>