<template>
  <div>
    <h2>Income disclosure</h2>
    <p>RCW 42.17A.710 requires disclosure of the entities that paid {{person.name}} or any qualified family member (e.g. <QualifiedFamilyMember></QualifiedFamilyMember>).</p>
    <p>The following categories apply:
    </p>
    <ul>
      <li>Employment income including wages, tips, sales commissions, stock options</li>
      <li>Compensation received for elective office</li>
      <li>Non-investment retirement income including Social Security</li>
      <li>Other types of income such as legal judgments and rental property income</li>
    </ul>
    <p>Next we will guide you through disclosing each of these types of income...</p>
  </div>
</template>

<script>
  import {mapState} from 'vuex';
  import QualifiedFamilyMember from "../components/QualifiedFamilyMember";;
  export default {
    name: "IncomeOverview",
    components: {QualifiedFamilyMember},
    computed: {
      ...mapState(['person'])
    }
  }
</script>

<style scoped>

</style>