<template>
  <div>
    <p>
      Report non-investment retirement income over $2,400, such as Social Security and military retirement.
    </p>
    <p>
      Income from most retirement accounts, such as pensions (e.g. PERS, LEOFF, etc.), 401ks and IRAs, are considered
      financial assets, and are disclosed later as investment income. <strong>Do NOT report these income sources in this section.</strong>
    </p>
  </div>
</template>

<script>
  export default {
    name: "IncomeRetirementInfo"
  }
</script>

<style scoped>

</style>