<template>
  <div>
    <p>Report any compensation you received from either an employer or a self-owned business.  Some examples
      of compensation typically include: </p>
    <ul>
      <li>Wages</li>
      <li>Commissions (e.g. sales commissions)</li>
      <li>Stock options</li>
    </ul>
    <p>
    These forms of compensation may be from partnership, joint venture, sole proprietorship, associations, unions, or
    other business or commercial entities.
    </p>
  </div>
</template>

<script>
  export default {
    name: "IncomeEmploymentInfo"
  }
</script>

<style scoped>

</style>