<template>
  <div class="Info">
      <component v-if="infoComponent" :is="infoComponent"/>
  </div>
</template>

<script>
  export default {

    name: "Info",
    props: ['info'],
    data() {
      return {
        dialogTitle: "",
        infoActivated : false,
      }
    },
    computed: {
      infoClass() {
        if (this.mode === 'inline') {
          return 'info-dialog-inline'
        }
        else {
          return 'info-dialog-icon'
        }
      },
      infoComponent() {
        return () => import(`./${this.info}`);
      },
    },
  }
</script>
<style >
  .Info {
    max-width: 55em;
  }
  .Info ul {
    margin-bottom: 1em;
  }
</style>

