<template>
  <div>
    <p>Typical types of compensation include:</p>
    <ul class="mb-4">
      <li>Salary for time spent lobbying</li>
      <li>Legal fees paid for lobbying-related services</li>
      <li>Travel payments</li>
    </ul>
  </div>
</template>

<script>
  export default {
    name: "LobbyingIndicationInfo"
  }
</script>

<style scoped>

</style>