<template>
  <div class="pt-2">
    <p><strong>Who must report:</strong></p>
    <ul>
      <li>Candidates for elective office</li>
      <li>Persons elected and appointed to state and local elective office</li>
      <li>"Executive state officers" designated in RCW 42.17A.705, including professional staff of the Governor's Office and Legislature</li>
      <li>Charter school directors</li>
    </ul>
    <p>
      <a target="_blank" href="https://www.pdc.wa.gov/elected-officials">For more info...</a>
    </p>
  </div>
</template>

<script>
  export default {
    name: "OfficeHolderInfo"
  }
</script>

<style scoped>

</style>