<template>
  <div>
    <h2>Washington real estate</h2>
    <p>Only disclose property located in Washington state that had an assessed value of more than $12,000 during the reporting period.</p>
    <p>Examples are farms, homes, vacation cabins, inherited property, rental property, unimproved land and mineral rights.</p>
    <p>If you choose to disclose property address <strong>DO NOT USE</strong> rural route or box numbers.</p>
    <strong>It will be helpful to ask yourself these three questions:</strong>
    <ul>
      <li>What property did I or a qualified family member sell or otherwise divest any financial interest in (give away, lose through legal judgment, etc.) during the reporting period?</li>
      <li>What property did I or a qualified family member buy or otherwise acquire any financial interest in (inherit, be given, acquire through a lease/purchase agreement, etc.) during the reporting period?</li>
      <li>What other property did I or a qualified family member own, fully or partially, any financial interest in during the entire reporting period?</li>
    </ul>
    <p class="py-4"><a href="https://app.leg.wa.gov/RCW/default.aspx?cite=42.17A.710" target="_blank">RCW 42.17A.710(1)(h)-(j)</a></p>

  </div>
</template>

<script>
  export default {
    name: "RealEstateInfo"
  }
</script>

<style scoped>

</style>