<template>
  <div>
    <p>To complete this statement, you will need information about the following for you, your spouse or registered domestic partner, and dependents:</p>
    <ul>
      <li>Employment, retirement and other sources of income</li>
      <li>Assets and interest income: bank accounts, retirement plans, stocks, mutual funds, and other investments</li>
      <li>Real estate wholly or partially owned, purchased or sold</li>
      <li>Debt</li>
      <li>State lobbying work</li>
      <li>Business interests and organizational associations</li>
      <li>Gifts and travel (if an appointed or elected official)</li>
    </ul>

    <p class="py-4"><a href="https://www.pdc.wa.gov/learn/reporting-personal-financial-information" target="_blank">Learn more...</a></p>

  </div>
</template>

<script>
  export default {
    name: "Requirements"
  }
</script>

<style scoped>

</style>