<template>
  <div>
    <h2>Need assistance?</h2>
    <p>If you are having trouble using the Financial Affairs Disclosure application, please contact the PDC</p>

    <p><strong>Phone: </strong>(360) 753-1111</p>
    <p><strong>Office visit: </strong>711 Capitol Way Rm 206 | Olympia, WA 98504-0908</p>
    <p><strong>Email: </strong> <a href="mailto:pdc@pdc.wa.gov">pdc@pdc.wa.gov</a></p>
  </div>
</template>

<script>
  export default {
    name: "UnknownError"
  }
</script>

<style scoped>

</style>