<script setup>
import { computed, watch, ref } from 'vue';
import { Loading } from 'quasar';

import useWizard from 'src/wizard/useWizard.js';

import rules from 'src/utils/rules.js';

import PasteFromSpreadsheet from './PasteFromSpreadsheet.vue';
import AccessibleIcon from 'src/components/AccessibleIcon.vue';
import InputText from 'src/components/InputText.vue';
import LeftRightSpacer from 'src/components/LeftRightSpacer.vue';

defineOptions({
  name: 'business-interest-payments',
});

const props = defineProps({
  templateKey: {
    type: String,
    required: true,
  },
  dataIndex: {
    type: Number,
    required: true,
  },
});

const wizard = useWizard();

const dataUtils = wizard.fieldSet(props.templateKey).get(props.dataIndex);

const businessInterestPaymentObj = {
  agency: '',
  amount: '',
  parentIndex: props.dataIndex,
};

const businessInterestPayments = computed({
  get: () =>
    (
      dataUtils.getValue('businessInterestPayments') || [
        { ...businessInterestPaymentObj },
      ]
    ).map(mapIndexToItem),
  set: (v) => {
    dataUtils.setValue('businessInterestPayments', v);
  },
});

function setBusinessInterestValue(index, field, value) {
  const modifiedPayments = [...businessInterestPayments.value];
  modifiedPayments[index][field] = value;
  businessInterestPayments.value = modifiedPayments;
}

function mapIndexToItem(interest, index) {
  return {
    ...interest,
    itemIndex: index,
  };
}

function handleAddRow(values = {}) {
  // remove empty rows
  businessInterestPayments.value = businessInterestPayments.value.filter(
    (payment) => payment.agency || payment.amount,
  );

  businessInterestPayments.value = [
    ...businessInterestPayments.value,
    { ...businessInterestPaymentObj, ...values },
  ];
}

function handleDelete(index) {
  businessInterestPayments.value = businessInterestPayments.value.filter(
    (_, i) => i !== index,
  );
}

function setBusinessInterestAmount(index, value) {
  const sanitizedValue = value.replace(/[^0-9.-]/g, '');

  const [integerPart, decimalPart] = sanitizedValue.split('.');
  const amount = decimalPart
    ? `${integerPart}.${decimalPart.slice(-2).padEnd(2, '0')}`
    : sanitizedValue;

  setBusinessInterestValue(index, 'amount', amount);
}

const pasteModalOpen = ref(false);

function savePaste(data, overwrite) {
  Loading.show();

  const amountAsStr = (amount) => {
    const sanitizedAmount = `${amount}`.replace(/[^0-9.]/g, '');
    const [integerPart, decimalPart] = sanitizedAmount.split('.');
    return decimalPart
      ? `${integerPart}.${decimalPart.padEnd(2, '0')}`
      : sanitizedAmount;
  };

  const mappedDdata = data.map(([agency, amount]) => ({
    agency,
    amount: amountAsStr(amount),
  }));

  if (overwrite) {
    businessInterestPayments.value = [];
  }

  mappedDdata.forEach(({ agency, amount }) => {
    handleAddRow({ agency, amount: amountAsStr(amount) });
  });

  pasteModalOpen.value = false;
  Loading.hide();
}

const pasteButton = ref(null);

function closePasteModal() {
  pasteModalOpen.value = false;
  pasteButton.value.$el.focus();
}

watch(
  () => businessInterestPayments.value,
  (newVal) => {
    if (newVal.length === 0) {
      handleAddRow();
    }
  },
  { immediate: true },
);
</script>

<template>
  <template
    v-for="payment in businessInterestPayments"
    :key="payment.itemIndex"
  >
    <q-card class="q-px-md q-pt-sm q-mb-md">
      <LeftRightSpacer class="q-pt-sm q-mt-none">
        <template #left>
          <h3 class="q-mt-none">Payment #{{ payment.itemIndex + 1 }}</h3>
        </template>
        <template #right>
          <p-accessible-button
            class="q-ml-md"
            style="padding: 0"
            tooltip="Delete"
            @click="handleDelete(payment.itemIndex)"
          >
            <AccessibleIcon name="delete" size="sm" color="negative" />
          </p-accessible-button>
        </template>
      </LeftRightSpacer>

      <div class="row">
        <InputText
          :model-value="payment.agency"
          class="col-12 col-sm-6"
          label="Agency"
          :rules="[rules.requiredString]"
          @update:model-value="
            setBusinessInterestValue(payment.itemIndex, 'agency', $event)
          "
        />

        <InputText
          :model-value="payment.amount"
          class="col-12 col-sm-6"
          label="Amount"
          :rules="[rules.requiredString]"
          prefix="$"
          @update:model-value="
            setBusinessInterestAmount(payment.itemIndex, $event)
          "
        />
      </div>
    </q-card>
  </template>

  <p-accessible-button class="q-mt-sm q-mb-lg" @click="handleAddRow">
    <AccessibleIcon
      name="add_circle"
      size="sm"
      class="q-mr-sm"
      role="presentation"
    />
    Add another interest payment to this business
  </p-accessible-button>

  <p-accessible-button
    ref="pasteButton"
    class="q-mt-sm q-mb-lg"
    @click="pasteModalOpen = true"
  >
    <AccessibleIcon
      name="content_paste"
      size="sm"
      class="q-mr-sm"
      role="presentation"
    />
    Paste from spreadsheet
  </p-accessible-button>

  <PasteFromSpreadsheet
    :is-open="pasteModalOpen"
    :data="businessInterestPayments"
    @close="closePasteModal"
    @save="savePaste"
  >
    <template #info>
      <p>
        When copying a list of payments from a spread sheet you should copy two
        columns without headers. The left column should indicate which agency
        you payed the interest to and the right column should be the amount of
        said payment.
      </p>
    </template>
  </PasteFromSpreadsheet>
</template>
