<script setup>
import { computed, watch } from 'vue';

import useWizard from 'src/wizard/useWizard.js';

import rules from 'src/utils/rules.js';

import AccessibleIcon from 'src/components/AccessibleIcon.vue';
import InputText from 'src/components/InputText.vue';
import LeftRightSpacer from 'src/components/LeftRightSpacer.vue';

defineOptions({
  name: 'business-office-payments',
});

const props = defineProps({
  templateKey: {
    type: String,
    required: true,
  },
  dataIndex: {
    type: Number,
    required: true,
  },
});

const wizard = useWizard();

const dataUtils = wizard.fieldSet(props.templateKey).get(props.dataIndex);

const officePaymentsObj = {
  purpose: '',
  amount: '',
  parentIndex: props.dataIndex,
};

const officePayments = computed({
  get: () =>
    (dataUtils.getValue('officePayments') || [{ ...officePaymentsObj }]).map(
      mapIndexToOfficeBalance,
    ),
  set: (v) => {
    dataUtils.setValue('officePayments', v);
  },
});

function setPaymentsValue(index, field, value) {
  const modifiedPayments = [...officePayments.value];
  modifiedPayments[index][field] = value;
  officePayments.value = modifiedPayments;
}

function mapIndexToOfficeBalance(balance, index) {
  return {
    ...balance,
    itemIndex: index,
  };
}

function handleAddRow() {
  officePayments.value = [...officePayments.value, { ...officePaymentsObj }];
}

function handleDelete(index) {
  officePayments.value = officePayments.value.filter((_, i) => i !== index);
}

function setOfficePaymentsAmount(index, value) {
  const sanitizedValue = value.replace(/[^0-9.-]/g, '');
  setPaymentsValue(index, 'amount', sanitizedValue);
}

watch(
  () => officePayments.value,
  (newVal) => {
    if (newVal.length === 0) {
      handleAddRow();
    }
  },
  { immediate: true },
);
</script>

<template>
  <template v-for="payment in officePayments" :key="payment.itemIndex">
    <q-card class="q-px-md q-pt-sm q-mb-md">
      <LeftRightSpacer class="q-pt-sm q-mt-none">
        <template #left>
          <h3 class="q-mt-none">Payment #{{ payment.itemIndex + 1 }}</h3>
        </template>
        <template #right>
          <p-accessible-button
            class="q-ml-md"
            style="padding: 0"
            tooltip="Delete"
            @click="handleDelete(payment.itemIndex)"
          >
            <AccessibleIcon name="delete" size="sm" color="negative" />
          </p-accessible-button>
        </template>
      </LeftRightSpacer>

      <div class="row">
        <InputText
          :model-value="payment.purpose"
          class="col-12 col-sm-6"
          label="Purpose"
          :rules="[rules.requiredString]"
          @update:model-value="
            setPaymentsValue(payment.itemIndex, 'purpose', $event)
          "
        />

        <InputText
          :model-value="payment.amount"
          class="col-12 col-sm-6"
          label="Amount"
          :rules="[rules.requiredString]"
          prefix="$"
          @update:model-value="
            setOfficePaymentsAmount(payment.itemIndex, $event)
          "
        />
      </div>
    </q-card>
  </template>

  <p-accessible-button class="q-mt-sm q-mb-lg" @click="handleAddRow">
    <AccessibleIcon
      name="add_circle"
      size="sm"
      class="q-mr-sm"
      role="presentation"
    />
    Add another affiliated government office payment to this business
  </p-accessible-button>
</template>
