<script setup>
import { computed, watch } from 'vue';

import useCounties from 'src/composables/api/useCounties.js';
import useWizard from 'src/wizard/useWizard.js';

import rules from 'src/utils/rules.js';
import { PROPERTY_ID_TYPES } from 'src/pages/Disclosure/phaseTwo/steps/RealEstate/realEstate.helpers.js';

import AccessibleIcon from 'src/components/AccessibleIcon.vue';
import InputDropdown from 'src/components/InputDropdown.vue';
import InputRadio from 'src/components/InputRadio.vue';
import InputText from 'src/components/InputText.vue';
import LeftRightSpacer from 'src/components/LeftRightSpacer.vue';

defineOptions({
  name: 'business-wa-properties',
});

const props = defineProps({
  templateKey: {
    type: String,
    required: true,
  },
  dataIndex: {
    type: Number,
    required: true,
  },
});

const wizard = useWizard();

const dataUtils = wizard.fieldSet(props.templateKey).get(props.dataIndex);

const addressObj = {
  propertyIdType: PROPERTY_ID_TYPES.ADDRESS,
  address: '',
  city: '',
  zip: '',
  parentIndex: props.dataIndex,
};

const parcelNumObj = {
  propertyIdType: PROPERTY_ID_TYPES.PARCEL,
  state: 'WA',
  parcel: '',
  county: '',
  parentIndex: props.dataIndex,
};

const legalDescriptionObj = {
  propertyIdType: PROPERTY_ID_TYPES.LEGAL_DESCRIPTION,
  state: 'WA',
  legal_description: '',
  county: '',
  parentIndex: props.dataIndex,
};

const waProperties = computed({
  get: () =>
    (dataUtils.getValue('waProperties') || [{ ...addressObj }]).map(
      mapIndexToWaProperty,
    ),
  set: (v) => {
    dataUtils.setValue('waProperties', v);
  },
});

function setWaPropertyValue(index, field, value) {
  const modifiedWaProperties = [...waProperties.value];
  modifiedWaProperties[index][field] = value;
  waProperties.value = modifiedWaProperties;
}

const propertyIdTypeOptions = [
  { label: 'Address', value: PROPERTY_ID_TYPES.ADDRESS },
  { label: 'Parcel Number', value: PROPERTY_ID_TYPES.PARCEL },
  { label: 'Legal Description', value: PROPERTY_ID_TYPES.LEGAL_DESCRIPTION },
];

const countyOpts = await useCounties();

function setPropertyIdType(index, propertyIdType) {
  const valueIsSame =
    waProperties.value[index].propertyIdType === propertyIdType;
  if (valueIsSame) return;

  const modifiedWaProperties = [...waProperties.value];

  if (propertyIdType === PROPERTY_ID_TYPES.ADDRESS) {
    modifiedWaProperties[index] = { ...addressObj };
  } else if (propertyIdType === PROPERTY_ID_TYPES.PARCEL) {
    modifiedWaProperties[index] = { ...parcelNumObj };
  } else if (propertyIdType === PROPERTY_ID_TYPES.LEGAL_DESCRIPTION) {
    modifiedWaProperties[index] = { ...legalDescriptionObj };
  }

  waProperties.value = modifiedWaProperties;
}

function mapIndexToWaProperty(property, index) {
  return {
    ...property,
    itemIndex: index,
  };
}

function handleAddRow() {
  waProperties.value = [...waProperties.value, { ...addressObj }];

  const index = waProperties.value.length - 1;
  setWaPropertyValue(index, 'itemIndex', index);
}

function handleDelete(index) {
  waProperties.value = waProperties.value.filter((_, i) => i !== index);
}

watch(
  () => waProperties.value,
  (newVal) => {
    if (newVal.length === 0) {
      handleAddRow();
    }
  },
  { immediate: true },
);
</script>

<template>
  <template v-for="waProperty in waProperties" :key="waProperty.itemIndex">
    <q-card class="q-px-md q-pt-sm q-mb-md">
      <LeftRightSpacer class="q-pt-sm q-mt-none">
        <template #left>
          <h3 class="q-mt-none">Property #{{ waProperty.itemIndex + 1 }}</h3>
        </template>
        <template #right>
          <p-accessible-button
            class="q-ml-md"
            style="padding: 0"
            tooltip="Delete"
            @click="handleDelete(waProperty.itemIndex)"
          >
            <AccessibleIcon name="delete" size="sm" color="negative" />
          </p-accessible-button>
        </template>
      </LeftRightSpacer>

      <div class="row">
        <InputRadio
          :model-value="waProperty.propertyIdType"
          :rules="[rules.required]"
          :options="propertyIdTypeOptions"
          label="Property ID Type"
          class="col-12"
          inline
          value-key="value"
          @update:model-value="setPropertyIdType(waProperty.itemIndex, $event)"
        >
          <template #label="{ option }">
            {{ option.label }}
          </template>
        </InputRadio>
      </div>

      <div
        v-if="waProperty.propertyIdType === PROPERTY_ID_TYPES.ADDRESS"
        class="row"
      >
        <InputText
          :model-value="waProperty.address"
          class="col-12 col-sm-12"
          label="Address"
          :rules="[rules.requiredString]"
          @update:model-value="
            setWaPropertyValue(
              waProperty.itemIndex,
              PROPERTY_ID_TYPES.ADDRESS,
              $event
            )
          "
        />

        <InputText
          :model-value="waProperty.city"
          class="col-12 col-md-7"
          label="City"
          :rules="[rules.requiredString]"
          @update:model-value="
            setWaPropertyValue(waProperty.itemIndex, 'city', $event)
          "
        />
        <InputText
          :model-value="waProperty.zip"
          class="col-12 col-md-5"
          label="ZIP"
          :rules="[rules.requiredString]"
          @update:model-value="
            setWaPropertyValue(waProperty.itemIndex, 'zip', $event)
          "
        />
      </div>

      <div
        v-else-if="waProperty.propertyIdType === PROPERTY_ID_TYPES.PARCEL"
        class="row"
      >
        <InputText
          :model-value="waProperty.parcel"
          class="col-12 col-sm-6"
          label="Parcel Number"
          :rules="[rules.requiredString]"
          @update:model-value="
            setWaPropertyValue(
              waProperty.itemIndex,
              PROPERTY_ID_TYPES.PARCEL,
              $event
            )
          "
        />

        <InputDropdown
          :model-value="waProperty.county"
          :options="countyOpts"
          :rules="[rules.required]"
          class="col-12 col-sm-6"
          label="County"
          name="county"
          @update:model-value="
            setWaPropertyValue(waProperty.itemIndex, 'county', $event)
          "
        />
      </div>

      <div
        v-else-if="waProperty.propertyIdType === PROPERTY_ID_TYPES.LEGAL_DESCRIPTION"
        class="row"
      >
        <InputText
          :model-value="waProperty.legal_description"
          class="col-12"
          label="Legal Description"
          :rules="[rules.requiredString]"
          @update:model-value="
            setWaPropertyValue(
              waProperty.itemIndex,
              PROPERTY_ID_TYPES.LEGAL_DESCRIPTION,
              $event
            )
          "
        />

        <InputDropdown
          :model-value="waProperty.county"
          :options="countyOpts"
          :rules="[rules.required]"
          class="col-12"
          label="County"
          name="county"
          @update:model-value="
            setWaPropertyValue(waProperty.itemIndex, 'county', $event)
          "
        />
      </div>
    </q-card>
  </template>

  <p-accessible-button class="q-mt-sm q-mb-lg" @click="handleAddRow">
    <AccessibleIcon
      name="add_circle"
      size="sm"
      class="q-mr-sm"
      role="presentation"
    />
    Add another Washington real estate to this business
  </p-accessible-button>
</template>
