<script setup>
import { computed, watch, ref } from 'vue';
import { Loading } from 'quasar';

import useWizard from 'src/wizard/useWizard.js';

import rules from 'src/utils/rules.js';

import PasteFromSpreadsheet from './PasteFromSpreadsheet.vue';
import AccessibleIcon from 'src/components/AccessibleIcon.vue';
import InputText from 'src/components/InputText.vue';
import LeftRightSpacer from 'src/components/LeftRightSpacer.vue';

defineOptions({
  name: 'business-interest-receipts',
});

const props = defineProps({
  templateKey: {
    type: String,
    required: true,
  },
  dataIndex: {
    type: Number,
    required: true,
  },
});

const wizard = useWizard();

const dataUtils = wizard.fieldSet(props.templateKey).get(props.dataIndex);

const businessInterestReceiptObj = {
  agency: '',
  amount: '',
  parentIndex: props.dataIndex,
};

const businessInterestReceipts = computed({
  get: () =>
    (
      dataUtils.getValue('businessInterestReceipts') || [
        { ...businessInterestReceiptObj },
      ]
    ).map(mapIndexToItem),
  set: (v) => {
    dataUtils.setValue('businessInterestReceipts', v);
  },
});

function setBusinessReceiptValue(index, field, value) {
  const modifiedReceipts = [...businessInterestReceipts.value];
  modifiedReceipts[index][field] = value;
  businessInterestReceipts.value = modifiedReceipts;
}

function mapIndexToItem(receipt, index) {
  return {
    ...receipt,
    itemIndex: index,
  };
}

function handleAddRow(values = {}) {
  businessInterestReceipts.value = [
    ...businessInterestReceipts.value,
    { ...businessInterestReceiptObj, ...values },
  ];

  const index = businessInterestReceipts.value.length - 1;

  setBusinessReceiptValue(index, 'itemIndex', index);
}

function handleDelete(index) {
  businessInterestReceipts.value = businessInterestReceipts.value.filter(
    (_, i) => i !== index,
  );
}

function setBusinessReceiptAmount(index, value) {
  const sanitizedValue = value.replace(/[^0-9.-]/g, '');

  const [integerPart, decimalPart] = sanitizedValue.split('.');
  const amount = decimalPart
    ? `${integerPart}.${decimalPart.slice(-2).padEnd(2, '0')}`
    : sanitizedValue;

  setBusinessReceiptValue(index, 'amount', amount);
}

const pasteModalOpen = ref(false);

function savePaste(data, overwrite) {
  Loading.show();

  const amountAsStr = (amount) => {
    const sanitizedAmount = `${amount}`.replace(/[^0-9.]/g, '');
    const [integerPart, decimalPart] = sanitizedAmount.split('.');
    return decimalPart
      ? `${integerPart}.${decimalPart.padEnd(2, '0')}`
      : sanitizedAmount;
  };

  const mappedDdata = data.map(([agency, amount]) => ({
    agency,
    amount: amountAsStr(amount),
  }));

  if (overwrite) {
    businessInterestReceipts.value = [];
  }

  mappedDdata.forEach(({ agency, amount }) => {
    handleAddRow({ agency, amount: amountAsStr(amount) });
  });

  pasteModalOpen.value = false;
  Loading.hide();
}

const pasteButton = ref(null);

function closePasteModal() {
  pasteModalOpen.value = false;
  pasteButton.value.$el.focus();
}

watch(
  () => businessInterestReceipts.value,
  (newVal) => {
    if (newVal.length === 0) {
      handleAddRow();
    }
  },
  { immediate: true },
);
</script>

<template>
  <template
    v-for="receipt in businessInterestReceipts"
    :key="receipt.itemIndex"
  >
    <q-card class="q-px-md q-pt-sm q-mb-md">
      <LeftRightSpacer class="q-pt-sm q-mt-none">
        <template #left>
          <h3 class="q-mt-none">Receipt #{{ receipt.itemIndex + 1 }}</h3>
        </template>
        <template #right>
          <p-accessible-button
            class="q-ml-md"
            style="padding: 0"
            tooltip="Delete"
            @click="handleDelete(receipt.itemIndex)"
          >
            <AccessibleIcon name="delete" size="sm" color="negative" />
          </p-accessible-button>
        </template>
      </LeftRightSpacer>

      <div class="row">
        <InputText
          :model-value="receipt.agency"
          class="col-12 col-sm-6"
          label="Agency"
          :rules="[rules.requiredString]"
          @update:model-value="
            setBusinessReceiptValue(receipt.itemIndex, 'agency', $event)
          "
        />

        <InputText
          :model-value="receipt.amount"
          class="col-12 col-sm-6"
          label="Amount"
          :rules="[rules.requiredString]"
          prefix="$"
          @update:model-value="
            setBusinessReceiptAmount(receipt.itemIndex, $event)
          "
        />
      </div>
    </q-card>
  </template>

  <p-accessible-button class="q-mt-sm q-mb-lg" @click="handleAddRow">
    <AccessibleIcon
      name="add_circle"
      size="sm"
      class="q-mr-sm"
      role="presentation"
    />
    Add another interest receipt to this business
  </p-accessible-button>

  <p-accessible-button
    ref="pasteButton"
    class="q-mt-sm q-mb-lg"
    @click="pasteModalOpen = true"
  >
    <AccessibleIcon
      name="content_paste"
      size="sm"
      class="q-mr-sm"
      role="presentation"
    />
    Paste from spreadsheet
  </p-accessible-button>

  <PasteFromSpreadsheet
    :is-open="pasteModalOpen"
    :data="businessInterestReceipts"
    @close="closePasteModal"
    @save="savePaste"
  >
    <template #info>
      <p>
        When copying a list of interest received from a spread sheet you should
        copy two columns without headers. The left column should indicate which
        agency you received the interest from and the right column should be the
        purpose of said receipt.
      </p>
    </template>
  </PasteFromSpreadsheet>
</template>
