<script setup>
import { computed, watch } from 'vue';

import useWizard from 'src/wizard/useWizard.js';

import rules from 'src/utils/rules.js';

import AccessibleIcon from 'src/components/AccessibleIcon.vue';
import InputText from 'src/components/InputText.vue';
import LeftRightSpacer from 'src/components/LeftRightSpacer.vue';

defineOptions({
  name: 'business-agency-balances',
});

const props = defineProps({
  templateKey: {
    type: String,
    required: true,
  },
  dataIndex: {
    type: Number,
    required: true,
  },
});

const wizard = useWizard();

const dataUtils = wizard.fieldSet(props.templateKey).get(props.dataIndex);

const agencyBalanceObj = {
  account: '',
  balance: '',
  parentIndex: props.dataIndex,
};

const agencyBalances = computed({
  get: () =>
    (dataUtils.getValue('agencyBalances') || [{ ...agencyBalanceObj }]).map(
      mapIndexToAgencyBalance,
    ),
  set: (v) => {
    dataUtils.setValue('agencyBalances', v);
  },
});

function setBalanceValue(index, field, value) {
  const modifiedBalances = [...agencyBalances.value];
  modifiedBalances[index][field] = value;
  agencyBalances.value = modifiedBalances;
}

function mapIndexToAgencyBalance(balance, index) {
  return {
    ...balance,
    itemIndex: index,
  };
}

function handleAddRow() {
  agencyBalances.value = [...agencyBalances.value, { ...agencyBalanceObj }];
}

function handleDelete(index) {
  agencyBalances.value = agencyBalances.value.filter((_, i) => i !== index);
}

function setAgencyBalanceAmount(index, value) {
  const sanitizedValue = value.replace(/[^0-9.-]/g, '');
  setBalanceValue(index, 'balance', sanitizedValue);
}

watch(
  () => agencyBalances.value,
  (newVal) => {
    if (newVal.length === 0) {
      handleAddRow();
    }
  },
  { immediate: true },
);
</script>

<template>
  <template v-for="balance in agencyBalances" :key="balance.itemIndex">
    <q-card class="q-px-md q-pt-sm q-mb-md">
      <LeftRightSpacer class="q-pt-sm q-mt-none">
        <template #left>
          <h3 class="q-mt-none">Agency Balance #{{ balance.itemIndex + 1 }}</h3>
        </template>
        <template #right>
          <p-accessible-button
            class="q-ml-md"
            style="padding: 0"
            tooltip="Delete"
            @click="handleDelete(balance.itemIndex)"
          >
            <AccessibleIcon name="delete" size="sm" color="negative" />
          </p-accessible-button>
        </template>
      </LeftRightSpacer>

      <div class="row">
        <InputText
          :model-value="balance.account"
          class="col-12 col-sm-6"
          label="Account description"
          :rules="[rules.requiredString]"
          @update:model-value="
            setBalanceValue(balance.itemIndex, 'account', $event)
          "
        />

        <InputText
          :model-value="balance.balance"
          class="col-12 col-sm-6"
          label="Average monthly balance"
          :rules="[rules.requiredString]"
          prefix="$"
          @update:model-value="
            setAgencyBalanceAmount(balance.itemIndex, $event)
          "
        />
      </div>
    </q-card>
  </template>

  <p-accessible-button class="q-mt-sm q-mb-lg" @click="handleAddRow">
    <AccessibleIcon
      name="add_circle"
      size="sm"
      class="q-mr-sm"
      role="presentation"
    />
    Add another agency balance to this business
  </p-accessible-button>
</template>
