<script setup>
import { computed, watch } from 'vue';

import useWizard from 'src/wizard/useWizard.js';

import rules from 'src/utils/rules.js';

import AccessibleIcon from 'src/components/AccessibleIcon.vue';
import InputText from 'src/components/InputText.vue';
import LeftRightSpacer from 'src/components/LeftRightSpacer.vue';

defineOptions({
  name: 'business-officers',
});

const props = defineProps({
  templateKey: {
    type: String,
    required: true,
  },
  dataIndex: {
    type: Number,
    required: true,
  },
});

const wizard = useWizard();

const dataUtils = wizard.fieldSet(props.templateKey).get(props.dataIndex);

const officerObj = {
  name: '',
  occupation: '',
  address: '',
  city: '',
  state: '',
  postcode: '',
  parentIndex: props.dataIndex,
};

const officers = computed({
  get: () =>
    (dataUtils.getValue('officers') || [{ ...officerObj }]).map(
      mapIndexToOffice,
    ),
  set: (v) => {
    dataUtils.setValue('officers', v);
  },
});

function setOfficerValue(index, field, value) {
  const modifiedOfficers = [...officers.value];
  modifiedOfficers[index][field] = value;
  officers.value = modifiedOfficers;
}

function mapIndexToOffice(officer, index) {
  return {
    ...officer,
    itemIndex: index,
  };
}

function handleAddRow() {
  officers.value = [...officers.value, { ...officerObj }];
}

function handleDelete(index) {
  officers.value = officers.value.filter((_, i) => i !== index);
}

watch(
  () => officers.value,
  (newVal) => {
    if (newVal.length === 0) {
      handleAddRow();
    }
  },
  { immediate: true },
);
</script>

<template>
  <template v-for="officer in officers" :key="officer.itemIndex">
    <q-card class="q-px-md q-pt-sm q-mb-md">
      <LeftRightSpacer class="q-pt-sm q-mt-none">
        <template #left>
          <h3 class="q-mt-none">Officer #{{ officer.itemIndex + 1 }}</h3>
        </template>
        <template #right>
          <p-accessible-button
            class="q-ml-md"
            style="padding: 0"
            tooltip="Delete"
            @click="handleDelete(officer.itemIndex)"
          >
            <AccessibleIcon name="delete" size="sm" color="negative" />
          </p-accessible-button>
        </template>
      </LeftRightSpacer>

      <div class="row">
        <InputText
          :model-value="officer.name"
          class="col-12 col-sm-6"
          label="Name"
          :rules="[rules.requiredString]"
          @update:model-value="
            setOfficerValue(officer.itemIndex, 'name', $event)
          "
        />

        <InputText
          :model-value="officer.occupation"
          class="col-12 col-sm-6"
          label="occupation"
          :rules="[rules.requiredString]"
          @update:model-value="
            setOfficerValue(officer.itemIndex, 'occupation', $event)
          "
        />
      </div>

      <div class="row">
        <InputText
          :model-value="officer.address"
          class="col-12 col-sm-6 col-md-6"
          label="Address"
          :rules="[rules.requiredString]"
          @update:model-value="
            setOfficerValue(officer.itemIndex, 'address', $event)
          "
        />

        <InputText
          :model-value="officer.city"
          class="col-12 col-sm-6 col-md-2"
          label="City"
          :rules="[rules.requiredString]"
          @update:model-value="
            setOfficerValue(officer.itemIndex, 'city', $event)
          "
        />

        <InputText
          :model-value="officer.state"
          class="col-12 col-sm-6 col-md-2"
          label="State"
          :rules="[rules.requiredString]"
          mask="AA"
          @update:model-value="
            setOfficerValue(officer.itemIndex, 'state', $event)
          "
        />

        <InputText
          :model-value="officer.postcode"
          class="col-12 col-sm-6 col-md-2"
          label="ZIP"
          :rules="[rules.required, rules.exactLength(5)]"
          mask="#####"
          @update:model-value="
            setOfficerValue(officer.itemIndex, 'postcode', $event)
          "
        />
      </div>
    </q-card>
  </template>

  <p-accessible-button class="q-mt-sm q-mb-lg" @click="handleAddRow">
    <AccessibleIcon
      name="add_circle"
      size="sm"
      class="q-mr-sm"
      role="presentation"
    />
    Add another officer/director to this business
  </p-accessible-button>
</template>
