<script setup>
import { computed, ref } from 'vue';
import useWizard from 'src/wizard/useWizard.js';

import { constrainNumber } from 'src/utils/format.js';

import InputText from 'components/InputText.vue';
import WhoDropdown from 'src/pages/Disclosure/common/WhoDropdown.vue';

defineOptions({
  name: 'businesses-owned-form',
});

const props = defineProps({
  templateKey: {
    type: String,
    required: true,
  },
  dataIndex: {
    type: Number,
    required: true,
  },
});

const wizard = useWizard();

const dataUtils = wizard.fieldSet(props.templateKey).get(props.dataIndex);

const gatedPercentageInput = computed({
  get: () => dataUtils.getValue('percentageOfOwnership'),
  set: (val) => {
    const gatedNum = constrainNumber(1, 100, val);
    if (!gatedNum) return;

    dataUtils.setValue('percentageOfOwnership', gatedNum);
  },
});

const percentageOfOwnershipKey = ref(0);
</script>

<template>
  <div class="row">
    <WhoDropdown
      v-bind="dataUtils.vBind('who')"
      label="Business/organization associated to"
      class="col-12 col-sm-8"
    />

    <InputText
      :key="percentageOfOwnershipKey"
      v-model="gatedPercentageInput"
      :rules="dataUtils.rules('percentageOfOwnership')"
      class="col-12 col-sm-4"
      label="Percentage of Ownership"
      mask="###"
      suffix="%"
      @blur="test++"
    />
  </div>

  <div class="row">
    <InputText
      v-bind="dataUtils.vBind('legalName')"
      class="col-12 col-sm-6"
      label="Business Legal Name"
    />

    <InputText
      v-bind="dataUtils.vBind('operatingName')"
      class="col-12 col-sm-6"
      label="Business Operating Name"
    />
  </div>

  <div class="row">
    <InputText
      v-bind="dataUtils.vBind('description')"
      class="col-12"
      label="Business Description"
    />
  </div>

  <h3>Business Address</h3>
  <div class="row">
    <InputText
      v-bind="dataUtils.vBind('streetAddress')"
      class="col-12 col-sm-6"
      label="Street Address"
    />
    <InputText
      v-bind="dataUtils.vBind('city')"
      class="col-12 col-sm-6"
      label="City"
    />
    <InputText
      v-bind="dataUtils.vBind('state')"
      class="col-6 col-sm-3"
      label="State"
      mask="AA"
    />
    <InputText
      v-bind="dataUtils.vBind('zip')"
      class="col-6 col-sm-3"
      label="ZIP"
      mask="#####"
    />
  </div>
</template>
