<script setup>
import { ref, watch, nextTick } from 'vue';
import ConfirmationDialog from 'src/components/ConfirmationDialog.vue';

defineOptions({
  name: 'paste-from-spreadsheet',
});

const props = defineProps({
  isOpen: {
    type: Boolean,
    required: true,
  },
});

const emit = defineEmits(['close', 'save']);

const pasteBody = ref('');
const overwrite = ref(false);

const textbox = ref(null);

function save() {
  const lines = pasteBody.value.split('\n');
  const data = lines.map((line) => line.split('\t'));

  emit('save', data, overwrite.value);
}

watch(
  () => props.isOpen,
  () => {
    nextTick(() => {
      textbox.value?.$el.focus?.();
    });
  },
);
</script>

<template>
  <ConfirmationDialog
    :is_open="isOpen"
    title="Paste from Spreadsheet"
    primary-btn-label="Add"
    negative-btn-label="Cancel"
    @primaryClicked="save"
    @negativeClicked="emit('close')"
    @close="$emit('close')"
  >
    <slot name="info" />
    <q-input ref="textbox" v-model="pasteBody" type="textarea" />
    <q-checkbox
      v-model="overwrite"
      size="lg"
      :val="true"
      label="Overwrite existing payments"
    />
  </ConfirmationDialog>
</template>
