<script setup>
import useWizard from 'src/wizard/useWizard.js';

import InputRadio from 'src/components/InputRadio.vue';

defineOptions({
  name: 'reporting-choice',
});

const props = defineProps({
  templateKey: {
    type: String,
    required: true,
  },
  dataIndex: {
    type: Number,
    required: true,
  },
});

const wizard = useWizard();

const dataUtils = wizard.fieldSet(props.templateKey).get(props.dataIndex);

const reportingChoices = [
  {
    label: 'Officers and Agency Balances',
    description:
      'Report the name, address, and occupation of every director and ' +
      'officer of the bank or commercial lending institution and the average' +
      ' monthly balance of each account held during the preceding twelve ' +
      'months by the bank or commercial lending institution from the ' +
      'governmental entity for which the individual is an official, candidate ' +
      'or professional staff member.',
    value: 'balances',
  },
  {
    label: 'Interest',
    description:
      'Report any interest paid by the governmental entity for which the ' +
      'individual is an official, candidate or professional staff member ' +
      'on loans from the bank or lending institution, and any interest paid ' +
      'to the governmental entity by the bank or lending institution, provided ' +
      'the interest exceeds $2,900.',
    value: 'interest',
  },
];
</script>

<template>
  <h4>Reporting options for a bank or other commercial lending institution</h4>
  <p>
    For banks and other commercial lending institutions, filers have two options
    for fulfilling reporting requirements. Please select one of the following:
  </p>
  <InputRadio
    v-bind="dataUtils.vBind('reportingChoice')"
    value-key="value"
    style="white-space: normal"
    :options="reportingChoices"
  >
    <template #label="{ option }">
      <div class="text-body1">{{ option.label }}</div>
    </template>
    <template #sublabel="{ option }">
      <p>{{ option.description }}</p>
    </template>
  </InputRadio>
</template>
