<script setup>
import { ref } from 'vue';
import useAccessibleDropdown from 'src/composables/useAccessibleDropdown.js';

/*
 * This component is a wrapper around Quasar's q-btn-dropdown component.
 * It adds keyboard accessibility to the dropdown.
 *  - When the dropdown is open, the first dropdown item is focused.
 *  - When the last dropdown item is focused and the user presses the Tab key,
 *    the dropdown closes and the focus is moved to the next focusable element.
 *  - When the first dropdown item is focused and the user presses Shift + Tab,
 *    the dropdown closes and dropdown toggle button is focused.
 */

defineOptions({
  name: 'acccessible-dropdown',
});

defineProps({
  toggleAriaLabel: {
    type: String,
    default: 'Toggle dropdown',
  },
  label: {
    type: String,
    default: null,
  },
  disabled: {
    type: Boolean,
    default: false,
  },
});

const emit = defineEmits(['on-expand', 'on-click']);

const dropdownRef = ref(null);
const dropdownListRef = ref(null);

// Access internal dropdown ref in parent component via refInParent.value.dropdownRef
defineExpose({ dropdownRef });

const isOpen = useAccessibleDropdown({
  triggerRef: dropdownRef,
  listRef: dropdownListRef,
  onOpen: () => emit('on-expand'),
});
</script>

<template>
  <q-btn-dropdown
    ref="dropdownRef"
    :model-value="isOpen"
    :tabindex="disabled ? -1 : 0"
    :label="label"
    :toggle-aria-label="toggleAriaLabel"
    auto-close
    class="q-pa-sm"
    color="white"
    dense
    flat
    no-caps
    size="md"
    text-color="dark"
    @click="emit('on-click')"
    @update:model-value="isOpen = $event"
  >
    <template #label>
      <slot name="label"></slot>
    </template>
    <q-list ref="dropdownListRef" tabindex="-1">
      <template #default>
        <slot name="default"></slot>
      </template>
    </q-list>
  </q-btn-dropdown>
</template>
