<script setup>
import BaseInput, {
  inputProps,
  inputEmits,
} from 'src/components/BaseInput.vue';
import useAccessibleDropdown from 'src/composables/useAccessibleDropdown.js';
import AccessibleIcon from 'src/components/AccessibleIcon.vue';

const emit = defineEmits(inputEmits);

import { defineExpose, ref, toRaw } from 'vue';

/**
 * @component DropdownMultiSelect
 * @description Dropdown allowing multiple selections
 * @prop {Array} modelValue The selected options, a ref or reactive object in parent component
 * @prop {String} label The label for the dropdown
 * @prop {String} fieldDisplay The text to display in the field value position
 * @prop {Array} options The options to display in the dropdown: { label: String, value: String, selected: Boolean }
 * @emits {Array} update:modelValue When the selected options change, emits the new selected options
 */

defineOptions({
  name: 'dropdown-multi-select',
});

const props = defineProps({
  ...inputProps,
  modelValue: {
    type: Array,
    default: () => [],
  },
  label: {
    type: String,
    required: true,
  },
  fieldDisplay: {
    type: String,
    default: 'Select multiple',
  },
  options: {
    type: Array,
    default: () => [],
  },
});

const dropdownTriggerRef = ref(null);
const dropdownListRef = ref(null);

defineExpose({ dropdownRef: dropdownTriggerRef });

const isOpen = useAccessibleDropdown({
  triggerRef: dropdownTriggerRef,
  listRef: dropdownListRef,
});

function toggleOption(_option) {
  const option = toRaw(_option);
  const selections = toRaw(props.modelValue);

  if (!props.modelValue) {
    emit('update:modelValue', [option]);
    return;
  }

  const newSelection = selections.includes(option)
    ? selections.filter((selected) => selected !== option)
    : [...selections, option];

  return newSelection;
}
</script>

<template>
  <BaseInput
    v-bind="$props"
    type="text"
    @update:modelValue="emit('update:modelValue', $event)"
  >
    <template #override="{ listeners: overrideListeners, set }">
      <div>
        <div ref="dropdownTriggerRef">
          <q-field
            ref="inputRef"
            :style="{ width: '100%' }"
            :label="label"
            stack-label
            :model-value="modelValue"
            :rules="rules"
            v-on="overrideListeners"
          >
            <template #control>
              <div
                class="self-center full-width no-outline ellipsis"
                tabindex="0"
              >
                {{ fieldDisplay }}
              </div>
            </template>
            <template #append>
              <AccessibleIcon
                :class="{ 'rotate-180': isOpen }"
                :style="{ transition: 'transform 0.2s' }"
                name="arrow_drop_down"
                size="sm"
              />
            </template>
          </q-field>
        </div>
        <q-menu
          :model-value="isOpen"
          :style="{
            width: dropdownTriggerRef?.$el?.offsetWidth + 'px',
            transform: 'translateY(-23px)',
          }"
          @update:model-value="isOpen = $event"
        >
          <q-list ref="dropdownListRef">
            <q-item
              v-for="option in options"
              :key="option.value"
              style="align-items: center"
              tabindex="0"
              clickable
              keys-as-click
              @click="set(toggleOption(option))"
              @keydown.space.prevent
            >
              <div class="col-shrink items-center q-mr-sm">
                <AccessibleIcon
                  :name="
                    modelValue?.includes(option)
                      ? 'check_box'
                      : 'check_box_outline_blank'
                  "
                  size="sm"
                />
              </div>
              <q-item-label style="align-self: center">{{
                option.label
              }}</q-item-label>
            </q-item>
          </q-list>
        </q-menu>
      </div>
    </template>
  </BaseInput>
</template>
