<script setup>
defineOptions({
  name: 'dropdown-item',
});

const emit = defineEmits(['on-click']);

defineProps({
  label: {
    type: String,
    required: true,
  },
  clickable: {
    type: Boolean,
    required: false,
    default: true,
  },
});
</script>

<template>
  <q-item :clickable @click="emit('on-click')">
    <q-item-section>
      <q-item-label>
        <div class="row no-wrap">
          {{ label }}
        </div>
      </q-item-label>
    </q-item-section>
  </q-item>
</template>
