<script setup>
import useFiler from 'src/composables/api/useFiler.js';

defineOptions({
  name: 'income-disclosure',
});

const { selectedFiler } = useFiler();
const fullName = selectedFiler.value.name;
</script>

<template>
  <p>
    RCW 42.17A.710 requires disclosure of the entities that paid
    {{ fullName }} or any qualified family member (e.g. the filer, spouse,
    registered domestic partner or dependent).
  </p>

  <p>The following categories apply:</p>

  <ul>
    <li>
      Employment income including wages, tips, sales commissions, stock options
    </li>
    <li>Compensation received for elective office</li>
    <li>Non-investment retirement income including Social Security</li>
    <li>
      Other types of income such as legal judgments and rental property income
    </li>
  </ul>

  <p>
    Next we will guide you through disclosing each of these types of income...
  </p>
</template>
