<template>
  <div>
    <CategoryReview ref="categoryReview"
      :categories="categories"
      :section="statement.accounts"
      reviewStep="AccountsReview"
      overviewInfo="AccountsOverview"
      editStep="AccountEdit"
      :hasData="this.hasData"
    >
      <template v-slot:overview>
        <Info info="AccountsOverview"/>
      </template>
      <template v-slot:question="{selectedCategory}">
        <p v-if="state.category=='insurance'">
          Did <QualifiedFamilyMember></QualifiedFamilyMember> own an insurance policy with a cash value of more than $24,000 between
          {{statement.period_start | dateFormat}} and {{statement.period_end | dateFormat }}?
        </p>
        <p v-else>
          Did <QualifiedFamilyMember></QualifiedFamilyMember> {{selectedCategory.phrase}} between {{statement.period_start | dateFormat}}
          and {{statement.period_end | dateFormat}}?
        </p>
      </template>
      <template v-slot:item="{item}">
        <v-list-item-content>
          <div v-if="item.name"><strong>{{item.name}}</strong></div>
          <address v-if="item.address">
            <div v-if="item.address">{{item.address}}</div>
            <div v-if="item.city">{{item.city | suffix(',')}} {{item.state}} {{item.postcode}}</div>
          </address>
          <div><strong>Account owner: </strong>
            <AssetOwner :who="item.who" />
          </div>
          <div v-if="item.value"><strong>Account value: </strong>
            {{item.value |
            monetaryRange}}
          </div>
          <div v-for="(asset, as) in item.assets" :key="as">
            <div v-if="asset.nature"><strong>Type: </strong>{{asset.nature}}
            </div>
            <div v-if="asset.ticker"><strong>{{asset.ticker}} - {{asset.name}}</strong></div>
            <div v-if="asset.income"><strong>Income: </strong>{{asset.income
              | monetaryRange}}
            </div>
            <div v-if="asset.value"><strong>Value: </strong>{{asset.value
              | monetaryRange}}
            </div>
          </div>
          <v-list-item-subtitle>
            <v-divider></v-divider>
          </v-list-item-subtitle>
        </v-list-item-content>
      </template>
    </CategoryReview>
  </div>
</template>

<script>
  import CategoryReview from "./CategoryReview";
  import Info from "../info/Info";
  import QualifiedFamilyMember from "../components/QualifiedFamilyMember";
  import AssetOwner from "../components/AssetOwner"
  import { mapState } from "vuex";
  export default {
    name: "AccountsReview",
    components: {CategoryReview, Info, QualifiedFamilyMember, AssetOwner},
    data() {
      return {
        categories: [
          {
            category: 'bank_account',
            name: 'Bank account',
            addLabel: 'Institution',
            phrase: 'have a bank account with a value over $24,000',
            prompts: {
              name: 'Bank name',
              contact: 'Bank address',
              why: '',
              assetType: {label: 'Account type', message: 'For example "savings, checking, share draft, certificate of deposit"'},
              value: 'Highest balance',
              income: 'Income or interest',
              button: 'Another Account'
            },
            info: 'AccountsBankInfo',
            help: 'What types of accounts should be reported?'
          },
          {
            category: 'insurance',
            name: 'Insurance policy',
            addLabel: 'Institution',
            phrase: 'have a qualified insurance policy valued over $24,000',
            prompts: {
              name: 'Insurance name',
              contact: 'Insurance account address',
              why: '',
              assetType: {label: 'Policy type', message: 'For example "life, disability, annuity"'},
              value: 'Highest policy value',
              income: 'Income from policy',
              button: 'Another Policy'
            },
            info: 'AccountsInsuranceInfo',
            help: 'Which types of insurance policies should be reported?'
          },
          {
            category: 'investment',
            name: 'Investment account',
            addLabel: 'Institution',
            phrase: 'have an investment account',
            prompts: {
              name: 'Institution name',
              contact: 'Investment account address',
              why: '',
              assetType: {label: 'Investment type', message: 'For example "stocks, bonds, securities, commodities"'},
              value: 'Highest value',
              income: 'Income or value of stock option exercised',
              button: 'Another Account'
            },
            info: 'AccountsInvestmentInfo',
            help: 'What should be reported as an investment fund account?'
          },
          {
            category: 'stocks',
            name: 'Publicly traded investments',
            addLabel: 'Stocks',
            phrase: 'have publicly traded investments',
            info: 'AccountsStocks',
            help: 'How do I report stocks, bonds and other commodities?'
          },
          {
            category: 'self_investment',
            name: 'Other self-directed investments',
            addLabel: 'Investment',
            phrase: 'have an investment account',
            prompts: {
              name: 'Investment name',
              contact: 'Investment account address',
              why: '',
              assetType: {label: 'Investment type', message: 'For example "stocks, bonds, commodities"'},
              value: 'Highest value',
              income: 'Income or value of stock option exercised',
              button: 'Another Investment Type'
            },
            info: 'AccountsSelfManaged',
            help: 'What should be reported as self-directed investment account?'
          },
          {
            category: 'other',
            name: 'Other less common assets',
            addLabel: 'asset',
            phrase: 'have any other reportable assets',
            prompts: {
              name: 'Name ',
              contact: 'Address of the manager of the asset',
              why: '',
              assetType: {label: 'Nature of asset', message: 'For example "trust, legal judgment"'},
              value: 'Highest value',
              income: 'Income drawn from asset',
              button: 'Another Type'
            },
            info: 'AccountsOther',
            help: 'What should be reported as self-directed investment account?'
          },
        ]
      }
    },
    computed: {
      ...mapState(['statement', 'person', 'wizard', 'validation']),
      state() {
        return this.statement.draft_state.state;
      },
      category() {
        if (this.wizard.category) {
          return this.wizard.category
        }
        else {
          return { category: "" }
        }
      }
    },
    created() {
      if (!this.statement.accounts) {
        this.statement.accounts = {};
      }
    },
    methods: {
      preNext() {
        return this.$refs['categoryReview'].preNext();
      },
      prePrevious() {
        return this.$refs['categoryReview'].prePrevious();
      },
      hasData(o) {
        return  o.assets.length || o.name
      }
    }
  }
</script>

<style scoped>
  .assets {
    margin-top: 0.3em;
  }
</style>
