<template>
  <div>
    <h2>{{category.name}}</h2>
    <Who label="Held by" v-model="account.who"/>
    <v-text-field v-model="account.name" label="Nature of holdings" :messages="['e.g. retirement, personal or other']"/>
    <v-card @keydown="processKeyboard">
      <v-card-text>
        <p class="small-text">Specify the ticker symbol, name and values for each stock add or edit the values for each
          stock in the table below.</p>
        <v-row>
          <v-col cols="12" sm="3">
            <v-text-field ref="ticker" label="Ticker" v-model="addStock.ticker" messages="(if applicable)" />
          </v-col>
          <v-col cols="12" sm="3">
            <v-text-field label="Name" v-model="addStock.name"/>
          </v-col>
          <v-col cols="12" sm="3">
            <ValueRange :required="false" label="Highest value" v-model="addStock.value"/>
          </v-col>
          <v-col cols="12" sm="3">
            <ValueRange :required="false" label="Income" v-model="addStock.income"/>
          </v-col>
        </v-row>

        <p> <v-btn color="primary" rounded @click="saveStock()"><v-icon>add</v-icon><span class="d-none d-sm-inline">
          Add</span></v-btn> Want tips for adding stocks quickly?<InfoDialog info="AccountsAddStockTips"/>
        </p>
      </v-card-text>
    </v-card>
    <v-list>
      <v-list-item-group v-model="selectedStock">
        <v-subheader>Select a stock to manage it!</v-subheader>
        <template v-for="(stock, i) in assets">
          <v-divider :key="`divider-${i}`"></v-divider>
          <v-list-item dense @click="loadStock(stock, i)" :key="i" :id="`listItem-${i}`">
            <v-list-item-content>
              <v-list-item-title>{{stock.ticker}}</v-list-item-title>
              <span :class="!stock.name ? 'missing' : ''">Name: {{stock.name | defaultText('(missing)')}}</span>
              <span :class="!stock.value ? 'missing' : ''">Value: {{stock.value|monetaryRange}}</span>
              <span :class="!stock.income ? 'missing' : ''">Income: {{stock.income | monetaryRange}}</span>
            </v-list-item-content>
            <v-list-item-icon>
              <v-icon large>keyboard_arrow_right</v-icon>
            </v-list-item-icon>
          </v-list-item>
        </template>
      </v-list-item-group>
    </v-list>
    <v-dialog v-model="addStockDialog">
      <v-card>
        <v-card-title>Edit Stock</v-card-title>
        <v-card-text>
          <v-text-field v-model="editStock.ticker" label="Ticker"/>
          <v-text-field v-model="editStock.name" label="Name"/>
          <div :key="editStock.id">
            <ValueRange :required="false" label="Highest value" v-model="editStock.value"/>
            <ValueRange :required="false" label="Income" v-model="editStock.income"/>
          </div>
        </v-card-text>
        <v-card-actions>
          <v-row dense>
            <v-col cols="12" sm="2"><v-btn min-width="99%" color="primary" @click="updateStock">Update Stock</v-btn></v-col>
            <v-col cols="12" sm="2"><v-btn min-width="99%" color="error" @click="deleteTicker(editStock.id)">delete</v-btn></v-col>
            <v-col cols="12" sm="2"><v-btn min-width="99%" @click="closeEditStock">Cancel</v-btn></v-col>
          </v-row>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="stockExistsWarning">
      <v-card>
        <v-card-title></v-card-title>
        <v-card-text>
          This stock already exists! Please either use a different ticker or go to the list of stocks and select the one you wish to edit.
        </v-card-text>
        <v-card-actions>
          <v-btn @click="stockExistsWarning=!stockExistsWarning">Close</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import {mapState} from 'vuex'
import Who from "../components/Who";
import InfoDialog from "../info/InfoDialog";
import ValueRange from "../components/ValueRange";
export default {
  name: "AccountStocks",
  components: {InfoDialog, ValueRange, Who},
  data() {
    return {
      headers: [
        {text: "Ticker", value: 'ticker'},
        {text: "Name", value: 'name'},
        {text: "Value", value: 'value' },
        {text: "Income", value: 'income'},
        {text: "Actions", value: 'actions'},
      ],
      addStock : {
        ticker: "",
        name: "",
        value: "",
        income: "",
      },
      editStock: {
        ticker: "",
        name: "",
        value: "",
        income: "",
      },
      addStockDialog: false,
      assets: [],
      computeCounter: 0,
      showEdit: false,
      stockExistsWarning: false,
      selectedStock: null,
      lastIndex: null,
      defaultTicker: '(No ticker)'
    };
  },
  watch: {
    assets() {
      this.account.assets = this.assets;
    }
  },
  computed: {
    ...mapState(['statement', 'wizard', 'validation']),
    state() {
      return this.statement.draft_state.state;
    },
    account() {
      return this.statement.accounts.data[this.state.selectedIndex];
    },
    category() {
      return this.wizard.category;
    },
    lastElement() {
      return document.querySelector(`#listItem-${this.lastIndex}`)
    }
  },
  created() {
    if (!this.account.assets) {
      this.account.assets = [];
    }
    this.assets = this.account.assets;
    this.setDefaultRanges();
    this.computeCounter++;
  },
  mounted() {
    this.assets = this.assets.map((asset, id) => asset.id ? asset : {...asset, id })
  },
  methods: {
    setDefaultRanges() {
      // Try and default the values to sensible choices.
      if (!this.assets.length) {
        // If we're starting out use the lowest range as a default and no income.
        this.addStock.value = this.validation.monetary_ranges[0].value;
        this.addStock.income = this.validation.monetary_ranges[0].value;
      } else {
        const { value, income } = this.assets[this.assets.length - 1]
        this.addStock.value = value
        this.addStock.income = income
      }
    },
    preNext() {
      this.account.assets = this.account.assets.filter(s => s.ticker);
      return '';
    },
    prePrevious() {
      this.account.assets = this.account.assets.filter(s => s.ticker);
      return '';
    },
    saveStock() {
      let ticker = this.addStock.ticker;
      if (!ticker) this.addStock.ticker = this.defaultTicker
      if (this.addStock.name && this.addStock.value) {
        let obj = this.assets.find(e => e.ticker === ticker);
        if (obj && obj.ticker !== this.defaultTicker) {
          this.stockExistsWarning = !this.stockExistsWarning;
        } else {
          this.assets.push(Object.assign({}, {...this.addStock, id:  Date.now() }));
        }
      }
      // Reset the ticker and name for the next stock
      this.addStock.ticker = "";
      this.addStock.name = "";
      // Set focus back to the ticker for the next entry
      this.$refs['ticker'].focus();
    },
    loadStock(stock, i) {
      this.lastIndex = i
      this.editStock = {...stock};
      this.addStockDialog = !this.addStockDialog;
    },
    updateStock() {
      const existing = this.assets.find(e => e.ticker === this.editStock.ticker)
      if (!this.editStock.ticker) this.editStock.ticker = this.defaultTicker
      if (existing && existing.id !== this.editStock.id) {
        this.stockExistsWarning = !this.stockExistsWarning
        return
      }
      this.assets = this.assets.map(e => e.id === this.editStock.id ? {...this.editStock} : e);
      this.selectedStock = null;
      this.addStockDialog = !this.addStockDialog;
      this.lastElement.focus();
    },
    closeEditStock() {
      this.selectedStock = null;
      this.addStockDialog = !this.addStockDialog;
      this.lastElement.focus();
    },
    deleteTicker(id) {
      this.addStockDialog = !this.addStockDialog;
      let idx = this.assets.findIndex(stock => stock.id === id);
      this.assets.splice(idx, 1);
      if (this.lastIndex > 0) {
        this.lastIndex -= 1;
        this.lastElement.focus();
      } else {
        this.$refs['ticker'].focus();
      }
    },
    processKeyboard(e) {
      if (e.key === 'Enter' && this.addStock.ticker) {
        this.saveStock();
        e.preventDefault();
        return false
      }
    }
  }
}
</script>

<style scoped lang="scss">
.missing {
  //color:$error-color;
}
</style>
