<template>
  <div>
    <AccountStocks v-if="statement.draft_state.state.category==='stocks'"/>
    <Account v-else/>
  </div>

</template>

<script>
  import {mapState} from 'vuex'
  import AccountStocks from "./AccountStocks";
  import Account from "./Account";
  export default {
    name: "AccountEdit",
    components: {Account, AccountStocks},
    computed: {
      ...mapState(['statement'])
    }
  }
</script>

<style scoped>

</style>