<template>
  <div>
    <h2>{{category.name}}</h2>
    <Who label="Held by" v-model="account.who"/>
    <v-text-field :label="category.prompts.name" :rules="validation.required" v-model="account.name"></v-text-field>
    <Address :required="true" v-model="account"/>
    <v-card v-for="(asset, index) in account.assets" v-bind:key="index">
      <v-card-title>
        #{{index + 1}} <v-spacer/> <span v-if="index"><v-btn small icon @click="removeAccount(index)"><v-icon>delete</v-icon></v-btn></span>
      </v-card-title>
      <v-card-text>
        <v-text-field :ref="`asset-${index}`" :messages="category.prompts.assetType.message" :rules="validation.required" :label="category.prompts.assetType.label" v-model="asset.nature"></v-text-field>
        <ValueRange :label="category.prompts.value" v-model="asset.value"></ValueRange>
        <ValueRange :required="false" :label="category.prompts.income" v-model="asset.income"></ValueRange>
      </v-card-text>
    </v-card>
    <v-btn color="primary" @click="addEmpty(account.assets.length)" rounded><v-icon>add</v-icon>{{category.prompts.button}}</v-btn> {{'Same' + ' ' + category.addLabel | parenthetical}}
  </div>
</template>

<script>
  import Address from "../components/Address";
  import {mapState, mapActions} from 'vuex';
  import ValueRange from "../components/ValueRange";
  import Who from "../components/Who";
  export default {
    name: "Account",
    components: {Who, ValueRange, Address},
    data() {
      return {
        computedCounter: 0,
        showAddDialog: false,
      };
    },
    computed: {
      ...mapState(['statement', 'validation', 'wizard']),
      state() {
        return this.statement.draft_state.state;
      },
      account() {
        this.computedCounter;
        return this.statement.accounts.data[this.state.selectedIndex];
      },
      category() {
        return this.wizard.category;
      }
    },
    methods: {
      ...mapActions(['wizardActivate']),
      preNext() {
        this.account.assets = this.account.assets.filter(s => s.nature);
        return '';
      },
      prePrevious() {
        this.account.assets = this.account.assets.filter(s => s.nature);
        return '';
      },
      addEmpty(index) {
        if (this.account.assets.length - 1 <= index) {
          this.computedCounter++;
          this.account.assets.push({nature: '', value: '', income: ''});
          this.$nextTick(() => {
            let ref = "asset-" + (this.account.assets.length - 1);
            this.$refs[ref][0].focus();
          });
        }
      },
      removeAccount(index) {
        if (index <= (this.account.assets.length - 1)) {
          this.account.assets[index].nature = ''
          this.account.assets = this.account.assets.filter(s => s.nature);
          this.computedCounter++;

        }
      }
    },
    created() {
      if (!this.account.assets || !this.account.assets.length) {
        this.account.assets = [{nature: '', value: '', income: ''}];
      }
      this.computedCounter++;
    }
  }
</script>

<style scoped>
  .v-card {
    margin-bottom: 0.5em;
  }
</style>