<template>
  <div>
    <h2>{{selectedBusiness.legal_name}} - Other government agency payments</h2>
    <EditableDataTable
        ref="editableDataTable"
        v-model="selectedBusiness.has_agency_payments"
        :items="selectedBusiness.agency_payments"
        index-property="selectedAgencyPaymentIndex"
        action-property="businessAction"
        :has-data="hasData"
        title="Payment"
        :data-table-headers="[{text: 'Agency', value: 'agency'}, {text: 'Purpose', value: 'purpose'}, {text: '', value: 'action'}]"
    >

      <template v-slot:question>
        <p>Did {{selectedBusiness.legal_name}} receive any reportable payments of $12,000 or more between {{statement.period_start|dateFormat}} and {{statement.period_end|dateFormat}} from a government agency <strong> other than </strong>where {{person.name}} seeks or holds a position?</p>
      </template>
      <template v-slot:list-header>
        <p>List the agency and purpose of payments of $12,000 or more received between {{statement.period_start|dateFormat}} and {{statement.period_end|dateFormat}} from a government agency <strong>other than</strong> where {{person.name}} seeks or holds a position.</p>
      </template>
      <template v-slot:table-headings>
        <th>Agency</th>
        <th>Purpose</th>
      </template>
      <template v-slot:item="{item}">
        <td>{{item.agency}}</td>
        <td>{{item.purpose}}</td>
      </template>
      <template v-slot:edit-item="{item}">
        <v-text-field v-model="item.agency" :rules="validation.required" label="Agency"></v-text-field>
        <v-text-field v-model="item.purpose" :rules="validation.required" label="Purpose" ></v-text-field>
        <PasteFromSpreadsheet v-model="selectedBusiness.agency_payments" :next-after-import="true">
          <p>
            When copying a list of payments from a spread sheet you should copy two columns without headers.
            The left column should indicate which agency you received the payment from and the right column should be the purpose of said payment.
          </p>
        </PasteFromSpreadsheet>
      </template>
      <template v-slot:help>
        <PasteFromSpreadsheet v-model="selectedBusiness.agency_payments">
          <p>
            When copying a list of payments from a spread sheet you should copy two columns without headers.
            The left column should indicate which agency you received the payment from and the right column should be the purpose of said payment.
          </p>
        </PasteFromSpreadsheet>
      </template>
    </EditableDataTable>
  </div>

</template>

<script>
  import {mapState} from 'vuex';
  import EditableDataTable from "./EditableDataTable";
  import PasteFromSpreadsheet from "../components/PasteFromSpreadsheet";
  export default {
    name: "AgencyPayments",
    components: {EditableDataTable, PasteFromSpreadsheet},
    props: {
    },
    computed: {
      ...mapState(['statement', 'validation', 'person']),
      state() {
        return this.statement.draft_state.state;

      },
      selectedBusiness() {
        return this.statement.business_associations.data[this.statement.draft_state.state.selectedIndex];
      }
    },
    created() {
      if (!this.selectedBusiness.agency_payments) {
        this.selectedBusiness.agency_payments = [];
      }
    },
    methods: {
      preNext() {
        let nextAction = this.$refs['editableDataTable'].preNext();
        return nextAction ? nextAction : 'BusinessPayments';
      },

      prePrevious() {

        let previousAction = this.$refs['editableDataTable'].prePrevious();
        return previousAction ? previousAction : 'OfficePayments';
      },

      hasData(p) {
        return p.purpose || p.agency ;
      }
    }
  }
</script>

<style scoped>

</style>