<template>
  <div>
    <RealEstateLocationEntry
        :property="selectedProperty"
    />
  </div>
</template>

<script>
  import RealEstateLocationEntry from "../components/RealEstateLocationEntry";
  import {mapState} from 'vuex';
  export default {
    name: "BusinessWAProperty",
    components: {RealEstateLocationEntry},
    computed: {
      ...mapState(['statement', 'validation']),
      selectedProperty() {
        let selectedIndex = this.statement.draft_state.state.selectedIndex;
        let selectedPropertyIndex = this.statement.draft_state.state.selectedPropertyIndex;
        return this.statement.business_associations.data[selectedIndex].wa_property[selectedPropertyIndex];
      },
      selectedBusiness() {
        let selectedIndex = this.statement.draft_state.state.selectedIndex;
        return this.statement.business_associations[selectedIndex];
      },
    },
  }
</script>

<style scoped>

</style>