<template>
  <div>
    <h2>{{category.name}}</h2>
    <Who label="Business/Organization associated to" v-model="selectedBusiness.who"></Who>
    <v-text-field :label="category.prompts.legal_name" :rules="validation.required" v-model="selectedBusiness.legal_name"></v-text-field>
    <v-text-field :label="category.prompts.operating_name" :rules="validation.tooLong" v-model="selectedBusiness.operating_name"></v-text-field>
    <v-text-field :label="category.prompts.description" :rules="validation.required" v-model="selectedBusiness.description"></v-text-field>
    <v-text-field v-if="category.category === 'officer'" :rules="validation.required" :label="category.prompts.position" v-model="selectedBusiness.position"></v-text-field>
    <v-text-field :rules="validation.required" type="number" v-if="category.category === 'owner'" :label="category.prompts.percentage_of_ownership" v-model="selectedBusiness.percentage_of_ownership"></v-text-field>
    <v-card flat>
      <v-card-title>
        {{category.prompts.contact}}
      </v-card-title>
      <v-card-text>
        <Address v-model="selectedBusiness" :required="true"></Address>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
  import { mapState } from 'vuex';
  import Address from '../components/Address';
  import Who from "../components/Who";

  export default {
    name: "Business",
    components: {
      Address, Who
    },
    computed: {
      ...mapState(['statement', 'validation', 'wizard']),
      category() {
        return this.wizard.category;
      },
      selectedBusiness() {
        return this.statement.business_associations.data[this.statement.draft_state.state.selectedIndex]
      }
    },
    methods: {
      preNext() {
        if (this.selectedBusiness.legal_name || this.selectedBusiness.operating_name || this.selectedBusiness.description) {
          return 'LendingInstitution';
        } else {
          return '';
        }
      }
    }
  }
</script>

<style scoped>

</style>