<template>
  <div class="BusinessBalances">
    <h2>{{selectedBusiness.legal_name}} - Agency Balances</h2>
    <EditableTable
        ref="editableTable"
        v-model="selectedBusiness.has_agency_balances"
        :items="selectedBusiness.agency_balances"
        index-property="selectedAgencyBalanceIndex"
        action-property="businessAction"
        :has-data="hasData"
        title="Balance"
    >
      <template v-slot:question>
        <p>Did {{selectedBusiness.legal_name}} have financial accounts with a government agency where {{person.name}} seeks or holds a position between {{statement.period_start|dateFormat}} and {{statement.period_end|dateFormat}}?</p>
      </template>
      <template v-slot:list-header>
        <p>List the average monthly balance for each account held between {{statement.period_start|dateFormat}} and {{statement.period_end|dateFormat}} from a government agency where {{person.name}} seeks or holds a position.</p>
      </template>
      <template v-slot:table-headings>
        <th>account description</th>
        <th>balance</th>
      </template>
      <template v-slot:item="{item}">
        <td v-if="item">{{item.account}}</td>
        <td v-if="item">{{item.balance}}</td>
      </template>
      <template v-slot:edit-item="{item}">
        <v-text-field v-model="item.account" :rules="validation.required" label="Account Description" ></v-text-field>
        <v-text-field type="number" v-model="item.balance" :rules="validation.required" label="Average monthly balance"></v-text-field>
      </template>
    </EditableTable>
  </div>
</template>

<script>
  import {mapState} from 'vuex'
  import EditableTable from "./EditableTable";
  export default {
    name: "BusinessAgencyBalances",
    components: {EditableTable},
    computed: {
      ...mapState(['statement', 'validation', 'person']),
      selectedBusiness() {
        let selectedIndex = this.statement.draft_state.state.selectedIndex;
        return this.statement.business_associations.data[selectedIndex];
      },
    },
    created() {
      if (!this.selectedBusiness.agency_balances) {
        this.selectedBusiness.agency_balances = [];
      }
    },
    methods: {
      preNext() {
        let nextAction = this.$refs['editableTable'].preNext();
        let nextStep = this.selectedBusiness.category == 'owner' ? 'BusinessProperty' : '';
        return nextAction ? nextAction :nextStep;
      },

      prePrevious() {

        let previousAction = this.$refs['editableTable'].prePrevious();
        return previousAction ? previousAction : 'BusinessOfficers';
      },

      hasData(p) {
        return !!p.account;
      }
    }
  }
</script>

<style scoped>

</style>