<template>
  <div class="BusinessOfficers">
    <h2>{{selectedBusiness.legal_name}} - Officers</h2>
    <EditableList
        ref="editableList"
        v-model="selectedBusiness.has_officers"
        :newItem="newOfficer"
        actionProperty="businessAction"
        :items="selectedBusiness.officers"
        info="BusinessOfficerHelp"
        indexProperty="selectedOfficerIndex"
        :emptyFilter="emptyBusinessOfficer"
        editStep="BusinessOfficerEdit"
        title="Officer">
      <template v-slot:question>
        <p>Does {{selectedBusiness.legal_name}} have any other directors or officers besides <QualifiedFamilyMember/>?</p>
      </template>
      <template v-slot:help>
        What information is required?
      </template>
      <template v-slot:item="{item}">
        <v-list-item-content v-if="item">
          <v-list-item-title>{{item.name}}</v-list-item-title>
          <v-list-item-subtitle>
            {{item.occupation}}
          </v-list-item-subtitle>
          <v-list-item-subtitle>
            {{ item.address }}<br/>
            {{ item.city }} {{ item.state }} {{item.postcode }}
          </v-list-item-subtitle>
        </v-list-item-content>
      </template>
    </EditableList>
  </div>
</template>

<script>
  import {mapState} from'vuex'
  import EditableList from "./EditableList";
  import QualifiedFamilyMember from "../components/QualifiedFamilyMember"

  export default {
    name: "BusinessOfficers",
    components: {QualifiedFamilyMember, EditableList},
    data() {
      return {
        newOfficer: {
          name: "",
          title: "",
          address: "",
          city: "",
          state: "",
          postcode: "",
        }
      }
    },
    computed: {
      ...mapState(['statement', 'validation']),
      selectedBusiness() {
        let selectedIndex = this.statement.draft_state.state.selectedIndex;
        return this.statement.business_associations.data[selectedIndex];
      }
    },
    created() {
      // Ensure that we have an officers array
      if (!this.selectedBusiness.officers) {
        this.selectedBusiness.officers = [];
      }
    },
    methods: {
      preNext() {
        let nextAction = this.$refs['editableList'].preNext();
        return nextAction ? nextAction : 'BusinessAgencyBalances';
      },
      prePrevious() {
        let previousAction = this.$refs['editableList'].prePrevious();
        return previousAction ? previousAction :  "LendingInstitution"
      },
      emptyBusinessOfficer(e) {
        return (!e || (!e.name && !e.title && !e.address && !e.city && !e.state))
      }


    }
  }
</script>

<style scoped>

</style>