<template>
  <div>
    <CategoryReview ref="categoryReview"
      :categories="categories"
      :section="statement.business_associations"
      reviewStep = "BusinessReview"
      overviewInfo = "BusinessOverview"
      :hasData = "this.hasData"
      editStep = "Business"
    >
      <template v-slot:overview>
        <Info info="BusinessOverview"/>
      </template>
      <template v-slot:question="{selectedCategory}">
        <p>Did <QualifiedFamilyMember></QualifiedFamilyMember> {{selectedCategory.phrase}} between {{statement.period_start | dateFormat}}
          and {{statement.period_end | dateFormat}}?
        </p>
      </template>
      <template v-slot:item="{item}">
        <v-list-item-content>
          <v-list-item-title></v-list-item-title>
          <v-list-item-title><strong>{{item.legal_name}}</strong> (<AssetOwner :who="item.who" />)</v-list-item-title>
          <v-list-item-subtitle>
            <div v-if="item.position">{{item.position}}</div>
            <address v-if="item.address">
              {{item.address}}<br/>
              {{item.city}} {{item.state}} {{item.postcode}}
            </address>
          </v-list-item-subtitle>
          <v-list-item-subtitle>
            {{item.description}}
          </v-list-item-subtitle>
          <v-list-item-subtitle v-if="item.percentage_of_ownership">
            {{item.percentage_of_ownership | suffix('% ownership')}}
          </v-list-item-subtitle>
          <v-list-item-subtitle>
            Affiliated Government Agency Payments: {{item.has_office_payments | yesNo}}<br/>
            Other Government Agency Payments: {{item.has_agency_payments | yesNo}}<br/>
            Business Customer Payments: {{item.has_business_payments | yesNo}}
            <span v-if="item.category === 'owner'"><br/>Washington real estate: {{item.has_wa_property | yesNo}}</span>
          </v-list-item-subtitle>

        </v-list-item-content>
      </template>
    </CategoryReview>
  </div>
</template>

<script>
  import CategoryReview from "./CategoryReview"
  import Info from "../info/Info"
  import { mapState } from "vuex"
  import QualifiedFamilyMember from "../components/QualifiedFamilyMember";
  import AssetOwner from "../components/AssetOwner"
  export default {
    name: "BusinessReview",
    components: {CategoryReview, Info, QualifiedFamilyMember, AssetOwner},
    data() {
      return {
        categories: [
          {
            category: 'owner',
            name: 'Businesses owned',
            phrase: 'own a business',
            prompts: {
              legal_name: 'Business legal name',
              contact: 'Business address',
              why: 'Position',
              value: '',
              operating_name: 'Business operating name',
              description: 'Business description',
              percentage_of_ownership: 'Percent of business owned'
            },
            info: 'BusinessOwnerInfo'
          },
          {
            category: 'officer',
            name: 'Other relationships',
            phrase: 'operate as an officer, director, general partner or board member',
            prompts: {
              legal_name: 'Organization legal name',
              contact: 'Organization address',
              why: 'Position',
              value: '',
              operating_name: 'Organization operating name',
              description: 'Organization description',
              position: 'Position held',
            },
            info: 'BusinessOfficerInfo'
          }
        ],
      }
    },
    computed: {
      ...mapState(['statement', 'person', 'validation']),
    },
    created() {
      if (!this.statement.business_associations) {
        this.statement.business_associations = {};
      }
    },
    methods: {
      preNext() {
        return this.$refs['categoryReview'].preNext();
      },
      prePrevious() {
        return this.$refs['categoryReview'].prePrevious();
      },
      hasData(o) {
        return o.legal_name || o.operating_name || o.description;
      }
    }
  }
</script>

<style scoped>

</style>