<template>
  <div class="BusinessInterestPayed">
    <h2>{{selectedBusiness.legal_name}} - Interest Payments</h2>
    <editable-data-table
        ref="editableDataTable"
        v-model="selectedBusiness.has_business_interest_payments"
        :items="selectedBusiness.business_interest_payments"
        index-property="selectedBusinessInterestPaymentIndex"
        action-property="businessAction"
        :hasData="hasPaymentData"
        title="Interest Payments"
        :data-table-headers="[{text: 'Agency', value: 'agency'}, {text: 'Amount', value: 'amount'}, {text: '', value: 'action'}]"  >

      <template v-slot:question>
        <p>Did {{selectedBusiness.legal_name}} pay interest exceeding $2900 to government agency where {{person.name}}
          seeks or holds a position between {{statement.period_start|dateFormat}} and {{statement.period_end|dateFormat}}?</p>
      </template>
      <template v-slot:table-headings>
        <th>Agency</th>
        <th>Payment</th>
      </template>
      <template v-slot:item="{item}">
        <td v-if="item">{{item.agency}}</td>
        <td v-if="item">{{item.amount}}</td>
      </template>
      <template v-slot:edit-item="{item}">
        <v-text-field v-model="item.agency" :rules="validation.required" label="Agency"></v-text-field>
        <v-text-field v-model="item.amount" :rules="validation.required" label="Amount" ></v-text-field>
        <PasteFromSpreadsheet v-model="selectedBusiness.business_interest_payments" :next-after-import="true" :properties-list="['agency', 'amount']">
          <p>
            When copying a list of payments from a spread sheet you should copy two columns without headers.
            The left column should indicate which agency you payed the interest to and the right column should be the purpose of said payment.
          </p>
        </PasteFromSpreadsheet>
      </template>
      <template v-slot:help>
        <PasteFromSpreadsheet v-model="selectedBusiness.business_interest_payments" :properties-list="['agency', 'amount']">
          <p>
            When copying a list of payments from a spread sheet you should copy two columns without headers.
            The left column should indicate which agency you payed the interest to and the right column should be the amount of said payment.
          </p>
        </PasteFromSpreadsheet>
      </template>
    </editable-data-table>
  </div>
</template>

<script>
  import {mapState} from 'vuex'
  import EditableDataTable from "./EditableDataTable";
  import PasteFromSpreadsheet from "../components/PasteFromSpreadsheet";
  export default {
    name: "BusinessInterestPayments",
    components: {EditableDataTable, PasteFromSpreadsheet},
    computed: {
      ...mapState(['statement', 'validation', 'person']),
      selectedBusiness() {
        let selectedIndex = this.statement.draft_state.state.selectedIndex;
        return this.statement.business_associations.data[selectedIndex];
      },
    },
    created() {
      if (!this.selectedBusiness.business_interest_payments) {
        this.selectedBusiness.business_interest_payments = [];
      }
    },
    methods: {
      preNext() {
        let nextAction = this.$refs['editableDataTable'].preNext();
        return nextAction ? nextAction : 'BusinessInterestReceipts';

      },
      prePrevious() {
        let previousAction = this.$refs['editableDataTable'].prePrevious();
        return previousAction ? previousAction : 'LendingInstitution';
      },
      hasPaymentData(p) {
        return p && (p.agency || p.amount);
      }
    }
  }
</script>

<style scoped>

</style>