<template>
  <div>
    <v-text-field label="Name" v-model="selectedOfficer.name" :rules="validation.required"></v-text-field>
    <v-text-field label="Occupation" v-model="selectedOfficer.occupation" :rules="validation.required"></v-text-field>
    <Address v-model="selectedOfficer" :required="true"/>
  </div>
</template>

<script>
  import {mapState} from 'vuex';
  import Address from "../components/Address";
  export default {
    name: "BusinessOfficerEdit",
    components: {Address},
    computed: {
      ...mapState(['statement', 'validation']),
      selectedBusiness() {
        let selectedIndex = this.statement.draft_state.state.selectedIndex;
        return this.statement.business_associations.data[selectedIndex];
      },
      selectedOfficer() {
        let selectedOfficerIndex = this.statement.draft_state.state.selectedOfficerIndex;
        return this.selectedBusiness.officers[selectedOfficerIndex];
      },
    },
    created() {
      if(!this.selectedBusiness.officers){
        this.selectedBusiness.officers = [{}];
      }
    }
  }
</script>

<style scoped>

</style>