<template>
  <div>
    <h2>{{selectedBusiness.legal_name}} - Business payments</h2>
    <EditableDataTable
        ref="editableDataTable"
        v-model="selectedBusiness.has_business_payments"
        :items="selectedBusiness.business_payments"
        index-property="selectedBusinessPaymentIndex"
        action-property="businessAction"
        :has-data="hasData"
        title="Payment"
        :data-table-headers="[{text: 'Customer Name', value: 'business'}, {text: 'Purpose', value: 'purpose'}, {text: '', value: 'action'}]"
    >
      <template v-slot:question>
        <p>Did {{selectedBusiness.legal_name}} receive any reportable payments of $12,000 or more between {{statement.period_start|dateFormat}} and {{statement.period_end|dateFormat}} from a business customer?</p>
      </template>
      <template v-slot:list-header>
        <p>List the agency and purpose of payments of $12,000 or more received between {{statement.period_start|dateFormat}} and {{statement.period_end|dateFormat}} from a business customer.</p>
      </template>
      <template v-slot:table-headings>
        <th>Customer Name</th>
        <th>Purpose</th>
      </template>
      <template v-slot:item="{item}">
        <td>{{item.business}}</td>
        <td>{{item.purpose}}</td>
      </template>
      <template v-slot:edit-item="{item}">
        <v-text-field v-model="item.business" :rules="validation.required" label="Customer Name"></v-text-field>
        <v-text-field v-model="item.purpose" :rules="validation.required" label="Purpose" ></v-text-field>
        <PasteFromSpreadsheet v-model="selectedBusiness.business_payments" :next-after-import="true" :properties-list="['business', 'purpose']">
          <p>
            When copying a list of payments from a spread sheet you should copy two columns without headers.
            The left column should indicate which business you received the payment from and the right column should be the purpose of said payment.
          </p>
        </PasteFromSpreadsheet>
      </template>
      <template v-slot:help>
        <PasteFromSpreadsheet v-model="selectedBusiness.business_payments" :properties-list="['business', 'purpose']">
          <p>
            When copying a list of payments from a spread sheet you should copy two columns without headers.
            The left column should indicate which business you received the payment from and the right column should be the purpose of said payment.
          </p>
        </PasteFromSpreadsheet>
      </template>
    </EditableDataTable>
  </div>

</template>

<script>
  import {mapState} from 'vuex';
  import EditableDataTable from "./EditableDataTable";
  import PasteFromSpreadsheet from "../components/PasteFromSpreadsheet";
  export default {
    name: "BusinessPayments",
    components: {EditableDataTable, PasteFromSpreadsheet},
    props: {
    },
    computed: {
      ...mapState(['statement', 'validation']),
      state() {
        return this.statement.draft_state.state;

      },
      selectedBusiness() {
        return this.statement.business_associations.data[this.statement.draft_state.state.selectedIndex];
      }
    },
    created() {
      if (!this.selectedBusiness.business_payments) {
        this.selectedBusiness.business_payments = [];
      }
    },
    methods: {
      preNext() {
        let nextAction = this.$refs['editableDataTable'].preNext();
        let nextStep = this.selectedBusiness.category == 'owner' ? 'BusinessProperty' : '';
        return nextAction ? nextAction : nextStep;
      },
      prePrevious() {

        let previousAction = this.$refs['editableDataTable'].prePrevious();
        return previousAction ? previousAction : 'AgencyPayments';
      },

      hasData(p) {
        return p.purpose || p.business;
      }
    }
  }
</script>

<style scoped>

</style>