<template>
  <div class="BusinessProperty">
    <h2>{{selectedBusiness.legal_name}} - Washington real estate</h2>
    <EditableList
        ref="editableList"
        v-model="selectedBusiness.has_wa_property"
        :items="selectedBusiness.wa_property"
        indexProperty="selectedPropertyIndex"
        actionProperty="businessAction"
        editStep="BusinessWAProperty"
        :empty-filter="emptyProperty"
    >
      <template v-slot:question>
        <p>
          Did {{selectedBusiness.legal_name}} own any Washington real estate valued at over $24,000
          between {{statement.period_start|dateFormat}} and {{statement.period_end|dateFormat}}?
        </p>
      </template>
      <template v-slot:list-header>
        <p>Please indicate all Washington properties valued in excess of $24,000.</p>
      </template>
      <template v-slot:item="{item}">
        <v-list-item-content>
          <v-list-item-title>
            <RealEstateLocation :location="item" />
          </v-list-item-title>
        </v-list-item-content>
      </template>
    </EditableList>
  </div>
</template>

<script>
  import EditableList from "./EditableList";
  import {mapState} from 'vuex';
  import RealEstateLocation from "../components/RealEstateLocation";
  export default {
    name: "BusinessProperty",
    components: {RealEstateLocation, EditableList},
    computed: {
      ...mapState(['statement']),
      state() {
        return this.statement.draft_state.state;

      },
      selectedBusiness() {
        return this.statement.business_associations.data[this.statement.draft_state.state.selectedIndex];
      }
    },
    created() {
      if (!this.selectedBusiness.wa_property) {
        this.selectedBusiness.wa_property = [];
      }
    },
    methods: {
      preNext() {
        let nextAction = this.$refs['editableList'].preNext();
        return nextAction ? nextAction : '';
      },

      prePrevious() {

        let previousAction = this.$refs['editableList'].prePrevious();

        if (this.selectedBusiness.reporting_choice === 'balances') {
          return previousAction ? previousAction :  "BusinessAgencyBalances"
        }
        else if (this.selectedBusiness.reporting_choice === 'interest') {
          return previousAction ? previousAction :  "BusinessInterestReceipts"
        }
        else {
          return previousAction ? previousAction : 'BusinessPayments';
        }
      },

      emptyProperty(p) {
        return !(p.address || p.parcel || p.legal_description || p.city || p.zip || p.county);
      }
    }
  }
</script>

<style scoped>

</style>