<template>
  <div>
    <v-autocomplete :items="filteredElections"
              name="election"
              v-model="candidacy.election_code"
              item-text="title" @change="onElectionChange()"
              item-value="election_code"
              :rules="validation.required"
              label="Election"
              :disabled="establishedCandidacy">
    </v-autocomplete>
    <OfficeSelect :item="candidacy" :disabled="establishedCandidacy" :electiveOfficesOnly="true"/>
    <v-alert
        dense
        outlined
        text
        type="info"
        v-if="establishedCandidacy">
      To alter your candidacy information you must use the campaign registration system.
    </v-alert>
    <DatePicker :required="true"
                label="Campaign Start Date"
                v-model="candidacy.campaign_start_date"
                :maxDate="nowDate"
                :disabled="datesSelected"/>
    <div class="mb-2">
      <v-alert
        dense
        outlined
        text
        type="info"
        v-if="!datesSelected"
      >Because this date is used to determine the coverage period for your disclosure statement, you will not be able to adjust it later. Only report candidacies that have already started.</v-alert>
      <v-alert
        dense
        outlined
        text
        type="info"
        v-if="datesSelected"
      >Because this date is used to determine the coverage period for your disclosure statement it cannot be adjusted.</v-alert>
    </div>
    <v-divider></v-divider>
    <v-card>
        <v-card-title>Campaign contact</v-card-title>
        <v-card-text>
            <EmailAddress
                    v-model="candidacy.email"
                    type="email"
                    :required="true"
            >
            </EmailAddress>
            <Address v-model="candidacy" :required="true"/>
            <v-text-field style="max-width: 11em;"
                          v-model="candidacy.phone"
                          label="Phone number"
                          :rules="validations.phoneRules"
            >
            </v-text-field>
        </v-card-text>
    </v-card>
  </div>
</template>

<script>
  import {mapState,mapActions} from 'vuex';
  import {app} from "@/main";
  import DatePicker from "../components/DatePicker";
  import EmailAddress from "../components/EmailAddress";
  import Address from "../components/Address";
  import OfficeSelect from "../components/OfficeSelect"

  export default {
    name: "Candidacy",
    components: {EmailAddress, DatePicker, Address, OfficeSelect},
    data() {
      return {
        validations: {
          required: [
            v => !!v || 'Required'
          ],
          emailRules: [
            v => !v || /.+@.+\..+/.test(v) || 'Email must be valid'
          ],
          stateRules: [
            v => !v || /^[A-Za-z]{2}$/.test(v) || 'State must be two characters long and letters only'
          ],
          postcodeRules: [
            v => !v || /^\b\d{5}(-\d{4})?\b$/.test(v) || 'Must be a valid zip code'
          ],
          phoneRules: [
            v => !v || /^[+]?[(]?[0-9]{3}[)]?[-\s.]?[0-9]{3}[-\s.]?[0-9]{4,6}$/im.test(v) || 'Must be a valid phone number'
          ]
        },
        election: [],
        defaultElectionChoice: (new Date()).getFullYear().toString(),
        electionCode: '',
        nowDate: new Date().toISOString().slice(0,10),
        newCandidacy: null
      }
    },
    computed: {
      ...mapState(['person', 'candidacies', 'statement', 'validation']),
      establishedCandidacy() {
        return !!(this.candidacy && this.candidacy.candidacy_id);
      },
      filteredElections(){
        let prevYear = new Date();
        prevYear.setFullYear(prevYear.getFullYear() - 1);
        prevYear = prevYear.toISOString();
        return this.election.filter(e => e.election_date > prevYear && !e.is_primary);
      },
      candidacy() {
        return this.candidacies[this.statement.draft_state.state.selectedIndex];
      },
      datesSelected() {
        return Boolean(this.statement.period_start);
      },
      positionFieldDisabled() {
        return this.establishedCandidacy && this.candidacy.position_id;
      },
    },
    created() {
      this.loadElections();
    },
    methods: {
      ...mapActions(['saveSubmission']),
      onElectionChange(){
        let selElection = this.filteredElections.find(e => e.election_code === this.candidacy.election_code);
        this.candidacy.election = selElection.title;
        this.loadElections();
      },
      loadElections() {
        app.$container.dataService.query('elections', data => {
          this.election = data;
        });
      },
    },
  }
</script>

<style scoped>

</style>
