<template>
  <div>
    <h2>Candidacies</h2>
    <EditableList ref="editableList"
                  :items="candidacies"
                  title="Candidacy"
                  v-model="statement.isCandidate"
                  :disableAddDelete="!identificationSection"
                  editStep="Candidacy"
                  :emptyFilter="emptyCandidacy"
    >
      <template v-slot:question>
        <p>Is {{person.name}} currently a candidate in any election?</p>
      </template>
      <template v-slot:alert>
        <v-alert
            dense
            outlined
            text
            type="info"
            v-if="identificationSection"
        >Because the answer to this question is used to determine the coverage period for your disclosure statement, you will not be able to change it once the statement has been started.</v-alert>
        <v-alert
            dense
            outlined
            text
            type="info"
            v-else
        >Because the answer to this question is used to determine the coverage period for your disclosure statement, it cannot be changed.</v-alert>
      </template>
      <template v-slot:list-header>
        <p>Please indicate all candidacies that {{person.name}} is engaged in.</p>
      </template>
      <template v-slot:item="{item}">
        <v-list-item-content >
          <v-list-item-title>{{item.office}}</v-list-item-title>
          <v-list-item-subtitle>
            {{item.election_code}} {{item.jurisdiction}}<br/>
            <address v-if="item.address">
              {{item.address}}<br/>
              {{item.city}} {{item.state}} {{item.zip}}
            </address>
          </v-list-item-subtitle>

        </v-list-item-content>
      </template>
    </EditableList>
  </div>
</template>

<script>
  import EditableList from "./EditableList";
  import {mapState} from 'vuex';
  export default {
    name: "Candidacies",
    components: {EditableList},
    computed: {
      ...mapState(['statement','person', 'candidacies']),
      identificationSection(){
        return !(this.statement.period_start || this.statement.period_end);
      }
    },
    created() {
      if(this.candidacies.length > 0){
        this.statement.isCandidate = true;
      }
    },
    methods: {
      preNext() {
        return this.$refs['editableList'].preNext();
      },
      prePrevious() {
        return this.$refs['editableList'].prePrevious();
      },
      emptyCandidacy(c ) {
        return !c.office && !c.jurisdiction
      }
    }
  }
</script>

<style scoped>

</style>