<template>
  <div v-if="loaded">
    <h2>Import information</h2>
    <div v-if="statement.imported_from">
      <v-card color="primary">
        <v-card-text>
          <span class="white--text"><v-icon color="white">done</v-icon> You have successfully imported your financial affairs disclosure from the starting period of {{ statement.imported_from.period_start | dateFormat }} and the ending period of {{ statement.imported_from.period_end | dateFormat }}.</span>
        </v-card-text>
      </v-card>
      <p>Please note that the import will include some information – such as asset values and income – that could be outdated. It is the filer’s responsibility to check the imported information for accuracy and make changes if necessary before submitting.</p>
    </div>
    <div v-else-if="lastSubmission.submission_id">
      Would you like to import your data from a previous Financial Affairs Disclosure submitted on
      {{ lastSubmission.submitted_at | dateFormat }}?
      <v-radio-group v-model="carryForward" row>
        <v-radio label="Yes" :value="true"></v-radio>
        <v-radio label="No" :value="false"></v-radio>
      </v-radio-group>
    </div>
    <div v-else>
      <p>In the future, you will be able to import data from your previous year's filing. This system does not allow
        importing this year because the filing requirements have changed significantly.
        If you filed with us before January 1, 2020, consider printing out a copy of your
        most recent F-1 to assist in filing. </p>
    </div>
  </div>
</template>

<script>
import {app} from '@/main'
import {mapState, mapActions} from 'vuex'

export default {
  name: "CarryForward",
  data() {
    return {
      carryForward: true,
      lastSubmission: {},
      loaded: false
    }
  },
  created() {
    if (!this.statement.imported_from && this.user.selected_person) {
      if (!this.statement.import_selected_id) {
        let url = 'service/financial-affairs/person/' + this.user.selected_person.person_id + '/submission/' + this.submission.submission_id + '/prior-submission';
        app.$container.dataService.get(url, result => {
          if (result.data.success && result.data.last_submission) {
            this.lastSubmission = result.data.last_submission;
          } else {
            this.lastSubmission = {};
          }
          this.loaded = true;
        });
      } else if (this.statement.import_selected_id) {
        let specificSubmissionUrl = 'service/financial-affairs/submission/' + this.statement.import_selected_id + '/view-submission';
        app.$container.dataService.get(specificSubmissionUrl, result => {
          if (result.data.success && result.data.submission) {
            this.lastSubmission = result.data.submission;
          } else {
            this.lastSubmission = {};
          }
          this.loaded = true;
        });
      }
    } else {
      this.loaded = true;
    }
  },
  computed: {
    ...mapState(['person', 'submission', 'statement', 'user']),
  },
  methods: {
    ...mapActions(['wizardActivate']),
    preNext() {
      if (!this.statement.imported_from && this.carryForward && this.lastSubmission.submission_id) {
        this.submission.import_from = this.lastSubmission.submission_id;
        return 'prevent';
      }
    },
    prePrevious() {
    }
  }
}
</script>

<style scoped>
  p { margin-top: 0.5em;}

</style>
