<template>
  <div class="CategoryReview">

    <!-- Overview case:  Just display the information about the different categories -->
    <div v-if="!state.category">
      <slot name="overview"/>
    </div>

    <!-- Ask the question about whether the category applies -->
    <div v-else-if="sectionData.length === 0">
      <h2>{{selectedCategory.name}}</h2>
      <Info :info="selectedCategory.info"/>
      <slot name="question" :selectedCategory="selectedCategory">
      </slot>
      <v-radio-group :rules="validation.required"  v-model="category.value" row>
        <v-radio label="Yes" :value="true"></v-radio>
        <v-radio label="No" :value="false"></v-radio>
      </v-radio-group>
    </div>

    <!-- List the items added with an option to add -->
    <div v-else-if="!state.action">
      <h2>{{selectedCategory.name}}</h2>
      <slot name="listHeader" :selectedCategory="selectedCategory">
      </slot>
      <v-list>
        <v-list-item v-for="(item, index) in sectionData" :key="index">
          <slot name="item" :item="item"/>
          <v-list-item-action>
            <v-btn icon @click="editSource(index)"><v-icon>edit</v-icon></v-btn>
            <v-btn icon @click="deleteSourceConfirmationDialog(index)"><v-icon>delete</v-icon></v-btn>
          </v-list-item-action>
        </v-list-item>
      </v-list>

      <p v-if="selectedCategory.info" :selectedCategory="selectedCategory">
        <v-btn rounded color="primary" @click="onAddClick()"><v-icon>add</v-icon>Add {{selectedCategoryLabel}}</v-btn>
        <slot name="help"> {{selectedCategory.help | defaultText('What counts as '+selectedCategory.name+'?')}}  <InfoDialog :info="selectedCategory.info"/></slot>
      </p>
      <slot name="listFooter"></slot>
    </div>
    <div v-else>
      <component ref="editComponent" :is="editComponent"/>
    </div>

    <!-- Delete confirmation dialog -->
    <v-dialog v-model="deleteConfirmationDialog" max-width="300">
      <v-card>
        <v-card-title>Confirm Delete</v-card-title>
        <v-card-text>
          <slot name="deletePrompt" :selectedCategory="selectedCategory">
            Are you sure you want to delete this {{selectedCategory.name}}?
          </slot>
          <slot name="item" :item="item"/>
        </v-card-text>
        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn @click="deleteConfirmationDialog=false">Cancel</v-btn>
          <v-btn @click="deleteSource()">Delete</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>


</template>

<script>
  import {mapState, mapActions} from 'vuex'
  import InfoDialog from "../info/InfoDialog";
  import Info from "../info/Info";
  export default {
    name: "CategoryReview",
    components: {Info, InfoDialog, },
    props: {
      categories: Array,
      editStep: {
        type: String,
        default: 'Income',
      },
      reviewStep: {
        type: String,
        default: 'CategoryReview',
      },
      hasData: Function,
      overviewInfo: String,
      section: Object,
    },
    data() {
      return {
        computeCounter: 0,
        deleteConfirmationDialog: false,
      };
    },
    computed: {
      ...mapState(['statement', 'person', 'wizard', 'validation']),
      state() {
        return this.statement.draft_state.state;
      },
      selectedCategoryLabel() {
        if (this.wizard.hasOwnProperty('category')) {
          if (this.wizard.category.addLabel) {
            return this.wizard.category.addLabel;
          } else {
            return this.wizard.category.name;
          }
        }
        return 0;
      },
      selectedCategory() {
        this.computeCounter;
        if (this.wizard.hasOwnProperty('category')) {
          return this.wizard.category;
        }
        else {
          return { category: ""};
        }
      },
      sectionData() {
        this.computeCounter;
        return this.section.data.filter(s => s.category === this.selectedCategory.category);
      },
      category() {
        return this.section.categories.filter(t => t.category === this.selectedCategory.category)[0];
      },
      item() {
        this.computeCounter;
        if (this.state.hasOwnProperty('selectedIndex')) {
          return this.section.data[this.state.selectedIndex]
        }
        else {
          return {};
        }
      },
      // The editing component used
      editComponent() {
        this.computeCounter;
        return () => import(`./${this.state.action}`);
      }
    },
    created() {
      if (this.state.hasOwnProperty('selectedIndex')) {
        this.selectItem(this.state.selectedIndex);
      }
      if (this.state.category) {
        this.selectCategory(this.state.category);
      }
      if (!this.section.categories  || !this.section.categories.length) {
        this.section.categories = [];
      }
      this.categories.forEach( c => {
        let existingCategory = this.section.categories.find(ce => ce.category == c.category);
        if (!existingCategory) {
          this.section.categories.push({category: c.category, value: null});
        }
      });

      if (!this.section.data) {
        this.section.data = [];
      }
      if ((this.wizard.lastNavigation === 'previous') && !this.state.category && !this.state.preventLastCategory) {
        this.selectLastCategory();
      }
      this.computeCounter++;
    },
    methods: {
      ...mapActions(['wizardActivate']),
      onAddClick() {
        this.addItem();
        this.computeCounter++;
        this.state.action=this.editStep;
      },

      preNext() {
        if (!this.state.category) {
          this.nextCategory();
          this.computeCounter++;
          return this.reviewStep;
        }
        else if (this.state.action) {
          let nextAction = '';
          if (this.$refs['editComponent'].preNext) {
            nextAction = this.$refs['editComponent'].preNext();
          }
          if (nextAction && nextAction !== 'prevent') {
            this.state.action = nextAction;
          }
          else if (nextAction !== 'prevent') {
            delete this.state.action;
            this.removeEmpties();
          }
          else {
            return 'prevent';
          }
          this.computeCounter++;
          return this.reviewStep;
        }
        else if (!this.sectionData.length && this.category && this.category.value===true) {
          this.addItem();
          this.state.action = this.editStep;
          this.computeCounter++;
          return this.reviewStep;
        }
        else if (this.followingCategory()) {
          this.nextCategory();
          this.computeCounter++;
          return this.reviewStep;
        } else {
          return '';
        }
      },

      prePrevious() {
        this.preventLastCategory = false;
        if (!this.state.category) {
          return '';
        }
        else if (this.state.action) {
          let previousAction = '';
          if (this.$refs['editComponent'].prePrevious) {
            previousAction = this.$refs['editComponent'].prePrevious();
          }
          if (previousAction && previousAction !== 'prevent') {
            this.state.action = previousAction;
          }
          else if (previousAction !== 'prevent') {
            delete this.state.action;
            this.removeEmpties();
          }
          else {
            return 'prevent';
          }
          this.computeCounter++;
          return this.reviewStep;
        }
        else if (this.priorCategory()) {
          this.previousCategory();
          this.computeCounter++;
          return this.reviewStep;
        } else {
          delete this.state.category;
          delete this.state.action;
          this.state.preventLastCategory = true;
          this.computeCounter++;
          return this.reviewStep;
        }
      },

      editSource(index) {
        this.selectItem(this.itemIndexFromCategoryIndex(index));
        this.state.action = this.editStep;
        this.computeCounter++;
      },

      deleteSourceConfirmationDialog(index) {
        this.deleteConfirmationDialog = true;
        this.selectItem(this.itemIndexFromCategoryIndex(index));
        this.computeCounter++;
      },

      deleteSource() {
        this.removeItem(this.state.selectedIndex);
        delete this.state.selectedIndex;
        this.computeCounter++;
        this.deleteConfirmationDialog = false;
      },

      priorCategory() {
        let categories = this.section.categories;
        let idx = categories.findIndex(n => n.category === this.state.category);
        return idx > 0;
      },

      followingCategory() {
        let categories = this.section.categories;
        let idx = categories.findIndex(n => n.category === this.state.category);
        if (this.state.action) {
          delete this.state.action;
        }
        return idx <= categories.length - 2;
      },

      selectLastCategory() {
        let idx = this.section.categories.length - 1;
        this.selectCategory(this.categories[idx].category);

      },

      /**
       * Determine the index from a filtered list of categories.
       *
       * This converts an index from a filtered list of categories to the general index over all
       * data.  So that buttons that are edit buttons can set the correct edited index
       * when filtering based on a category.
       */
      itemIndexFromCategoryIndex(categoryIndex) {
        let foundIdx = 0;
        // loop through the indexes filtered by category to find the offset index
        for (let i=0; i < this.section.data.length; i++) {
          if (this.section.data[i].category === this.state.category) {
            foundIdx++;
            // Once the number of times found matches the 0 based index then we found the right one.
            if (foundIdx  === categoryIndex + 1) {
              return i;
            }
          }
        }
        return null;
      },

      selectCategory(category) {
        let newCategory = this.categories.find(c => c.category === category);
        if (newCategory) {
          this.wizard.category = newCategory;
          this.state.category = newCategory.category;
        }
        else {
          delete this.state.category;
        }
      },

      nextCategory() {
        // Get a list of all the values that have been set to true
        let categories = this.section.categories;
        if (this.state.category) {
          // If we have a category selected we need to pick the next one or deselect the category
          // if we are at the end of the list.
          let idx = categories.findIndex(n => n.category === this.state.category);
          idx++;
          if (idx <= categories.length - 1) {
            this.selectCategory(categories[idx].category);
          }
          else {
            delete this.state.category;
          }
        }
        else {
          this.selectCategory(categories[0].category);
        }
        if (this.state.action) {
          delete this.state.action;
        }
        delete this.state.selectedIndex;
      },

      previousCategory() {
        // Get a list of all the values that have been set to true
        let categories = this.section.categories;
        if (this.state.category) {
          // If we have a category selected we need to pick the one prior or set
          // the selected category to null if we're on the first one in the list.
          let idx = categories.findIndex(n => n.category === this.state.category);
          idx--;
          if (idx >= 0) {
            this.selectCategory(categories[idx].category);
          }
          else {
            delete this.state.category;
          }
        }
        else {
          delete this.state.category;
        }
        if (this.state.action) {
          delete this.state.action;
        }
        delete this.state.selectedIndex;
      },

      removeEmpties() {
        let hasDataTest = null;
        if (this.hasData) {
          hasDataTest = this.hasData;
        }
        else {
          hasDataTest = function (item) { return !!item.name };
        }
        this.section.data = this.section.data.filter(hasDataTest);
        delete this.state.selectedIndex;
      },

      addItem() {
        this.section.data.push(
          {
            category: this.state.category,
            value: null,
          });
        this.state.selectedIndex = this.section.data.length - 1;
      },

      removeItem(index) {
        if (index >= 0 && index < this.section.data.length) {
          this.section.data.splice(index,1);
        }
      },

      selectItem(index) {
        if (this.section.data.length === 0) {
          this.addItem();
        }
        if (index === null) {
          index = 0;
        }

        if (index > this.section.data.length -1 ) {
          index = 0;
        }
        this.state.selectedIndex = index;
        this.selectCategory(this.section.data[index].category);
      }

    }
  }
</script>

<style scoped>

</style>
