<template>
    <div class="categoricalExemption">
      <div class="mb-5">
        <h2>Washington Real Estate</h2>
        <p>Report all real property (land, structures and mineral rights) with an assessed value of over $12,000 that is
          located in Washington State and in which <QualifiedFamilyMember/> held a financial interest during the reporting
          period between {{statement.period_start | dateFormat}} and {{statement.period_end| dateFormat}}.</p>
      </div>
      <div>
        <h3>Residential address exemption</h3>
        <p>A small number of Financial Affairs Disclosure filers are exempt from reporting the specific location of real estate that is their personal residence. There are two kinds of filers for whom such an exemption applies.</p>
        <p>The first are people who hold certain offices. State law exempts judges, prosecutors and sheriffs from disclosing information that might reveal their personal residential address.</p>
        <p>The second are people who have received what's called a <a href="https://www.pdc.wa.gov/learn/publications/personal-financial-affairs-disclosure-instructions/basic-information/reporting">reporting modification</a> after a finding by the Public Disclosure Commission that real estate disclosure presents a "manifestly unreasonable hardship."</p>
        <p> Was <QualifiedFamilyMember></QualifiedFamilyMember> a judge, prosecutor, sheriff or a certified participant in the state's Address Confidentiality Program from {{statement.period_start | dateFormatShort }} through {{ statement.period_end | dateFormatShort}}?</p>
        <v-radio-group :rules="validation.required" v-model="statement.judge_or_law_enforcement" v-on:change="setReportingModification">
            <v-radio label="Yes" :value="true"></v-radio>
            <v-radio label="No" :value="false"></v-radio>
        </v-radio-group>
        <div v-show="statement.judge_or_law_enforcement===false">
          <p>Has the filer been granted a residential address reporting modification by the Public Disclosure Commission or submitted an application for one?</p>
          <v-radio-group v-model="statement.reporting_modifications.residential_address">
              <v-radio label="Yes" :value="true"></v-radio>
              <v-radio label="No" :value="false"></v-radio>
          </v-radio-group>
        </div>
      </div>
    </div>
</template>

<script>
  import {mapState} from 'vuex'
  import QualifiedFamilyMember from "../components/QualifiedFamilyMember";
  export default {
    name: "CategoricalExemption",
    components: {QualifiedFamilyMember},
    computed: {
      ...mapState(['statement', 'validation']),
    },
    data() {
      return {

      }
    },
    methods: {
      setReportingModification() {
        this.statement.reporting_modifications.residential_address = this.statement.judge_or_law_enforcement;
      }
    },
    created() {
      if(!this.statement.reporting_modifications) {
        this.statement.reporting_modifications = {};
      }
    }
  }
</script>

<style scoped>

</style>