<!--suppress BadExpressionStatementJS -->
<template>

  <div class="CertifyAndSubmit">
    <p>
      When you are ready to submit to the PDC click the <strong>Certify</strong> button.
    </p>
    <v-btn color="primary" @click="tryCertify">Certify...</v-btn>
    <v-dialog v-model="showCertifyDialog">
      <v-form ref="certifyForm" @submit.prevent="doSubmit()">
        <v-card>
          <v-card-title>
            Certify
          </v-card-title>
          <v-card-text>
            <p class="title">Certification instructions</p>
            <p>You must read and agree to the following statements to complete your electronic certification.</p>
            <p class="certification">
              I certify under penalty of perjury that the information contained in this report is true and correct to
              the best of my knowledge*. I acknowledge that the email address provided shall constitute the official
              address for purposes of all communication with the PDC and that I must notify the commission of any change
              to that address within 10 days.
            </p>
            <p  class="certification">
              I have read and am familiar with the applicable state laws regarding use of public resources in campaigns
              (<a target="_blank" href="https://apps.leg.wa.gov/RCW/default.aspx?cite=42.52.180">RCW 42.52.180</a>
              executive state officers, and professional staff, and
              <a target="_blank" href="https://apps.leg.wa.gov/RCW/default.aspx?cite=42.17A.555">
                RCW 42.17A.555</a> for local elected officials).
            </p>
            <p>To complete your submission, type <strong>I certify</strong> in the electronic certification field below.</p>

            <v-text-field
                v-model="certificationSignature"
                @input="onChange()"
                :rules="validations.certify"
                label="Electronic certification"
            >
            </v-text-field>
            <v-text-field
              v-model="submission.certification_name"
              :rules="validation.required"
              label="Name"
            >
            </v-text-field>
            <p>
              Please provide an email address and an optional phone number to be used to contact you regarding your
              submission.
            </p>

            <EmailAddress
                @input="onChange()"
                v-model="submission.certification_email"
            />
            <v-text-field
                label="Phone number"
                v-model="submission.certification_phone"
                :counter="20"
                :maxlength="20"
            >
            </v-text-field>
          </v-card-text>
          <v-card-actions>
            <v-btn v-if="user.locked" color="error">Locked</v-btn>
            <v-btn v-else type="submit" color="primary" :disabled="!validForm">Submit</v-btn>
            <v-btn @click="showCertifyDialog = false">Not Now</v-btn>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-dialog>
    <v-dialog v-model="certifySubmitted" :persistent="true">
      <v-card>
        <v-card-title>Submission processing</v-card-title>
        <v-card-text>
          <div class="md-layout md-gutter">
            <div class="md-layout-item md-size-15"></div>
            <div class="md-layout-item md-size-15 align-right">
              <v-icon v-if="success" color="primary">done</v-icon>
              <v-icon v-else class="md-size-3x md-secondary">error</v-icon>
            </div>
            <div class="md-layout-item md-size-55 submitted-message">
              <div v-if="success"><p><strong>Financial affairs statement received.</strong></p><p>We will send an email
                when your submission is verified. In some cases, this is instantaneous. Otherwise, staff will review the
                submission within 2 business days.</p>
              </div>
            </div>
            <div class="md-layout-item md-size-15"></div>
          </div>
        </v-card-text>
        <v-card-actions>
          <v-btn color="primary" @click="closeResults()">Okay</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>

</template>

<script>
  import {mapState, mapActions} from 'vuex';
  import EmailAddress from "../components/EmailAddress";
  import {app} from "../main";

  export default {
    components: {EmailAddress},
    data: function () {
      return {
        certificationSignature: "",
        certifySubmitted: false,
        success: true,
        showCertifyDialog: false,
        computeCounter: 0,
        validations: {
          certify: [
            v =>  (v && v.toLowerCase().trim() === 'i certify') || 'Invalid'
          ]
        }
      }
    },
    name: "CertifyAndSubmit",
    computed: {
      ...mapState(['submission', 'statement', 'validation', 'person', 'user']),
      validForm() {
        this.computeCounter;
        if(this.$refs.certifyForm && this.user.locked === false){
          return this.$refs.certifyForm.validate();
        }else {
          return false;
        }
      }
    },
    methods: {
      ...mapActions(['wizardActivate', 'submitSubmission']),
      onChange(){
        this.computeCounter++;
      },
      tryCertify(){
        this.showCertifyDialog = true;
      },
      doSubmit(){
        if(this.$refs.certifyForm.validate()){
          this.submission.certification = this.certificationSignature.trim();
          this.submitSubmission((result) =>{
            this.certifySubmitted = true;
            if(result.data.success){
              this.success = true;
              let person_auth = this.user.persons.find(e => e.submission_id === this.submission.submission_id);
              if (person_auth) {
                person_auth.submission_id = null;
              }
            }
          });
        }
      },
      closeResults(){
        this.$router.push('/submission-history');
        app.$container.wire.$emit('StatementWizard.close');
      }
    }
  }
</script>

<style scoped>
  .certification {
    margin-left: 2em;
  }

</style>