<template>
  <div>
    <p>Please review the contact information and update if appropriate.</p>
    <v-card max-width="30em">
      <v-card-title>{{person.name}}</v-card-title>
      <v-card-text>
        <address>
          {{ person.address }}
          <br />{{ person.city | suffix(",")}} {{ person.state }} {{ person.postcode }}
        </address>
        <p>{{person.phone}}</p>
        {{person.email}}
      </v-card-text>
      <v-card-actions>
        <v-btn @click="changeAddress()">Change</v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
  import {mapState, mapActions} from 'vuex';
  export default {
    name: "ConfirmAddress",
    computed: {
      ...mapState(['person'])
    },
    methods: {
      ...mapActions(['wizardActivate', 'wizardNext']),
      changeAddress() {
        this.wizardActivate({step: "EditPerson"});
      }
    }
  }
</script>

<style scoped>

</style>