<template>
  <div>
    <v-content>
      <p>Confirm Person</p>
      <p>{{user.selected_person.name}}</p>
      <v-container fluid>
        <v-radio-group v-model="radio" :mandatory="true" :rules="validation.required">
          <v-radio label="This is correct" value="name-correct"></v-radio>
          <v-radio label="Update my name" value="name-change"></v-radio>
          <v-radio label="File for someone else" value="person-other"></v-radio>
        </v-radio-group>
        <v-text-field
            v-if="radio === 'name-change'"
            v-model="person.name"
            label="Name"
            :rules="localValidation.nameChange"
        >
        </v-text-field>
      </v-container>
    </v-content>
  </div>
</template>

<script>
  import { mapActions, mapState } from 'vuex';
  export default {
    name: "ConfirmPersonId",
    data () {
      return {
        radio: '',
        localValidation: {
          nameChange: [
            v => !!v && this.radio === 'name-change' || 'Required'
          ],
        }
      }
    },
    methods: {
      ...mapActions(["resetLocalSubmissionState"])
    },
    computed: {
      ...mapState(['statement', 'person', 'user', 'validation'])
    },
    watch: {
      radio: function(oldValue, newValue) {
        switch(newValue) {
          case "name-correct":
          case "name-change":
            if (oldValue === "person-other") {
              this.resetLocalSubmissionState();
              this.loadPersonMetadata();
            } else if (oldValue === "name-change") {
              this.person.name = this.user.selected_person.name;
            } else {
              this.person.name = "";
            }
            break;
          case "person-other":
            this.resetLocalSubmissionState();
            this.person.name = "";
            this.person.person_id = 0;
            this.person.email = "";
            break;
          default:
        }
      }
    }
  }
</script>

<style scoped>

</style>