<template>
  <div>
    <h2>Debt</h2>
    <v-text-field label="Creditor name" :rules="validation.required" v-model="item.name"></v-text-field>
    <Who label="Debt belongs to" v-model="item.who"></Who>
    <ValueRange :label="'Original amount owed'" :display-period="false" v-model="item.original_amount" :required="true"></ValueRange>
    <v-text-field :rules="validation.required" label="Terms of payment" v-model="item.payment_terms"></v-text-field>
    <v-text-field :rules="validation.tooLong" v-model="item.security_given" label="Type of debt" :messages="['e.g. auto loan, student loan, second mortgage, etc.']"/>
    <ValueRange :label="'Ending amount owed'" :display-period="false" v-model="item.ending_amount" :required="true"></ValueRange>
    <v-card flat>
      <v-card-text>
        <Address v-model="item" :required="true"></Address>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>

  import ValueRange from "../components/ValueRange";
  import Address from "../components/Address";
  import Who from "../components/Who";
  import { mapState } from "vuex";
  export default {
    name: "Creditor",
    components: {Address, ValueRange, Who},
    computed: {
      ...mapState(['statement', 'validation']),
      item() {
        return this.statement.creditors[this.statement.draft_state.state.selectedIndex];
      }
    },
  }
</script>

<style scoped>

</style>