<template>
  <EditableList ref="editableList"
                :items="statement.creditors"
                title="Creditors"
                v-model="statement.has_creditors"
                editStep="Creditor"
                info="CreditorInfo"
                :emptyFilter="emptyCreditor">

    <template v-slot:question>
      <p>Do you have any creditors that are owed $2,400 or more by <QualifiedFamilyMember></QualifiedFamilyMember>.</p>
    </template>
    <template v-slot:list-header>
      <p>Please indicate all creditors that are owed $2,400 or more by <QualifiedFamilyMember></QualifiedFamilyMember>.</p>
    </template>
    <template v-slot:help>
      What debt is reportable?
    </template>
    <template v-slot:item="{item}">
      <v-list-item-content>
        <div v-if="item.name"><strong>Creditor name: {{item.name}}</strong>
        </div>
        <div><strong>Owed by: <AssetOwner :who="item.who" /></strong>
        </div>
        <address>
          <div v-if="item.address">{{item.address}}</div>
          <div v-if="item.city">{{item.city | suffix(',')}} {{item.state}} {{item.postcode}}</div>
        </address>

        <div v-if="item.original_amount"><strong>Original amount:</strong>
          {{item.original_amount | monetaryRange}}
        </div>
        <div v-if="item.ending_amount"><strong>Ending amount:</strong>
          {{item.ending_amount | monetaryRange}}
        </div>
        <div v-if="item.payment_terms"><strong>Payment terms:</strong>
          {{item.payment_terms}}
        </div>
        <div v-if="item.security_given"><strong>Security given:</strong>
          {{item.security_given}}
        </div>
      </v-list-item-content>
    </template>
  </EditableList>
</template>

<script>
  import EditableList from "./EditableList";
  import { mapState } from "vuex";
  import QualifiedFamilyMember from "../components/QualifiedFamilyMember";
  import AssetOwner from "../components/AssetOwner";

  export default {
    name: "CreditorReview",
    components: {EditableList, QualifiedFamilyMember, AssetOwner},
    data() {
      return {

      }
    },
    computed: {
      ...mapState(['statement', 'person', 'validation'])
    },
    created() {
      if (!this.statement.creditors) {
        this.statement.creditors = [];
      }
    },
    methods: {
      preNext() {
        return this.$refs['editableList'].preNext();
      },
      prePrevious() {
        return this.$refs['editableList'].prePrevious();
      },
      emptyCreditor(c) {
        return !c.name && !c.payment_terms && !c.original_amount;
      }
    }
  }
</script>

<style scoped>
  .margin {
    margin-top: 0.3em;
  }
</style>