<template>
  <div class="EditableTable">
    <div v-if="items.length === 0">
      <Info v-if="info" :info="info"/>
      <div class="question">
        <slot name="question">
          <p>Replace with template that has a v-slot:question template. </p>
        </slot>
      </div>
      <v-radio-group v-model="answer" :rules="validation.required" @change="onChangeAnswer" row>
        <v-radio label="Yes" :value="true"></v-radio>
        <v-radio label="No" :value="false"></v-radio>
      </v-radio-group>
    </div>
    <div v-else-if="action!=='edit'">
      <slot name="list-header">
      </slot>
      <v-simple-table>
        <thead>
          <tr>
            <slot name="table-headings">
              <th>Purpose</th>
            </slot>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, index) in items" :key="index">
            <slot name="item" :item="item">
            <td>{{item}}</td>
            </slot>
            <td>
              <v-btn icon text small @click="editSource(index)"><v-icon>edit</v-icon></v-btn>
              <v-btn icon text small @click="deleteSourceConfirmationDialog(index)"><v-icon>delete</v-icon></v-btn>
            </td>
          </tr>
        </tbody>
      </v-simple-table>
      <p>
        <v-btn rounded color="primary" @click="onAddClick()"><v-icon>add</v-icon>Add {{title}}</v-btn>
        <slot name="help"></slot><InfoDialog v-if="info" :info="selectedCategory.info"></InfoDialog>
      </p>
    </div>
    <div v-else>
      <slot name="edit-item" :item="item">
        <p>Replace with template that has a v-slot:editItem template.</p>
      </slot>
    </div>

    <v-dialog v-model="deleteConfirmationDialog" max-width="300">
      <v-card>
        <v-card-title>Confirm {{title}} Removal</v-card-title>
        <v-simple-table>
          <thead>
          <tr>
            <slot name="table-headings">
              <th>Purpose</th>
            </slot>
          </tr>
          </thead>
          <tbody>
          <tr >
            <slot name="item" :item="item">
              <td>{{item}}</td>
            </slot>
          </tr>
          </tbody>
        </v-simple-table>
        <v-card-text>
          Are you sure you want to remove this {{title}}?
        </v-card-text>
        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn @click="deleteConfirmationDialog=false">Cancel</v-btn>
          <v-btn @click="deleteSource()">Delete</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
  import {mapState, mapActions} from 'vuex'
  import InfoDialog from "../info/InfoDialog";
  import Info from "../info/Info";
  export default {
    name: "EditableTable",
    components: {Info, InfoDialog},
    props: {
      info : String,
      items: Array,
      title: String,
      value: Boolean,
      hasData: Function,
      indexProperty: {
        type: String,
        default: 'selectedIndex'
      },
      actionProperty: {
        type: String,
        default: 'action',
      },
      newItem: {
        type: Object,
        default: function () { return {} },
      },

    },
    data() {
      return {
        answer: false,
        action: "",
        computeCounter: 0,
        deleteConfirmationDialog: false,
        defaultItem: {},
        curIndex: null,

      };
    },
    computed: {
      ...mapState(['statement', 'person', 'validation']),
      sectionData() {
        this.computeCounter;
        return this.items;
      },
      itemComponent() {
        let component = "IncomeItem";
        if (this.listComponent) {
          component = this.selectedCategory.listComponent;
        }
        return () => import(`./${component}`);
      },
      item: function () {
        this.computeCounter;
        if (this.state.hasOwnProperty(this.indexProperty) && (this.state[this.indexProperty] <= this.items.length)) {
          return this.items[this.state[this.indexProperty]];
        } else {
          return {};
        }
      },
      state() {
        return this.statement.draft_state.state;
      }

    },
    created() {
      this.removeEmpty();
      this.answer = this.value;
      Object.assign(this.defaultItem, this.newItem);
      if (this.actionProperty && this.statement.draft_state.state.hasOwnProperty(this.actionProperty)) {
        this.action = this.statement.draft_state.state[this.actionProperty];
      }
    },
    methods: {
      ...mapActions(['wizardActivate']),
      onAddClick() {
        this.addItem();
        this.action = 'edit';
        this.computeCounter++;
      },
      onChangeAnswer() {
        this.$emit('input', this.answer);
      },
      addItem() {
        let item = JSON.parse(JSON.stringify(this.newItem));
        this.items.push(item);
        this.selectItem(this.items.length -1);
        this.computeCounter++;
      },
      preNext() {
        if (this.action) {
          this.removeEmpty();
          this.action="";
          this.computeCounter++;
          return 'prevent';
        }
        else if (!this.items.length && this.answer) {
          this.addItem();
          this.computeCounter++;
          this.action='edit';
          return 'prevent';
        } else {
          return '';
        }
      },
      prePrevious() {
        if (this.action) {
          this.action="";
          this.computeCounter++;
          this.removeEmpty();
          return 'prevent';
        }
        else {
          return '';
        }
      },
      removeEmpty() {
        // need to be careful not to alter the array reference so just figure out whether the current item needs removing
        let removeItem = false;

        if (this.state.hasOwnProperty(this.indexProperty) && this.items.length) {
          if (this.hasData) {
            removeItem = !this.hasData(this.item)
          }
          else {
            removeItem = !!this.item.name;
          }
          if (removeItem) {
            this.removeItem();
          }
        }

        if (this.state[this.indexProperty]) {
          delete this.state[this.indexProperty];
        }

      },
      selectItem(index) {
        if (this.items.length === 0) {
          this.addItem();
        }
        if (index === null) {
          index = 0;
        }

        if (index > this.items.length -1 ) {
          index = 0;
        }
        this.state[this.indexProperty] = index;
      },
      editSource(index) {
        this.selectItem(index);
        this.action = 'edit';
        this.computeCounter++;
      },
      deleteSourceConfirmationDialog(index) {
        this.selectItem(index);
        this.curIndex = index;
        this.computeCounter++;
        this.deleteConfirmationDialog = true;
      },
      deleteSource() {
        this.removeItem(this.curIndex);
        this.curIndex = null;
        this.deleteConfirmationDialog = false;
      },
      removeItem() {
        let index = this.state[this.indexProperty];
        if (index >= 0 && index < this.items.length) {
          this.items.splice(index,1);
        }
        delete this.state[this.indexProperty];
        this.computeCounter++;
      },
    }
  }
</script>

<style scoped>
  .question {
    max-width: 55em;
  }
</style>