<template>
  <div class="EditableList">
    <div v-if="items.length === 0">
      <Info v-if="info" :info="info"/>
      <slot name="question">
        <p>Replace with template that has a v-slot:question template. </p>
      </slot>
      <v-radio-group :rules="validation.required" v-model="answer" @change="onChangeAnswer" row :disabled="disableAddDelete">
        <v-radio label="Yes" :value="true"></v-radio>
        <v-radio label="No" :value="false"></v-radio>
      </v-radio-group>
      <slot name="alert">
      </slot>
    </div>
    <div v-else-if="action">
      <slot name="edit-item">
        <component v-if="action" ref="editComponent" :is="editComponent"/>
      </slot>
    </div>
    <div v-else>
      <slot name="list-header"/>
      <v-list>
        <v-list-item v-for="(item, index) in items" :key="index">
          <slot name="item" :item="item">
            <v-list-item-content v-if="item" >
              <v-list-item-title>{{item.name}}<br/></v-list-item-title>
              <v-list-item-subtitle>
                <address v-if="item.address">
                  {{item.address}}<br/>
                  {{item.city}} {{item.state}} {{item.zip}}
                </address>
              </v-list-item-subtitle>
            </v-list-item-content>
          </slot>
          <v-list-item-action>
            <v-btn icon @click="editSource(index)"><v-icon>edit</v-icon></v-btn>
            <v-btn v-if="!disableAddDelete" icon @click="deleteSourceConfirmationDialog(index)"><v-icon>delete</v-icon></v-btn>
          </v-list-item-action>
        </v-list-item>
      </v-list>
      <p>
        <v-btn v-if="!disableAddDelete" rounded color="primary" @click="onAddClick()"><v-icon>add</v-icon>Add {{title}}</v-btn>
        <slot name="help"></slot><InfoDialog v-if="info" :info="info"></InfoDialog>
      </p>
    </div>

    <v-dialog v-model="deleteConfirmationDialog" :max-width="max_delete_width">
      <v-card>
        <v-card-title>Confirm {{title}} Removal</v-card-title>
        <v-list-item>
        <slot name="item" :item="item">
            <v-list-item-content v-if="item" >
              <v-list-item-title>{{item.name}}<br/></v-list-item-title>
              <v-list-item-subtitle>
                <address v-if="item.address">
                  {{item.address}}<br/>
                  {{item.city}} {{item.state}} {{item.zip}}
                </address>
              </v-list-item-subtitle>
            </v-list-item-content>
        </slot>
        </v-list-item>
        <v-card-text>
          <slot name="delete-prompt" :title="title">
          </slot>
        </v-card-text>
        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn @click="deleteConfirmationDialog=false">Cancel</v-btn>
          <v-btn @click="deleteSource()">Delete</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
  import {mapState, mapActions} from 'vuex'
  import InfoDialog from "../info/InfoDialog";
  import Info from "../info/Info";
  export default {
    name: "EditableList",
    components: {Info, InfoDialog},
    props: {
      info : String,
      items: Array,
      title: String,
      value: Boolean,
      max_delete_width: {
        type: Number,
        default: 300,
      },
      disableAddDelete: {
        type: Boolean,
        default: false
      },
      emptyFilter: Function,
      indexProperty: {
        type: String,
        default: 'selectedIndex'
      },
      actionProperty: {
        type: String,
        default: 'action',
      },
      editStep: {
        type: String,
        default: 'Income',
      },
      newItem: {
        type: Object,
        default: function () { return {} },
      }
    },
    data() {
      return {
        action: "",
        answer: null,
        computeCounter: 0,
        deleteConfirmationDialog: false,
        defaultItem: {},
        curIndex: null,

      };
    },
    computed: {
      ...mapState(['statement', 'person', 'validation']),
      sectionData() {
        this.computeCounter;
        return this.items;
      },
      editComponent() {
        this.computeCounter;
        return () => import(`./${this.action}`);
      },
      item: function () {
        this.computeCounter;
        if (this.state.hasOwnProperty(this.indexProperty) && (this.state[this.indexProperty] <= this.sectionData.length)) {
          return this.sectionData[this.state[this.indexProperty]];
        } else {
          return {};
        }
      },
      state() {
        return this.statement.draft_state.state;
      }

    },
    created() {
      this.removeEmpty();
      this.answer = this.value;
      Object.assign(this.defaultItem, this.newItem);
      if (this.actionProperty && this.statement.draft_state.state[this.actionProperty]) {
        this.action = this.statement.draft_state.state[this.actionProperty];
      }
    },
    methods: {
      ...mapActions(['wizardActivate']),
      onAddClick() {
        this.addItem();
        this.action = this.editStep ? this.editStep : 'add';
        this.computeCounter++;
      },
      onChangeAnswer() {
        this.$emit('input', this.answer);
      },
      addItem() {
        let item = JSON.parse(JSON.stringify(this.newItem));
        this.items.push(item);
        this.selectItem(this.items.length -1);
        this.computeCounter++;
      },
      preNext() {
        if (this.action) {
          let nextStep = '';
          // If we have an edit step component, lets use its preNext functionality
          if (this.$refs['editComponent']) {
            let editComponent = this.$refs['editComponent'];
            if (editComponent.preNext) {
              nextStep = editComponent.preNext()
            }
          }
          if (nextStep !== 'prevent') {
            this.action=nextStep;
            if (!nextStep) {
              this.removeEmpty();
            }
            this.computeCounter++;
          }
          return 'prevent';
        }
        else if (!this.items.length && this.answer) {
          this.addItem();
          this.action = this.editStep ? this.editStep : 'add'
          this.computeCounter++;
          return 'prevent';
        } else {
          return '';
        }
      },
      prePrevious() {
        if (this.action) {
          let previousStep = '';
          // If we have an edit step component, lets use its preNext functionality
          if (this.$refs['editComponent']) {
            let editComponent = this.$refs['editComponent'];
            if (editComponent.prePrevious) {
              previousStep = editComponent.prePrevious()
            }
          }
          if (previousStep !== 'prevent') {
            this.action=previousStep;
            if (!previousStep) {
              this.removeEmpty();
            }
            this.computeCounter++;
          }
          return 'prevent'
        }
        else {
          return ''
        }
      },
      removeEmpty() {
        // need to be careful not to alter the array reference so just figure out whether the current item needs removing
        let removeItem = false;

        if (this.state.hasOwnProperty(this.indexProperty) && this.items.length) {
          if (this.emptyFilter) {
            removeItem = this.emptyFilter(this.item)
          }
          else {
            removeItem = !this.item.name;
          }
          if (removeItem) {
            this.removeItem();
            if (this.state[this.indexProperty]) {
              delete this.state[this.indexProperty];
            }
          }
        }


      },
      selectItem(index) {
        if (this.items.length === 0) {
          this.addItem();
        }
        if (index === null) {
          index = 0;
        }

        if (index > this.items.length -1 ) {
          index = 0;
        }
        this.state[this.indexProperty] = index;
        this.$emit('list-item-changed')
      },
      editSource(index) {
        this.selectItem(index);
        this.action = this.editStep ? this.editStep : 'edit';
        this.computeCounter++;
      },
      deleteSourceConfirmationDialog(index) {
        this.deleteConfirmationDialog = true;
        this.selectItem(index);
        this.curIndex = index;
        this.computeCounter++;
      },
      deleteSource() {
        this.removeItem(this.curIndex);
        this.curIndex = null;
        this.deleteConfirmationDialog = false;
      },
      removeItem() {
        let index = this.state[this.indexProperty];
        if (index >= 0 && index < this.items.length) {
          this.items.splice(index,1);
        }
        delete this.state[this.indexProperty];
        this.computeCounter++;
      },
    }
  }
</script>

<style scoped>

</style>