<template>
  <div>
    <h2>Gifts and travel</h2>
    <EditableTable
      ref="editableTable"
      v-model="statement.has_gifts"
      :items="gifts"
      index-property="selectedIndex"
      :has-data="hasData"
      title="Gifts"
    >
      <template v-slot:question>
        <p>
          This section applies to gifts of food or beverages costing more than $50 that were received by {{person.name}} or a qualified family
          member during the filing period. It also covers payments made by any source other than their government agency for
          travel, accommodations or seminars. Were there gifts of food or beverages costing more than $50 or travel/seminar payments
          made between {{statement.period_start|dateFormat}} and {{statement.period_end|dateFormat}}?
        </p>
      </template>
      <template v-slot:list-header>
        <p>List the required details of any gifts, travel payments or seminar payments between {{statement.period_start|dateFormat}} and {{statement.period_end|dateFormat}}.</p>
      </template>
      <template v-slot:table-headings>
        <th>Date</th>
        <th>Gift Receiver</th>
        <th>Donor name</th>
        <th>City</th>
        <th>State</th>
        <th>Description</th>
        <th>Value</th>
      </template>
      <template v-slot:item="{item}">
        <td>{{item.date_received}}</td>
        <td>{{item.who | whoDisplay(validation) }}</td>
        <td>{{item.donor_name}}</td>
        <td>{{item.city}}</td>
        <td>{{item.state}}</td>
        <td>{{item.description}}</td>
        <td>{{item.value}}</td>
      </template>
      <template v-slot:edit-item="{item}">
        <DatePicker v-model="item.date_received" label="Date Received" :required="true"></DatePicker>
        <Who label="Gift Receiver" v-model="item.who"></Who>
        <v-text-field v-model="item.donor_name" :rules="validation.required" label="Donor Name"></v-text-field>
        <v-text-field v-model="item.city" :rules="validation.required" label="City"></v-text-field>
        <v-text-field style="max-width: 3em;" v-model="item.state" :rules="validation.required" label="State"></v-text-field>
        <v-text-field v-model="item.description" :rules="validation.required" label="Description"></v-text-field>
        <v-text-field style="max-width: 6em" v-model="item.value" :rules="validation.required" type="number" label="Dollar Value"></v-text-field>
      </template>
    </EditableTable>
  </div>
</template>

<script>
  import {mapState} from 'vuex';
  import EditableTable from "./EditableTable";
  import DatePicker from "../components/DatePicker";
  import Who from "../components/Who";
  export default {
    name: "Gifts",
    components: {Who, EditableTable, DatePicker},
    props: {
    },
    computed: {
      ...mapState(['statement', 'person', 'validation']),
      gifts() {
        return this.statement.gifts;
      }
    },
    created() {
      if (!this.statement.gifts) {
        this.statement.gifts = [];
      }
    },
    methods: {
      preNext() {
        return this.$refs['editableTable'].preNext();
      },
      prePrevious() {
        return this.$refs['editableTable'].prePrevious();
      },
      hasData(p) {
        return !!p.donor_name;
      }
    }
  }
</script>

<style scoped>

</style>