<template>
  <div class="ReviewErrors">
    <div v-if="Object.keys(submissionErrors).length > 0">
      <h2><v-icon color="accent">warning</v-icon>Identification incomplete</h2>
      Please fill in all required information so that the Financial Affairs Disclosure statement periods can be correctly determined
      <v-list-item v-for="(error, index) in submissionErrors" :key="index">
        <v-avatar>
          <InfoDialog :info="fetchVueInfo(index)" />
        </v-avatar>
        <v-list-item-content>
          {{error | lowerCase}}
        </v-list-item-content>
        <v-list-item-action>
          <v-btn rounded  @click="fixIt(index)">
            Fix It
          </v-btn>
        </v-list-item-action>
      </v-list-item>
    </div>
    <div v-else>
      <h2><v-icon large color="primary">done</v-icon>Identification Complete</h2>
      <p>
      Using the information provided we can now determine Financial Affairs Disclosure statement periods.
      </p>
    </div>
  </div>
</template>

<script>
  import {mapState, mapActions} from 'vuex';
  import InfoDialog from "../info/InfoDialog";

  export default {
    name: "SubmissionErrorCheck",
    components: {InfoDialog},
    computed: {
      ...mapState(['submission', 'statement']),
      submissionErrors() {
        if (this.submission.validation) {
          return this.submission.validation;
        }
        else {
          return [];
        }
      },
      state() {
        return this.statement.draft_state.state;
      }
    },
    methods: {
      ...mapActions(['wizardActivate', 'wizardValidate']),
      handleError(error, review, edit) {
        let parts = error.split('.');
        if (isNaN(parts[1])) {
          this.wizardActivate({step: review});
        } else {
          this.statement.draft_state.state.action = edit;
          this.statement.draft_state.state.selectedIndex = parseInt(parts[1]);
          this.wizardActivate({step: review});
        }
      },
      fixIt(error) {
        switch (true){
          case error.includes('candidacies.'):
            this.handleError(error, 'Candidacies', 'Candidacy');
            break;
          case error.includes('offices.'):
            this.handleError(error, 'OfficesHeld', 'OfficeHolder');
            break;
          case error.includes('person.'):
            this.wizardActivate({step: 'PersonNameUpdate'});
            break;
          default:
            break;
        }
        this.wizardValidate();
      },
      fetchVueInfo(){
        switch(true){
          default:
            return "UnknownError";
        }
      }
    }
  }
</script>

<style scoped>

</style>