<template>
  <div>
    <CategoryReview ref="categoryReview"
      :categories="categories"
      :section="this.statement.income"
      reviewStep = "IncomeReview"
      overviewInfo="IncomeOverview"
      >
      <template v-slot:overview>
        <Info info="IncomeOverview"/>
      </template>
      <template v-slot:question="{selectedCategory}">
        <p>Did <QualifiedFamilyMember></QualifiedFamilyMember> {{selectedCategory.phrase}} between {{statement.period_start | dateFormat}}
          and {{statement.period_end| dateFormat}}?
        </p>
      </template>
      <template v-slot:item="{item}">
        <v-list-item-content class="mb-4" >
          <div v-if="item.name"><strong>{{item.name}}</strong></div>
          <address>
            <div v-if="item.address">{{item.address}}</div>
            <div v-if="item.city">{{item.city | suffix(',')}} {{item.state}} {{item.postcode}} </div>
          </address>
          <div> <strong>Earned by: </strong><AssetOwner :who="item.who" />
          </div>
          <div v-if="item.income"><strong>Income: </strong>{{item.income |
            monetaryRange}}
          </div>
          <div v-if="item.why"><strong>{{wizard.category.prompts.why}}: </strong>{{item.why}}</div>
          <div v-if="item.value"><strong>Value: </strong>{{item.value |
            monetaryRange}}
          </div>
        </v-list-item-content>
      </template>
    </CategoryReview>
  </div>
</template>

<script>
  import {mapState} from 'vuex';
  import CategoryReview from "./CategoryReview";
  import Info from "../info/Info";
  import QualifiedFamilyMember from "../components/QualifiedFamilyMember";
  import AssetOwner from "../components/AssetOwner";
  export default {
    name: "IncomeReview",
    components: {Info, CategoryReview, QualifiedFamilyMember, AssetOwner},
    data() {
      return {
        categories: [
          {
            category: 'employment',
            name: 'Employment income',
            phrase: "earn employment income of $2,400 or more",
            prompts: {
              name: "Employer",
              contact: "Employer address",
              why: "Occupation",
              value: "Compensation",
              occupation_hint2: "Type 'Other' if occupation is not listed and enter it below.",
              occupation_hint1: "(e.g. Beverage Dissemination Officer)"
            },
            info: 'IncomeEmploymentInfo',
          },
          {
            category: 'retirement',
            name: 'Retirement income',
            phrase: "receive non-investment retirement income of $2,400 or more",
            prompts: {
              name: "Name of the provider",
              why: "Nature of retirement income",
              contact: "Provider's address",
              value: "Compensation Received",
              retirement_hint:  "(e.g. Social Security)"
            },
            info: 'IncomeRetirementInfo',
          },
          {
            category: 'uncommon',
            name: 'Uncommon income sources',
            addLabel: 'Another uncommon income source',
            phrase: 'receive uncommon income',
            prompts: {
              name: "Name of the source of income",
              why: "Nature or how earned",
              contact: "Address",
              value: "Amount Received",
              name_hint: "e.g. unemployment income or sales from widgets"
            },
            info: 'IncomeOtherInfo'
          }
        ],
      }
    },
    computed: {
      ...mapState(['statement', 'person', 'validation', 'wizard'])
    },
    created() {
      if (!this.statement.income) {
        this.statement.income = {};
      }
    },
    methods: {
      preNext() {
        return this.$refs['categoryReview'].preNext();
      },
      prePrevious() {
        return this.$refs['categoryReview'].prePrevious();
      }
    }
  }
</script>

<style scoped>

</style>