<template>
  <div>
    <h2>Income</h2>
      <h2>{{category.prompt}}</h2> Category: {{category.category}}
      <Who label="Received by" v-model="selectedIncome.who"></Who>
      <v-text-field :label="category.prompts.name" :rules="validation.required" v-model="selectedIncome.name" persistent-hint :hint="category.prompts.name_hint"></v-text-field>
      <div v-if="category.category === 'employment'">
        <v-autocomplete item-text="occupation" item-value="occupation" :items="occupations" :label="category.prompts.why" :rules="validation.required" v-model="why_autocomplete" persistent-hint :hint="category.prompts.occupation_hint2"></v-autocomplete>
        <v-text-field v-if="why_autocomplete === 'Other'" label="Occupation name" :rules="validation.required" v-model="why_textinput" persistent-hint :hint="category.prompts.occupation_hint1"></v-text-field>
      </div>
      <div v-else>
        <v-text-field :label="category.prompts.why" :rules="validation.required" v-model="selectedIncome.why" persistent-hint :hint="category.prompts.retirement_hint"></v-text-field>
      </div>
      <ValueRange v-model="selectedIncome.income" :label="'Total Compensation'"></ValueRange>
      <v-card flat>
        <v-card-title>
          {{category.prompts.contact}}
        </v-card-title>
        <v-card-text>
          <span v-if="category.category == 'employment'">
            <Address v-model="selectedIncome" :required="true"></Address>
          </span>
          <span v-else>
            <Address v-model="selectedIncome"></Address>
          </span>
        </v-card-text>
      </v-card>
  </div>
</template>

<script>
  import { mapState } from 'vuex'
  import ValueRange from "../components/ValueRange"
  import Address from "../components/Address";
  import Who from "../components/Who";
  import {app} from "@/main";

  export default {
    name: "Income",
    data(){
      return {
        occupations: [],
        why_textinput: '',
        isNotOther: false,
        why_autocomplete: ''
      }
    },
    components: {
      Who,
      ValueRange,
      Address
    },
    computed: {
      ...mapState(['statement', 'validation', 'wizard']),
      category() {
        return this.wizard.category;
      },
      selectedIncome() {
        if (this.statement.draft_state.state.hasOwnProperty('selectedIndex')) {
          return this.statement.income.data[this.statement.draft_state.state.selectedIndex];
        }
        else {
          return {};
        }
      },
    },
    created() {
      app.$container.dataService.query('occupations', data => {
        this.occupations = data;
        if(this.selectedIncome.why) {
          this.isNotOther = this.occupations.filter(o => o['occupation'].includes(this.selectedIncome.why));
          if (this.isNotOther.length <= 0) {
            this.why_autocomplete = 'Other';
            this.why_textinput = this.selectedIncome.why;
          } else {
            this.why_textinput = '';
            this.why_autocomplete = this.selectedIncome.why;
          }
        }
      });
    },
    watch:{
      why_autocomplete() {
        if(this.why_autocomplete !== 'Other') {
          this.selectedIncome.why = this.why_autocomplete;
        }
      },
      why_textinput(){
        if(this.why_autocomplete === 'Other') {
          this.selectedIncome.why =  this.why_textinput;
        }
      }
    }
  }
</script>

