<template>
  <div>
    <h2>{{selectedBusiness.legal_name}} Type of Business</h2>
    <p> Is {{selectedBusiness.legal_name}} a bank or other commercial lending institution?</p>
    <v-radio-group :rules="validation.required" v-model="selectedBusiness.is_lending_institution">
      <v-radio label="Yes" :value="true"></v-radio>
      <v-radio label="No" :value="false"></v-radio>
    </v-radio-group>

    <div class="lending-institution" v-if="selectedBusiness.is_lending_institution">
      <h3>Reporting options for a bank or other commercial lending institution.</h3>
      <p>For banks and other commercial lending institutions, filers have two options for fulfilling reporting requirements. Please select one of the following:</p>
      <v-radio-group class="" :rules="validation.required" v-model="selectedBusiness.reporting_choice" >
        <v-radio label="Officers and Agency Balances: " value="balances"></v-radio>
        <p>Report the name, address, and occupation of every director and officer of the bank or commercial lending
          institution and the average monthly balance of each account held during the preceding twelve months by the
          bank or commercial lending institution from the governmental entity for which the individual is an official, candidate or professional staff member.</p>
        <v-radio label="Interest:" value="interest"></v-radio>
        <p>Report any interest paid by the governmental entity for which the individual is an official, candidate or professional staff member on loans from the bank or lending institution, and any interest paid to the governmental entity by the bank or lending institution, provided the interest exceeds $2,900.</p>
      </v-radio-group>
    </div>
  </div>
</template>

<script>
  import {mapState} from 'vuex'
  export default {
    name: "LendingInstitution",
    computed: {
      ...mapState(['statement', 'state', 'validation']),
      selectedBusiness() {
        let selectedIndex = this.statement.draft_state.state.selectedIndex;
        return this.statement.business_associations.data[selectedIndex];
      }
    },
    methods: {
      preNext() {
        let nextStep = "OfficePayments";
        if (this.selectedBusiness.is_lending_institution) {
          if (this.selectedBusiness.reporting_choice === 'balances') {
            nextStep = "BusinessOfficers";
            delete this.selectedBusiness.business_interest_payments;
            delete this.selectedBusiness.has_business_interest_payments;
            delete this.selectedBusiness.business_interest_receipts;
            delete this.selectedBusiness.has_business_interest_receipts;
          }
          else {
            delete this.selectedBusiness.has_officers;
            delete this.selectedBusiness.officers;
            delete this.selectedBusiness.has_agency_balances;
            delete this.selectedBusiness.agency_balances;
            nextStep = "BusinessInterestPayments"
          }
          delete this.selectedBusiness.has_office_payments;
          delete this.selectedBusiness.office_payments;
          delete this.selectedBusiness.has_agency_payments;
          delete this.selectedBusiness.agency_payments;
        }
        else {
          delete this.selectedBusiness.reporting_choice;
          delete this.selectedBusiness.officers;
          delete this.selectedBusiness.has_officers;
          delete this.selectedBusiness.agency_balances;
          delete this.selectedBusiness.has_agency_balances;
          delete this.selectedBusiness.business_interest_payments;
          delete this.selectedBusiness.has_business_interest_payments;
          delete this.selectedBusiness.business_interest_receipts;
          delete this.selectedBusiness.has_business_interest_receipts;
        }

        return nextStep;
      }
    }
  }

</script>

<style scoped lang="scss">
  div.lending-institution label {
    font-weight: bold;
  }
</style>