<template>
  <div>
    <h2>Lobbying</h2>
    <EditableTable
      ref="editableTable"
      v-model="statement.has_lobbies"
      :items="lobbies"
      index-property="selectedIndex"
      :has-data="hasData"
      title="Lobbyist"
    >
      <template v-slot:question>
        <p>
          <LobbyingInfo/>
          Did <QualifiedFamilyMember></QualifiedFamilyMember> promote or oppose state legislation rules,
          rates or standards for compensation or deferred compensation (other than pay for currently held
          public office) between {{statement.period_start | dateFormat}}
          and {{statement.period_end| dateFormat}}?
        </p>
      </template>
      <template v-slot:list-header>
        <p>List the combined total of compensation received for each lobby.</p>
      </template>
      <template v-slot:table-headings>
        <th>Who Lobbied</th>
        <th>For whom</th>
        <th>Purpose</th>
        <th>Compensation</th>
      </template>
      <template v-slot:item="{item}">
        <td>{{item.who | whoDisplay(validation) }}</td>
        <td>{{item.for}}</td>
        <td>{{item.purpose}}</td>
        <td>{{item.compensation | monetaryRange}}</td>
      </template>
      <template v-slot:edit-item="{item}">
        <Who label="Lobbyist" v-model="item.who"></Who>
        <v-text-field v-model="item.for" :rules="validation.required" label="Who was lobbied for"></v-text-field>
        <v-text-field v-model="item.purpose" :rules="validation.required" label="Purpose"></v-text-field>
        <ValueRange :label="'Compensation received'" v-model="item.compensation" :required="true"></ValueRange>
      </template>
    </EditableTable>
  </div>
</template>

<script>
  import EditableTable from "./EditableTable";
  import ValueRange from "../components/ValueRange";
  import LobbyingInfo from "../info/LobbyingInfo";
  import QualifiedFamilyMember from "../components/QualifiedFamilyMember";
  import { mapState } from "vuex";
  import Who from "../components/Who";
  export default {
    name: "LobbyingIndication",
    components: {Who, EditableTable, ValueRange, LobbyingInfo, QualifiedFamilyMember },
    computed: {
      ...mapState(['statement', 'person', 'validation']),
      state() {
        return this.statement.draft_state.state;
      },
      lobbies() {
        return this.statement.lobbies;
      }
    },
    created() {
      if (!this.statement.lobbies) {
        this.statement.lobbies = [];
      }
    },
    methods: {
      preNext() {
        return this.$refs['editableTable'].preNext();
      },
      prePrevious() {
        return this.$refs['editableTable'].prePrevious();
      },
      hasData(p) {
        return p.purpose || p.for;
      }
    }

  }
</script>

<style scoped>

</style>