<template>
  <div class="matching-people">

    <h2>Let's see if the PDC has any existing information for this filer.</h2>
    Type all or part of the filer's name and search..
    <v-row>
      <v-col>
        <v-text-field v-model="searchName" label="Name" :rules="validation.minLength3"></v-text-field>
      </v-col>
      <v-col>
        <v-btn color="primary" @click="findMatches()">Search</v-btn>
      </v-col>
    </v-row>
    <v-radio-group ref="person_selector" v-model="person.person_id" :rules="validation.required"
                   @change="personSelected()">
      <div v-if="doneSearching">
        <v-card max-width="90vw" raised v-for="match in matches" :key="`person-${match.person_id}`">
          <v-card-title>
            <v-radio :value="match.person_id" :key="match.person_id"></v-radio>
            {{match.name}}
          </v-card-title>
          <v-card-text>
            <v-list-item three-line v-if="match.offices && match.offices.length">
              <v-list-item-content>
                <v-list-item-title> {{match.offices[0].office}}</v-list-item-title>
                <v-list-item-subtitle>{{match.offices[0].jurisdiction}}</v-list-item-subtitle>
                <v-list-item-subtitle>
                  {{match.offices[0].start_date | dateFormat | suffix(" -")}}
                  {{match.offices[0].end_Date | dateFormat | defaultText('present')}}
                </v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
            <v-list-item three-line v-else-if="match.candidacies && match.candidacies.length">
              <v-list-item-content>
                <v-list-item-title>{{match.candidacies[0].office}}</v-list-item-title>
                <v-list-item-subtitle>{{match.candidacies[0].jurisdiction}}</v-list-item-subtitle>
                <v-list-item-subtitle>{{match.candidacies[0].election | suffix(" Election")}}</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </v-card-text>
        </v-card>
        <v-card max-width="90vw" raised>
          <v-card-title>
            <v-radio :value="-1" :key="-1"></v-radio>
            <span v-if="matches && matches.length > 0">I can't find any matching records</span>
            <span v-else>No results found</span>
          </v-card-title>
          <v-card-text>
            <v-list-item three-line>
              <v-list-item-content>
                <v-list-item-title v-if="matches && matches.length > 0">Select this item to create a new record</v-list-item-title>
                <v-list-item-title v-else>Try searching again or proceed to create a new record</v-list-item-title>
                <v-list-item-subtitle>You will be able to enter the complete filer name in the next step</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </v-card-text>
        </v-card>
      </div>
      <div v-else>
        Even if you've never filed with the PDC, we might already have information about the candidacies and public offices
        for this filer. Finding the right match will speed up the the processing of your submission.
      </div>
    </v-radio-group>

  </div>
</template>

<script>
  import {app} from "../main";
  import {mapState, mapActions} from 'vuex';

  export default {
    name: "MatchingPeople",
    data() {
      return {
        searchName: "",
        reloaded: 0,
        doneSearching: false,
        matchedPerson: {},
        original_person_id: null,
        matches: [],
      }
    },
    computed: {
      ...mapState(['submission', 'person', 'validation']),
    },
    mounted() {
    },
    methods: {
      ...mapActions(['loadPersonMetadata']),
      findMatches() {
        app.$container.dataService.post('service/financial-affairs/person-match/',
          result => {
            this.matches = result.data.matches;
            //this.person_id = this.person.person_id;
            this.doneSearching = true;
          }, {
            'person': {name: this.searchName}
          })
      },
      preNext() {
        this.update();
      },
      prePrevious() {
        this.update();
      },
      personSelected() {
        app.$container.wire.$emit('StatementWizard.validate');
      },
      update() {
        if (this.person.person_id && this.person.person_id !== -1) {
          this.loadPersonMetadata(this.person.person_id);
        }
      },
    },
  }
</script>

<style scoped lang="scss">
  .search_warning {
    color: $error-color;
  }

  .matching-people .v-card {
    margin-bottom: 0.5em;
  }
</style>