<template>
  <div>
    <h2>{{selectedBusiness.legal_name}} - Affiliated government agency payments</h2>
    <EditableTable
        ref="editableTable"
        v-model="selectedBusiness.has_office_payments"
        :items="selectedBusiness.office_payments"
        index-property="selectedOfficePaymentIndex"
        action-property="businessAction"
        :has-data="hasData"
        title="Payment"
    >
      <template v-slot:question>
        <p>Did {{selectedBusiness.legal_name}} receive any payments between {{statement.period_start|dateFormat}} and {{statement.period_end|dateFormat}} from a government agency where {{person.name}} seeks or holds a position?</p>
      </template>
      <template v-slot:list-header>
        <p>List all payments received between {{statement.period_start|dateFormat}} and {{statement.period_end|dateFormat}} from a government agency where {{person.name}} seeks or holds a position.</p>
      </template>
      <template v-slot:table-headings>
        <th>Purpose</th>
        <th>Amount</th>
      </template>
      <template v-slot:item="{item}">
        <td>{{item.purpose}}</td>
        <td>{{item.amount}}</td>
      </template>
      <template v-slot:edit-item="{item}">
        <v-text-field v-model="item.purpose" :rules="validation.required" label="Purpose" ></v-text-field>
        <v-text-field type="number" v-model="item.amount" :rules="validation.required" label="Amount"></v-text-field>
      </template>
    </EditableTable>
  </div>

</template>

<script>
  import {mapState} from 'vuex';
  import EditableTable from "./EditableTable";
  export default {
    name: "OfficePayments",
    components: {EditableTable},
    props: {
    },
    computed: {
      ...mapState(['statement', 'validation', 'person']),
      state() {
        return this.statement.draft_state.state;

      },
      selectedBusiness() {
        return this.statement.business_associations.data[this.statement.draft_state.state.selectedIndex];
      }
    },
    created() {
      if (!this.selectedBusiness.office_payments) {
        this.selectedBusiness.office_payments = [];
      }
    },
    methods: {
      preNext() {
        let nextAction = this.$refs['editableTable'].preNext();
        return nextAction ? nextAction : 'AgencyPayments';
      },

      prePrevious() {

        let previousAction = this.$refs['editableTable'].prePrevious();
        return previousAction ? previousAction : 'LendingInstitution';
      },

      hasData(p) {
        return !!p.purpose;
      }
    }
  }
</script>

<style scoped>

</style>