<template>
  <div class="OfficesHeld">
    <h2>Public positions held</h2>
    <EditableList ref="editableList"
                  :items="offices"
                  title="Public Position"
                  v-model="statement.isOfficeHolder"
                  editStep="OfficeHolder"
                  :disableAddDelete="!identificationSection"
                  :emptyFilter="emptyOffice"
    >
      <template v-slot:question>
        <p>Does {{person.name}} currently or has {{person.name}} recently held a public position (including charter school directorships) that requires filing?</p>
      </template>
      <template v-slot:list-header>
        <p>Please indicate all public positions for {{person.name}}.</p>
      </template>
      <template v-slot:alert>
        <v-alert
            dense
            outlined
            text
            type="info"
            v-if="identificationSection"
        >Because the answer to this question is used to determine the coverage period for your disclosure statement, you will not be able to change it once the statement has been started.</v-alert>
        <v-alert
            dense
            outlined
            text
            type="info"
            v-else
        >Because the answer to this question is used to determine the coverage period for your disclosure statement, it cannot be changed.</v-alert>
      </template>
      <template v-slot:item="{item}">
        <v-list-item-content >
          <v-list-item-title v-text="item.office"></v-list-item-title>
          <v-list-item-subtitle v-show="item.multiPosition" class="text--primary"
                                v-text="item.position"></v-list-item-subtitle>
          <v-list-item-subtitle class="text--primary">{{item.start_date|dateFormatShort}} - {{item.end_date|dateFormatShort}}
          </v-list-item-subtitle>
          <v-list-item-subtitle>
            {{item.jurisdiction}}<br/>
            <address v-if="item.address">
              {{item.address}}<br/>
              {{item.city}} {{item.state}} {{item.postcode}}
            </address>
          </v-list-item-subtitle>
        </v-list-item-content>
      </template>
    </EditableList>
  </div>
</template>

<script>
  import {mapState} from 'vuex';
  import EditableList from "./EditableList";
  export default {
    name: "OfficesHeld",
    components: {EditableList},
    data() {
      return {
        newItem: {
          office_code: "",
          office: "",
          jurisdiction_id: 0,
          position_id: null,
          jurisdiction: "",
          start_date: null,
          end_date: null,
          address: "",
          city: "",
          state: "",
          postcode: "",
        },
      };
    },
    computed: {
      ...mapState(['offices', 'statement', 'person']),
      identificationSection(){
        return !(this.statement.period_start || this.statement.period_end);
      }
    },
    created() {
      if(this.offices.length > 0){
        this.statement.isOfficeHolder = true;
      }

    },
    methods: {
      preNext() {
        return this.$refs['editableList'].preNext();
      },
      prePrevious() {
        return this.$refs['editableList'].prePrevious();
      },
      emptyOffice(o) {
        return !o.office && !o.jurisdiction;
      }
    }
  }
</script>

<style scoped>

</style>