<template>
  <div>
    <OfficeSelect :item="item"/>
    <p v-if="datesSelected">
      Altering the dates for this disclosure is not possible. Once a filer begins entering financial information, the reporting period is locked to prevent unintentional omissions of financial interests.
    </p>
          <DatePicker :required="true"
                      label="Start date"
                      v-model="item.start_date"
                      :disabled="datesSelected"/>
          <DatePicker label="Date left office"
                      v-model="item.end_date"
                      :maxDateModifier="{'days' : endDateMaxDays}"
                      maxDateErrorPrefix="Only if you have left office or are leaving on or before "
                      :disabled="datesSelected"/>
    <div class="error--text" v-if="item.end_date && item.start_date > item.end_date">Positions cannot end before they start.</div>
    <div class="mb-2">
      <v-alert
        dense
        outlined
        text
        type="info"
        v-if="!datesSelected"
      >Because these dates are used to determine the coverage period for your disclosure statement, you will not be able to adjust them later.</v-alert>
      <v-alert
        dense
        outlined
        text
        type="info"
        v-if="datesSelected"
      >Because these dates are used to determine the coverage period for your disclosure statement they cannot be adjusted.</v-alert>
    </div>
    <v-divider></v-divider>
    <v-card>
        <v-card-title>Work contact</v-card-title>
        <v-card-text>
            <EmailAddress v-model="item.email" :required="true"></EmailAddress>
            <Address v-model="item" :required="true"/>
            <v-text-field style="max-width: 11em;"
                          v-model="item.phone"
                          label="Phone number"
                          :rules="validations.phoneRules"
            >
            </v-text-field>
        </v-card-text>
    </v-card>
  </div>
</template>

<script>
  import { mapState } from 'vuex';
  import DatePicker from '../components/DatePicker';
  import EmailAddress from '../components/EmailAddress';
  import Address from '../components/Address';
  import OfficeSelect from '../components/OfficeSelect';
  export default {
    name: "OfficeHolder",
    components: {
      DatePicker,
      EmailAddress,
      Address,
      OfficeSelect
    },
    data() {
      return {
        validations: {
          required: [
            v => !!v || 'Required'
          ],
          emailRules: [
            v => !v || /.+@.+\..+/.test(v) || 'Email must be valid'
          ],
          stateRules: [
            v => !v || /^[A-Za-z]{2}$/.test(v) || 'State must be two characters long and letters only'
          ],
          postcodeRules: [
            v => !v || /^\b\d{5}(-\d{4})?\b$/.test(v) || 'Must be a valid zip code'
          ],
          phoneRules: [
            v => !v || /^[+]?[(]?[0-9]{3}[)]?[-\s.]?[0-9]{3}[-\s.]?[0-9]{4,6}$/im.test(v) || 'Must be a valid phone number'
          ]
        },
        addOfficeDialog: false,
        confirmationDialog: false,
        editing: false,
        editingIndex: "",
        endDateMaxDays: 7
      }
    },
    computed: {
      ...mapState(['person', 'offices','statement', 'validation']),
      item() {
        return this.offices[this.statement.draft_state.state.selectedIndex];
      },
      datesSelected() {
        return Boolean(this.statement.period_start);
      }
    },
  }
</script>

<style scoped>

</style>
