<template>
  <div>
      <p><strong>Welcome to the Financial Affairs Disclosure (F-1) reporting application. This tool will help you to:</strong></p>

      <ul>
        <li>Determine whether you need to submit a Financial Affairs Disclosure statement.</li>
        <li>Determine your reporting period.</li>
        <li>Review your statement before submission.</li>
      </ul>

      <OfficeHolderInfo/>

      <p>
        Let's begin with a few questions about your reporting requirements...
      </p>
  </div>
</template>

<script>
  import {mapActions, mapState} from 'vuex';
  import OfficeHolderInfo from "../info/OfficeHolderInfo";

  export default {
    name: "Overview",
    data () {
      return {

      }
    },
    components: {OfficeHolderInfo},
    computed: {
      ...mapState(['statement', 'person'])
    },
    created() {
      this.doSaveSubmissions(false);
    },
    methods: {
      ...mapActions(['doSaveSubmissions'])
    }
  }
</script>

<style scoped>

</style>