<template>
  <div class="PersonEdit">
    <h2>Filer name confirmation</h2>
  <br/>
    <p>Enter your full name as you would normally write it. For example <strong>Seán P. Mac Stíofáin</strong>, rather than MACSTIOFAN, SEAN P.</p>
    <v-text-field
        v-model="person.name"
        label="Name"
        :rules="validations.required">
    </v-text-field>
  </div>
</template>

<script>
  import {mapState, mapActions} from 'vuex';
  export default {
    name: "PersonNameUpdate",
    data () {
      return {
        validations: {
          required: [
            v => !!v || 'Required'
          ],
        }
      }
    },
    created() {
      this.doSaveSubmissions(false);
    },
    computed: {
      ...mapState(['submission', 'statement', 'person']),
    },
    methods: {
      ...mapActions(['doSaveSubmissions']),
    }
  }
</script>

<style scoped>

</style>
