<template>
  <div>
    <h2>Property ownership</h2>
    <RealEstateLocation :location="selectedProperty.location"/>

    <p>Did <QualifiedFamilyMember></QualifiedFamilyMember> purchase the property between {{statement.period_start | dateFormatShort }} and {{ statement.period_end | dateFormatShort}}?</p>
    <v-radio-group :rules="validation.required" v-model="selectedProperty.purchased" >
      <v-radio label="Yes" :value="true"></v-radio>
      <v-radio label="No" :value="false"></v-radio>
    </v-radio-group>

    <p>Did <QualifiedFamilyMember></QualifiedFamilyMember> sell the property between {{statement.period_start | dateFormatShort }} and {{ statement.period_end | dateFormatShort}}?</p>
    <v-radio-group :rules="validation.required" v-model="selectedProperty.sold">
      <v-radio label="Yes" :value="true"></v-radio>
      <v-radio label="No" :value="false"></v-radio>
    </v-radio-group>

  </div>
</template>

<script>
  import {mapState, mapActions} from 'vuex'
  import RealEstateLocation from "../components/RealEstateLocation";
  import QualifiedFamilyMember from "../components/QualifiedFamilyMember";

  export default {
    name: "RealEstateBoughtSold",
    components: {RealEstateLocation, QualifiedFamilyMember},
    computed: {
      ...mapState(['statement', 'validation']),
      selectedProperty() {
        let idx = this.statement.draft_state.state.selectedIndex;
        return this.statement.real_estate[idx];
      }
    },
    data() {
      return {
        confirmationDialog: false,
        addEstateDialog: false,
        propertyQuestionDialog: false,
        editing: false,
        idx: 0
      }
    },
    methods: {
      ...mapActions(['saveSubmission']),
      preNext() {
        if(this.selectedProperty.sold) {
          this.initializePurchaser();
        }
        else {
          delete this.selectedProperty.purchaser;
        }

        if (this.selectedProperty.sold) {
          return 'RealEstatePurchaser';
        }
        else  {
          return 'RealEstateMortgageList';
        }
      },
      prePrevious() {
        return 'RealEstateProperty'
      },
      initializePurchaser() {
        if (!this.statement.hasOwnProperty('purchaser')) {
          this.purchaser = {};
        }
      },

      initializeCreditor() {
        this.statement.draft_state.state.selectedCreditorIndex = 0;
        if (!this.selectedProperty.creditors) {
          this.selectedProperty.creditors = [{}];
        }
      },

    }
  }
</script>

<style scoped>

</style>