<template>
  <div>
    <h2>Property mortgages</h2>
    <EditableList
      ref="editableList"
      :items="selectedProperty.creditors"
      v-model="selectedProperty.has_creditors"
      title="Mortgage"
      indexProperty="creditorIndex"
      actionProperty="creditorAction"
      editStep="RealEstateMortgage"
      :emptyFilter="emptyCreditor"
    >
      <template v-slot:question>
        <p>Did the property have a mortgage between {{statement.period_start | dateFormatShort }} and {{ statement.period_end | dateFormatShort}}?</p>
      </template>
      <template v-slot:list-header>
        <p>List mortgages for <RealEstateLocation :location="selectedProperty.location" /></p>
      </template>
      <template v-slot:item="{item}">
        <v-list-item-content>
          <v-list-item-title>{{item.name}}</v-list-item-title>
          <v-list-item-subtitle>
            {{ item.address }}<br/>
            {{ item.city }} {{ item.state }} {{item.postcode }}
          </v-list-item-subtitle>
          <v-list-item-subtitle >Terms: {{item.terms }}</v-list-item-subtitle>
          <v-list-item-subtitle >Security given: {{ item.security_given}}</v-list-item-subtitle>
          <v-list-item-subtitle >Original amount: {{ item.original_amount | monetaryRange}}</v-list-item-subtitle>
          <v-list-item-subtitle >Current amount: {{ item.current_amount | monetaryRange }}</v-list-item-subtitle>
        </v-list-item-content>
      </template>
    </EditableList>
  </div>
</template>

<script>
  import {mapState, mapActions} from 'vuex'

  import RealEstateLocation from "../components/RealEstateLocation";
  import EditableList from "./EditableList";
  export default {
    name: "RealEstateMortageList",
    components: {EditableList, RealEstateLocation},
    data() {
      return {
        confirmationDialog: false,
        newCreditor: {},
        editingIndex: 0,
      }
    },
    computed: {
      ...mapState(['statement', 'validation']),
      selectedProperty() {
        let idx = this.statement.draft_state.state.selectedIndex;
        return this.statement.real_estate[idx];
      },
    },
    created() {
      if (!this.selectedProperty.creditors) {
        this.selectedProperty.creditors = [];
      }
    },
    methods: {
      ...mapActions(['wizardActivate']),
      preNext() {
        return this.$refs['editableList'].preNext();
      },
      prePrevious() {
        let previousStep = this.$refs['editableList'].preNext();
        if (previousStep) {
          return previousStep;
        }
        else {
          if (this.selectedProperty.sold) {
            return 'RealEstatePurchaser';
          }
          else {
            return 'RealEstateBoughtSold';
          }
        }
      },
      emptyCreditor(c) {
        return !c || (!c.name && !c.address);
      }
      },
  }
</script>

<style scoped>

</style>