<template>
  <div>
    <EditableList
        ref="editableList"
        v-model="statement.real_estate_owned"
        :items="statement.real_estate"
        :newItem="newEstate"
        editStep="RealEstateProperty"
        :empty-filter="emptyRealEstate"
        info="RealEstateInfo"
        title="Property"
        :max_delete_width="1200"
    >
      <template v-slot:question>
        <p>Did <QualifiedFamilyMember></QualifiedFamilyMember> own property in Washington state between {{statement.period_start | dateFormat}} and {{statement.period_end | dateFormat}}?</p>
      </template>
      <template v-slot:list-header>
        <p>List all real estate owned in the state of Washington between {{statement.period_start | dateFormat }} and {{ statement.period_end | dateFormat}}.</p>
      </template>
      <template v-slot:item="{item}">
        <v-list-item-content>
          <RealEstateLocation :location="item.location"/>
          <div><strong>Owned by:</strong>
            <AssetOwner :who="item.who" />
          </div>
          <div v-if="item.assessed_value"><strong>Assessed value:</strong>
            {{item.assessed_value |
            monetaryRange }}
          </div>
        </v-list-item-content>
      </template>
      <template v-slot:delete-prompt="{title}">
        <p class="my-4">
          Are you sure you want to remove this {{title}}?
        </p>
        <div class="ml=4">
          <p class="caption">
            <v-alert dense outlined text type="info">
              Warning: if you owned this property at any time during the period you are
              reporting for, do not use this delete function. Instead, cancel the deletion
              and edit the property so that you can report the sale.
            </v-alert>
          </p>
        </div>
      </template>
    </EditableList>
  </div>

</template>

<script>
  import {mapState, mapActions} from 'vuex'
  import RealEstateLocation from "../components/RealEstateLocation";
  import EditableList from "./EditableList";
  import QualifiedFamilyMember from "../components/QualifiedFamilyMember";
  import AssetOwner from "../components/AssetOwner"
  import Info from "../info/RealEstateInfo";

  export default {
    name: "RealEstateReview",
    components: {EditableList, RealEstateLocation, QualifiedFamilyMember, AssetOwner, Info},
    computed: {
      ...mapState(['statement', 'validation']),
    },
    data() {
      return {
        newEstate: {
          location : {},
        }
      }
    },
    methods: {
      ...mapActions(['wizardActivate','saveSubmission']),
      preNext() {
        return this.$refs['editableList'].preNext();
      },
      prePrevious() {
        return this.$refs['editableList'].prePrevious();
      },
      emptyRealEstate(e) {
        return !e || !e.location || (!e.location.address && !e.location.city && !e.location.zip && !e.location.county
          && !e.location.legal_description && !e.parcel && !e.location.exempt_from_disclosure)
      }
    },
    created() {
      if (!this.statement.real_estate) {
        this.statement.real_estate = [];
      }
    }
  }
</script>

<style scoped>

</style>