<template>
  <div>
    <h2>Property identification</h2>
    <Who label="Owner" v-model="selectedProperty.who"></Who>
    <v-autocomplete :items="validation.monetary_ranges" label="Assessed value" v-model="selectedProperty.assessed_value"></v-autocomplete>
    <p>Report the address, parcel number or legal description of the property, or indicate if you have a reporting modification or exemption, or are pursuing a modification, for a personal residential property.</p>
    <RealEstateLocationEntry :property="this.selectedProperty.location" :has-exemption="hasExemption"/>
  </div>
</template>

<script>
  import {mapState, mapActions} from 'vuex'
  import RealEstateLocationEntry from "../components/RealEstateLocationEntry";
  import Who from "../components/Who";

  export default {
    name: "RealEstateProperty",
    components: {Who, RealEstateLocationEntry},
    data() {
      return {
        addressChoice: ""
      }
    },
    computed: {
      ...mapState(['statement', 'validation']),
      selectedProperty() {
        let idx = this.statement.draft_state.state.selectedIndex;
        return this.statement.real_estate[idx];
      },
      hasExemption() {
        return  (this.statement.reporting_modifications && this.statement.reporting_modifications.residential_address);
      }
    },
    methods: {
      ...mapActions(['wizardActivate']),
      prePrevious() {
        return ''
      },
      preNext() {
        return 'RealEstateBoughtSold';
      }
    },
    created() {
      if (!this.selectedProperty.location) {
        this.selectedProperty.location = {};
      }
    },
  }
</script>

<style scoped>

</style>