<template>
  <div class="PropertySold">
    <h2>Purchaser information</h2>
    <RealEstateLocation :location="selectedProperty.location" />
    <v-autocomplete :items="validation.monetary_ranges" label="Sale amount" v-model="selectedProperty.purchaser.sale_amount" :rules="validation.required"></v-autocomplete>

    <v-text-field
            v-model="selectedProperty.purchaser.name"
            :rules="validation.required"
            label="Buyer name"
    >
    </v-text-field>
    <Address v-model="selectedProperty.purchaser" :required="true"></Address>
  </div>
</template>

<script>
  import {mapState} from 'vuex';
  import RealEstateLocation from "../components/RealEstateLocation";
  import Address from "../components/Address";
  export default {
    name: "RealEstatePurchaser",
    components: {Address, RealEstateLocation},
    computed: {
      ...mapState(['statement', 'validation']),
      selectedPropertyIndex() {
        return this.statement.draft_state.state.selectedIndex;
      },
      selectedProperty() {
        return this.statement.real_estate[this.selectedPropertyIndex];
      },
    },
    methods: {
      preNext() {
        return 'RealEstateMortgageList'
      },
      prePrevious() {
        return 'RealEstateBoughtSold';
      },
    },
    created() {
      if(!this.statement.real_estate[this.selectedPropertyIndex].hasOwnProperty('purchaser')) {
        this.statement.real_estate[this.selectedPropertyIndex].purchaser = {};
      }
    }
  }
</script>

<style scoped>

</style>