<template>
  <div>
    <RealEstateLocation :location="selectedProperty.location" />
    <v-text-field label="Creditor's name" :rules="validation.required" v-model="selectedCreditor.name"></v-text-field>
    <Address v-model="selectedCreditor" :required="true"/>
    <v-text-field label="Payment terms (ex. 25 years at 8%)" :rules="validation.required" v-model="selectedCreditor.terms"></v-text-field>
    <v-text-field label="Security given (ex. mortgage, 20% down)" :rules="validation.required" v-model="selectedCreditor.security_given"></v-text-field>
    <ValueRange  label="Original amount" :required="true" :display-period="false" v-model="selectedCreditor.original_amount"/>
    <ValueRange  label="Current amount" :required="true" :display-period="false" v-model="selectedCreditor.current_amount"></ValueRange>
  </div>
</template>

<script>
  import {mapState} from 'vuex'

  import RealEstateLocation from "../components/RealEstateLocation";
  import Address from "../components/Address";
  import ValueRange from "../components/ValueRange";
  export default {
    name: "RealEstateMortgage",
    components: {ValueRange, Address, RealEstateLocation},
    data() {
      return {
        states: ['Alabama','Alaska','American Samoa','Arizona','Arkansas','California','Colorado','Connecticut','Delaware','District of Columbia','Federated States of Micronesia','Florida','Georgia','Guam','Hawaii','Idaho','Illinois','Indiana','Iowa','Kansas','Kentucky','Louisiana','Maine','Marshall Islands','Maryland','Massachusetts','Michigan','Minnesota','Mississippi','Missouri','Montana','Nebraska','Nevada','New Hampshire','New Jersey','New Mexico','New York','North Carolina','North Dakota','Northern Mariana Islands','Ohio','Oklahoma','Oregon','Palau','Pennsylvania','Puerto Rico','Rhode Island','South Carolina','South Dakota','Tennessee','Texas','Utah','Vermont','Virgin Island','Virginia','Washington','West Virginia','Wisconsin','Wyoming'],
      }
    },
    computed: {
      ...mapState(['statement', 'validation']),
      selectedProperty() {
        let idx = this.statement.draft_state.state.selectedIndex;
        return this.statement.real_estate[idx];
      },
      selectedCreditor() {
        return this.selectedProperty.creditors[this.statement.draft_state.state.creditorIndex];
      }
    },
    created(){
      if(!this.selectedProperty.creditors){
        this.selectedProperty.creditors = [{}];
      }
    },
  }
</script>

<style scoped>

</style>