<template>
  <div>
    <h2>Immediate family</h2>
    <div>
      <p>Does {{person.name}} have a {{spouseText}}?</p>
      <v-radio-group :rules="validations.notNull" v-model="statement.has_spouse" @change="clearSpouse()">
        <v-radio :value="true" label="Yes"></v-radio>
        <v-radio :value="false" label="No"></v-radio>
      </v-radio-group>
    </div>
    <div v-if="statement.has_spouse">
      <v-text-field
        v-model="statement.spouse"
        label="Spouse/Partner Name"
        :rules="validations.required"
      />
  </div>
    <div>
      <p>Does {{person.name}} have adult dependent(s) that are referenced as part of the disclosure?</p>
      <div v-if="submission.dependents_entered || statement.has_dependent">
        <v-radio-group :rules="validations.requiredDependents" :disabled="!submission.dependents_entered && !statement.has_dependent" v-model="statement.has_dependent" @change="clearDependents()">
          <v-radio :value="true" label="Yes"></v-radio>
          <v-radio :value="false" label="No"></v-radio>
        </v-radio-group>
      </div>
      <div class="ml-4" v-else>
        <p class="caption">
          <v-alert dense outlined text type="info">
            You do not need to answer this question because you didn't indicate any assets, holdings or relationships held by dependents.
          </v-alert>
        </p>
      </div>




    </div>
    <div v-if="statement.has_dependent">
      <p>List the names of adult dependents that are referenced in your disclosure statement.</p>
      <StringList v-model="statement.dependents" label="Adult Dependents" placeholder="List names one per line"></StringList>
    </div>
  </div>
</template>

<script>
  import {mapState} from 'vuex';
  import StringList from "../components/StringList";
  export default {
    name: "Spouse",
    components: {StringList},
    data () {
      return {
        computedCounter: 0,
        validations: {
          required: [
            v => !!v || 'Required'
          ],
          notNull : [
            v => (v === true || v===false) || 'Selection Required'
          ],
          requiredDependents: [
            v => (!this.submission.dependents_entered || v === true || v === false)  || 'Selection Required',
            v => ((this.submission.dependents_entered && !this.dependentsListed) || (!this.submission.dependents_entered && !this.dependentsListed)) || (this.submission.dependents_entered) || 'Dependents should only be entered when they are part of your disclosure.',
            v => ((this.statement.has_dependent && this.dependentsListed) || !this.statement.has_dependent) || 'Name of adult dependents required after saying that you have one.'
          ],
          dependents: [
            v => (!this.submission.dependents_entered && v) || 'Dependents should only be entered when they are part of your disclosure.',
            v => (this.statement.has_dependent && !v) || 'Name of adult dependents required.'
          ]
        }
      }
    },
    computed: {
      ...mapState(['statement', 'person', 'validation', 'submission']),
      spouseText() {
        let text =  this.validation.relation_code.find(a => a.value === 'spouse').text;
        text = text[0].toLowerCase() + text.slice(1);
        return text;
      },
      dependentsListed() {
        if (this.statement.dependents && this.statement.dependents.length > 0) {
          return true;
        } else {
          return false;
        }
      }
    },
    created() {
      if (!this.statement.dependents) {
        this.statement.dependents = [];
      }
      if (!this.statement.spouse){
        this.statement.spouse = '';
      }
    },
    methods: {
      clearSpouse() {
        if (!this.statement.has_spouse && this.statement.spouse) {
          delete this.statement.spouse;
        }
      },
      clearDependents() {
        if (!this.statement.has_dependent && this.statement.dependents && this.statement.dependents.length > 0) {
          delete this.statement.dependents;
        }
      }
    }
  }
</script>

<style scoped>

</style>