<template>
  <div>
    <v-dialog v-model="activeWizard" fullscreen scrollable>

      <v-form ref="wizardForm" lazy-validation @submit.prevent="nextStep()">

      <v-card>
        <v-card-title>
          <v-menu v-if="!hideNavigationMenu"
              v-model="menuActive"
          >
            <template v-slot:activator="{ on }">
              <v-btn
                  tabindex="-1"
                  color="primary"
                  dark
                  icon
                  small
                  v-on="on"
              >
                <v-icon>list</v-icon>
              </v-btn>
              <v-toolbar-title class="primary--text pr-6 hidden-print-only d-none d-sm-block">PDC</v-toolbar-title>
            </template>
            <v-list dense>

                <v-list-item
                    tabindex="-1"
                    v-for="(item, index) in menuItems"
                    :key="index"
                    @click="componentNavigate(item.component, true)"
                >
                  <v-list-item-title >{{ item.title }}</v-list-item-title>
                </v-list-item>
            </v-list>
          </v-menu>
          {{wizardTitle}}
          <v-spacer></v-spacer>
          <span>Covering {{dateFormat(statement.period_start)}} through {{dateFormat(statement.period_end)}}</span>
          <v-spacer></v-spacer>
          <submission-lock/>

          <span><InfoDialog info="FilingFAQ" label="Help" depressed/>
          <v-btn icon tabindex="-1" @click="finishLater()"><v-icon>cancel</v-icon></v-btn></span>
        </v-card-title>
        <v-divider/>

        <v-card-text>

        <v-card raised>
          <v-card-text>
            <v-row>
              <v-col cols="12" md="8">

              <component v-if="activeWizard" :is="wizardLoadedComponent" ref="wizardComponent" :options="wizardStepOptions"></component>
              </v-col>
              <v-col class="d-none d-sm-none d-md-block " cols="4">
                <v-card v-if="!hideNavigationMenu" raised >
                <v-card-title>Overview</v-card-title>
                <v-card-text>

                <v-list dense shaped >
                  <v-list-item-group v-model="sectionIndex">

                    <v-list-item
                        tabindex="-1"
                        rounded
                        v-for="(item, index) in menuItems"
                        :key="index"
                        @click="componentNavigate(item.component, true)"
                    >
                      <v-list-item-title>{{ item.title }}</v-list-item-title>
                    </v-list-item>
                  </v-list-item-group>
                </v-list>
                </v-card-text>
                </v-card>
              </v-col>

            </v-row>
          </v-card-text>
        </v-card>
        </v-card-text>
        <v-divider/>
        <v-card-actions class="d-flex justify-space-between">

          <v-btn tabindex="-1" :disabled="!hasPrevious" @click="previousStep()">{{previousLabel}}</v-btn>
          <div>
            <v-btn tabindex="-1" v-if="submission.submission_id" @click="finishLater()">Finish Later</v-btn>
            <v-btn tabindex="-1" v-else @click="closeDialog()">Cancel</v-btn>
          </div>
          <v-btn color="primary" :disabled="!nextEnabled || !hasNext" type="submit" ref="nextButton">{{nextLabel}}</v-btn>

        </v-card-actions>
      </v-card>
    </v-form>
    </v-dialog>
  </div>
</template>

<script>

  import {mapState, mapActions} from "vuex";
  import {app} from "@/main";
  import EmailAddress from "../components/EmailAddress";
  import InfoDialog from "../info/InfoDialog";
  import SubmissionLock from "./SubmissionLock";
  import filters from "@/filters";

  export default {
    name: "StatementWizard",
    components: {SubmissionLock, EmailAddress, InfoDialog},
    data() {
      return {
        hideNavigationMenu: false,
        computeCounter: 0,
        activeWizard: false,
        hasNext: true,
        nextEnabled: true,
        hasPrevious: true,
        menuActive: false,
        nextLabel: "Next",
        previousLabel: "Previous",
        wizardStep: null,
        wizardTitle: "",
        wizardComponent: null,
        wizardStepOptions: {},
        sectionIndex: 0,
        steps: [
          {
            component: 'Overview',
            title: 'Overview',
            limitTo: () => !this.idComplete,
            noMenu: true,
            hideNavigationMenu: true,
          },
          {
            component: 'MatchingPeople',
            title: 'Identification',
            limitTo: () => !this.person.person_id && !this.idComplete && !this.submission.submission_id,
            noMenu: true,
            hideNavigationMenu: true,
          },
          {
            component: 'PersonNameUpdate',
            title: 'Name confirmation',
            limitTo: () => !this.idComplete && this.person.person_id,
          },
          {
            component: 'OfficesHeld',
            title: 'Public Positions',
            limitTo: () => this.person.person_id,
          },
          {
            component: 'Candidacies',
            title: 'Candidacies',
            limitTo: () => this.person.person_id,
          },
          {
            component: 'StatementsOwed',
            title: 'Reporting Requirement',
            limitTo: () => !this.idComplete && this.person.person_id,
          },
          {
            component: 'StatementOverview',
            title: 'Overview',
            limitTo: () => this.idComplete,
          },
          {
            component: 'SubmissionAttachment',
            title: 'Attach File',
            limitTo: () => this.user.rights.enter_wapdc_data && this.idComplete,
          },
          {
            component: 'CarryForward',
            title: 'Import information',
            limitTo: () => !this.amendment && this.idComplete,
          },
          {
            component: 'IncomeReview',
            title: 'Income',
            limitTo: () => this.idComplete,
          },
          {
            component: 'AccountsReview',
            title: 'Assets and interest income',
            limitTo: () => this.idComplete,
          },
          {
            component: 'CategoricalExemption',
            title: 'Washington real estate',
            limitTo: () => this.idComplete,
          },
          {
            component: "RealEstateReview",
            title: "Washington real estate",
            limitTo: () => this.idComplete,
            noMenu: true,
          },
          {
            component: "CreditorReview",
            title: "Debt",
            limitTo: () => this.idComplete,
          },
          {
            component: 'BusinessReview',
            title: 'Business interests',
            limitTo: () => this.idComplete,
          },
          {
            component: 'LobbyingIndication',
            title: 'Lobbying',
            limitTo: () => this.idComplete,
          },
          {
            component: 'Gifts',
            title: 'Gifts and travel',
            limitTo: () => this.submission.active_official && this.idComplete,
          },
          {
            component: 'Spouse',
            title: 'Immediate family',
            limitTo: () => this.idComplete,
          },
          {
            component: 'SubmissionErrorCheck',
            title: 'Review',
            limitTo: () => this.idComplete,
          },
          {
            component: 'Submission',
            title: 'Review',
            noMenu: true,
            limitTo: () => this.validStatement && this.idComplete,
          },
          {
            component: 'CertifyAndSubmit',
            title: 'Review',
            noMenu: true,
            limitTo: () => this.validStatement && this.idComplete,
          }
        ]
      }
    },
    computed: {
      ...mapState(['statement', 'person', 'wizard', 'offices', 'submission', 'user']),
      amendment() {
        return this.statement.statement_id || this.statement.amends;
      },
      idComplete() {
        this.computeCounter;
        return Boolean(this.statement.period_start);
      },
      wizardLoadedComponent() {
        let component = this.wizardStep;
        if (this.wizardStepOptions.component) {
          component = this.wizardStepOptions.component;
        }
        return () => import(`./${component}`);
      },
      validStatement(){
        return this.submission && this.submission.validation && this.submission.validation.length === 0;
      },
      menuItems() {
        this.computeCounter;
        return this.filteredSteps().filter(step => {
          return !step.noMenu;
        })

      }
    },
    watch: {
      validStatement: function() {
        this.validateWizard();
      }
    },
    mounted() {
      app.$container.wire.$on('StatementWizard.close', this.closeDialog);
      app.$container.wire.$on('StatementWizard.activate', this.activate);
      app.$container.wire.$on('StatementWizard.nextStep', this.nextStep);
      app.$container.wire.$on('StatementWizard.validate', this.validate);
    },
    methods: {
      ...mapActions(['saveSubmission', "resetLocalSubmissionState"]),
      ...filters.filters,
      startWizard() {
        this.wizardStep = null;
        this.nextStep(false);
      },
      filteredSteps() {
        return this.steps.filter(step => {
          if (step.hasOwnProperty("limitTo") && step.component !== this.wizardStep) {
            return step.limitTo();
          }
          else {
            return true;
          }
        })

      },
      closeDialog() {
        this.activeWizard = false;
        this.wizardStep = "";
        this.hasNext = true;
        this.resetLocalSubmissionState();
      },
      findStepIndex(steps, wizardStep) {
        return steps.findIndex(s => s.component === wizardStep || (s.hasOwnProperty('branch') && s.branch === wizardStep));
      },
      nextStep(doSave=true) {
        this.wizard.lastNavigation = 'next';

        // Find the current wizard step and execute the preNext function
        let wizardComponent = this.$refs['wizardComponent'];
        let step = null;
        let step_idx = null;
        let prevent = false;
        if (wizardComponent && wizardComponent.hasOwnProperty('preNext')) {
          step = wizardComponent.preNext(wizardComponent);
          if (step && step.toLowerCase() === 'prevent') {
            prevent = true;
          }
          else if (step) {
            let filteredSteps = this.filteredSteps();
            step_idx = this.findStepIndex(filteredSteps, step);
          }
        }

        // If the preNext function overrides next action, then call it instead.
        if (step && step_idx!==null) {
          this.activate(step);
        }
        else if (this.nextEnabled && this.hasNext && !prevent) {

          let filteredSteps = this.filteredSteps();
          let idx = this.findStepIndex(filteredSteps,this.wizardStep);
          idx++;
          if (idx >= filteredSteps.length) {
            this.closeDialog();
          }
          else {
            this.componentNavigate(filteredSteps[idx].component);
          }
        }
        if (doSave) this.saveSubmission();
      },
      previousStep() {
        this.wizard.lastNavigation = 'previous'
        let wizardComponent = this.$refs['wizardComponent'];
        let step = null;
        let step_idx = null;
        let prevent = false;
        if (wizardComponent && wizardComponent.hasOwnProperty('prePrevious')) {
          step = wizardComponent.prePrevious();
          if (step && step.toLowerCase() === 'prevent') {
            prevent = true;
          }
          else if (step) {
            let filteredSteps = this.filteredSteps();
            step_idx = this.findStepIndex(filteredSteps, step);
          }
        }

        if (step && step_idx!==null) {
          this.activate(step);
        }
        else if (!prevent) {
          let filteredSteps = this.filteredSteps();
          let idx = this.findStepIndex(filteredSteps, this.wizardStep);
          idx--;
          if (idx < 0) {
            this.closeDialog();
          } else {
            // If we are switching steps we should reset the draft state so it is clean
            this.statement.draft_state.state = {};
            this.activate(filteredSteps[idx].component);
          }
        }
        this.saveSubmission();
        this.validate();
      },
      componentNavigate(component, doSave){
        if(doSave) {
          this.saveSubmission();
        }
        // If we are switching steps we should reset the state so we don't carry over.
        this.statement.draft_state.state = {};
        this.activate(component);
      },
      finishLater() {
        this.saveSubmission();
        this.closeDialog();
        this.lastNavigation = 'finishLater';
      },
      activate(step, options=null) {

        this.wizardStep = step;
        let filteredSteps = this.filteredSteps();
        let idx = this.findStepIndex(filteredSteps,this.wizardStep);
        let nextStep = filteredSteps[idx];
        // Default step options to those in the list if we don't get the options as a call.
        if (!nextStep) {
          nextStep = filteredSteps[0];
          this.wizardStep = filteredSteps[0].component;
        }
        if (options) {
          this.wizardStepOptions = options;
        }
        else if (nextStep.options) {
          this.wizardStepOptions = nextStep.options;
        }
        else {
          this.wizardStepOptions = {};
        }
        this.hasNext = idx < filteredSteps.length - 1;
        this.hasPrevious = idx > 0;
        this.wizardTitle = nextStep.title;
        if (nextStep.hideNavigationMenu) {
          this.hideNavigationMenu = nextStep.hideNavigationMenu;
        }
        else {this.hideNavigationMenu = false;}
        this.activeWizard = true;
        // Set the current section based on title
        this.computeCounter++;
        this.sectionIndex = this.menuItems.findIndex((m) => m.title.includes(this.wizardTitle) );
        setTimeout(this.validateWizard, 900);
        setTimeout(this.focusFirst, 1100);
        if (!this.statement.draft_state) {
          this.statement.draft_state = {
            step: "",
            state: {},
          }
        }
        this.statement.draft_state.step = step;
        this.computeCounter++;
      },
      validateWizard() {
        // This ensures that we wait until the component is defined before we set focus.
        // If the component has not initialized we validate until we find one every .1 seconds.
        this.wizardComponent = this.$refs['wizardComponent'];
        let filteredSteps = this.filteredSteps();
        let idx = this.findStepIndex(filteredSteps,this.wizardStep);
        this.hasNext = idx < filteredSteps.length - 1;
        if (this.wizardComponent === undefined) {
          setTimeout(() => {
            //campaignRegistrationApp.$nextTick(this.validateWizard);
          }, 500);
        }
        if (this.wizardComponent && this.wizardComponent.hasOwnProperty('stepValid')) {
          this.nextEnabled = this.wizardComponent.stepValid();
        }
        else {
          this.nextEnabled = true;
        }
      },
      focusFirst() {
        let hasChildren = 0;
        if (this.wizardComponent && this.wizardComponent.$el && this.wizardComponent.$el.children) {
          hasChildren = this.wizardComponent.$el.children.length;
        }
        if (hasChildren) {
          var ctls = this.wizardComponent.$el.querySelectorAll('area[href], input:not([disabled]), select:not([disabled]), button:not([tabindex="-1"]), textarea:not([disabled]), [tabindex="0"]');
          if (ctls.length > 0) {
            ctls.item(0).focus();
          }
        }
      },
      validate() {
        setTimeout( () => {
          if (this.$refs.wizardForm) {
            this.$refs.wizardForm.validate();
          }
        }, 500);
        this.validateWizard();
      }
    }
  }
</script>

<style scoped>

</style>