<template>
  <div>
    <div v-if="submission.validation && submission.validation.length !== 0">
      <IdentificationValidator />
    </div>
    <div v-else>
      <div v-if="this.currentStep === 'identification'">
        <p>Before determining your reporting you need to make sure you have answered the following areas:</p>
        <v-list>
          <v-list-item @click="gotoStep('PersonNameUpdate')" v-if="!person || !person.name">
            <v-list-item-content >Name Confirmation</v-list-item-content><v-list-item-action><v-btn>Fix it</v-btn></v-list-item-action>
          </v-list-item>
          <v-list-item @click="gotoStep('OfficesHeld')" v-if="!((statement.isOfficeHolder===true && offices.length) || statement.isOfficeHolder === false)">
            <v-list-item-content>Public Positions </v-list-item-content><v-list-item-action><v-btn>Fix it</v-btn></v-list-item-action>
          </v-list-item>
          <v-list-item @click="gotoStep('Candidacies')" v-if="!((statement.isCandidate===true && candidacies.length) || statement.isCandidate === false)">
            <v-list-item-content>Candidacies</v-list-item-content><v-list-item-action><v-btn>Fix it</v-btn></v-list-item-action>
          </v-list-item>
        </v-list>
      </div>
      <div v-if="this.currentStep === 'conditional'">
        <p>{{person.name}} may owe a Financial Affairs Disclosure covering {{selectedStatement.period_start | dateFormatShort}} through {{selectedStatement.period_end | dateFormatShort}}.</p>
        <p>
          Is it anticipated that {{person.name}} will raise or has raised more than ${{thresholds.mini_reporting}} for any of these campaigns?
        </p>
        <div v-for="(campaign, index) in relevantCampaigns" v-bind:key="index">
          <p> {{campaign.election}} Election: {{campaign.office | titleCase}} </p>
        </div>
        <v-radio-group v-model="statement.required" @change="onRequiredChange()" row >
          <v-radio :value="true" label="Yes"></v-radio>
          <v-radio :value="false" label="No"></v-radio>
        </v-radio-group>
      </div>
      <div v-if="electronicFilingAllowed">
        <p>{{person.name}} owes a Financial Affairs Disclosure statement covering {{selectedStatement.period_start | dateFormatShort}} through {{selectedStatement.period_end | dateFormatShort}}.
        </p>
        <Requirements/>
        <p>
          Next we will walk you through reporting this information...
        </p>
      </div>
      <div v-if="currentStep==='none-required' || !statement.required && currentStep==='conditional' && statement.required === false">
        <v-alert
          light
          dense
          outlined
          text
          type="success"
        >
          <p class="info-text">Based on the information provided, it appears that {{person.name}} does not currently owe a Financial Affairs Disclosure at this time.</p>
        </v-alert>
        <p class="ml-2">If you feel that an error has been made in determining your filing eligibility, <span class="font-weight-bold font-italic">please ensure that your position or candidacy dates are accurate.</span></p>

        <p v-if="electronicFilingAllowed">The most recent statement submitted covers {{mostRecentStatement.period_start | dateFormatShort}} through {{mostRecentStatement.period_end | dateFormatShort}} and was
          filed on {{mostRecentStatement.first_filed_at | dateFormat}}.</p>
      </div>
      <div v-if="electronicFilingAllowed">
        <v-btn rounded color="primary" @click="chooseStatement()">Start Disclosure Statement</v-btn>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapState, mapActions }from 'vuex';
  import {app} from "@/main";
  import Requirements from "../info/Requirements";
  import IdentificationValidator from "./IdentificationValidator"
  import moment from 'moment';

  export default {
    name: "StatementsOwed",
    components: {Requirements, IdentificationValidator},
    data() {
      return {
        data_loaded: null,
        statements_owed: [],
        computeCounter: 0,
        selectedIndex: 0,
      }
    },
    created() {
      this.validateIdentification(this.submission);
      this.submission.name = this.person.name;
      if (this.identificationComplete) {
        this.getStatementsOwed();
      }
    },
    computed: {
      ...mapState(['statement', 'submission', 'candidacies', 'offices', 'person', 'statements', 'user', 'thresholds']),
      currentStep() {
        let step='identification';
        this.computeCounter;
        if (this.identificationComplete) {
          if (this.statements_owed.length) {
            if (this.statements_owed[this.selectedIndex].required) {
              step = 'required'
            }
            else {
              step = 'conditional'
            }
          }
          else {
            if (this.data_loaded) {
              step = 'none-required'
            }
            else {
              step = 'loading'
            }
          }
        }
        return step;
      },
      electronicFilingAllowed() {
        return (this.currentStep === 'required' ||(this.currentStep === 'conditional' && this.statement.required));
      },
      selectedStatement() {
        this.computeCounter;
        if (this.statements_owed.length) {
          return this.statements_owed[this.selectedIndex];
        }
        else {
          return {};
        }
      },
      mostRecentStatement () {
        if (this.statements.length > 0) {
          return this.statements[0];
        }
        else {
          return {};
        }
      },
      identificationComplete() {
        return Boolean(
          this.submission.name
          && ((this.statement.isCandidate === true && this.candidacies.length) ||  this.statement.isCandidate === false)
          && ((this.statement.isOfficeHolder === true && this.offices.length) || this.statement.isOfficeHolder === false)
          && ((this.person.person_id === -1 || this.person.person_id))
        );
      },
      relevantCampaigns() {
        let periodEndPlusOne = new moment(this.statement.period_end).add(1, 'year').format('YYYY-MM-DD');
        return this.candidacies.filter(c => c.campaign_start_date > this.statement.period_end
          && c.campaign_start_date <= periodEndPlusOne);
      },
      draftState() {
        this.computeCounter++;
        return this.statement.draft_state.state;
      },
    },
    methods:{
      ...mapActions(["wizardActivate","doSaveSubmissions","saveSubmission", "validateIdentification"]),
      gotoStep(step) {
        this.wizardActivate({step: step})
      },
      selectStatementOwed(index){
        this.statement.period_start = this.statements_owed[index].period_start;
        this.statement.period_end = this.statements_owed[index].period_end;
        this.statement.isNJurisdiction = !this.statements_owed[index].required;
        if (!this.draftState.statements_owed_step) {
          this.statement.draft_state.state.statements_owed_step = 0;
        }
      },
      chooseStatement() {
        this.statement.period_start = this.selectedStatement.period_start;
        this.statement.period_end = this.selectedStatement.period_end;
        this.statement.required = this.required;
        this.doSaveSubmissions(true);
        this.saveSubmission();
        this.gotoStep('StatementOverview');
      },
      selectDefaultStatement() {
        let definitelyRequired = this.statements_owed.filter(s => s.required);
        if (definitelyRequired. length >= 1) {
          let index = this.statements_owed.findIndex(e => e.period_start === definitelyRequired[0].period_start);
          this.selectStatementOwed(index);
        }
        else {
          this.selectStatementOwed(0);
        }
      },
      onRequiredChange() {
        this.computeCounter++;
      },
      getStatementsOwed(){
        app.$container.dataService.post('service/financial-affairs/request-missing-statements', (result) => {
          if (result.data && result.data.statements_owed) {
            this.statements_owed = result.data.statements_owed
                .filter(statement => new Date(statement.period_start) >= new Date('2019-01-01'));
            this.data_loaded = true;
          }
          this.computeCounter++;
        }, {
          'person':this.person,
          'candidacies': this.candidacies,
          'offices': this.offices
        });
      }
    }
  }
</script>

<style scoped>
.info-text {
  margin: 0 0 0 12px;
}
</style>
