<template>
  <span v-if="hasAccess">

    <v-btn icon small tabindex="-1" @click="onRefresh()"><v-icon>refresh</v-icon></v-btn>
    <v-btn

        depressed
        light
        small
        @click="onLockClick()"
    >
      <v-icon v-if="user.locked">lock</v-icon>
      <v-icon v-else>lock_open</v-icon>
    </v-btn>
  </span>
</template>

<script>
  import {mapState, mapActions} from 'vuex'
  export default {
    name: "SubmissionLock",
    computed: {
      ...mapState(['user', 'submission']),
      hasAccess() {
        let adminAccess = false;
        adminAccess = this.user.rights && this.user.rights.enter_wapdc_data;
        return adminAccess;
      },
    },
    methods: {
      ...mapActions(['getDraftSubmission']),
      onLockClick() {
        if (this.user.locked){
          this.user.locked = false;
        } else {
          this.user.locked = true;
        }
      },
      onRefresh() {
        this.getDraftSubmission({submission_id: this.submission.submission_id})
      }
    }
  }
</script>

<style scoped>

</style>