<template>
  <div class="ReviewErrors">
    <div v-if="Object.keys(submissionErrors).length > 0">
      <h2><v-icon color="accent">warning</v-icon>Needs work</h2>
      <v-list-item v-for="(error, index) in submissionErrors" :key="index">
        <v-avatar>
          <InfoDialog :info="fetchVueInfo(index)" />
        </v-avatar>
        <v-list-item-content>
          {{error}}
        </v-list-item-content>
        <v-list-item-action>
          <v-btn rounded  @click="fixIt(index)">
            Fix It
          </v-btn>
        </v-list-item-action>
      </v-list-item>
      <p><strong>Time saving tip:</strong> After fixing any errors, click "Review" in the menu to return to this screen.</p>
    </div>
    <div v-else>
      <h2><v-icon large color="primary">done</v-icon>Looks good</h2>
      <p>
        We've reviewed this financial statement and found no obvious problems.  Please review this financial affairs
        disclosure statement before submitting to the PDC.
      </p>
    </div>
  </div>
</template>

<script>
  import {mapState, mapActions} from 'vuex';
  import InfoDialog from "../info/InfoDialog";

  export default {
    name: "SubmissionErrorCheck",
    components: {InfoDialog},
    computed: {
      ...mapState(['submission', 'statement']),
      submissionErrors() {
        if (this.submission.validation) {
          return this.submission.validation;
        }
        else {
          return [];
        }
      },
      state() {
        return this.statement.draft_state.state;
      }
    },
    methods: {
      ...mapActions(['wizardActivate', 'wizardValidate']),
      handleCategoryError(error, step, action) {
        let parts = error.split('.');
        if (isNaN(parts[1])) {
          this.statement.draft_state.state.category = parts[1];
        }
        else {
          this.statement.draft_state.state.action = action;
          this.statement.draft_state.state.selectedIndex = parseInt(parts[1]);
        }
        this.wizardActivate({step: step});
      },
      handleBusinessError(error, step, action, businessAction) {
        let parts = error.split('.');
        let state = this.statement.draft_state.state;
        if (isNaN(parts[1])) {
          state.category = parts[1];
        }
        else {
          state.action = action;
          state.selectedIndex = parseInt(parts[1]);
        }


        let hasIndex = !isNaN(parts[3]);
        if (hasIndex) {
          let subIndex = parseInt(parts[3]);
          switch (step) {
            case 'BusinessPayments':
              state.selectedBusinessPaymentIndex = subIndex;
              break;
            case 'AgencyPayments':
              state.selectedAgencyPaymentIndex = subIndex;
              break;
            case 'OfficePayments':
              state.selectedOfficePaymentIndex = subIndex;
              break;
            case 'BusinessOfficers':
              state.selectedOfficerIndex = subIndex;
              break;
            case 'BusinessAgencyBalances':
              state.selectedAgencyBalanceIndex = subIndex;
              break;
            case 'BusinessInterestPayments':
              state.selectedBusinessInterestPaymentIndex = subIndex;
              break;
            case 'BusinessInterestRecipts':
              state.selectedBusinessInterestReceiptIndex = subIndex;
              break;
            case 'BusinessProperty':
              state.selectedPropertyIndex = subIndex;
              break;
          }
        }

        if (state.businessAction) {
          state.businessAction = businessAction;
        }
        else {
          delete this.statement.draft_state.state.businessAction;
        }
        this.wizardActivate({step: step});
      },
      handleError(error, review, edit) {
        let parts = error.split('.');
        if (isNaN(parts[1])) {
          this.wizardActivate({step: review});
        } else {
          this.statement.draft_state.state.action = edit;
          this.statement.draft_state.state.selectedIndex = parseInt(parts[1]);
          this.wizardActivate({step: review});
        }
      },
      handleRealEstateError(error, review, action, propertyAction = null) {
        let parts = error.split('.');
        if (!isNaN(parts[1])) {
          this.statement.draft_state.state.action = action;
          this.statement.draft_state.state.selectedIndex = parseInt(parts[1]);
          if (propertyAction) {
            if (propertyAction === 'RealEstateMortgage') {
              this.statement.draft_state.state.creditorAction = propertyAction;
              this.statement.draft_state.state.creditorIndex = parseInt(parts[3]);
            }
          } else {
            this.statement.draft_state.state.action = action;
            this.statement.draft_state.state.selectedIndex = parseInt(parts[1]);
          }
        }
        this.wizardActivate({step: review});
      },
      fixIt(error) {
          switch (true){
            case error.includes('candidacies.'):
              this.handleError(error, 'Candidacies', 'Candidacy');
              break;
            case error.includes('offices.'):
              this.handleError(error, 'OfficesHeld', 'OfficeHolder');
              break;
            case error.includes('coverage.'):
              this.wizardActivate({step: 'StatementsOwed'});
              break;
            case error.includes('person.invalid'):
              this.submission.person_id = null;
              this.wizardActivate({step: 'SubmissionErrorCheck'});
              break;
            case error.includes('candidacies.'):
              this.handleError(error, 'Candidacies', 'Candidacy');
              break;
            case error.includes('offices.'):
              this.handleError(error, 'OfficesHeld', 'OfficeHolder');
              break;
            case error.includes('person.'):
              this.wizardActivate({step: 'EditPerson'});
              this.wizardValidate();
              break;
            case error.includes('spouse'):
              this.wizardActivate({step: 'Spouse'});
              break;
            case error.includes('dependents'):
              this.wizardActivate({step: 'Spouse'});
              break;
            case error.includes('immediateFamily'):
              this.wizardActivate({step: 'Spouse'});
              break;
            case error.includes('real_estate') && error.includes('ownership'):
              this.handleRealEstateError(error, 'RealEstateReview', 'RealEstateBoughtSold');
              break;
            case error.includes('real_estate') && error.includes('mortgage'):
              this.handleRealEstateError(error, 'RealEstateReview', 'RealEstateMortgageList', 'RealEstateMortgage');
              break;
            case error.includes('real_estate') && error.includes('purchaser'):
              this.handleRealEstateError(error, 'RealEstateReview', 'RealEstatePurchaser');
              break;
            case error.includes('real_estate'):
              this.handleRealEstateError(error, 'RealEstateReview', 'RealEstateProperty');
              break;
            case error.includes('income'):
              this.handleCategoryError(error, 'IncomeReview', 'Income');
              break;
            case error.includes ('business_associations') && error.includes('lending_institution'):
              this.handleBusinessError(error, 'BusinessReview', 'LendingInstitution');
              break;
            case error.includes('business_associations') && error.includes('business_payments'):
              this.handleBusinessError(error, 'BusinessReview', 'BusinessPayments');
              break;
            case error.includes('business_associations') && error.includes('agency_payments'):
              this.handleBusinessError(error, 'BusinessReview', 'AgencyPayments');
              break;
            case error.includes('business_associations') && error.includes('office_payments'):
              this.handleBusinessError(error, 'BusinessReview', 'OfficePayments');
              break;
            case error.includes('business_associations') && error.includes('agency_balances'):
              this.handleBusinessError(error, 'BusinessReview', 'BusinessAgencyBalances');
              break;
            case error.includes('business_associations') && error.includes('officers'):
              this.handleBusinessError(error, 'BusinessReview', 'BusinessOfficers', 'BusinessOfficerEdit');
              break;
            case error.includes('business_associations') && error.includes('business_interest_payments'):
              this.handleBusinessError(error, 'BusinessReview', 'BusinessInterestPayments');
              break;
            case error.includes('business_associations') && error.includes('business_interest_receipts'):
              this.handleBusinessError(error, 'BusinessReview', 'BusinessInterestReceipts');
              break;
            case error.includes('business_associations') && error.includes('wa_property'):
              this.handleBusinessError(error, 'BusinessReview', 'BusinessProperty');
              break;
            case error.includes('business_associations'):
              this.handleBusinessError(error, 'BusinessReview', 'Business');
              break;
            case error.includes('assets'):
              this.handleCategoryError(error, 'AccountsReview', 'AccountEdit');
              break;
            case error.includes('accounts'):
              this.handleCategoryError(error, 'AccountsReview', 'AccountEdit');
              break;
            case error.includes('judge_or_law_enforcement'):
              this.wizardActivate({step: 'CategoricalExemption'});
              break;
            case error.includes('creditors'):
              this.handleError(error, 'CreditorReview', 'Creditor');
              break;
            case error.includes('lobbies'):
              this.handleError(error, 'LobbyingIndication', 'edit');
              break;
            case error.includes('gifts'):
              this.handleError(error, 'Gifts', 'edit');
              break;
            default:
              break;
          }
          this.wizardValidate();
      },
      fetchVueInfo(){
        switch(true){
          default:
            return "UnknownError";
        }
      }
    }
  }
</script>

<style scoped>

</style>
