<template>
  <div>
    <h2>Attach a file</h2>
    <AttachFile target_type="fa_submission" :target_id="this.submission.submission_id" />
  </div>
</template>

<script>
  import { mapState } from 'vuex';
  import AttachFile from '../components/AttachFile';

  export default {
    name: "SubmissionAttachment",
    components: {
      AttachFile
    },
    data(){
      return{
        categories:[]
      }
    },
    computed: {
      ...mapState(['submission']),
      category() {
        return this.wizard.category;
      }
    },
    methods: {
    }
  }
</script>

<style scoped>

</style>