<template>
  <div v-if="statement && statement.period_start">
    <v-container fluid>
      <h2>
        Financial Affairs Disclosure - Washington State Public Disclosure Commission
      </h2>

      <div>
        <v-row>
          <v-col
            cols="12"
            md="8"
            lg="8">
            <div>{{submission.name | titleCase}}</div>
            <div v-if="statement.has_spouse">Spouse or registered domestic partner: {{statement.spouse}}</div>
            <div v-if="statement.has_dependent">Adult dependents: {{statement.dependents.join(', ')}}</div>
            <address>
              {{person.email}}
            </address>
            <div>Covering {{statement.period_start | dateFormat}} - {{statement.period_end | dateFormat}}</div>
            <div v-if="candidacies.length > 0">
              <strong>Candidacies:</strong>
              <div v-for="(candidacy, key) in candidacies" :key="key">
                {{candidacy.office}}
                <span v-if="candidacy.jurisdiction"> - {{candidacy.jurisdiction}}</span>
                <span v-if="candidacy.position"> - {{candidacy.position}}</span>
                <span v-if="candidacy.election"> - {{candidacy.election}}</span>
              </div>
            </div>
            <div v-if="offices.length > 0">
              <strong>Offices:</strong>
              <div v-for="(office, key) in offices" :key="key">
                {{office.office}}
                <span v-if="office.jurisdiction"> - {{office.jurisdiction}}</span>
                <span v-if="office.position"> - {{office.position}}</span>
              </div>
            </div>
            <div><span class="small-text">* Unless otherwise indicated, all reported information pertains to {{submission.name | titleCase }}.</span>
            </div>
          </v-col>
          <v-col
            cols="8"
            md="4"
            lg="4">
            <div class="flyout">
              <v-row>
                <v-col>
                  <div><span class="flyout-label">Submitted date:</span>
                    <span v-if="submission.submitted_at"> {{submission.submitted_at | dateFormatShort }}</span>
                    <span v-else> Not yet submitted</span>
                  </div>
                  <div>
                    <span class="flyout-label">Certified by:</span>
                    {{submission.certification_name}}
                  </div>
                  <div v-if="submission.certification_email">
                    <span class="flyout-label">Email:</span>
                    {{submission.certification_email}}
                  </div>
                  <div v-if="submission.certification_phone">
                    <span class="flyout-label">Phone:</span>
                    {{submission.certification_phone}}
                  </div>
                </v-col>
                <v-col>
                  <div v-if="submission.history">
                    <v-btn @click="historyDialog = true" primary>Submission History</v-btn>
                  </div>
                </v-col>
              </v-row>
              <v-row style="margin: 1px">
                <div v-if="submission.certification && submission.certification.includes('COVID-19')">
                  This filer has indicated that they were unable to file a complete disclosure due to circumstances related to COVID-19.
                  They have agreed to amend with additional details no later than 30 days after the end of the declared emergency.
                </div>
              </v-row>
            </div>
          </v-col>
        </v-row>
      </div>

      <v-card>
        <v-card-title>
          Income
        </v-card-title>
        <v-card-text>
          Reportable income, including wages, tips, sales commissions, stock options, non-investment
          retirement income and miscellaneous income such as legal judgments, rental property income, etc.:
          <div v-if="statement.income.data &amp;&amp; statement.income.data.length > 0">
            <v-row>
              <v-col
                cols="12"
                md="6"
                lg="3"
                v-for="(item,s) in statement.income.data"
                :key="s"
              >
                <div class="bottom-margin">
                  <div v-if="item.name"><strong>{{item.name}}</strong></div>
                  <address>
                    <div v-if="item.address">{{item.address}}</div>
                    <div v-if="item.city">{{item.city | suffix(',')}} {{item.state}} {{item.postcode}}</div>
                  </address>
                  <div> <strong>Earned by: </strong><AssetOwner :who="item.who" />
                  </div>
                  <div v-if="item.income"><strong>Income: </strong>{{item.income |
                    monetaryRange}}
                  </div>
                  <div v-if="item.why"><strong>Type: </strong>{{item.why}}</div>
                  <div v-if="item.value"><strong>Value: </strong>{{item.value |
                    monetaryRange}}
                  </div>
                </div>
              </v-col>
            </v-row>
          </div>
          <div v-else>
            There is no income from wages, tips, sales commissions, stock options, non-investment retirement
            income or any other miscellaneous income.
          </div>
        </v-card-text>
      </v-card>

      <v-card>
        <v-card-title>
          <div>Assets</div>
        </v-card-title>
        <v-card-text>
          Financial assets and interest income are reported from bank accounts, insurance policies,
          broker-directed investment accounts, self-directed investment accounts and other financial assets:
          <div v-if="statement.accounts.data &amp;&amp; statement.accounts.data.length > 0">
            <v-row>
              <v-col
                cols="12"
                md="6"
                lg="3"
                v-for="(item, i) in statement.accounts.data"
                :key="i"
              >
                <div class="bottom-margin">

                  <div v-if="item.name"><strong>{{item.name}}</strong></div>
                  <address v-if="item.address">
                    <div v-if="item.address">{{item.address}}</div>
                    <div v-if="item.city">{{item.city | suffix(',')}} {{item.state}} {{item.postcode}}</div>
                  </address>
                  <div><strong>Account owner: </strong>
                    <AssetOwner :who="item.who" />
                  </div>
                  <div v-if="item.value"><strong>Account value: </strong>
                    {{item.value |
                    monetaryRange}}
                  </div>
                  <div v-for="(asset, as) in item.assets" :key="as">
                    <div v-if="asset.nature"><strong>Type: </strong>{{asset.nature}}
                    </div>
                    <div v-if="asset.ticker"><strong>{{asset.ticker}} - {{asset.name}}</strong></div>
                    <div v-if="asset.income"><strong>Income: </strong>{{asset.income
                      | monetaryRange}}
                    </div>
                    <div v-if="asset.value"><strong>Value: </strong>{{asset.value
                      | monetaryRange}}
                    </div>
                  </div>

                </div>
              </v-col>
            </v-row>
          </div>
          <div v-else>
            There are no reportable financial assets, including bank accounts, insurance policies, broker or
            self-directed investment accounts or any other financial assets.
          </div>
        </v-card-text>
      </v-card>

      <v-card>
        <v-card-title>
          <div>Real estate</div>
        </v-card-title>
        <v-card-text>
          Real estate owned in the state of Washington:
          <div v-if="statement.judge_or_law_enforcement" class="small-text">* {{submission.name | titleCase }} claimed the exemption for judges, sheriffs and prosecutors, and therefore is not required to disclose the address of a personal residence.</div>
          <div v-if="statement.reporting_modifications.residential_address && !statement.judge_or_law_enforcement" class="small-text">* {{submission.name | titleCase }} cited a residential address reporting modification that exempts disclosure of address information.</div>
          <div v-if="statement.real_estate &amp;&amp; statement.real_estate.length > 0">
            <div>
              <v-row v-for="(item, re) in statement.real_estate" :key="re" cols="2">
                <v-col
                  cols="12"
                  md="4"
                >
                  <RealEstateLocation :location="item.location"/>
                  <div><strong>Owned by:</strong>
                    <AssetOwner :who="item.who" />
                  </div>
                  <div v-if="item.assessed_value"><strong>Assessed value:</strong>
                    {{item.assessed_value |
                    monetaryRange }}
                  </div>
                </v-col>
                <v-col
                  cols="12"
                  md="8"
                >

                  <div v-if="item.creditors  &amp;&amp; item.creditors.length > 0"
                       class="bottom-margin">

                    <div v-for="(item,cr) in item.creditors" :key="cr">
                      <div v-if="item.name"><strong>Mortgage held by:</strong>
                        {{item.name}}
                      </div>
                      <div v-if="item.address">
                        <address>
                          {{item.address}}
                          <br/>{{item.city | suffix(',')}}, {{item.state}} {{item.postcode}}
                        </address>
                      </div>
                      <div v-if="item.original_amount"><strong>Original amount:</strong> {{item.original_amount
                        | monetaryRange }}
                      </div>
                      <div v-if="item.current_amount"><strong>Current amount:</strong> {{item.current_amount |
                        monetaryRange }}
                      </div>
                      <div v-if="item.security_given"><strong>Security given:</strong> {{item.security_given
                        }}
                      </div>
                      <div v-if="item.terms"><strong>Payment terms:</strong> {{item.terms}}</div>
                    </div>

                  </div>


                  <div v-if="item.purchaser">
                    <div v-if="item.purchaser.name"><strong>Sold to:</strong>
                      {{item.purchaser.name}}
                    </div>
                    <div v-if="item.purchaser.address">
                      <address>
                        {{item.purchaser.address}}
                        <br/>{{item.purchaser.city | suffix(',')}}
                        {{item.purchaser.state}} {{item.purchaser.postcode}}
                      </address>
                    </div>
                    <div v-if="item.purchaser.sale_amount">
                      {{item.purchaser.sale_amount | monetaryRange }}
                    </div>
                  </div>

                </v-col>
              </v-row>
            </div>
          </div>
          <div v-else>
            There is no real estate owned in Washington State.
          </div>
        </v-card-text>
      </v-card>


      <v-card id="creditors">
        <v-card-title>
          <div>Debt</div>
        </v-card-title>
        <v-card-text>
          <div v-if="statement.has_creditors === true">
            Creditors owed more than $2,400:
            <v-row>
              <v-col
                cols="12"
                md="6"
                lg="3"
                v-for="(item, cr) in statement.creditors" :key="cr"
              >
                <div class="bottom-margin">
                  <div v-if="item.name"><strong>Creditor name: {{item.name}}</strong>
                  </div>
                  <div><strong>Owed by: <AssetOwner :who="item.who" /></strong>
                  </div>
                  <address>
                    <div v-if="item.address">{{item.address}}</div>
                    <div v-if="item.city">{{item.city | suffix(',')}} {{item.state}} {{item.postcode}}</div>
                  </address>

                  <div v-if="item.original_amount"><strong>Original amount:</strong>
                    {{item.original_amount | monetaryRange}}
                  </div>
                  <div v-if="item.ending_amount"><strong>Ending amount:</strong>
                    {{item.ending_amount | monetaryRange}}
                  </div>
                  <div v-if="item.payment_terms"><strong>Payment terms:</strong>
                    {{item.payment_terms}}
                  </div>
                  <div v-if="item.security_given"><strong>Security given:</strong>
                    {{item.security_given}}
                  </div>
                </div>
              </v-col>
            </v-row>
          </div>
          <div v-else>
            There is no debt owed in excess of $2,400.
          </div>
        </v-card-text>
      </v-card>


      <v-card id="business-associates">
        <v-card-title>
          <div>Business associations</div>
        </v-card-title>
        <v-card-text>
          <div v-if="statement.business_associations.data  &amp;&amp; statement.business_associations.data.length > 0">
            <p>Business entities where {{person.name |
              titleCase}} owns 10 percent or more, or serves as an officer,
              director or general partner.</p>
            <v-row v-for="(item, ba) in statement.business_associations.data"
                   :key="ba">
              <v-col v-if="ba > 0" cols="12">
                <v-divider  class="mx-1"></v-divider>
              </v-col>
              <v-col
                cols="12"
                md="4"
              >

                <div v-if="item.legal_name">
                  <strong>{{item.legal_name}}</strong> (<AssetOwner :who="item.who" />)
                </div>
                <div v-if="item.position">{{item.position | titleCase}}</div>
                <address>
                  <div v-if="item.address">{{item.address}}</div>
                  <div v-if="item.city">{{item.city}} {{item.state}} {{item.postcode}}</div>
                </address>
                <div v-if="item.description">{{item.description}}</div>
                <div v-if="item.percentage_of_ownership">
                  {{item.percentage_of_ownership}}%
                  ownership
                </div>
                <div v-if="item.value">{{item.value | monetaryRange}}</div>
                <div v-if="item.value"><strong>Value:</strong>
                  {{item.value
                  | monetaryRange}}
                </div>

                <div v-if="item.has_wa_property === true">
                  <strong>Washington properties worth more than $24,000:</strong>
                  <div v-for="(wa,pr) in item.wa_property" :key="pr">
                    <div class="bottom-margin" />
                    <RealEstateLocation :location="wa" />
                  </div>
                </div>
              </v-col>

              <v-col
                cols="12"
                md="8"
              >


                <div v-if="item.is_lending_institution && item.reporting_choice==='balances'" class="bottom-margin">
                  <h4>Officers</h4>
                  <div v-if="item.officers && item.officers.length > 0">
                    <v-row>
                      <v-col
                        cols="12"
                        md="6"
                        lg="4"
                        v-for="(officer,o) in item.officers"
                        :key="o"
                      >
                        <div class="bottom-margin">
                          <div v-if="officer.name"><strong>{{officer.name}}</strong></div>
                          <div v-if="officer.occupation">{{officer.occupation}}</div>
                          <address>
                            <div v-if="officer.address">{{officer.address}}</div>
                            <div v-if="item.city">{{item.city | suffix(',')}} {{item.state}} {{item.postcode}}</div>
                          </address>
                        </div>
                      </v-col>
                    </v-row>
                  </div>
                  <div v-else>
                    {{item.legal_name}} has no other officers.
                  </div>

                </div>

                <div v-if="item.is_lending_institution && item.reporting_choice==='balances'" class="bottom-margin">
                  <h4>Government Account Balances</h4>
                  <div v-if="item.agency_balances && item.agency_balances.length > 0">
                    <p>Average monthly balances for all accounts held by a government agency where {{person.name}} seeks or holds a position between {{statement.period_start|dateFormat}} and {{statement.period_end|dateFormat}}</p>
                    <v-data-table :items="item.agency_balances"
                                  :headers="[
                                    { text: 'Account', value: 'account' },
                                    { text: 'Balance', value: 'balance' },
                                  ]"
                                  hide-default-footer
                                  disable-pagination
                    >
                    </v-data-table>
                  </div>
                  <div v-else>
                    <p>No accounts were held at {{item.legal_name}} by  a
                      government agency where {{person.name | titleCase }} sought or held office.</p>
                  </div>
                </div>

                <div v-if="item.is_lending_institution && item.reporting_choice==='interest'" class="bottom-margin">
                  <h4>Government Interest Paid</h4>
                  <div v-if="item.business_interest_payments && item.business_interest_payments.length > 0">
                    <p>Interest payments exceeding $2900 to a government agency where {{person.name}} seeks or holds a position between {{statement.period_start|dateFormat}} and {{statement.period_end|dateFormat}}</p>
                    <v-data-table :items="item.business_interest_payments"
                                  :headers="[
                                    { text: 'Agency', value: 'agency' },
                                    { text: 'Amount', value: 'amount' },
                                  ]"
                                  hide-default-footer
                                  disable-pagination
                    >
                    </v-data-table>
                  </div>
                  <div v-else>
                    <p>No interest payments exceeding $2900 were paid by {{item.legal_name}} to a
                      government agency where {{person.name | titleCase }} sought or held office.</p>
                  </div>
                </div>

                <div v-if="item.is_lending_institution && item.reporting_choice==='interest'" class="bottom-margin">
                  <h4>Government Interest Received</h4>
                  <div v-if="item.business_interest_receipts && item.business_interest_receipts.length > 0">
                    <p>Interest payments exceeding $2900 received from a government agency where {{person.name}} seeks or holds a position between {{statement.period_start|dateFormat}} and {{statement.period_end|dateFormat}}</p>
                    <v-data-table :items="item.business_interest_receipts"
                                  :headers="[
                                    { text: 'Agency', value: 'agency' },
                                    { text: 'Amount', value: 'amount' },
                                  ]"
                                  hide-default-footer
                                  disable-pagination
                    >
                    </v-data-table>
                  </div>
                  <div v-else>
                    <p>No interest payments exceeding $2900 were received by {{item.legal_name}} from a
                      government agency where {{person.name | titleCase }} sought or held office.</p>
                  </div>
                </div>

                <div v-if="!item.is_lending_institution" class="bottom-margin">
                  <h4>Government Payments</h4>
                  <div v-if="item.office_payments  &amp;&amp; item.office_payments.length > 0">
                    <p>Payments received by {{item.legal_name}}  between {{statement.period_start | dateFormatShort}} and
                      {{statement.period_end | dateFormatShort}} from a government agency at which {{person.name | titleCase}}
                      held or sought office:</p>
                    <v-data-table :items="item.office_payments"
                                  :headers="[
                                    { text: 'Purpose', value: 'purpose' },
                                    { text: 'Amount', value: 'amount' },
                                  ]"
                                  hide-default-footer
                                  disable-pagination
                    >
                    </v-data-table>
                  </div>
                  <div v-else>
                    <p>No payments were received by {{item.legal_name}} from a
                      government
                      agency where
                      {{person.name | titleCase }} sought or held office.</p>
                  </div>
                </div>

                <div v-if="!item.is_lending_institution" class="bottom-margin">
                  <h4>Other Government Payments</h4>
                  <div v-if="item.agency_payments  &amp;&amp; item.agency_payments.length > 0">
                    <p>Payments of $12,000 or more that were received by {{item.legal_name}} between
                      {{statement.period_start| dateFormatShort}} and {{statement.period_end |dateFormatShort}}
                      from a government agency where {{person.name | titleCase}} <strong>did not</strong>
                      seek or hold office:</p>
                    <v-data-table :items="item.agency_payments"
                                  :headers="[
                                    { text: 'Agency', value: 'agency' },
                                    { text: 'Purpose', value: 'purpose' },
                                  ]"
                                  hide-default-footer
                                  disable-pagination
                    >
                      <template v-slot:items="items">
                        <td>{{ agency.agency}}</td>
                        <td>{{ agency.purpose }}</td>
                      </template>
                    </v-data-table>
                  </div>
                  <div v-else>
                    {{item.name}}
                    <p>No payments were received by {{item.legal_name}} in excess
                      of $12,000 from a government agency where {{person.name | titleCase}}
                      <strong>did not</strong> seek or hold office.</p>
                  </div>
                </div>

                <div v-if="!item.is_lending_institution" class="bottom-margin">
                  <h4>Business Payments</h4>
                  <div v-if="item.business_payments  &amp;&amp; item.business_payments.length > 0">
                    <p>Payments of $12,000 or more that were received by
                      {{item.legal_name}} from business customers between
                      {{statement.period_start | dateFormatShort}} and
                      {{statement.period_end | dateFormatShort}}:</p>
                    <v-data-table :items="item.business_payments"
                                  :headers="[
                                    { text: 'Business', value: 'business' },
                                    { text: 'Purpose', value: 'purpose' },
                                  ]"
                                  hide-default-footer
                                  disable-pagination
                    >
                      <template v-slot:items="items">
                        <td>{{ business.business}}</td>
                        <td>{{ business.purpose }}</td>
                      </template>
                    </v-data-table>
                  </div>
                  <div v-else>
                    <p>No payments were received by {{item.legal_name}} in excess of
                      $12,000 from any business customer.</p>
                  </div>
                </div>

              </v-col>
            </v-row>
          </div>
          <div v-else>
            <p>There is no business ownership, nor is there involvement as an officer, director or general partner.</p>
          </div>

        </v-card-text>
      </v-card>


      <v-card id="lobbies">
        <v-card-title>
          <div>Lobbying activity</div>
        </v-card-title>
        <v-card-text>
          Compensation received for lobbying activities:
          <div v-if="statement.has_lobbies === true">
            <v-row>
              <v-col
                cols="12"
                md="6"
                lg="3"
                v-for="(item,lo) in statement.lobbies" :key="lo"
              >
                <div class="bottom-margin">
                  <div><strong>Lobbyist:</strong>
                    <AssetOwner :who="item.who" />
                  </div>
                  <div v-if="item.for"><strong>Lobbied for:</strong> {{item.for}}
                  </div>
                  <div v-if="item.purpose"><strong>Purpose:</strong> {{item.purpose}}
                  </div>
                  <div v-if="item.compensation"><strong>Compensation:</strong>
                    {{item.compensation | monetaryRange }}
                  </div>
                </div>
              </v-col>
            </v-row>
          </div>
          <div v-else>
            No qualifying lobbying activity was done.
          </div>
        </v-card-text>
      </v-card>

      <v-card v-if="statement.hasOwnProperty('has_gifts')">
        <v-card-title>
          <div>Gifts</div>
        </v-card-title>
        <v-card-text>
          Gifts of food and beverages worth more than $50, and travel or seminar expenses made by any outside
          government agency:
          <div v-if="statement.has_gifts === true">
            <v-row>
              <v-col
                cols="12"
                md="6"
                lg="3"
                v-for="(item,gi) in statement.gifts" :key="gi"
              >
                <v-card flat>
                  <v-card-text>
                    <div><strong>Recipient:</strong>
                      <AssetOwner :who="item.who" />
                    </div>
                    <div v-if="item.donor_name"><strong>Donor:</strong> {{item.donor_name}}
                    </div>
                    <div v-if="item.city">{{item.city | suffix(',')}} {{item.state | upperCase }}
                    </div>
                    <div v-if="item.description"><strong>Description:</strong>
                      {{item.description}}
                    </div>
                    <div v-if="item.value"><strong>Value:</strong>
                      {{item.value | money }}
                    </div>
                    <div v-if="item.date_received">{{item.date_received}}
                    </div>
                  </v-card-text>
                </v-card>
              </v-col>
            </v-row>
          </div>
          <div v-else>
            There were no gifts exceeding $50; nor were there any payments for travel or seminars.
          </div>
        </v-card-text>
      </v-card>


    </v-container>

    <v-dialog max-width="475px" v-model="historyDialog">
      <v-card>
        <v-card-title>Submission History</v-card-title>
        <v-card-text>
          <div v-for="(item, index) in submission.history" :key="index">
            <span v-if="index === 0">Original filing: {{item.submitted_at | dateFormat}}</span>
            <span v-else>Amendment: {{item.submitted_at | dateFormat}}</span>
          </div>
        </v-card-text>
        <v-card-actions>
          <v-btn @click="historyDialog = false">Close</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>

</template>

<script>
  import {mapState} from 'vuex';
  import RealEstateLocation from "../components/RealEstateLocation";
  import AssetOwner from "../components/AssetOwner";

  export default {
    name: "Submission",
    components: {RealEstateLocation, AssetOwner},
    data() {
      return {
        historyDialog: false
      }
    },
    computed: {
      ...mapState(['statement', 'person', 'submission', 'validation', 'candidacies', 'offices'])
    }
  }
</script>

<style lang="scss" scoped>

  .v-card__text {
    margin-bottom: 1em;
  }

  .small-text {
    font-size: .75em;
  }

  .td-payments {
    width: 30%
  }

  .bottom-margin {
    margin-bottom: 1em;
  }

  .flyout {
    margin-top: 0;
    margin-bottom: 1em;
    border-style: solid;
    border-width: 1px;
    padding: 1em 1em 1em 1em;
  }
  .flyout-label {
    font-weight: bold;
  }
  .contact {
    padding-left: 2em;
  }
</style>