<script setup>
import { computed, ref } from 'vue';

import useWizard from 'src/wizard/useWizard.js';

import columns from './columns.js';
import { statementDateString } from 'src/pages/Disclosure/common/statementDateString.js';

import ConfirmationDialog from 'src/components/ConfirmationDialog.vue';
import EditableSetTable from 'src/components/wizardInputs/EditableSetTable/EditableSetTable.vue';
import FormOpts from 'src/components/wizardInputs/FormOpts.vue';
import InputRadioYesNo, { YES, NO } from 'src/components/InputRadioYesNo.vue';
import GiftsAndTravelForm from './GiftsAndTravelForm.vue';

defineOptions({
  name: 'debt',
});

const modalOpen = ref(false);

const wizard = useWizard();

const hasKey = 'hasGifts';
const templateKey = 'gifts';

const hasFieldUtils = wizard.field(hasKey);
const fieldSetUtils = wizard.fieldSet(templateKey);

const rows = computed(() => fieldSetUtils.getAllData().value);

function handleAddNew() {
  return fieldSetUtils.add();
}

function updateHas(value) {
  const userHasStartedEntry = fieldSetUtils.getAllData().value?.length > 0;

  if (value === NO) {
    if (userHasStartedEntry) {
      modalOpen.value = true;
      return;
    }
    hasFieldUtils.set(NO);
  } else {
    handleAddNew();

    hasFieldUtils.set(YES);
  }
}

/** Deletes row and returns true on success */
function handleDeleteRow(rowIndex) {
  fieldSetUtils.remove(rowIndex);

  if (fieldSetUtils.getAllData().value?.length < 1) {
    hasFieldUtils.set(NO);
  }

  return true;
}

function userConfirmedModalClear() {
  fieldSetUtils.removeAll();
  hasFieldUtils.set(NO);
  modalOpen.value = false;
}

function handleSave() {
  wizard.save();
}
</script>

<template>
  <p>
    This section applies to gifts of food or beverages costing more than $50
    that were received by filer or a qualified family member during the filing
    period. It also covers payments made by any source other than their
    government agency for travel, accommodations or seminars. Were there gifts
    of food or beverages costing more than $50 or travel/seminar payments made
    between {{ statementDateString() }}?
  </p>

  <FormOpts :focus-first="true">
    <InputRadioYesNo
      :model-value="hasFieldUtils.value()"
      :rules="hasFieldUtils.binds.rules"
      @update:modelValue="updateHas"
    />
    <div v-show="hasFieldUtils.value() === YES">
      <EditableSetTable
        v-if="rows?.length"
        label="gift"
        :columns="columns"
        :rows="rows"
        :add-fn="handleAddNew"
        :delete-fn="handleDeleteRow"
        @save="handleSave"
      >
        <template #form="{ currentlyEditingIdx }">
          <GiftsAndTravelForm
            :key="currentlyEditingIdx"
            :data-index="currentlyEditingIdx"
            :template-key="templateKey"
          />
        </template>
      </EditableSetTable>
    </div>
  </FormOpts>

  <ConfirmationDialog
    v-model:open="modalOpen"
    title="Clear all entries?"
    primary-btn-label="Yes, clear all"
    negative-btn-label="Cancel"
    @primary-clicked="userConfirmedModalClear"
    @negative-clicked="modalOpen = false"
  >
    Are you sure you want to clear all entries? This action cannot be undone.
  </ConfirmationDialog>
</template>
