<script setup>
import useWizard from 'src/wizard/useWizard.js';

import FormOpts from 'src/components/wizardInputs/FormOpts.vue';
import InputText from 'components/InputText.vue';
import WhoDropdown from 'src/pages/Disclosure/common/WhoDropdown.vue';

defineOptions({
  name: 'debt-form',
});

const props = defineProps({
  templateKey: {
    type: String,
    required: true,
  },
  dataIndex: {
    type: Number,
    required: true,
  },
});

const wizard = useWizard();

const dataUtils = wizard.fieldSet(props.templateKey).get(props.dataIndex);
</script>

<template>
  <FormOpts :hide-hints="true">
    <div class="row">
      <WhoDropdown
        v-bind="dataUtils.vBind('who')"
        label="Gift Receiver"
        class="col-12 col-sm-6"
      />

      <p-date-picker
        v-bind="dataUtils.vBind('date_received')"
        class="q-pt-sm col-12 col-sm-6"
        label="Date received"
        stack-label
        :required="true"
      />

      <InputText
        v-bind="dataUtils.vBind('donor_name')"
        class="col-12 col-md-8"
        label="Donor name"
      />

      <InputText
        v-bind="dataUtils.vBind('monetaryValue')"
        class="col-12 col-md-4"
        prefix="$"
        mask="#.##"
        fill-mask="00"
        reverse-fill-mask
        label="Monetary value"
      />

      <InputText
        v-bind="dataUtils.vBind('city')"
        class="col-12 col-md-8"
        label="City"
      />

      <InputText
        v-bind="dataUtils.vBind('state')"
        class="col-12 col-md-4"
        label="State"
        mask="AA"
      />

      <InputText
        v-bind="dataUtils.vBind('description')"
        class="col-12 col-md-8"
        label="Description"
      />
    </div>
  </FormOpts>
</template>
