<script setup>
import { computed, onMounted, reactive, ref } from 'vue';

import useWizard from 'src/wizard/useWizard.js';
import useFiler from 'src/composables/api/useFiler.js';

import rules from 'src/utils/rules.js';
import { introSection } from '../Intro/intro.js';

import InputRadio from 'src/components/InputRadio.vue';

defineOptions({
  name: 'identification',
});

const { searchFilers, setSelectedFilerByPersonId, selectedFiler } = useFiler();
const wizard = useWizard();

const searchComponentRef = ref(null);

const state = reactive({
  isDirty: false,
  searchTerm: '',
  searchResults: null,
});

const selectedMatchedFiler = wizard.field('selectedMatchedFiler');

const searchInput = computed({
  get() {
    return state.searchTerm;
  },
  set(val) {
    if (state.isDirty && searchComponentRef.value) {
      searchComponentRef.value.validate();
    }
    state.searchTerm = val;
  },
});

const searchInputIsValid = computed(
  () =>
    (state.searchTerm || state.isDirty) &&
    searchComponentRef.value.hasError === false,
);

async function search() {
  if (searchInputIsValid.value) {
    selectedMatchedFiler.set(null);
    const matches = await searchFilers(searchInput.value);
    state.searchResults = matches;
  }
}

const newFilerOption = {
  personId: -1,
  name: null,
  office: 'Create a new filer',
  jurisdiction:
    '(You will be able to enter the complete filer name in the next step)',
  election: '',
};

onMounted(() => {
  if (selectedFiler.value && selectedFiler.value.personId) {
    setSelectedFilerByPersonId(
      selectedFiler.value.personId,
      state.searchResults,
    );
    selectedMatchedFiler.set(selectedFiler.value);
  } else {
    searchComponentRef.value.focus();
  }
});

function selectFiler(filer) {
  selectedMatchedFiler.set(filer);
  setSelectedFilerByPersonId(filer.personId, state.searchResults);

  // Prevent the user from going back to this or the overview step
  wizard.hideCurrentStep();
  wizard.hideStep(introSection.steps.overview);
}
</script>

<template>
  <h4>Let's see if the PDC has any existing information for this filer.</h4>
  Type all or part of the filer's name and search.

  <div class="row q-my-sm">
    <q-input
      ref="searchComponentRef"
      v-model="searchInput"
      label="Filer Name"
      class="q-mr-sm q-flex-grow"
      style="width: 300px; max-width: 100%"
      type="text"
      :rules="[rules.required, rules.minLength(3)]"
      placeholder="Type a name to search"
      @blur="state.isDirty = true"
      @keydown.enter="search"
    />
    <div class="q-my-auto q-ml-sm">
      <p-accessible-button
        primary
        label="Search"
        :disabled="!searchInputIsValid"
        @click="search"
      />
    </div>
  </div>

  <template v-if="!state.searchResults">
    <p>
      Even if you've never filed with the PDC, we might already have information
      about the candidacies and public offices for this filer. Finding the right
      match will speed up the processing of your submission.
    </p>
  </template>
  <template v-else>
    <template v-if="state.searchResults.length === 0">
      <p>No filers found. Please check the name and try again.</p>
    </template>

    <template v-else>
      <p>
        We found {{ state.searchResults.length }} filers that match your search.
        Please select the correct filer from the list below.
      </p>
    </template>

    <InputRadio
      v-bind="selectedMatchedFiler.binds.value"
      :options="[...state.searchResults, newFilerOption]"
      @update:modelValue="selectFiler"
    >
      <template #label="{ option: filer }">
        <span class="text-h4">{{ filer.name || "New Filer" }}</span>
      </template>
      <template #sublabel="{ option: filer }">
        <div class="text-body1">{{ filer.office }}</div>
        <div>{{ filer.jurisdiction }}</div>
        <div>{{ filer.election }}</div>
      </template>
    </InputRadio>
  </template>
</template>
