<script setup>
import { onBeforeMount, onMounted } from 'vue';
import useFiler from 'src/composables/api/useFiler';
import useWizard from 'src/wizard/useWizard.js';

import FormOpts from 'src/components/wizardInputs/FormOpts.vue';
import InputText from 'src/components/InputText.vue';

defineOptions({
  name: 'name-confirmation',
});

const { updateSelectedFilerName, selectedFiler } = useFiler();
const wizard = useWizard();

const fullNameField = wizard.field('fullName');

function onNameChange(name) {
  updateSelectedFilerName(name);
  fullNameField.set(name);
}

onBeforeMount(() => {
  const name = selectedFiler.value.name;
  const isNewFiler = ['New filer', 'New Filer'].includes(name);

  if (isNewFiler) {
    // Setting blank directly on data object to prevent validation on load
    wizard.getData().person.name = '';
  } else {
    // Set the name on the field to trigger validation
    fullNameField.set(name);
  }
});

onMounted(() => {
  wizard.validateStep();
});
</script>

<template>
  <p>
    Enter your full name as you would normally write it. For example
    <strong> Seán P. Mac Stíofáin </strong>, rather than MACSTIOFAN, SEAN P.
  </p>

  <FormOpts :focus-first="true">
    <InputText
      v-bind="fullNameField.binds.value"
      label="Full Name"
      :start-focused="true"
      @update:modelValue="onNameChange"
    />
  </FormOpts>
</template>
