<script setup>
import { provide, onMounted, ref } from 'vue';

defineOptions({
  name: 'form-opts',
});

// This component wraps a group of inputs, and provides options for all of them.
// It's a simple way to group inputs together and provide options to them.

const props = defineProps({
  hideHints: {
    type: Boolean,
    default: false,
  },
  focusFirst: {
    type: Boolean,
    default: false,
  },
  stackLabel: {
    type: Boolean,
    default: true,
  },
});

provide('formOpts', props);

const formRef = ref(null);

onMounted(() => {
  if (props.focusFirst) {
    formRef.value?.querySelector('[tabindex="0"]')?.focus();
  }
});
</script>

<template>
  <div ref="formRef">
    <slot />
  </div>
</template>
