<script setup>
import { computed, ref, watch } from 'vue';

defineOptions({
  name: 'nested-set-rows',
});

const props = defineProps({
  title: {
    type: String,
    required: true,
  },
  rows: {
    type: Array,
    required: true,
  },
  rowLabel: {
    type: String,
    required: true,
  },
  rowsPerPage: {
    type: Number,
    default: 10,
  },
});

const emit = defineEmits(['add', 'remove']);

const currentPage = ref(1);
const currPageRows = computed(() => {
  const start = (currentPage.value - 1) * props.rowsPerPage;
  return props.rows.slice(start, start + props.rowsPerPage);
});
const numPages = computed(() =>
  Math.ceil(props.rows.length / props.rowsPerPage),
);

watch(
  () => numPages.value,
  (newValue, oldValue) => {
    if (newValue > oldValue) {
      currentPage.value = numPages.value;
    }
  },
);

function getRowIndex(index) {
  return (currentPage.value - 1) * props.rowsPerPage + index;
}
</script>

<template>
  <div @keydown.enter="emit('add')">
    <h3 class="q-mt-none">{{ title }}</h3>

    <template v-for="(row, idx) in currPageRows" :key="row">
      <div
        class="rounded-borders q-my-sm q-pa-sm"
        style="border: 1px solid #ccc"
      >
        <slot name="row" :row="row" :row-index="getRowIndex(idx)" />
      </div>
    </template>

    <div
      v-if="props.rows.length > props.rowsPerPage"
      class="q-pa-lg flex flex-center"
    >
      <q-pagination
        v-model="currentPage"
        :max="numPages"
        :max-pages="6"
        boundary-numbers
      />
    </div>

    <p-accessible-button
      primary
      class="q-mt-lg"
      :label="`Add another ${rowLabel}`"
      @click="emit('add')"
    />
  </div>
</template>
