<script setup>
import { computed } from 'vue';

import useWizard from 'src/wizard/useWizard.js';

import { statementDateString } from 'src/pages/Disclosure/common/statementDateString.js';
import { realEstateOwnershipStep } from 'src/pages/Disclosure/phaseTwo/steps/RealEstate/realEstate.js';

import FormOpts from 'src/components/wizardInputs/FormOpts.vue';
import InputRadioYesNo, { NO } from 'src/components/InputRadioYesNo.vue';

defineOptions({
  name: 'income-disclosure',
});

const wizard = useWizard();

const isJudgeOrLawEnforcementKey = 'isJudgeOrLawEnforcement';
const hasOtherReportingModificationKey = 'hasOtherReportingModification';

const hasOtherReportingModificationUtils = wizard.field(
  hasOtherReportingModificationKey,
);
const isJudgeOrLawEnforcementUtils = wizard.field(isJudgeOrLawEnforcementKey);

const propertyArrayUtils = wizard.getFieldSetUtilsByPointer(
  realEstateOwnershipStep.fields.propertyArray,
);

const hasOtherReportingModification = computed({
  get: () => hasOtherReportingModificationUtils.value(),
  set: (value) => {
    hasOtherReportingModificationUtils.set(value);
    handleExemptionChange();
  },
});

const isJudgeOrLawEnforcement = computed({
  get: () => String(isJudgeOrLawEnforcementUtils.value()),
  set: (value) => {
    isJudgeOrLawEnforcementUtils.set(value);

    if (value === NO) {
      // Reset the reporting modification value if the user changes their answer to the confidential address question
      hasOtherReportingModification.value = null;
    }

    handleExemptionChange();
  },
});

/**
 * If the user previously chose the exemption option and then changes
 * their answer to the confidential address question, we need to update
 * the property ID type to address to ensure step is locally invalidated
 */
function handleExemptionChange() {
  const propertyArrayValue = propertyArrayUtils.getAllData().value;

  if (!propertyArrayValue || propertyArrayValue.length === 0) {
    return;
  }

  const hasExemption =
    isJudgeOrLawEnforcement.value === 'true' ||
    (isJudgeOrLawEnforcement.value === 'false' &&
      hasOtherReportingModification.value === 'true');

  if (hasExemption) return;

  for (let i = 0; i < propertyArrayValue.length; i++) {
    const propertyUtils = propertyArrayUtils.get(i);
    const typeWasSetToExempt =
      propertyUtils.getValue('location')?.propertyIdType === 'exempt';

    if (typeWasSetToExempt) {
      propertyUtils.setValue('location', { propertyIdType: 'address' });
    }

    wizard.validateStep(realEstateOwnershipStep);
  }
}
</script>

<template>
  <p>
    Report all real property (land, structures and mineral rights) with an
    assessed value of over $12,000 that is located in Washington State and in
    which the filer, spouse, registered domestic partner or dependent held a
    financial interest during the reporting period between July 11, 2023 and
    July 10, 2024.
  </p>

  <h2>Residential address exemption</h2>
  <p>
    A small number of Financial Affairs Disclosure filers are exempt from
    reporting the specific location of real estate that is their personal
    residence. There are two kinds of filers for whom such an exemption applies.
  </p>

  <p>
    The first are people who hold certain offices. State law exempts judges,
    prosecutors and sheriffs from disclosing information that might reveal their
    personal residential address.
  </p>

  <p>
    The second are people who have received what's called a reporting
    modification after a finding by the Public Disclosure Commission that real
    estate disclosure presents a "manifestly unreasonable hardship."
  </p>

  <p>
    Was the filer, spouse, registered domestic partner or dependent a judge,
    prosecutor, sheriff or a certified participant in the state's Address
    Confidentiality Program from {{ statementDateString("through") }}?
  </p>

  <FormOpts :focus-first="true">
    <InputRadioYesNo
      v-model="isJudgeOrLawEnforcement"
      :rules="isJudgeOrLawEnforcementUtils.self.rules"
    />

    <template v-if="isJudgeOrLawEnforcement === NO">
      <p>
        Has the filer been granted a residential address reporting modification
        by the Public Disclosure Commission or submitted an application for one?
      </p>
      <InputRadioYesNo
        v-model="hasOtherReportingModification"
        :rules="hasOtherReportingModificationUtils.self.rules"
        @update:model-value="hasOtherReportingModificationUtils.set($event)"
      />
    </template>
  </FormOpts>
</template>
