<template>
    <div v-if="data_loaded || data_fetch_failed || data_not_found" class="statement">
        <v-card>
            <v-card-text>
                <Submission v-if="data_loaded"/>
                <div v-if="data_fetch_failed">
                    <h2>An error occurred</h2>
                    <p>
                        An error occurred while trying to retrieve the financial affairs disclosure. This might be a
                        temporary problem that is resolved in a few minutes. If the problem persists,
                        Please <a href="https://wapdc.freshdesk.com/support/tickets/new">contact the PDC.</a>
                    </p>
                </div>
                <div v-if="data_not_found">
                    <h2>Financial affairs disclosure not found</h2>
                    <p>
                        No financial affairs disclosures match this request. You can try searching for the record again.
                        If the problem persists, please <a href="https://wapdc.freshdesk.com/support/tickets/new">contact the PDC.</a>
                    </p>
                </div>
            </v-card-text>
        </v-card>
    </div>
</template>

<script>
  import {mapState, mapActions} from 'vuex';
  import {app} from '../main';
  import Submission from '../components/Submission';

  export default {
    name: 'Statement',
    components: {
      Submission
    },
    data() {
      return {
        data_loaded: false,
        data_fetch_failed: false,
        data_not_found: false
      }
    },
    mounted() {
      app.$container.wire.$on('data.loaded', () => {
        this.data_loaded = true;
      });
      app.$container.wire.$on('data.fetch_failed', () => {
        this.data_fetch_failed = true;
      });
      app.$container.wire.$on('data.not_found', () => {
        this.data_not_found = true;
      });
      this.getStatementData({statement_id: this.$route.params.statement_id});
    },
    computed: {
      ...mapState(['statement', 'submission', 'person']),
    },
    methods: {
      ...mapActions(['getStatementData']),
    }

  }
</script>

<style lang="scss" scoped>
    .md-card {
        margin-top: 2em;
        border: 1px solid darkgray;
    }

    .md-card .md-card-header {
        background-color: lightgray;
        color: black;
        font-size: large;
        font-weight: bold;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

    .officer {
        display: inline-block;
        vertical-align: top;
    }

    .officer .md-card-header, .proposal .md-card-header {
        background-color: unset;
    }

    .flyout {
        margin-top: 0;
        margin-bottom: 1em;
    }

    .flyout-label {
        font-weight: bold;
    }
</style>
