<script setup>
import ExternalLink from 'src/components/ExternalLink.vue';
import { formatPrettyDate } from 'src/utils/format.js';

defineOptions({
  name: 'complete-required',
});

defineProps({
  fullName: String,
  periodStart: String,
  periodEnd: String,
});
</script>

<template>
  <p>
    {{ fullName }} owes a Financial Affairs Disclosure statement covering
    {{ formatPrettyDate(periodStart) }} through {{ formatPrettyDate(periodEnd) }}
  </p>

  <p>
    To complete this statement, you will need information about the following
    for you, your spouse or registered domestic partner, and dependents:
  </p>

  <ul>
    <li>Employment, retirement and other sources of income</li>
    <li>Assets and interest income: bank accounts, retirement plans,</li>
    stocks, mutual funds, and other investments
    <li>Real estate wholly or partially owned, purchased or sold</li>
    <li>Debt</li>
    <li>State lobbying work</li>
    <li>Business interests and organizational associations</li>
    <li>Gifts and travel (if an appointed or elected official)</li>
  </ul>

  <p>
    Learn more about
    <ExternalLink
      href="https://www.pdc.wa.gov/learn/reporting-personal-financial-information"
    >
      reporting, guidelines, and restrictions
    </ExternalLink>
  </p>

  <h2>Next Steps</h2>
  <p>We will walk you through reporting this information.</p>
</template>
