<script setup>
import LeftRightSpacer from 'src/components/LeftRightSpacer.vue';
import AccessibleIcon from 'src/components/AccessibleIcon.vue';
import useWizard from 'src/wizard/useWizard.js';

/* TODO: use common/InvalidSteps, delete this */

defineOptions({
  name: 'invalid-steps',
});

defineProps({
  invalidSteps: Array,
});

const wizard = useWizard();
</script>

<template>
  <p class="q-mb-lg">
    Before determining your reporting you need to make sure you have answered
    the following areas:
  </p>

  <LeftRightSpacer
    v-for="{ title, sectionIndex, stepIndex, message } in invalidSteps"
    :key="sectionIndex"
    class="q-mb-md"
  >
    <template #left>
      <AccessibleIcon
        name="report_problem"
        color="negative"
        size="xs"
        class="q-mr-sm"
        role="presentation"
      />
      <strong>{{ title }}</strong> {{ message || " is incomplete" }}
    </template>

    <template #right>
      <p-accessible-button
        label="Fix"
        rounded
        negative
        @click="wizard.setCurrentStep({ sectionIndex, stepIndex })"
      >
        <AccessibleIcon
          name="edit"
          color="white"
          size="xs"
          class="q-ml-sm"
          role="presentation"
        />
      </p-accessible-button>
    </template>
  </LeftRightSpacer>
</template>
