<script setup>
defineOptions({
  name: 'may-owe',
});
</script>

<template>
  <p>
    {{ fullName }} may owe a Financial Affairs Disclosure covering {{ periodStart }} through {{ periodEnd }}.
  </p>
  <p>
    Is it anticipated that {{ person.name }} will raise or has raised more
    than ${{ thresholds.mini_reporting }} for any of these campaigns?
  </p>
  <!-- <div v-for="(campaign, index) in relevantCampaigns" :key="index">
    <p>
      {{ campaign.election }} Election: {{ campaign.office | titleCase }}
    </p>
  </div> -->
  <v-radio-group
    v-model="statement.required"
    row
    @change="onRequiredChange()"
  >
    <v-radio :value="true" label="Yes"></v-radio>
    <v-radio :value="false" label="No"></v-radio>
  </v-radio-group>
  </div> -->
</template>
