<script setup>
import { computed } from 'vue';
import { formatMoney } from 'src/utils/format.js';

import RadioButtons from 'src/components/InputRadio.vue';

defineOptions({
  name: 'minimum-threshold',
});

const props = defineProps({
  modelValue: {
    type: Boolean,
    required: true,
  },
  minimumReportingThreshold: {
    type: Number,
    required: true,
  },
  fullName: {
    type: String,
    required: true,
  },
  periodStart: {
    type: String,
    required: true,
  },
  periodEnd: {
    type: String,
    required: true,
  },
});

const emit = defineEmits(['update:modelValue']);

const monetaryThreshold = computed(() => {
  return formatMoney(props.minimumReportingThreshold);
});
</script>

<template>
  <div>
    <p>
      {{ fullName }} may owe a Financial Affairs Disclosure covering
      {{ periodStart }} through {{ periodEnd }}.
    </p>
    <p>
      Is it anticipated that {{ fullName }} will raise or has raised more than
      {{ monetaryThreshold }} for any of these campaigns?
    </p>

    <radio-buttons
      :model-value="modelValue"
      :options="[true, false]"
      :inline="true"
      option-unique-key="minimumReportingThreshold"
      @update:model-value="emit('update:modelValue', $event)"
    >
      <template #label="{ option }">
        <span class="text-h4">{{ option ? "Yes" : "No" }}</span>
      </template>
    </radio-buttons>
  </div>
</template>
