<script setup>
import { computed, onMounted, reactive, watch } from 'vue';

import useFiler from 'src/composables/api/useFiler.js';
import useThresholds from 'src/composables/api/useThresholds.js';
import useWizard from 'src/wizard/useWizard.js';

import { determineReportingRequirement } from './reportingRequirement.js';
import {
  REQUIRED,
  NOT_REQUIRED,
  CONDITIONAL,
} from 'src/composables/api/useGetRequiredStatement.js';

import CompleteRequired from './CompleteRequired.vue';
import FormOpts from 'src/components/wizardInputs/FormOpts.vue';
import InfoBox from 'components/InfoBox.vue';
import InvalidSteps from 'src/pages/Disclosure/common/InvalidSteps.vue';
import MinimumThreshold from './MinimumThreshold.vue';

defineOptions({
  name: 'reporting-requirement',
});

const { selectedFiler } = useFiler();

const wizard = useWizard();

const fullName = selectedFiler.value?.name;

const state = reactive({
  statementRequirement: null,
  exceedsThreshold: null,
  invalidSteps: [],
  minimumReportingThreshold: -1,
});

onMounted(async () => {
  const [determinationResults, thresholdsResults] = await Promise.allSettled([
    determineReportingRequirement(),
    useThresholds(),
  ]);

  if (determinationResults.status === 'fulfilled') {
    const { statementRequired, invalidSteps, isValid } =
      determinationResults.value;

    state.statementRequirement = statementRequired;
    state.invalidSteps = invalidSteps;

    if (!isValid) {
      return;
    }

    if (statementRequired !== NOT_REQUIRED) {
      wizard.getData().statement.period_start =
        determinationResults.value.periodStart;
      wizard.getData().statement.period_end =
        determinationResults.value.periodEnd;
    }
  }

  if (thresholdsResults.status === 'fulfilled') {
    state.minimumReportingThreshold = thresholdsResults.value.minimumReporting;
  }
});

const displayMinimumQuestion = computed(() => {
  return state.statementRequirement === CONDITIONAL;
});

const notRequired = computed(() => {
  return (
    state.statementRequirement === NOT_REQUIRED ||
    (state.statementRequirement === CONDITIONAL &&
      state.exceedsThreshold === false)
  );
});

const required = computed(() => {
  return (
    (state.invalidSteps?.length < 1 &&
      state.statementRequirement === REQUIRED) ||
    (state.statementRequirement === CONDITIONAL &&
      state.exceedsThreshold === true)
  );
});

watch(
  () => required.value,
  (newValue) => {
    wizard.getInfo().statementIsRequired = newValue;
  },
);
</script>

<template>
  <FormOpts :focus-first="true">
    <InvalidSteps
      v-if="state.invalidSteps?.length > 0"
      :invalid-steps="state.invalidSteps"
    />

    <MinimumThreshold
      v-if="displayMinimumQuestion"
      v-model="state.exceedsThreshold"
      :full-name="fullName"
      :minimum-reporting-threshold="state.minimumReportingThreshold"
      :period-start="wizard.getData().statement.period_start"
      :period-end="wizard.getData().statement.period_end"
    />

    <template v-if="state.invalidSteps?.length < 1 && notRequired">
      <InfoBox class="q-mb-md" type="positive">
        Based on the information provided, it appears that {{ fullName }} does
        not currently owe a Financial Affairs Disclosure at this time.
      </InfoBox>
      <p>
        If you feel that an error has been made in determining your filing
        eligibility,
        <strong>
          please ensure that your position or candidacy dates are accurate.
        </strong>
      </p>
    </template>

    <CompleteRequired
      v-if="required"
      :full-name="fullName"
      :period-start="wizard.getData().statement.period_start"
      :period-end="wizard.getData().statement.period_end"
    />
  </FormOpts>
</template>
