<script setup>
import { computed, useSlots } from 'vue';

import useViewport from 'src/composables/useViewport';
import useWizard from 'src/wizard/useWizard.js';

import constrainScroll from 'src/utils/constrainScroll.js';

import WizardTableOfContents from './TableOfContents/WizardTableOfContents.vue';
import WizardTableOfContentsMobile from './TableOfContents/WizardTableOfContentsMobile.vue';

defineOptions({
  name: 'wizard-component',
});

const props = defineProps({
  topBufferPx: Number,
  btmBufferPx: Number,
  // topBufferPx and btmBufferPx confine wizard content to the a
  // reduced viewport, accounting for toolbars or comfort margins.
});

const wizard = useWizard();

const slots = useSlots();
const customTocProvided = computed(() => {
  return !!slots['table-of-contents'];
});

const { isSmViewport, isXsViewport } = useViewport();

const displayTableOfContents = computed(() => {
  const slottedTocIsProvided = customTocProvided.value;
  const hidden = wizard.status.currentStep?.hideToc === true;
  return !slottedTocIsProvided && !hidden;
});

function handleFocusIn(event) {
  if (isXsViewport.value) {
    // Do not scroll on mobile
    return;
  }

  const element = event.target;
  constrainScroll(element, props.topBufferPx, props.btmBufferPx);
}

const showFullTableOfContents = computed(() => {
  return !isSmViewport.value && displayTableOfContents.value;
});

const showSmallTableOfContents = computed(() => {
  return isSmViewport.value && displayTableOfContents.value;
});
</script>

<template>
  <q-card id="wizard">
    <div class="row reverse clip">
      <div class="col-auto">
        <slot name="tablne-of-contents" />
        <WizardTableOfContents
          v-if="showFullTableOfContents"
          @focusin="handleFocusIn"
        />
      </div>

      <div class="col q-pa-lg">
        <div class="row w-full space-between">
          <div class="col w-full">
            <h2 v-if="wizard.status.currentStep?.title" class="q-mt-none">
              {{ wizard.status.currentStep.title }}
            </h2>
          </div>

          <div v-if="showSmallTableOfContents" class="col-auto">
            <WizardTableOfContentsMobile @focusin="handleFocusIn" />
          </div>
        </div>

        <div @focusin="handleFocusIn">
          <component :is="wizard.status.currentStep?.component" />
        </div>
      </div>

      <slot name="wizard-actions" />
    </div>
  </q-card>
</template>
