<script setup>
import rules from 'src/utils/rules.js';
import InputText from 'src/components/InputText.vue';

defineOptions({
  name: 'dependents',
});

const props = defineProps({
  modelValue: {
    type: String,
    default: '',
  },
});

const emit = defineEmits(['update:modelValue', 'add', 'remove']);

function onDeletePressed() {
  if (props.modelValue === '') {
    emit('remove');
  }
}

function onEnterPressed() {
  if (props.modelValue !== '') {
    emit('add');
  }
}
</script>

<template>
  <div class="row full-width">
    <InputText
      class="col-12 col-sm-6"
      :model-value="props.modelValue"
      :rules="[rules.requiredString]"
      label="Dependent Name"
      @keyup.enter="onEnterPressed"
      @keyup.delete="onDeletePressed"
      @update:modelValue="emit('update:modelValue', $event)"
    />
  </div>
</template>
