<script setup>
import { computed, nextTick } from 'vue';

import useDebounce from 'src/composables/useDebounce.js';
import useFiler from 'composables/api/useFiler';
import useWizard from 'src/wizard/useWizard.js';

import AccessibleIcon from 'src/components/AccessibleIcon.vue';
import Dependents from './Dependents.vue';
import InfoBox from 'src/components/InfoBox.vue';
import InputRadioYesNo, { YES, NO } from 'src/components/InputRadioYesNo.vue';
import InputText from 'src/components/InputText.vue';

import FormOpts from 'src/components/wizardInputs/FormOpts.vue';

defineOptions({
  name: 'immediate-family',
});

const wizard = useWizard();

const debounce = useDebounce();

const { selectedFiler } = useFiler();
const fullName = selectedFiler.value.name;

// API provides this value
const dependentsPreviouslyDefined = computed(
  () => wizard.getData()?.submission?.dependents_entered,
);

const dependentRadioValue = computed(() =>
  dependentsPreviouslyDefined.value ? YES : NO,
);

const hasSpouseUtils = wizard.field('hasSpouse');
const spouseNameUtils = wizard.field('spouseName');

const dependentsUtils = wizard.field('dependentList');
const dependentsAsArrayUtils = {
  set(index, value) {
    dependentsUtils.value()[index] = value;
    wizard.validateStep(null, { innerOnly: true });
  },

  get(index) {
    return index ? dependentsUtils.value()[index] : dependentsUtils.value();
  },

  remove(index) {
    dependentsUtils.value().splice(index, 1);

    const newLength = dependentsUtils.value().length;
    if (newLength === 0) {
      this.add();
    }

    this.focusLast();
  },

  add() {
    if (!dependentsUtils.value()) {
      dependentsUtils.set([]);
    }

    const noEmptyValues = dependentsUtils.value().every((v) => v !== '');
    const hasValues = dependentsUtils.value().length > 0;

    if (!noEmptyValues && hasValues) {
      return;
    }

    dependentsUtils.set([...(dependentsUtils.value() || []), '']);

    debounce(() => {
      this.focusLast();
    }, 10);
  },

  focusLast() {
    nextTick(() => {
      const dependentEls = document
        .getElementById('dependent-name-input-container')
        .querySelectorAll('.dependent-name-input');
      const lastDependent = dependentEls.item(dependentEls.length - 1);

      if (lastDependent) {
        const input = lastDependent.querySelector('input');
        input?.focus?.();
      }
    });
  },
};

/** Updates hasSpouse, clears spouseName if hasSpouse is NO */
function setHasSpouse(value) {
  hasSpouseUtils.set(value);

  if (value === NO) {
    spouseNameUtils.set('');
  }
}
</script>

<template>
  <FormOpts :focus-first="true" :hide-hints="true">
    <p>Does filer have a spouse or registered domestic partner?</p>
    <InputRadioYesNo
      v-bind="hasSpouseUtils.binds.value"
      @update:modelValue="setHasSpouse"
    />

    <InputText
      v-if="hasSpouseUtils.value() === YES"
      v-bind="spouseNameUtils.binds.value"
      label="Spouse or Registered Domestic Partner"
      @update:modelValue="spouseNameUtils.set($event)"
    />

    <p>
      Does filer have adult dependent(s) that are referenced as part of the
      disclosure?
    </p>
    <InputRadioYesNo :model-value="dependentRadioValue" :disabled="true" />

    <div
      v-if="dependentsPreviouslyDefined"
      id="dependent-name-input-container"
      class="full-width"
    >
      <InfoBox type="info" @click="dependentsAsArrayUtils.focusLast()">
        List the names of adult dependents that are referenced in your
        disclosure statement.
      </InfoBox>

      <Dependents
        v-for="(dependent, index) in dependentsAsArrayUtils.get()"
        :key="index"
        class="dependent-name-input"
        :model-value="dependent"
        @add="dependentsAsArrayUtils.add()"
        @remove="dependentsAsArrayUtils.remove(index)"
        @update:modelValue="dependentsAsArrayUtils.set(index, $event)"
      />

      <p-accessible-button
        class="q-my-sm"
        @click="dependentsAsArrayUtils.add()"
      >
        <AccessibleIcon
          name="add_circle"
          size="sm"
          class="q-mr-sm"
          role="presentation"
        />
        Add another dependent
      </p-accessible-button>
    </div>

    <template v-else>
      <InfoBox type="info">
        <p>
          {{ fullName }} does not need to answer this question because there are
          no indicated assets, holdings or relationships held by dependents.
        </p>
      </InfoBox>
    </template>
  </FormOpts>
</template>
