<script setup>
defineOptions({
  name: 'discard-form-modal',
});

defineProps({
  isOpen: {
    type: Boolean,
    required: true,
  },
});

const emit = defineEmits(['close', 'on-confirm-discard']);

function close() {
  emit('close');
}

function onConfirm() {
  emit('on-confirm-discard');
}
</script>

<template>
  <p-info-dialog
    title="Are you sure you want to leave?"
    :is_open="isOpen"
    :hide_trigger="true"
    @close="close"
  >
    <template #default>
      <p>
        Your progress will not be saved. Are you sure you want to discard your
        answers and exit the form?
      </p>
    </template>
    <template #actions>
      <p-accessible-button
        primary
        label="No, continue with form"
        @click="close"
      />
      <p-accessible-button
        label="Yes, discard and exit"
        @click="onConfirm"
        @keyup.enter="onConfirm"
        @keyup.space="onConfirm"
      />
    </template>
  </p-info-dialog>
</template>
