<script setup>
import AccessibleIcon from 'src/components/AccessibleIcon.vue';
import useDebounce from 'src/composables/useDebounce';

defineOptions({
  name: '',
});

defineProps({
  disableNext: Boolean,
  disablePrev: Boolean,
  showNext: Boolean,
});

const _emit = defineEmits(['on-next', 'on-prev']);

const debounce = useDebounce();

// Debounce the emit function to prevent accidental double clicks/enter key presses, skipping steps
function emit(eventName) {
  debounce(() => _emit(eventName), 100);
}
</script>

<template>
  <slot name="primary" />
  <p-accessible-button
    v-if="showNext"
    primary
    class="q-ml-sm"
    :disabled="disableNext"
    @click="emit('on-next')"
  >
    Next<AccessibleIcon name="arrow_forward" size="sm" color="white" />
  </p-accessible-button>

  <p-accessible-button
    :disabled="disablePrev"
    class="q-ml-md border-primary"
    @click="emit('on-prev')"
  >
    Previous
  </p-accessible-button>
</template>
