<script setup>
import AccessibleDropdown from 'src/components/Dropdown/AccessibleDropdown.vue';
import DropdownItem from 'src/components/Dropdown/DropdownItem.vue';

defineOptions({
  name: 'other-actions',
});

defineProps({
  canSave: Boolean,
  isXsViewport: Boolean,
  discardLabel: {
    type: String,
    default: 'Delete & start over',
  },
});

const emit = defineEmits(['on-save', 'open-discard-modal']);
</script>

<template>
  <div v-if="!isXsViewport" class="q-pr-sm">
    <p-accessible-button
      v-if="canSave"
      label="Finish later"
      @click="emit('on-save')"
    />
    <p-accessible-button
      :label="discardLabel"
      @click="emit('open-discard-modal')"
    />
  </div>

  <AccessibleDropdown
    v-else-if="isXsViewport && canSave"
    split
    rounded
    label="Finish Later"
    @on-click="emit('on-save')"
  >
    <DropdownItem :label="discardLabel" @click="emit('open-discard-modal')" />
  </AccessibleDropdown>

  <p-accessible-button
    v-else
    :label="discardLabel"
    @click="emit('open-discard-modal')"
  />
</template>
