<script setup>
import PInfoDialog from 'src/library/PInfoDialog.vue';

defineOptions({
  name: 'save-form-modal',
});

defineProps({
  isOpen: {
    type: Boolean,
    required: true,
  },
});

const emit = defineEmits(['close', 'on-confirm-save']);

function close() {
  emit('close');
}

function onConfirm() {
  emit('on-confirm-save');
}
</script>

<template>
  <p-info-dialog
    title="Finish Later?"
    :is_open="isOpen"
    :hide_trigger="true"
    @close="close"
  >
    <template #default>
      <p>
        Your progress will be saved and the form will close. You will be able to
        resume filling out the form later.
      </p>
    </template>
    <template #actions>
      <p-accessible-button
        primary
        label="Save & Exit"
        @click="onConfirm"
        @keyup.enter="onConfirm"
        @keyup.space="onConfirm"
      />
      <p-accessible-button label="Cancel" @click="close" />
    </template>
  </p-info-dialog>
</template>
