<script setup>
import { computed, reactive } from 'vue';

// import { useRouter } from 'vue-router';
import useViewport from 'composables/useViewport';
import useWizard from 'src/wizard/useWizard.js';

import DiscardFormModal from './DiscardFormModal.vue';
import NavigationBtns from './NavigationBtns.vue';
import OtherActions from './OtherActions.vue';
import SaveFormModal from './SaveFormModal.vue';

defineOptions({
  name: 'wizard-actions',
});

defineProps({
  showNext: {
    type: Boolean,
    default: true,
  },
  discardLabel: {
    type: String,
    default: 'Delete & start over',
  },
});

const emit = defineEmits('on-step-change', 'save', 'discard');

const state = reactive({
  isDiscardModalOpen: false,
  isSaveModalOpen: false,
});

const { isXsViewport } = useViewport();
// const router = useRouter();
const wizard = useWizard();

function handleDiscard() {
  // wizard.resetState();
  // TODO: reset wizard state
  state.isDiscardModalOpen = false;
  emit('discard');
}

async function handleSave() {
  emit('save');
}

function next() {
  wizard.navigateOneTick(1);
  emit('on-step-change');
}

function prev() {
  wizard.navigateOneTick(-1);
  emit('on-step-change');
}

const userCanAdvance = computed(() => {
  return wizard.status?.currentStep?.meta?.isBlocking || false;
});
</script>

<template>
  <p-toolbar
    anchor="bottom"
    :height-px="55"
    :anchor-offset-px="40"
    :style="{
      backgroundColor: 'white',
      borderTop: '1px solid lightgray',
      position: isXsViewport ? 'static' : 'fixed',
      padding: isXsViewport ? '0' : 'unset',
    }"
  >
    <template #left>
      <NavigationBtns
        :disable-next="userCanAdvance || !wizard.status.nextAccessibleStep"
        :disable-prev="!wizard.status.prevAccessibleStep"
        :show-next="showNext"
        @on-next="next"
        @on-prev="prev"
      >
        <template #primary>
          <slot name="primary" />
        </template>
      </NavigationBtns>
    </template>

    <template #right>
      <OtherActions
        :can-save="wizard.status?.canSave"
        :is-xs-viewport="isXsViewport"
        :discard-label="discardLabel"
        @on-save="state.isSaveModalOpen = true"
        @open-discard-modal="state.isDiscardModalOpen = true"
      />
    </template>
  </p-toolbar>

  <discard-form-modal
    :is-open="state.isDiscardModalOpen"
    @close="state.isDiscardModalOpen = false"
    @on-confirm-discard="handleDiscard"
  />

  <save-form-modal
    :is-open="state.isSaveModalOpen"
    @close="state.isSaveModalOpen = false"
    @on-confirm-save="handleSave"
  />
</template>
