<script setup>
import { computed } from 'vue';

import { useFilerProvider } from './composables/api/useFiler';
import { useOfficeProvider } from './composables/api/useOffice';
import { useSubmissionsProvider } from './composables/api/useSubmissions';
import { useTitleProvider } from './composables/useTitle';
import useViewport from 'src/composables/useViewport';

import { HEIGHT_PX } from 'src/constants/height.js';
import { ROUTE_NAMES } from './router/routeNames';

import GlobalSubHeader from './components/GlobalSubHeader/GlobalSubHeader.vue';
import PApp from './library/PApp.vue';

useFilerProvider();
useSubmissionsProvider();
useOfficeProvider();
useTitleProvider();

const { isXsViewport } = useViewport();

const APP_TITLE = 'Financial Affairs';
const APP_USER_LINKS = [
  {
    icon: 'list',
    title: 'My Submissions',
    to: { name: ROUTE_NAMES.MY_SUBMISSIONS },
  },
];

const computedPageStyle = computed(() => {
  if (isXsViewport.value) {
    return (
      'min-width: none; max-width: 1200px; margin: 0 auto; padding-top: 15px;' +
      `padding-bottom: ${HEIGHT_PX.MOBILE_FOOT_PAD}px`
    );
  }
  return (
    'min-width: none; max-width: 1200px; margin: 0 auto; ' +
    `padding-top: calc(${HEIGHT_PX.SUBHEADER}px + (${HEIGHT_PX.STD_PAD}px)*2);` +
    `padding-bottom: calc(${HEIGHT_PX.FOOTER}px + ${HEIGHT_PX.STD_PAD}px);`
  );
});
</script>

<template>
  <p-app
    :title="APP_TITLE"
    :added-user-links="APP_USER_LINKS"
    :page-style="computedPageStyle"
  >
    <template #subheader>
      <global-sub-header />
    </template>
  </p-app>
</template>
