<script setup>
import ExternalLink from 'src/components/ExternalLink.vue';
// import useWizard from 'src/wizard/useWizard.js';

// const wizard = useWizard();

defineOptions({
  name: 'intro',
});
</script>

<template>
  <h4>
    Welcome to the Financial Affairs Disclosure (F-1) reporting application.
    This tool will help you to:
  </h4>

  <ul>
    <li>
      Determine whether you need to submit a Financial Affairs Disclosure
      statement.
    </li>
    <li>Determine your reporting period.</li>
    <li>Review your statement before submission.</li>
  </ul>

  <h4>Who must report:</h4>

  <ul>
    <li>Candidates for elective office</li>
    <li>Persons elected and appointed to state and local elective office</li>
    <li>
      "Executive state officers" designated in RCW 42.17A.705, including
      professional staff of the Governor's Office and Legislature
    </li>
    <li>Charter school directors</li>
  </ul>

  <p>
    <ExternalLink href="https://www.pdc.wa.gov/elected-officials">
      For more info...
    </ExternalLink>
  </p>

  <p>Let's begin with a few questions about your reporting requirements...</p>
</template>
