<script setup>
defineOptions({
  name: 'intro',
});
</script>

<template>
  <p>
    A Financial Affairs Disclosure Statement is made up of the following kinds
    of information.
  </p>

  <ul>
    <li>
      <strong>Income</strong> – Sources of income that are not derived from
      investments such as employment income, social security or rental
      properties
    </li>
    <li>
      <strong>Assets</strong> – Bank accounts, securities, commodities,
      retirement accounts, business investments and other assets
    </li>
    <li>
      <strong>Washington real estate</strong> – Locations and values of property
      owned, bought or sold, and associated mortgages
    </li>
    <li>
      <strong>Debt</strong> – Loans, judgments or liens, co-signed notes and
      other debts
    </li>
    <li>
      <strong>Business interests</strong> – Businesses and other organizations
      of which you own 10 percent or more, or for which you serve as an officer
      or board member.
    </li>
    <li>
      <strong>Lobbying</strong> - Salary, legal fees and travel payments made
      for lobbying the state Legislature or a state agency
    </li>
    <li>
      <strong>Gifts and travel</strong> – Food or beverages costing more than
      $50 and third-party payments for travel or seminars
    </li>
  </ul>

  <p>
    The information is required for the filer and all qualified family members,
    which includes the filer's spouse, registered domestic partner and
    dependents.
  </p>
</template>
