<script setup>
import { ref } from 'vue';

const title = 'Disclosure Form';
const sections = [
  {
    name: 'overview',
    title: 'Overview',
    component: null,
  },
  {
    name: 'disclosureStepOne',
    title: 'Section 2',
    component: null,
  },
];
const data = ref({});
const selected = ref(sections[0]);

const onNavigate = (event) => {
  // Handle navigation
  console.log(event);
};

const onFinishLater = () => {
  // Save data to server
};
</script>

<template>
  <p-wizard
    :title="title"
    :sections="sections"
    :data="data"
    :selected="selected"
    @navigate="onNavigate"
    @finish-later="onFinishLater"
  />
</template>
