<script setup>
import { computed } from 'vue';
import { formatDate } from '@wapdc/pdc-ui/util';
import PTable from 'src/components/PTable/PTable.vue';

defineOptions({
  name: 'business-payments',
});

const props = defineProps({
  data: {
    type: Object,
    default: () => {},
  },
  periodStart: {
    type: String,
    default: '',
  },
  periodEnd: {
    type: String,
    default: '',
  },
});

const columns = [
  {
    align: 'left',
    field: 'business',
    label: 'Business',
    name: 'business',
    sortable: true,
  },
  {
    align: 'left',
    field: 'purpose',
    label: 'Purpose',
    name: 'purpose',
    sortable: false,
  },
];

const rows = props.data?.business_payments?.map((row) => {
  return {
    business: row.business,
    purpose: row.purpose,
  };
});

const hasData = computed(() => rows?.length > 0);
</script>

<template>
  <h3 class="q-mt-none">Business Payments</h3>

  <template v-if="hasData">
    Payments of $12,000 or more that were received by {{ data.legal_name }} from
    business customers between {{ formatDate(periodStart) }} and
    {{ formatDate(periodEnd) }}:

    <p-table
      :columns="columns"
      :rows="rows"
      record-label-as-plural="Payments"
    />
  </template>

  <p v-else>
    No payments were received by {{ data.legal_name }} in excess of $12,000 from
    any business customer.
  </p>
</template>
