<script setup>
import { computed } from 'vue';
import { formatDate, formatMoney } from '@wapdc/pdc-ui/util';
import { renderWho } from 'src/utils/format.js';
import PTable from 'src/components/PTable/PTable.vue';

defineOptions({
  name: 'government-payments',
});

const props = defineProps({
  data: {
    type: Object,
    default: () => {},
  },
  periodStart: {
    type: String,
    default: '',
  },
  periodEnd: {
    type: String,
    default: '',
  },
});

const columns = [
  {
    align: 'left',
    field: 'purpose',
    label: 'Purpose',
    name: 'purpose',
    sortable: false,
  },
  {
    align: 'left',
    field: 'amount',
    format: (value) => formatMoney(value, 2),
    label: 'Amount',
    name: 'amount',
    sortable: true,
  },
];

const rows = props.data?.office_payments?.map((row) => {
  return {
    purpose: row.purpose,
    amount: row.amount,
  };
});

const hasData = computed(() => rows?.length > 0);
</script>

<template>
  <h3 class="q-mt-none">Government Payments</h3>

  <template v-if="hasData">
    Payments received by {{ data.legal_name }} between
    {{ formatDate(periodStart) }} and {{ formatDate(periodEnd) }} from a
    government agency at which {{ renderWho(data.who) }} held or sought office:

    <p-table
      :columns="columns"
      :rows="rows"
      record-label-as-plural="Payments"
    />
  </template>

  <p v-else>
    No payments were received by {{ data.legal_name }} from a government agency
    where {{ renderWho(data.who) }} sought or held office.
  </p>
</template>
