<script setup>
import { computed } from 'vue';
import { formatDate } from '@wapdc/pdc-ui/util';
import { renderWho } from 'src/utils/format.js';
import PTable from 'src/components/PTable/PTable.vue';

defineOptions({
  name: 'other-government-payments',
});

const props = defineProps({
  data: {
    type: Object,
    default: () => {},
  },
  periodStart: {
    type: String,
    default: '',
  },
  periodEnd: {
    type: String,
    default: '',
  },
});

const columns = [
  {
    align: 'left',
    field: 'agency',
    label: 'Agency',
    name: 'agency',
    sortable: true,
  },
  {
    align: 'left',
    field: 'purpose',
    label: 'Purpose',
    name: 'purpose',
    sortable: false,
  },
];

const rows = props.data?.agency_payments?.map((row) => {
  return {
    agency: row.agency,
    purpose: row.purpose,
  };
});

const hasData = computed(() => rows?.length > 0);
</script>

<template>
  <h3 class="q-mt-none">Other Government Payments</h3>

  <template v-if="hasData">
    Payments of $12,000 or more received by {{ data.legal_name }} between
    {{ formatDate(periodStart) }} and {{ formatDate(periodEnd) }} from a
    government agency at which {{ renderWho(data.who) }} did not seek or hold
    office:

    <p-table
      :columns="columns"
      :rows="rows"
      record-label-as-plural="Payments"
    />
  </template>

  <p v-else>
    No payments were received by {{ data.legal_name }} in excess of $12,000 from
    a government agency where {{ renderWho(data.who) }} did not seek or hold
    office.
  </p>
</template>
