<script setup>
import useFiler from 'src/composables/api/useFiler';
import DropdownItem from '../../Dropdown/DropdownItem.vue';
import AccessibleDropdown from 'src/components/Dropdown/AccessibleDropdown.vue';

defineOptions({
  name: 'filer-dropdown',
});

defineProps({
  isXsViewport: Boolean,
});

const { availableFilers, selectedFiler, setSelectedFilerByPersonId, locked } =
  useFiler();

const emit = defineEmits(['open-access-request-dialog']);

function filerIsSelected(personId) {
  return selectedFiler?.person_id === personId;
}
</script>

<template>
  <div class="row items-center">
    <div class="col text-bold text-body2 q-mr-sm">Filer:</div>
    <accessible-dropdown
      :toggle-aria-label="selectedFiler?.name || 'New Filer'"
      :dense="true"
      :disabled="locked"
    >
      <template #label>
        <span class="text-body2 clip" style="max-width: 200px">{{
          selectedFiler?.name || "New Filer"
        }}</span>
      </template>
      <template #default>
        <dropdown-item
          v-for="{ name, person_id: personId } in availableFilers"
          :key="name"
          :label="name"
          :aria-label="`Select ${name}`"
          :class="{ 'text-primary text-bold': filerIsSelected(personId) }"
          @on-click="!locked && setSelectedFilerByPersonId(personId)"
        />
        <dropdown-item
          label="Request Access"
          @on-click="emit('open-access-request-dialog')"
        />
      </template>
    </accessible-dropdown>
  </div>
</template>

<style scoped>
.q-menu {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.8),
    0 3px 1px -2px rgba(0, 0, 0, 0.8);
}
</style>
