<script setup>
import { computed, ref } from 'vue';

import useRequestAccess from 'src/composables/api/useRequestAccess.js';
import useFiler from 'src/composables/api/useFiler.js';

import rules from '@wapdc/pdc-ui/rules';

import PAccesibleButton from 'src/library/PAccessibleButton.vue';
import PInfoDialog from 'src/library/PInfoDialog.vue';

defineOptions({
  name: 'filer-request-token-dialog',
});

defineProps({
  open: {
    type: Boolean,
    required: true,
  },
});

const emit = defineEmits(['close']);

const tokenRef = ref(null);
const tokenInput = ref('');
const requestHasFailed = ref(false);
const requestHasSucceeded = ref(false);

const filerStateHandler = useFiler();
const { submitToken } = useRequestAccess(filerStateHandler);

const tokenRules = [rules.requireString];

const tokenIsValid = computed(() => {
  return rules.requireString(tokenInput.value) === true;
});

function closeDialog() {
  tokenInput.value = '';
  requestHasFailed.value = false;
  requestHasSucceeded.value = false;

  emit('close');
}

async function submit() {
  if (tokenIsValid.value !== true) {
    return;
  }

  const result = await submitToken(tokenInput.value);

  if (result === null) {
    // Security code matched, but person details not found
    return closeDialog();
  }

  if (result === false) {
    requestHasFailed.value = true;
    return;
  }

  requestHasSucceeded.value = true;
  closeDialog();
}
</script>

<template>
  <p-info-dialog
    title="Security Code"
    :is_open="open"
    :hide_trigger="true"
    :persistent="true"
  >
    <template #default>
      <p>
        We have just sent an email containing a security code to the email
        address that you just specified. Please enter the security code into the
        box below.
      </p>
      <q-input
        ref="tokenRef"
        v-model="tokenInput"
        label="Security Code"
        type="text"
        :rules="tokenRules"
      />

      <p v-if="requestHasFailed" style="color: red">
        The security code you submitted does not match the code sent to the
        provided email address, please check the code and try again.
      </p>
    </template>

    <template #actions>
      <PAccesibleButton
        primary
        label="Submit"
        :disable="!tokenIsValid || requestHasSucceeded"
        @click="submit"
      />
      <PAccesibleButton secondary="" label="Cancel" @click="closeDialog" />
    </template>
  </p-info-dialog>
</template>
