<script setup>
import { computed, ref } from 'vue';

import useRequestAccess from 'src/composables/api/useRequestAccess.js';

import rules from '@wapdc/pdc-ui/rules';

import ExternalLink from 'src/components/ExternalLink.vue';
import PAccesibleButton from 'src/library/PAccessibleButton.vue';
import PInfoDialog from 'src/library/PInfoDialog.vue';

defineOptions({
  name: 'filer-request-access-dialog',
});

defineProps({
  open: {
    type: Boolean,
    required: true,
  },
});

const emit = defineEmits(['close', 'on-success']);

const emailRef = ref(null);
const emailInput = ref('');
const requestHasFailed = ref(false);
const requestHasSucceeded = ref(false);

const { submitAccessRequest } = useRequestAccess();

const emailRules = [rules.requireString, rules.validEmail];

const emailInputHasError = computed(() => {
  const hasLength = rules.requireString(emailInput.value) === true;
  return !hasLength || emailRef?.value?.hasError;
});

function closeDialog() {
  emailInput.value = '';
  requestHasFailed.value = false;
  requestHasSucceeded.value = false;

  emit('close');
}

async function submitRequest() {
  if (emailInputHasError.value === true) {
    return;
  }

  const result = await submitAccessRequest(emailInput.value);

  if (!result) {
    requestHasFailed.value = true;
    return;
  }

  requestHasSucceeded.value = true;
  emit('on-success');
}
</script>

<template>
  <p-info-dialog
    title="Request Access"
    :is_open="open"
    :hide_trigger="true"
    @close="closeDialog"
  >
    <template #default>
      <p>
        To get access to financial affairs disclosure statements previously
        filed please provide an email address that is on file with the PDC.
      </p>
      <q-input
        ref="emailRef"
        v-model="emailInput"
        label="Email"
        type="email"
        :rules="emailRules"
        :disable="requestHasSucceeded"
      />

      <p v-if="requestHasFailed" style="color: red">
        Email submitted did not match any we had on record. Please check your
        submission and try again, or contact the PDC to update your email
        address.
        <ExternalLink href="mailto:pdc@pdc.wa.gov"
        >mailto:pdc@pdc.wa.gov</ExternalLink
        >
        (360) 753-1111
      </p>
    </template>

    <template #actions>
      <PAccesibleButton
        primary
        :disabled="emailInputHasError"
        label="Submit"
        @click="submitRequest"
      />
      <PAccesibleButton secondary label="Cancel" @click="closeDialog" />
    </template>
  </p-info-dialog>
</template>
