<script setup>
import { reactive } from 'vue';
import FilerDropdown from './FilerDropdown.vue';
import FilerRequestAccessDialog from './FilerRequestAccessDialog.vue';
import FilerRequestTokenDialog from './FilerRequestTokenDialog.vue';

defineOptions({
  name: 'filer-dropdown-wrapper',
});

defineProps({
  isXsViewport: Boolean,
});

const state = reactive({
  filerSelectionIsLocked: false,
  emailDialogIsOpen: false,
  tokenDialogIsOpen: false,
});

function accessRequestSuccessHandler() {
  state.emailDialogIsOpen = false;
  state.tokenDialogIsOpen = true;
}
</script>

<template>
  <filer-dropdown
    :is-xs-viewport="isXsViewport"
    @open-access-request-dialog="state.emailDialogIsOpen = true"
  />
  <FilerRequestAccessDialog
    :open="state.emailDialogIsOpen"
    @close="state.emailDialogIsOpen = false"
    @on-success="accessRequestSuccessHandler"
  />
  <FilerRequestTokenDialog
    :open="state.tokenDialogIsOpen"
    @close="state.tokenDialogIsOpen = false"
  />
</template>
