<template>
  <div class="ConfirmPeriod" >
    <p>
    Enter the start and end dates along with the date the first statement was filed covering this period. Annual
    statements should cover January 1st through December 31st of the reporting year. Prior 12 month filings should cover
    a year previous to either campaign start date or date the person took an office or position. For example, a campaign
    having a start date of 4/13/2019 should cover 4/13/2018 through 4/12/2019.
    </p>
    <DatePicker v-model="statement.first_filed_at" label="First Filed"/>
    <DatePicker v-model="statement.period_start" label="Start"/>
    <DatePicker v-model="statement.period_end" label="End"/>
    <DatePicker v-model="statement.retain_until" label="Retain Until"/>
    <v-text-field v-model="statement.hold_for" label="Hold For" />
    <v-btn color="primary" @click="doSaveStatement">Save Statement</v-btn>
  </div>
</template>

<script>
  import {mapState, mapActions} from "vuex";
  import DatePicker from "../components/DatePicker";

  export default {
    name: "ConfirmPeriod",
    components: {DatePicker},
    data() {
      return {
        data_loaded: false,
      }
    },
    computed: {
      ...mapState(["statement", "person", "offices", "candidacies"]),
    },
    methods: {
      ...mapActions(['saveStatement']),
      doSaveStatement() {
        this.saveStatement();
      },
    },
  }
</script>

<style scoped>

</style>