<template>
  <div>
    <v-dialog v-model="activeWizard" scrollable>
      <v-form @submit.prevent="nextStep()">
        <v-card>
          <v-card-title>
            {{wizardTitle}}
            <v-spacer></v-spacer>
            <v-btn icon @click="closeDialog()"><v-icon>cancel</v-icon></v-btn>
          </v-card-title>
          <v-divider/>

          <v-card-text>

            <v-card raised>
              <v-card-text>
                <component  v-if="activeWizard" :is="wizardStep" ref="wizardComponent" :options="wizardStepOptions"></component>
              </v-card-text>
            </v-card>
          </v-card-text>
          <v-divider/>
          <v-card-actions class="d-flex justify-space-between">

            <v-btn :disabled="!hasPrevious" @click="previousStep()">{{previousLabel}}</v-btn>
            <v-btn :disabled="!nextEnabled || !hasNext" type="submit" ref="nextButton">{{nextLabel}}</v-btn>

          </v-card-actions>
        </v-card>
      </v-form>
    </v-dialog>
  </div>
</template>

<script>

  import {mapState, mapActions} from "vuex";
  import {app} from "@/main";
  import MissingStatements from "./MissingStatements";
  import ConfirmPeriod from "./ConfirmPeriod";

  export default {
    name: "DataEntryWizard",
    components: {
      MissingStatements,
      ConfirmPeriod,
    },
    data() {
      return {
        activeWizard: false,
        hasNext: true,
        nextEnabled: true,
        hasPrevious: true,
        nextLabel: "Next",
        previousLabel: "Previous",
        wizardStep: null,
        wizardComponent: null,
        wizardTitle: "",
        wizardStepOptions: {},
        steps: [
          {
            component: 'MissingStatements',
            title: 'Record Financial Affairs Disclosure Statement',
          },
          {
            component: 'ConfirmPeriod',
            title: 'Statement Period',
          }
        ]
      }
    },
    watch: {
      statement_id() {
        this.validateWizard();
      }
    },
    mounted() {
      app.$container.wire.$on('DataEntryWizard.close', () => this.closeDialog());
      app.$container.wire.$on('DataEntryWizard.activate', () => this.activate(this.wizardStep));
      app.$container.wire.$on('DataEntryWizard.validate', () => this.validateWizard());
      if (!this.statement.hasOwnProperty('effective_date')) {
        this.statement.effective_date = "";
      }
      if (!this.statement.hasOwnProperty('statement_type')) {
        this.statement.statement_type = "";
      }
    },
    computed: {
      ...mapState(['statement']),
      statement_id() {
        return this.statement.statement_id;
      }
    },
    methods: {
      ...mapActions(['getStatement', 'setStatement']),
      addStatement() {

        let statement = {
          period_start: "",
          period_end: "",
          first_filed_at: "",
          statement_id: null,
        };
        this.setStatement(statement);
        this.nextStep();
      },
      editStatement(statement_id) {
        this.getStatement(statement_id);
        this.activate('ConfirmPeriod');
      },
      filteredSteps() {
        return this.steps.filter(step => {
          if (step.hasOwnProperty("limitTo") && step.component !== this.wizardStep) {
            return step.limitTo();
          }
          else {
            return true;
          }
        })

      },
      closeDialog() {
        this.activeWizard = false;
        this.wizardStep = "";
      },
      findStepIndex(steps, wizardStep) {
        return steps.findIndex(s => s.component === wizardStep || (s.hasOwnProperty('branch') && s.branch === wizardStep));
      },
      nextStep() {
        let filteredSteps = this.filteredSteps();
        let idx = this.findStepIndex(filteredSteps,this.wizardStep);
        idx++;
        if (idx >= filteredSteps.length) {
          this.closeDialog();
        }
        else {
          this.activate(filteredSteps[idx].component);
        }
      },
      previousStep() {
        let filteredSteps = this.filteredSteps();
        let idx =this.findStepIndex(filteredSteps,this.wizardStep);
        idx--;
        if (idx < 0) {
          this.closeDialog();
        }
        else {
          this.activate(filteredSteps[idx].component)
        }
      },
      activate(step, options={}) {
        this.wizardStep = step;
        this.wizardStepOptions = options;
        let filteredSteps = this.filteredSteps();
        let idx = this.findStepIndex(filteredSteps,this.wizardStep);
        let nextStep = filteredSteps[idx];
        this.hasNext = idx < filteredSteps.length - 1;
        this.hasPrevious = idx > 0;
        if (nextStep) {
          this.wizardTitle = nextStep.title;
          this.activeWizard = true;
        }
        setTimeout(this.validateWizard, 900);
        setTimeout(this.focusFirst, 1000);

      },
      validateWizard() {
        this.wizardComponent = this.$refs['wizardComponent'];
        let filteredSteps = this.filteredSteps();
        let idx = this.findStepIndex(filteredSteps,this.wizardStep);
        this.hasNext = idx < filteredSteps.length - 1;
        if (this.wizardComponent && this.wizardComponent.hasOwnProperty('stepValid')) {
          this.nextEnabled = this.wizardComponent.stepValid();
        }
        else {
          this.nextEnabled = true;
        }
      },
      focusFirst() {
        if (this.wizardComponent) {
          var controls = this.wizardComponent.$el.querySelectorAll('a[href], area[href], input:not([disabled]), select:not([disabled]), button:not([tabindex="-1"]), textarea:not([disabled]), [tabindex="0"]');
          if (controls.length > 0) {
            controls.item(0).focus();
          }
        }
      }
    }
  }
</script>

<style scoped>

</style>