<template>
  <div>
    <div v-if="missingStatements.length > 0">

      <v-radio-group v-model="statementSelected" @change="onChange()">
        <p>The following statements are owed by <strong>{{person.name}}</strong>.  </p>
        <v-radio v-for="(statement, index) in missingStatements" :value="index" :key="index">
          <template v-slot:label>
            {{statement.period_start | dateFormat}} through {{statement.period_end | dateFormat}}
          </template>
        </v-radio>
      </v-radio-group>
    </div>
    <div v-else>
      <p>
        All required Financial Affairs Disclosures for <strong>{{person.name}}</strong> appear to have been filed.  You can still record the receipt of a
        Financial Affairs Disclosure, but you will need to manually specify the dates that the statement covers.  It may be that
        the person has no filing requirement, or because all required statements have already been received.
      </p>
      <p>
        If you believe this to be in error, make sure all candidacies and positions/offices held are listed.
      </p>
    </div>
  </div>
  
</template>

<script>
  import {mapState} from 'vuex';
  import {app} from "../main";

  export default {
    name: "MissingStatements",
    data() {
      return {
        dataLoaded: false,
        statementSelected: -1,
        missingStatements: [],
      }
    },
    computed: {
      ...mapState(['statement', 'person', 'offices', 'candidacies']),
    },
    mounted() {
      this.requestMissingStatements();
    },
    methods: {
      onChange() {
        if (this.statementSelected > -1 && this.statementSelected < this.missingStatements.length) {
          let st = this.missingStatements[this.statementSelected];
          this.statement.period_start = st.period_start;
          this.statement.period_end = st.period_end;
          app.$container.wire.$emit('DataEntryWizard.validate');

        }
      },

      requestMissingStatements() {
        app.$container.dataService.post('service/financial-affairs/request-missing-statements', (result) => {
          if (result.data && result.data.statements_owed) {
            this.statements_owed = result.data.statements_owed;
            this.missingStatements = result.data.statements_owed;
          }
          if (this.missingStatements.length > 0) {
            let fndIndex = this.missingStatements.findIndex((s) => s.period_start === this.statement.period_start );
            if (fndIndex <= this.missingStatements.length && fndIndex >= 0) {
              this.statementSelected = fndIndex;
            }
          }
          if (this.statementSelected > this.missingStatements.length) {
            this.statementSelected = -1;
            this.statement.period_start="";
            this.statement.period_end="";
          }
          this.dataLoaded = true;
        }, {
          'person': this.person,
          'candidacies': this.candidacies,
          'offices': this.offices
        });

      }
    }
  }
</script>

<style scoped>

</style>