<template>
  <div>
    <v-card>
      <v-card-title>Person Search</v-card-title>
      <v-card-text>
        <v-form @submit.prevent="doSearch()">
        <v-text-field placeholder="Enter name" v-model="searchName"></v-text-field>
        <v-card-actions>
          <v-btn color="primary" type="submit">Submit</v-btn>
          <v-btn color="accent" @click="cancelDataEntryPaperFile()">Cancel</v-btn>
        </v-card-actions>
        </v-form>
      </v-card-text>
    </v-card>
    <v-dialog v-model="showSearchResults" :persistent="true" max-width="51em">
      <v-form @submit.prevent="closeSearchResults">

        <v-card>
          <v-card-title>Search Results</v-card-title>
          <v-card-text>
            <v-radio-group v-model="selectedPerson">
              <v-radio v-for="(person, index) in matchingNames" :value="person.person_id" :key="index"
                       :label="person.name | titleCase">
              </v-radio>
            </v-radio-group>
          </v-card-text>
          <v-card-actions>
            <v-btn v-if="matchingNames" color="primary" @click="onPersonChange(selectedPerson)">Submit</v-btn>
            <v-btn color="primary" @click="onPersonChange(searchName)">Person not listed</v-btn>
            <v-btn color="accent" @click="closeSearchResultsDialog()">Cancel</v-btn>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-dialog>


  </div>
</template>

<script>
  import {mapState, mapActions} from "vuex";
  import {app} from "../main";

  export default {
    name: "PaperFile",
    data() {
      return {
        showSearchResults: false,
        matchingNames: [],
        searchName: '',
        selectedPerson: null,
      }
    },
    mounted() {

    },
    computed: {
      ...mapState(['user']),
    },
    methods: {
      ...mapActions(['setSelectedPerson', 'getDraftSubmission']),
      doSearch() {
        this.showSearchResults = true;
        this.$nextTick(() => {
          app.$container.dataService.adminQuery(
            'person_search',
            data => {
              this.matchingNames = data;
            },
            {search: this.searchName}
          );
        })
      },
      onPersonChange(selectedPerson) {
        let person = this.matchingNames.find(e => e.person_id === selectedPerson);
        this.showSearchResults = false;
        this.setSelectedPerson(person);
        this.user.locked = false;
        this.getDraftSubmission({start: true});
      },
      cancelDataEntryPaperFile(){
        this.$router.push('/admin');
      },
      closeSearchResultsDialog() {
        this.showSearchResults=false;
        this.searchResults = [];
        this.searchName = "";
      },
    }
  }
</script>

<style scoped>

</style>