<template>
  <div>
    <div v-if="statements.length === 0">
      <p>This is the first time that {{person.name}} has filed a Financial Affairs Disclosure. What is the primary purpose for filing this financial statement?</p>
      <p>
        <v-radio-group v-model="statement.statement_type" @change="onChange()">
          <v-radio v-for="types in statementTypeNewFiler" :label="types.label" :value="types.value" :key="types.value">
          </v-radio>
        </v-radio-group>
      </p>
    </div>
    <div v-else>
      <p>{{person.name}} has other Financial Affairs Disclosures. What is the primary purpose for filing this financial disclosure?</p>
      <p>statement_type
        <v-radio-group v-model="statement.statement_type" @change="onChange()">
          <v-radio v-for="types in statementTypes" :label="types.label" :value="types.value" :key="types.value">
          </v-radio>
        </v-radio-group>
      </p>
    </div>
  </div>
</template>

<script>
  import {mapState} from "vuex";
  import {app} from "../main";

  export default {
    name: "StatementType",
    data() {
      return {
        statementTypeNewFiler: [
          {label: "Candidate for elected office", value: "candidate", type: "prior12"},
          {label: "Newly appointed or elected official filing first statement", value: "elected official", type: "prior12"}
        ],
        statementTypes: [
          {label: "Filing an annual financial statement", value: "annual", type: "annual"},
          {label: "Newly appointed or elected official filing first statement", value: "elected official", type: "prior12"},
          {label: "Candidate for elected office", value: "candidate", type: "prior12"},
          {label: "Leaving public office so I need to file my final statement", value: "final", type: "final"}
        ],
      }
    },
    mounted() {
      if (!this.statement.statement_type) {
        this.statement.statement_type = "";
      }
    },
    computed: {
      ...mapState(['statements', 'statement', 'person']),
    },
    methods: {

      onChange() {
        app.$container.wire.$emit('DataEntryWizard.validate');
      }
    }
  }
</script>

<style scoped>

</style>