<template>
  <div>
    <h3>
      {{statement.statement_type | titleCase}}
    </h3>
    <p>
      <DatePicker v-if="statement.statement_type !== 'annual'" v-model="statement.effective_date" label="Effective Date"></DatePicker>
      <DatePicker v-model="statement.submitted_at"  label="First Submitted"/>
      <v-text-field style="max-width:10em" v-if="statement.statement_type === 'annual'" type="number" label="For Year" v-model="forYear"></v-text-field>
    </p>
  </div>
</template>

<script>
  import {mapState} from "vuex";
  import {app} from "@/main";
  import DatePicker from "../components/DatePicker";
  export default {
    name: "StatementDates",
    components: {DatePicker},
    data() {
      return {
        forYear: "",
      }
    },
    mounted() {
      if (this.statement.effective_date.length >  4) {
        this.forYear = this.statement.effective_date.substr(0,4).toString();
      }

    },
    computed: {
      ...mapState(["statement"]),
      complete() {
        return Boolean((this.statement.effective_date || (this.forYear && this.forYear > 1972)  ) && this.statement.submitted_at);
      }
    },
    watch: {
      complete() {
        if (this.statement.statement_type === 'annual' && this.forYear > 1972) {
          this.statement.effective_date = (Number(this.forYear) + 1 ) + '-01-01';
        }
        app.$container.wire.$emit('DataEntryWizard.validate');
      }
    },
    methods: {
      onChange() {
        app.$container.wire.$emit('DataEntryWizard.validate');
      },
    }
  }
</script>

<style scoped>

</style>