<script setup>
import { computed, ref } from 'vue';

import useFiler from 'composables/api/useFiler';
import useWizard from 'src/wizard/useWizard.js';

import { statementDateString } from 'src/pages/Disclosure/common/statementDateString.js';

import columns from './bankAccountColumns.js';
import BankAccountForm from './BankAccountForm.vue';

import ConfirmationDialog from 'src/components/ConfirmationDialog.vue';
import EditableSetTable from 'src/components/wizardInputs/EditableSetTable/EditableSetTable.vue';
import FormOpts from 'src/components/wizardInputs/FormOpts.vue';
import InputRadioYesNo, { YES, NO } from 'src/components/InputRadioYesNo.vue';

defineOptions({
  name: 'bank-accounts',
});

const modalOpen = ref(false);

const wizard = useWizard();

const { selectedFiler } = useFiler();
const fullName = selectedFiler.value?.name || 'filer';

const hasKey = 'hasBankAccounts';
const templateKey = 'bankArray';

const hasFieldUtils = wizard.field(hasKey);
const fieldSetUtils = wizard.fieldSet(templateKey);

const rows = computed(() => fieldSetUtils.getAllData().value);

function handleAddNew() {
  return fieldSetUtils.add();
}

function updateHas(value) {
  const userHasStartedEntry = fieldSetUtils.getAllData().value?.length > 0;

  if (value === NO) {
    if (userHasStartedEntry) {
      modalOpen.value = true;
      return;
    }
    hasFieldUtils.set(NO);
  } else {
    handleAddNew();

    hasFieldUtils.set(YES);
  }
}

/** Deletes row and returns true on success */
function handleDeleteRow(rowIndex) {
  fieldSetUtils.remove(rowIndex);

  if (fieldSetUtils.getAllData().value?.length < 1) {
    hasFieldUtils.set(NO);
  }

  return true;
}

function userConfirmedModalClear() {
  fieldSetUtils.removeAll();
  hasFieldUtils.set(NO);
  modalOpen.value = false;
}

function handleSave() {
  wizard.save();
}
</script>

<template>
  <p>
    Report the name and address of each bank, savings and loan, credit union or
    other financial institution at which {{ fullName }} or a qualified family
    member held an account over $24,000.
  </p>

  <p>
    For each institution you will be asked to report each account over $24,000
    during the reporting period. Typical account types include:
  </p>

  <ul>
    <li>Savings</li>
    <li>Checking</li>
    <li>Certificates of Deposit</li>
  </ul>
  <p>
    The value reported should be the account's highest value during the
    reporting period.
  </p>
  <p>
    Did the filer, spouse, registered domestic partner or dependent have a bank
    account with a value over $24,000 between
    {{ statementDateString() }}?
  </p>

  <FormOpts :focus-first="true">
    <InputRadioYesNo
      :model-value="hasFieldUtils.value()"
      :rules="hasFieldUtils.self.rules"
      @update:modelValue="updateHas"
    />
    <template v-if="hasFieldUtils.value() === YES && rows?.length">
      <EditableSetTable
        label="institution"
        :columns="columns"
        :rows="rows"
        :add-fn="handleAddNew"
        :delete-fn="handleDeleteRow"
        @save="handleSave"
      >
        <template #form="{ currentlyEditingIdx }">
          <BankAccountForm
            :key="currentlyEditingIdx"
            :template-key="templateKey"
            :data-index="currentlyEditingIdx"
          />
        </template>
      </EditableSetTable>
    </template>
  </FormOpts>

  <ConfirmationDialog
    v-model:open="modalOpen"
    title="Clear all entries?"
    primary-btn-label="Yes, clear all"
    negative-btn-label="Cancel"
    @primary-clicked="userConfirmedModalClear"
    @negative-clicked="modalOpen = false"
  >
    Are you sure you want to clear all entries? This action cannot be undone.
  </ConfirmationDialog>
</template>
