<script setup>
import useWizard from 'src/wizard/useWizard.js';

import AssetRows from '../common/AssetRows.vue';
import FormOpts from 'src/components/wizardInputs/FormOpts.vue';
import InputText from 'components/InputText.vue';
import WhoDropdown from 'src/pages/Disclosure/common/WhoDropdown.vue';

defineOptions({
  name: 'bank-account-form',
});

const props = defineProps({
  templateKey: {
    type: String,
    required: true,
  },
  dataIndex: {
    type: Number,
    required: true,
  },
});

const wizard = useWizard();

const dataUtils = wizard.fieldSet(props.templateKey).get(props.dataIndex);
</script>

<template>
  <FormOpts :hide-hints="true">
    <div class="row">
      <WhoDropdown
        v-model="dataUtils.vModel('heldBy').value"
        label="Held By"
        class="col-12 col-sm-6"
        :rules="dataUtils.rules('heldBy')"
      />

      <InputText
        v-model="dataUtils.vModel('bankName').value"
        :rules="dataUtils.rules('bankName')"
        class="col-12 col-sm-6"
        label="Bank name"
      />
    </div>

    <div class="row">
      <InputText
        v-model="dataUtils.vModel('streetAddress').value"
        :rules="dataUtils.rules('streetAddress')"
        class="col-12 col-sm-6"
        label="Street Address"
      />
      <InputText
        v-model="dataUtils.vModel('city').value"
        :rules="dataUtils.rules('city')"
        class="col-12 col-sm-6"
        label="City"
      />
      <InputText
        v-model="dataUtils.vModel('state').value"
        :rules="dataUtils.rules('state')"
        class="col-6 col-sm-3"
        label="State"
        mask="AA"
      />
      <InputText
        v-model="dataUtils.vModel('zip').value"
        :rules="dataUtils.rules('zip')"
        class="col-6 col-sm-3"
        label="ZIP"
        mask="#####"
      />
    </div>
  </FormOpts>

  <AssetRows
    title="Accounts with Bank"
    field-array-key="bankArray"
    subset-array-key="bankAccountsArray"
    :data-index="dataIndex"
    :template="['nature']"
    :required-field-keys="['nature']"
    row-label="account"
    highest-value-label="Highest balance"
    income-value-label="Income or interest"
  >
    <template #row="{ row }">
      <InputText
        v-model="row.nature"
        label="Account type"
        class="col-12 col-md-4"
        hint="Checking, savings, etc."
        :rules="[
          (v) => (v?.length <= 50 && v !== '') || 'Must be 1-50 characters',
        ]"
        :maxlength="50"
        @update:modelValue="wizard.validateStep(null, { innerOnly: true })"
      />
    </template>
  </AssetRows>
</template>
