<script setup>
import { computed, onBeforeUnmount, onMounted, ref } from 'vue';
import { useRouter } from 'vue-router';

import useFiler from 'composables/api/useFiler.js';
import useSubmissions from 'src/composables/api/useSubmissions.js';
import useTitle from 'composables/useTitle.js';
import useWizard from 'src/wizard/useWizard.js';

import { ROUTE_NAMES } from 'src/router/routeNames.js';

import { identificationSection } from './steps/Identification/identification.js';
import { introSection } from './steps/Intro/intro.js';
import { publicPositionsSection } from './steps/PublicPositions/publicPositions.js';
import { candidaciesSection } from './steps/Candidacies/candidacies.js';
import { reportingRequirementSection } from './steps/ReportingRequirement/reportingRequirement.js';

import StartDisclosureBtn from './StartDisclosureBtn.vue';
import WizardActions from 'src/wizard/components/WizardActions/WizardActions.vue';
import WizardContainer from 'src/wizard/components/WizardContainer.vue';

defineOptions({
  name: 'disclosure-form',
});

const ready = ref(false);

const wizard = useWizard({
  form: {
    introSection,
    identificationSection,
    publicPositionsSection,
    candidaciesSection,
    reportingRequirementSection,
  },
  info: {
    statementIsRequired: null,
    periodStart: null,
    periodEnd: null,
  },
  onStepChange: handleStepChange,
  onSave: handleStartDisclosure,
  onValidate: validateForm,
});

const { setLock: setFilerLocked, selectedFiler } = useFiler();
const { setPageTitle, setPageSubtitle, setPageTagline } = useTitle();
const submissions = useSubmissions();
const router = useRouter();

onMounted(async () => {
  setFilerLocked(true);

  setPageTitle('Disclosure Statement Reporting Requirement');
  setPageTagline(null);

  const personId =
    selectedFiler.value?.personId || selectedFiler.value?.person_id || -1;
  const newDraft = await submissions.newDraft(personId);

  wizard.setData({
    ...newDraft,
    person: selectedFiler.value,
    statement: {
      ['draft_state']: {
        step: wizard.status.currentStepTitle,
        state: {},
      },
      isOfficeHolder: null,
      isCandidate: null,
    },
  });

  ready.value = true;
});

onBeforeUnmount(() => {
  setFilerLocked(false);
});

const formRef = ref(null);

/**
 * Validate the form components (QInput, QSelect, etc.) in the form.
 */
function validateForm() {
  formRef.value?.validate(true);
}

/**
 * Respond to a step change event by updating the page subtitle and validating the form.
 */
async function handleStepChange() {
  setPageSubtitle(wizard.status.currentStepTitle);

  if (wizard.getData()?.statement?.draft_state?.step) {
    wizard.getData().statement.draft_state.step =
      wizard.status.currentStepTitle;
  }

  if (wizard.status?.currentStep?.meta?.isDirty) {
    validateForm();
  }
}

// Check if the current step is the last step in the reporting requirement section.
const isLastStep = computed(() => {
  const reportingRequirementSectionIndex = reportingRequirementSection.order;
  const reportingRequirementStepIndex =
    reportingRequirementSection.steps.reportingRequirement.order;

  const { currentSectionIndex, currentStepIndex } = wizard.status;

  return (
    currentSectionIndex === reportingRequirementSectionIndex &&
    currentStepIndex === reportingRequirementStepIndex
  );
});

/**
 * Handle the start disclosure event by saving the draft and navigating to the disclosure form.
 */
async function handleStartDisclosure() {
  try {
    const data = wizard.getData();

    const payload = {
      statement: data.statement,
      person: data.person,
      offices: data.offices || [],
      candidacies: data.candidacies || [],
      submission: {
        ...data.submission,
        name: data.person.name,
      },
    };

    const response = await submissions.saveDraft(payload);
    const submissionId = response?.submission_id;

    router.push({
      name: ROUTE_NAMES.DISCLOSURE_FORM,
      params: { submissionId },
    });
  } catch (error) {
    console.error('Error starting disclosure statement', error);
  }
}

/**
 * Handle the discard event by navigating back to the home page.
 */
function handleDiscard() {
  router.push({
    name: ROUTE_NAMES.HOME,
    query: { confirmedLeave: true, hardRefresh: true },
  });
}
</script>

<template>
  <q-form ref="formRef" :greedy="true" @submit="validateForm">
    <wizard-container :btm-buffer-px="100" :top-buffer-px="100">
      <template #wizard-actions>
        <wizard-actions
          :show-next="!isLastStep"
          discard-label="Cancel & exit"
          @discard="handleDiscard"
        >
          <template v-if="isLastStep" #primary>
            <StartDisclosureBtn
              :disabled="wizard.getInfo().statementIsRequired !== true"
              @on-activate="handleStartDisclosure"
            />
          </template>
        </wizard-actions>
      </template>
    </wizard-container>
  </q-form>
</template>
