<script setup>
import AccessibleIcon from 'src/components/AccessibleIcon.vue';

defineOptions({
  name: 'start-disclosure-btn',
});

defineProps({
  disabled: Boolean,
});

const emit = defineEmits(['on-start-disclosure']);
</script>

<template>
  <p-accessible-button
    rounded
    flat
    primary
    class="q-ml-sm"
    :disabled="disabled"
    label="Start Disclosure Statement"
    @click="emit('on-activate')"
  >
    <AccessibleIcon
      name="arrow_forward"
      color="white"
      size="xs"
      role="presentation"
    />
  </p-accessible-button>
</template>
