<script setup>
import { ref } from 'vue';

import useOffice from 'composables/api/useOffice';
import useFiler from 'composables/api/useFiler';
import useWizard from 'src/wizard/useWizard.js';

import columns from './tableColumns.js';

import ClearCandidaciesConfirmationModal from './ClearCandidaciesConfirmationModal.vue';
import EditableSetTable from 'src/components/wizardInputs/EditableSetTable/EditableSetTable.vue';
import FormOpts from 'src/components/wizardInputs/FormOpts.vue';
import InfoBox from 'components/InfoBox.vue';
import InputRadioYesNo, { YES, NO } from 'src/components/InputRadioYesNo.vue';
import PositionForm from '../../../common/PositionForm.vue';

// Component state and composables
defineOptions({
  name: 'candidacies',
});

const confirmClearModalIsOpen = ref(false);

const wizard = useWizard();
const { elections, offices } = useOffice();
const { selectedFiler } = useFiler();

// Constants and wizard utils
const candidaciesTemplateKey = 'candidaciesArray';
const hasCandidacyKey = 'hasCandidacy';

const fullName = selectedFiler.value.name;

const hasCandidaciesFieldUtils = wizard.field(hasCandidacyKey);
const candidacyFieldSetUtils = wizard.fieldSet(candidaciesTemplateKey);

const rows = candidacyFieldSetUtils.getAllData();

/** Adds a new candidacy row, returns the index of the new row */
function handleAddNewCandidacy() {
  return candidacyFieldSetUtils.add();
}

/** Updates the hasCandidacies field and adds a new candidacy row if necessary */
function updateHasCandidacy(hasCandidacy) {
  const userHasStartedPositionEntry =
    candidacyFieldSetUtils.getAllData().value?.length > 0;

  if (hasCandidacy === NO) {
    if (userHasStartedPositionEntry) {
      confirmClearModalIsOpen.value = true;
      return;
    }
    hasCandidaciesFieldUtils.set(NO);
  } else {
    if (!userHasStartedPositionEntry) {
      handleAddNewCandidacy();
    }
    hasCandidaciesFieldUtils.set(YES);
  }
}

/** Deletes row and returns true on success */
function handleDeleteRow(rowIndex) {
  candidacyFieldSetUtils.remove(rowIndex);

  if (candidacyFieldSetUtils.getAllData().value?.length < 1) {
    hasCandidaciesFieldUtils.set(NO);
  }

  return true;
}

/** Clears all candidacies and sets hasCandidacies to false */
function onModalConfirmClear() {
  candidacyFieldSetUtils.removeAll();
  hasCandidaciesFieldUtils.set(NO);
  confirmClearModalIsOpen.value = false;
}
</script>

<template>
  <p>Is {{ fullName }} currently a candidate in any election?</p>

  <FormOpts :focus-first="true">
    <InputRadioYesNo
      v-bind="hasCandidaciesFieldUtils.binds.value"
      @update:modelValue="updateHasCandidacy"
    />
  </FormOpts>

  <InfoBox v-if="hasCandidaciesFieldUtils.value() !== YES" type="info">
    Because the answer to this question is used to determine the coverage period
    for your disclosure statement, you will not be able to change it once the
    statement has been started.
  </InfoBox>

  <template v-else>
    <div v-if="!offices || !elections">
      <p>Loading...</p>
    </div>

    <EditableSetTable
      v-else
      label="candidacy"
      :columns="columns"
      :rows="rows"
      :add-fn="handleAddNewCandidacy"
      :delete-fn="handleDeleteRow"
    >
      <template #form="{ currentlyEditingIdx }">
        <PositionForm
          :key="currentlyEditingIdx"
          :fetched-elections="elections"
          :fetched-offices="offices"
          :data-index="currentlyEditingIdx"
          :template-key="candidaciesTemplateKey"
          :hide-end-date="true"
          contact-form-label="Campaign Contact"
        />
      </template>
    </EditableSetTable>
  </template>

  <ClearCandidaciesConfirmationModal
    :open="confirmClearModalIsOpen"
    @clear="onModalConfirmClear"
    @close="confirmClearModalIsOpen = false"
  />
</template>
