<script setup>
import ConfirmationDialog from 'components/ConfirmationDialog.vue';

defineOptions({
  name: 'clear-candidacies-confirmation-modal',
});

defineProps({
  open: Boolean,
});

const emit = defineEmits(['clear', 'close']);
</script>
<template>
  <ConfirmationDialog
    title="Clear All Candidacies"
    :open="open"
    primary-btn-label="Keep candidacies"
    negative-btn-label="Clear all"
    @primaryClicked="emit('close')"
    @negativeClicked="emit('clear')"
  >
    <p>
      If you set this to "No," all candidacies will be cleared. Are you sure you
      want to do this?
    </p>
  </ConfirmationDialog>
</template>
